@for (perk of store.perkData(); track $index) {
  <div class="flex flex-row gap-1">
    <a [nwbItemIcon]="perk.IconPath" [nwLinkTooltip]="['perk', perk.PerkID]" class="w-9 h-9 flex-none"> </a>

    <div class="flex-1 flex flex-col justify-around">
      <a class="hover:underline text-sm leading-none" [routerLink]="['perk', perk.PerkID] | nwLink">
        {{ perk.DisplayName | nwText | nwTextBreak: ' - ' }}
      </a>
      <div class="flex flex-row gap-1">
        @for (label of perk.ExclusiveLabels; track $index) {
          <span class="badge badge-xs badge-secondary">{{ label }}</span>
        }
      </div>
    </div>
  </div>
}
