@if (tabs()?.length) {
  <div class="tabs tabs-xs tabs-boxed justify-start flex-nowrap gap-1 bg-transparent p-2">
    @for (item of tabs(); track $index) {
      <a class="tab p-1 h-auto" [class.tab-active]="item.id === tabId()" (click)="tabId.set(item.id)">
        {{ item.label }}
        <span class="badge badge-xs rounded-md ml-1">{{ item.chance | percent }}</span>
      </a>
    }
  </div>
  <nwb-perk-bucket-detail [perkBucketId]="tab()?.bucketId" [itemId]="itemId()" class="px-4 pb-4" />
}
