@if (tabs()?.length) {
  <div class="flex flex-row items-center">
    <div class="flex-1 tabs tabs-xs tabs-box justify-start flex-nowrap gap-1 bg-transparent p-2">
      @for (item of tabs(); track $index) {
        <a class="tab p-1 h-auto" [class.tab-active]="item.key === tabId()" (click)="tabId.set(item.key)">
          {{ item.label }}
          <span class="badge badge-xs rounded-md ml-1" [class.badge-success]="item.locked">
            @if (item.locked) {
              {{ 1 | percent }}
            } @else {
              {{ item.chance | percent }}
            }
          </span>
        </a>
      }
    </div>
    <button
      class="btn btn-sm btn-square"
      (click)="showSettings.set(!showSettings())"
      [class.text-primary]="showSettings()"
    >
      <nwb-icon [icon]="settingsIcon" class="w-4 h-4" />
    </button>
  </div>

  @if (showSettings()) {
    <div class="italic text-sm p-2">
      The calculation of perk chances is based on its label weights. However, the exact evaluation of those weights is
      not known. Here you can change the label weight evaluation method.
    </div>
    <div class="flex flex-row gap-2 justify-center mb-4">
      <fieldset class="fieldset w-40">
        <label class="label"> Weight method </label>
        <div class="join justify-center">
          <button
            class="join-item btn btn-sm flex-1"
            [class.text-primary]="store.labelMode() === 'max'"
            (click)="store.setLabelWeightMode('max')"
          >
            MAX
          </button>
          <button
            class="join-item btn btn-sm flex-1"
            [class.text-primary]="store.labelMode() === 'avg'"
            (click)="store.setLabelWeightMode('avg')"
          >
            AVG
          </button>
          <button
            class="join-item btn btn-sm flex-1"
            [class.text-primary]="store.labelMode() === 'sum'"
            (click)="store.setLabelWeightMode('sum')"
          >
            SUM
          </button>
        </div>
      </fieldset>
      <fieldset class="fieldset w-40">
        <label class="label"> Default weight </label>
        <div class="join justify-center">
          @for (option of store.defaultWeightOptions(); track $index) {
            <button
              class="join-item btn btn-sm flex-1"
              [class.text-primary]="store.defaultWeight() === option"
              (click)="store.setDefaultWeight(option)"
            >
              {{ option }}
            </button>
          }
        </div>
      </fieldset>
    </div>
  } @else {
    <div class="italic text-center text-sm p-2">Perk chances within this bucket.</div>
  }
  <div class="flex flex-col gap-2">
    @for (row of tab()?.rows; track $index) {
      @let perk = row.perk;
      <div class="flex flex-row items-center gap-2" [class.grayscale-100]="!row.isRolled && !row.canRoll">
        <a [nwbItemIcon]="perk.IconPath" [nwLinkTooltip]="['perk', perk.PerkID]" class="w-10 h-10 flex-none self-start">
        </a>

        <div class="flex-1 flex flex-col gap-1.5">
          <div class="text-sm leading-none">
            <a class="hover:underline" [routerLink]="['perk', perk.PerkID] | nwLink">
              {{ perk.DisplayName | nwText | nwTextBreak: ' - ' }}
            </a>
          </div>
          <div class="flex flex-row flex-wrap gap-x-2 gap-y-1">
            @for (label of row.labels; track $index) {
              <span class="badge badge-sm badge-secondary bg-secondary/50">
                {{ label.name }}
                @if (showSettings()) {
                  - <span class="italic text-xs">{{ label.weight }}</span>
                }
              </span>
            }
            @if (showSettings()) {
              <span class="badge badge-sm badge-info bg-info/50 tooltip" data-tip="Calculated label weight">
                {{ store.labelMode() }}: {{ row.labelWeight }} | total: {{ row.totalWeight }}
              </span>
            }
          </div>
        </div>
        @if (!row.isRolled) {
          <button class="btn btn-ghost" (click)="setRolledPerk(tab().key, row.perkId)">
            <span [class.opacity-0]="!row.canRoll">{{ row.chance | percent: '1.0-5' }}</span>
            <nwb-icon [icon]="uncheckedIcon" class="w-4 h-4" />
          </button>
        } @else {
          <button class="btn btn-ghost text-success" (click)="setRolledPerk(tab().key, null)">
            <span>{{ 1 | percent: '1.0-5' }}</span>
            <nwb-icon [icon]="checkedIcon" class="w-4 h-4" />
          </button>
        }
      </div>
    }
  </div>
}
