<h3 class="font-bold text-lg bg-black p-3">Choose a weapon type</h3>
<div class="flex-1 layout-content">
  <ul class="menu w-full">
    <ng-container *ngFor="let cat of categories$ | async">
      <li class="menu-title">
        <span>{{ cat.name | nwText }}</span>
      </li>

      <li *ngFor="let item of cat.weapons" [class.bordered]="isSelected(item)">
        <a (click)="select(item)">
          <img class="aspect-[7/4] w-12" [nwImage]="item.IconPathSmall" /> {{ item.UIName | nwText }}
        </a>
      </li>
    </ng-container>
  </ul>
</div>
<div class="modal-action flex-row-reverse justify-start layout-pad">
  <button class="btn btn-primary" (click)="commit()">OK</button>
  <button class="btn btn-ghost" (click)="close()">Cancel</button>
</div>
