<ng-container *ngIf="vm$ | async; let vm">
  <div *ngIf="vm.weaponType; let type" class="weapon-input flex flex-col items-center py-2">
    <picture class="block aspect-[7/4] w-52 relative select-none mx-auto z-0">
      <img [nwImage]="type.IconPath" class="w-full h-full object-contain" />
      <div class="absolute inset-0 flex flex-col items-center justify-center">
        <ng-container *ngIf="vm.pointsAvailable; let points">
          <span class="font-bold text-lg whitespace-nowrap overflow-hidden text-ellipsis z-10">
            {{ type.UIName | nwText }}
          </span>
          <span class="text-5xl font-bold">{{ points }}</span>
          <span>{{ 'ui_available_points' | nwText }}</span>
          <span>{{ 'ui_level' | nwText }} {{ vm.weaponLevel }} / {{ vm.weaponLevelMax }}</span>
        </ng-container>
        <ng-container *ngIf="!vm.pointsAvailable">
          <span class="font-bold text-lg whitespace-nowrap overflow-hidden text-ellipsis z-10">
            {{ type.UIName | nwText }}
          </span>
          <span>{{ 'ui_level' | nwText }} {{ vm.weaponLevel }} / {{ vm.weaponLevelMax }}</span>
        </ng-container>
      </div>
    </picture>
  </div>
  <div class="grid layout-gap">
    <nwb-skill-tree
      class="rounded-md"
      [points]="vm.pointsTree1"
      [weaponTag]="vm.weaponTag"
      [treeID]="0"
      [ngModel]="vm.tree1"
      (ngModelChange)="updateTree(0, $event)"
      [disabled]="disabled"
    ></nwb-skill-tree>
    <nwb-skill-tree
      class="rounded-md"
      [points]="vm.pointsTree2"
      [weaponTag]="vm.weaponTag"
      [treeID]="1"
      [ngModel]="vm.tree2"
      (ngModelChange)="updateTree(1, $event)"
      [disabled]="disabled"
    ></nwb-skill-tree>
  </div>
</ng-container>

