<nwb-data-table-header
class="flex flex-col-reverse md:flex-row bg-base-300 rounded-t-md"
  categoryChildRoute
  [childRouteIndex]="'table'"
  #header="tableHeader"
>
  <nwb-navbar [menu]="tplMenu" [buttons]="tplButtons" class="flex-1">
    <ng-template #tplMenu>
      <li *ngFor="let item of header.categories | async" [routerLinkActive]="'bordered'">
        <a [routerLink]="item.route"> {{ item.label }}</a>
      </li>
    </ng-template>
    <ng-template #tplButtons>
      <li>
        <nwb-screenshot-button class="tooltip-left"></nwb-screenshot-button>
      </li>
    </ng-template>
  </nwb-navbar>
  <div class="flex-none p-2 w-full md:max-w-[300px]">
    <nwb-quicksearch-input #search></nwb-quicksearch-input>
  </div>
</nwb-data-table-header>
<router-outlet></router-outlet>
