<ion-header class="bg-base-300">
  <div class="flex flex-col-reverse md:flex-row">
    <ul class="menu menu-horizontal w-full flex-nowrap flex-1 overflow-x-auto scrollbar-hide">
      <li>
        <button
          [nwbDataCateogryMenu]
          [category]="category$ | async"
          [showCounter]="true"
          [defaultRoute]="defaultRoute"
          [defaultTitle]="title"
          [routePrefix]="'..'"
          class="btn btn-ghost normal-case text-left"
        ></button>
      </li>
      <span class="flex-1"></span>
      <li>
        <nwb-screenshot-button></nwb-screenshot-button>
      </li>
      <li>
        <button [nwbGridPanelButton]="grid.ready$ | async" class="btn btn-square btn-ghost"></button>
      </li>
    </ul>

    <div class="flex-none p-2 w-full md:max-w-[256px]">
      <nwb-quicksearch-input [autofocus]="true" [placeholder]="'Quickfilter'"></nwb-quicksearch-input>
    </div>
  </div>
</ion-header>
<div class="flex-1 flex flex-row overflow-hidden">
  <nwb-table-grid
    (ready$)="service.onTableReady($event)"
    [enableQuickfilter]="true"
    [data]="service.categoryItems$ | async"
    [options]="service.tableGridOptions"
    [identifyBy]="service.entityIdGetter"
    [persistKey]="persistKey"
    [filterQueryParam]="filterParam"
    [selectionRouteParam]="selectionParam"
    #grid
  ></nwb-table-grid>

  <div
    class="flex-none layout-content xl:max-w-[350px] 4xl:max-w-[30%]"
    *ngIf="grid.selectedRow$ | async; let armorset"
  >
    <div class="grid grid-cols-fill-sm layout-gap p-3" nwbScreenshotFrame="Armor-Set">
      <nwb-item-card
        *ngFor="let item of armorset?.items; trackBy: trackByIndex"
        [entity]="item"
        [disableInfo]="true"
        [disableDescription]="true"
        [enableTracker]="true"
        [enableInfoLink]="true"
        [enableLink]="true"
      >
      </nwb-item-card>
    </div>
  </div>

  <!-- <router-outlet></router-outlet> -->
</div>
