<div class="flex flex-col gap-2">
  @if (data(); as item) {
    <nwb-property-grid
      [item]="item"
      class="bg-black rounded-md overflow-auto p-3 text-sm font-mono border border-base-100"
    />
  }
  @if (reward(); as item) {
    <h3 class="prose mt-2">Reward</h3>
    <div class="bg-black rounded-md overflow-auto border border-base-100">
      @if (item.Name) {
        <nwb-item-header class="gap-2">
          <nwb-item-icon [nwbItemIcon]="item.IconPath" [solid]="false" class="z-10 w-12 h-12" />
          <nwb-item-header-content [title]="item.Name | nwText" />
        </nwb-item-header>
      }
      <div class="p-3">
        @if (item.Description) {
          <div class="text-nw-description italic mb-2">
            {{ item.Description | nwText }}
          </div>
        }
        <nwb-property-grid [item]="item" class="text-sm font-mono" />
      </div>
    </div>
  }
  @if (gameEvent(); as event) {
    <h3 class="prose mt-2">Reward Event</h3>
    <nwb-game-event-detail [eventId]="event.EventID" />
  }
  @if (rewardItemId(); as item) {
    <h3 class="prose mt-2">Reward Item</h3>
    <nwb-item-card [entity]="item" [enableLink]="true" [enableInfoLink]="true" />
  }
  @if (rewardLTID(); as item) {
    <h3 class="prose mt-2">Reward Loot</h3>
    <nwb-loot-graph [tableId]="item" [showLocked]="true" class="overflow-hidden" />
  }
  @if (rewardEntitlement(); as item) {
    <h3 class="prose mt-2">Reward Entitlement</h3>
    <nwb-entitlement-detail [entitlementId]="item" />
  }
</div>
