@if (image(); as img) {
  @if (isTopic()) {
    <picture class="w-full h-full absolute top-0 z-0 opacity-25 scale-110">
      <img [nwImage]="img" class="w-full h-full object-cover" />
    </picture>
  } @else {
    <picture class="w-2/3 absolute bottom-0 right-0 z-0 opacity-50">
      <img [nwImage]="img" class="w-full object-contain" />
    </picture>
  }
}
<div class="z-0 p-4 flex flex-col flex-1 gap-2 overflow-hidden text-ellipsis font-nimbus shadow-black text-shadow-sm">
  <div>
    @if (title1(); as text) {
      <h2 class="text-2xl uppercase font-serif text-nw-description flex-none text-center">
        {{ text | nwText }}
      </h2>
    }
    @if (title2(); as text) {
      <h2 class="text-xl uppercase font-serif text-nw-description flex-none text-center">
        {{ text | nwText }}
      </h2>
    }
    @if (title3(); as text) {
      <h2 class="text-lg uppercase font-serif text-nw-description flex-none text-center">
        {{ text | nwText }}
      </h2>
    }
    @if (title4(); as text) {
      <h4 class="text-lg font-bold flex-none text-center">{{ text | nwText }}</h4>
    }
    <div class="nw-item-divider"></div>
  </div>
  <div class="masked-body flex-1 flex flex-col gap-4 overflow-hidden">
    @if (body(); as text) {
      <div [nwHtml]="text | nwText | nwTextBreak" class="text-justify"></div>
    }
    @if (children()?.length) {
      <div class="flex flex-col gap-1">
        @for (child of children(); track i; let i = $index) {
          <div class="flex flex-row justify-between pl-4">
            <span> {{ child.record.Order }} - {{ child.record.Title | nwText }} </span>
            @if (child.record.Type === 'Default') {
              @if (child.meta) {
                <nwb-icon [icon]="iconLocation" class="w-4 h-4 cursor-help" [tooltip]="'Map location available'" />
              } @else {
                <nwb-icon
                  [icon]="iconNoLocation"
                  class="w-4 h-4 cursor-help text-error"
                  [tooltip]="'No map location available'"
                />
              }
            }
          </div>
        }
      </div>
    }
  </div>

  @if (pageNumber(); as value) {
    <div class="flex-none w-full font-caslon text-lg text-center">
      <span class="badge badge-lg bg-base-300 border-transparent">
        @if (isPage()) {
          Page
        }
        @if (isChapter()) {
          Chapter
        }
        {{ value }} / {{ pageCount() }}
      </span>
    </div>
  }
</div>
