<div class="text-xl flex flex-row items-center gap-2 bg-base-300 p-3">
  <nwb-icon [icon]="iconShare" class="w-4 h-4"></nwb-icon> Share content
</div>

<div *ngIf="state$ | async; let state">
  <ng-container *ngIf="state.loading">
    <div class="alert bg-transparent">
      <div class="overflow-hidden w-full">
        <nwb-icon [icon]="iconSpinner" class="w-6 h-6 text-primary animate-spin"></nwb-icon>
        <div class="prose w-full">
          <h3 class="font-bold">Uploading!</h3>
          <div class="text-xs">Share URL is being generated</div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="state.error">
    <div class="alert bg-transparent">
      <div class="overflow-hidden w-full">
        <nwb-icon [icon]="iconError" class="w-6 h-6 text-error"></nwb-icon>
        <div class="prose w-full">
          <h3 class="font-bold">Error!</h3>
          <div class="text-xs">Failed to upload content</div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="state.value; let value">
    <div class="alert bg-transparent">
      <div class="overflow-hidden w-full">
        <div class="prose w-full">
          <p class="overflow-hidden text-ellipsis">
            Your share URL is: <a class="link" [href]="value.shareUrl" target="_blank">{{ value.shareUrl }}</a>
          </p>
          <p class="text-xs">
            The data has been uploaded to the IPFS network and is publicly available for everyone. As long a a copy
            exists on the network the link above should work.
            <br>For more info about IPFS <a href="https://ipfs.tech/#how" target="_blank">click here</a>.
            <br>To see the actual data on the network <a [href]="value.ipfsUrl" target="_blank">click here</a>.
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="flex justify-end gap-1 layout-pad">
  <div class="btn-group" *ngIf="(state$ | async).value?.shareUrl; let url">
    <button class="btn gap-2" [class.btn-success]="copied" (click)="copy(url)">
      Copy URL
      <nwb-icon [icon]="iconCopy" class="w-4 h-4 mr-1"></nwb-icon>
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary" (click)="close()">Close</button>
  </div>
</div>
