@if (isSignedIn()) {
  <button
    class="btn btn-circle btn-ghost no-drag avatar"
    [cdkMenuTriggerFor]="tplAccMenu"
    [tooltip]="'Signed in as ' + userName()"
    [tooltipPlacement]="'bottom'"
  >
    <div class="avatar w-8 online placeholder">
      <div class="bg-neutral text-neutral-content w-8 rounded-full">
        <span class="text-xl uppercase">{{ initials() }}</span>
      </div>
    </div>
  </button>
} @else {
  <button
    class="btn btn-ghost no-drag avatar placeholder:"
    [tooltip]="'Sign In'"
    [tooltipPlacement]="'bottom'"
    (click)="signIn()"
  >
    <span>Sign In</span>
  </button>
}
<ng-template #tplAccMenu>
  <ul class="menu menu-compact bg-base-300 border border-base-200 rounded-md w-40 shadow-md" cdkMenu>
    <li>
      <div cdkMenuItem class="menu-title">{{ userName() }}</div>
    </li>
    <li>
      <button cdkMenuItem (click)="signOut()">Sign Out</button>
    </li>
  </ul>
</ng-template>
