@if (isSignedIn()) {
  <button
    class="btn btn-circle btn-ghost no-drag avatar"
    [cdkMenuTriggerFor]="tplAccMenu"
    [tooltip]="'Signed in as ' + userName()"
  >
    <div class="avatar w-8 placeholder indicator" [class.avatar-online]="isOnline()">
      <div class="bg-neutral text-neutral-content w-8 rounded-full">
        <span class="text-xl uppercase">{{ initials() }}</span>
      </div>
      @if (!isOnline()) {
        <span class="indicator-item badge badge-xs badge-error translate-x-0 translate-y-0 scale-75"></span>
        <span
          class="indicator-item badge badge-xs badge-error translate-x-0 translate-y-0 scale-75 animate-ping"
        ></span>
      }
    </div>
  </button>
} @else {
  <button
    class="btn btn-sm btn-primary btn-outline no-drag avatar uppercase ml-2"
    [tooltip]="'Sign In'"
    [tooltipPlacement]="'bottom'"
    (click)="signIn()"
  >
    <span>Sign In</span>
  </button>
}

<ng-template #tplAccMenu>
  <ul class="menu bg-base-300 rounded-md w-60" cdkMenu>
    <li>
      <div class="menu-title">
        Signed in as
        <b class="uppercase" [class.text-success]="isOnline()" [class.text-error]="!isOnline()">{{ userName() }}</b>
      </div>
    </li>
    <li cdkMenuItem>
      <a [routerLink]="'/preferences'">Preferences</a>
    </li>
    @if (!isOnline()) {
      <li cdkMenuItem>
        <button (click)="signIn()" class="text-xs">
          It seems like your session has expired. Click here to sign in again.
        </button>
      </li>
    }
    <li class="rounded-b-md overflow-clip" cdkMenuItem>
      <button (click)="signOut()">Sign Out</button>
    </li>
  </ul>
</ng-template>
