<div class="p-4 flex items-center justify-center">
  <label class="floating-label">
    <span>Available Shards</span>
    <input
      class="input"
      placeholder="Available Shards"
      min="0"
      [ngModel]="bank() ? bank() : null"
      (ngModelChange)="setBank($event)"
    />
  </label>
</div>
<div class="overflow-x-auto max-w-full">
  <table class="table table-sm whitespace-nowrap">
    <thead>
      <tr>
        <th colspan="2">Slot</th>
        <th class="text-center">
          <nwb-icon [icon]="'/assets/icons/item/icon_gearscore.png'" class="w-5 h-5" />
        </th>
        <th>
          Shards <br />
          To Next
        </th>
        <th>
          Shards <br />
          To Max
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of items(); track item.id) {
        <tr>
          <td class="w-0">
            <nwb-icon [icon]="item.icon" class="w-12 h-12" />
          </td>
          <td class="w-full">
            <div class="text-xl font-bold">{{ item.name | nwText | nwNoHtml }}</div>
            <div class="flex flex-row gap-2 flex-wrap">
              @if (item.isMaxedOut) {
                <span class="badge badge-sm badge-primary">MAX</span>
              } @else if (item.isUpgradable) {
                <span class="badge badge-sm badge-secondary"> upgradable </span>
                @if (item.nextToUpgrade) {
                  <span class="badge badge-sm badge-success" [tooltip]="'Most contribution to average GS per buck.'">
                    <nwb-icon [icon]="iconPlus" class="w-3 h-3"/>
                  </span>
                }
              } @else {
                <span class="badge badge-sm badge-error">Not upgradable</span>
              }
            </div>
          </td>
          <th class="w-0">
            <div class="join">
              <button
                class="join-item btn btn-square bg-base-100"
                [class.text-primary]="item.locked"
                (click)="setGearLocked(item.id, !item.locked)"
                [tooltip]="'Lock to exclude from upgrade path.'"
              >
                <nwb-icon [icon]="item.locked ? iconLock : iconLockOpen" class="w-4 h-4" />
              </button>
              <input
                type="number"
                class="join-item input w-14"
                [min]="0"
                [max]="maxLevel() + 1"
                [ngModel]="item.gearScore"
                (ngModelChange)="setGearScore(item.id, $event)"
              />
            </div>
          </th>
          <td>
            @if (item.nextUpgradeCost) {
              {{ item.nextUpgradeCost }} Shards
            }
          </td>
          <td>
            @if (bank()) {
              @let costs = slotFinalCosts(item.id);
              @if (costs) {
                {{ costs }} Shards
              }
            } @else {
              @if (item.maxUpgradeCost) {
                {{ item.maxUpgradeCost }} Shards
              }
            }
          </td>
          <td>
            @if (bank()) {
              @let gs = slotFinalGs(item.id);
              @let delta = gs - item.gearScore;
              @if (delta) {
                {{ gs }} GS
              }
            } @else {
              {{ item.maxGS }} GS
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
