<div class="glorycane">
  <div class="inner"></div>
  <div class="outer"></div>
</div>
<div class="glorydiamond"></div>

<input
  #input
  min="0"
  type="number"
  [attr.max]="maxLevelValue"
  class="input input-ghost bg-transparent focus:bg-transparent focus:outline-none h-full w-full p-0 text-center font-bold text-3xl appearance-none font-caslon"
  placeholder="0"
  [(ngModel)]="modelValue"
  (focus)="isSliderOpen = true"
/>
<!--
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="cdkOrigin"
  [cdkConnectedOverlayOpen]="isSliderOpen"
  [cdkConnectedOverlayHasBackdrop]="false"
  [cdkConnectedOverlayPositions]="[
    { originX: 'start', originY: 'bottom', overlayX: 'start', overlayY: 'top', offsetY: 2 },
    { originX: 'center', originY: 'bottom', overlayX: 'center', overlayY: 'top', offsetY: 2 },
    { originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top', offsetY: 2 },
  ]"
  [cdkConnectedOverlayPanelClass]="['bg-base-100/75', 'rounded-md', 'shadow-md', 'p-2']"
  (overlayOutsideClick)="onOutsideClick()"
  (backdropClick)="isSliderOpen = false"
  (detach)="isSliderOpen = false"
>
  <nwb-input-slider
    [(ngModel)]="modelValue"
    [min]="minLevelValue"
    [max]="maxLevelValue"
    [bars]="true"
    [barsStep]="5"
    [values]="true"
    class="block w-96"
  />
</ng-template> -->
