@if (icon(); as icon) {
  <img [nwImage]="icon" class="absolute top-0 bottom-0 left-0 right-0 object-contain z-0" />
}
<h3
  class="z-10 text-lg uppercase font-serif text-center text-nw-description nw-bg-title bg-bottom pt-4 relative whitespace-nowrap text-ellipsis overflow-hidden"
  [title]="recordName()"
>
  {{ recordName() }}
  @if (state.isOwned() && state.isSyncable()) {
    <div class="absolute bottom-0 right-0 flex flex-row items-center gap-2 p-2">
      <nwb-sync-badge
        class="opacity-0"
        [class.opacity-100]="state.isPublished() || state.isSyncPending() || state.isSyncConflict()"
        [published]="state.isPublished()"
        [pending]="state.isSyncPending()"
        [conflict]="state.isSyncConflict()"
        [loading]="state.isSyncPending()"
      />
    </div>
  }
</h3>
<div class="z-10 flex flex-row justify-between p-4">
  @for (item of abilities(); track $index) {
    <picture class="block border-[1px] border-gray-400 aspect-square rounded-sm w-full max-w-[76px] m-1 bg-base-200">
      <img class="aspect-square w-full nw-icon" [class]="'bg-ability-' + item.category" [nwImage]="item.icon" />
    </picture>
  }
</div>
<div class="z-10 absolute bottom-1 left-0 right-0 flex flex-row items-center justify-center gap-1">
  @for (tag of tags(); track $index) {
    <span class="badge badge-xs bg-secondary/50">{{ tag }}</span>
  }
</div>
