<nwb-screen-drawer class="screen-gap flex-1 h-full">
  <nwb-screen-drawer-side>
    <div class="flex-1 bg-base-300 rounded-md overflow-hidden">
      <div class="p-2">
        <nwb-quicksearch-input #search></nwb-quicksearch-input>
      </div>
      <div class="p-2">
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Char Level: {{ ctx.level }}</span>
          </label>
          <input type="range" min="0" max="60" [(ngModel)]="ctx.level" class="range range-xs" />
        </div>
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Gear Score: {{ ctx.gs }}</span>
          </label>
          <input type="range" min="0" max="625" [(ngModel)]="ctx.gs" class="range range-xs" />
        </div>
        <div class="form-control w-full">
          <label class="label cursor-pointer">
            <span class="label-text">GS Bonus</span>
            <input type="checkbox" checked="checked" [(ngModel)]="ctx.gsBonus" class="checkbox checkbox-xs" />
          </label>
        </div>
      </div>
      <div class="divider mx-3"></div>
      <nwb-data-table-categories
        categoryChildRoute
        [nwbScreenDrawerToggle]="'close'"
        [childRouteIndex]="'table'"
        class="overflow-y-auto"
      >
      <div class="divider mx-3"></div>
      <li [routerLinkActive]="'bordered'">
        <a [routerLink]="['attributes']"> Attribute Mods </a>
      </li>
    </nwb-data-table-categories>
    </div>
  </nwb-screen-drawer-side>
  <nwb-screen-drawer-content class="flex-1 layout-row">
    <router-outlet></router-outlet>
  </nwb-screen-drawer-content>
</nwb-screen-drawer>
