<div class="layout-content p-3 pb-20" [nwbInfniteScroll]="items$ | async" #scroll="infiniteScroll">
  <div class="grid grid-cols-fill gap-4" [nwbScreenshotFrame]="'Gemstones'" [@list]="scroll.count$ | async">
    <ng-container *ngIf="scroll.data$ | async; let items">
      <nwb-item-card
        *ngFor="let item of items"
        [entityId]="item.$itemId"
        [disableInfo]="true"
        [disableStats]="true"
        [enableInfoLink]="true"
        [@fade]="true"
      >
        <nwb-item-divider class="mx-4"></nwb-item-divider>
        <div class="flex flex-col gap-1 p-4">
          <div *ngFor="let ingr of item.$ingredients" class="flex flex-row gap-1 justify-start items-center">
            <picture [nwIcon]="ingr.item" class="w-8 h-8 nw-icon flex-none"></picture>
            <span>{{ ingr.quantity }}</span>
            <span>&times;</span>
            <span [nwText]="ingr.item?.Name"></span>
          </div>
        </div>
      </nwb-item-card>
    </ng-container>
    <button class="btn loading" *ngIf="scroll.canLoad$ | async" nwbInfiniteScrollTrigger>loading</button>
  </div>
</div>
