<div class="layout-content p-3 pb-20" [nwbInfniteScroll]="items$ | async" #scroll="infiniteScroll">
  <div class="grid grid-cols-fill gap-4" [@list]="scroll.count$ | async">
    <div
      *ngFor="let item of scroll.data$ | async; trackBy: trackByFn"
      class="cell min-h-[150px]"
      [nwbItemMarker]="item.ItemID"
      #itemMarker="itemMarker"
      [@fade]="true"
    >
      <nwb-item-card
        [entityId]="item.ItemID"
        class="flip-card-back bg-black rounded-md h-full transition-opacity"
        [enableInfoLink]="true"
        [enableTracker]="true"
        [disableInfo]="true"
        [class.opacity-40]="!(itemMarker.value$ | async)"
      ></nwb-item-card>
    </div>
    <button class="btn loading" *ngIf="scroll.canLoad$ | async" nwbInfiniteScrollTrigger>loading</button>
  </div>
</div>
