<div class="layout-content p-3 pb-20" [nwbInfniteScroll]="items$ | async" #scroll="infiniteScroll">
  <div class="flex justify-center">
    <div class="stats shadow self-center mb-4" *ngIf="stats$ | async; let stat">
      <div class="stat place-items-center">
        <div class="stat-title">Learned Music Sheets</div>
        <div class="stat-value text-primary">{{stat.learned}} / {{ stat.total}}</div>
        <div class="stat-desc text-opacity-50 italic">
          Any
          <span class="inline-block w-3 h-3 mask mask-star-2 bg-orange-400"></span>
          <span class="inline-block w-3 h-3 mask mask-star-2 bg-yellow-400"></span>
          <span class="inline-block w-3 h-3 mask mask-star-2 bg-green-400"></span>
          marks the sheet as "learned"
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-fill gap-4" [@list]="scroll.count$ | async">
    <div
      *ngFor="let item of scroll.data$ | async; trackBy: trackByFn"
      class="cell min-h-[150px]"
      [nwbItemMarker]="item.ItemID"
      #itemMarker="itemMarker"
      [@fade]="true"
    >
      <nwb-item-card
        [entityId]="item.ItemID"
        class="flip-card-back bg-black rounded-md h-full transition-opacity"
        [enableInfoLink]="true"
        [enableLink]="true"
        [enableTracker]="true"
        [disableInfo]="true"
        [class.opacity-40]="!(itemMarker.value$ | async)"
      ></nwb-item-card>
    </div>
    <button class="btn loading" *ngIf="scroll.canLoad$ | async" nwbInfiniteScrollTrigger>loading</button>
  </div>
</div>
