<div class="layout-content p-3 pb-20" *ngIf="items$ | async; let items">
  <div class="grid grid-cols-fill gap-4">
    <div
      *ngFor="let item of items"
      class="cell min-h-[200px] flip-card relative"
      [class.flip-active]="item.flipped"
      [nwbItemMarker]="item.recipeItem.ItemID"
      #itemMarker="itemMarker"
    >
      <div *nwbDidIntersect class="flip-card-content bg-black rounded-md h-full">
        <nwb-item-detail [entity]="item.recipeItem" class="flip-card-front">
          <nwb-item-detail-header
            [enableTracker]="true"
            [enableInfoLink]="true"
            [class.opacity-40]="!(itemMarker.value$ | async)"
          ></nwb-item-detail-header>
          <div class="flex flex-col gap-2 p-4">
            <nwb-item-detail-description></nwb-item-detail-description>
            <nwb-item-divider></nwb-item-divider>
            <div class="flex flex-col gap-1">
              <div *ngFor="let ingr of item.ingredients" class="flex flex-row gap-1 justify-start items-center">
                <picture [nwIcon]="ingr.item" class="w-8 h-8 nw-icon flex-none"></picture>
                <span>{{ ingr.quantity }}</span>
                <span>&times;</span>
                <span [nwText]="ingr.item?.Name"></span>
              </div>
            </div>
          </div>
        </nwb-item-detail>
        <nwb-item-card
          [entityId]="item.itemId"
          class="flip-card-back"
          [enableInfoLink]="true"
          [disableInfo]="true"
          [class.opacity-40]="!(itemMarker.value$ | async)"
        ></nwb-item-card>
      </div>
      <button
        class="flip-card-btn btn btn-ghost btn-circle absolute bottom-1 right-1"
        (click)="item.flipped = !item.flipped"
      >
        <nwb-icon [icon]="iconFlip" class="w-4 h-4"></nwb-icon>
      </button>
    </div>
  </div>
</div>
