<div class="min-w-[1600px] max-w-[2000px] mx-auto">
  <div
    *ngIf="rows$ | async; let rows"
    [@listAnimation]="rows.length"
    [nwbScreenshotFrame]="'Runes'"
    class="grid grid-cols-5 layout-gap"
  >
    <ng-container *ngFor="let row of rows; trackBy: trackByIndex">
      <ng-container *ngFor="let item of row; trackBy: trackByIndex">
        <nwb-item-card [entityId]="item.$itemId" [disableInfo]="true">
          <div
            *ngFor="let ingr of item.$ingredients; trackBy: trackByIndex"
            class="flex flex-row gap-1 justify-start items-center"
          >
            <picture [nwIcon]="ingr.item" class="w-8 h-8 nw-icon flex-none"></picture>
            <span>{{ ingr.quantity }}</span>
            <span>&times;</span>
            <span [nwText]="ingr.item.Name"></span>
          </div>
        </nwb-item-card>
      </ng-container>
    </ng-container>
  </div>
</div>
