<div class="min-w-[1600px] max-w-[2000px] mx-auto mb-20">

  <div
    *ngIf="rows$ | async; let rows"
    [@list]="rows.length"
    [nwbScreenshotFrame]="'Runes'"
    class="grid grid-cols-5 layout-gap"
  >
    <ng-container *ngFor="let row of rows; trackBy: trackByIndex">
      <ng-container *ngFor="let item of row; trackBy: trackByIndex">
        <nwb-item-card [@fade]="true" [entityId]="item.$itemId" [enableTracker]="true" [disableInfo]="true" class="content-auto">
          <nwb-item-divider class="mx-4"></nwb-item-divider>
          <div class="flex flex-col gap-1 p-4">
            <div
              *ngFor="let ingr of item.$ingredients; trackBy: trackByIndex"
              class="flex flex-row gap-1 justify-start items-center"
            >
              <picture [nwIcon]="ingr.item" class="w-8 h-8 nw-icon flex-none"></picture>
              <span>{{ ingr.quantity }}</span>
              <span>&times;</span>
              <span [nwText]="ingr.item.Name"></span>
            </div>
          </div>
        </nwb-item-card>
      </ng-container>
    </ng-container>
  </div>
</div>
