<div class="min-w-[1100px] max-w-[1500px] mx-auto mb-20" *ngIf="filteredItems$ | async; let items">
  <div class="grid grid-cols-3 layout-gap" [nwbScreenshotFrame]="'Trophies'" [@list]="items.length">
    <nwb-item-card
      [disableInfo]="true"
      [entityId]="item.itemId"
      [enableTracker]="true"
      [enableInfoLink]="true"
      [enableLink]="true"
      *ngFor="let item of items; trackBy: trackByIndex"
      nwbContentVisibility
      [@fade]="true"
    >
      <nwb-item-divider class="mx-4"></nwb-item-divider>
      <div class="flex flex-col gap-1 p-4">
        <div
          *ngFor="let ingr of item.ingredients; trackBy: trackByIndex"
          class="flex flex-row gap-1 justify-start items-center"
        >
          <picture [nwIcon]="ingr.item" class="w-8 h-8 nw-icon flex-none"></picture>
          <span>{{ ingr.quantity }}</span>
          <span>&times;</span>
          <span [nwText]="ingr.item.Name"></span>
        </div>
      </div>
    </nwb-item-card>
  </div>
</div>
