<div class="flex-none bg-black flex flex-row flex-wrap items-center p-1">
  <button class="btn btn-square btn-ghost" (click)="close()">
    <nwb-icon [icon]="iconBack" class="w-4 h-4"></nwb-icon>
  </button>
  <h3 class="font-bold text-lg">
    {{ title }}
  </h3>
  <span class="flex-1"></span>
  <nwb-data-grid-panel-button class="btn btn-square btn-ghost"></nwb-data-grid-panel-button>
  <nwb-quicksearch-input class="w-full md:w-60"></nwb-quicksearch-input>
</div>

<nwb-data-grid
  #table
  [enableQuickfilter]="true"
  [persistKey]="persistKey"
  [selection]="selection"
  (selection$)="onSelectionChange($event)"
  (rowDoubleClicked$)="onRowDoubleClick($event)"
  class="flex-1 rounded-md overflow-clip"
></nwb-data-grid>

<div class="flex-none modal-action flex-row justify-end layout-pad mt-0">
  <div class="btn-group">
    <label class="btn btn-ghost" (click)="close()">Cancel</label>
  </div>
  <div class="btn-group">
    <label class="btn btn-ghost" (click)="clear()">Clear selection</label>
    <label class="btn btn-primary" (click)="commit()">OK</label>
  </div>
</div>
