<nwb-item-detail
  [entity]="store.item()"
  [perkOverride]="store.instance()?.perks"
  class="p-1"
  class="flex flex-row gap-1"
  [tooltip]="tplTip"
  [tooltipClass]="'p-0'"
  #detail
>
  <nwb-item-header [rarity]="store.rarity()" [isNamed]="store.isNamed()" class="relative font-nimbus gap-2">
    <nwb-item-icon
      [nwbItemIcon]="store?.item() || store.slot()?.icon"
      [solid]="!!store?.item()"
      class="z-10 w-12 h-12"
    />
    @if (!disabled && !store?.item()) {
      <button
        *ngIf="!disabled"
        class="btn btn-square btn-ghost absolute top-0 right-0 z-10 screenshot-hidden w-full h-full items-center justify-center"
        (click)="pickItemClicked()"
      >
        <nwb-icon [icon]="iconPlus" class="w-4 h-4 mt-2"></nwb-icon>
      </button>
    } @else if (!disabled && !!menuTemplate) {
      <button
        class="btn btn-square btn-ghost absolute top-0 right-0 z-10 screenshot-hidden w-full h-full items-start justify-end"
        [cdkMenuTriggerFor]="menuTemplate"
      >
        <nwb-icon [icon]="iconMenu" class="w-4 h-4 mt-2" />
      </button>
    }
    @if (detail.gemDetail$ | async; as gem) {
      <span class="z-10 absolute bottom-0 right-0 p-[2px] rounded-tl-xl bg-base-100 bg-opacity-50">
        <img [nwImage]="gem.perk?.IconPath" class="w-5 h-5" />
      </span>
    }
  </nwb-item-header>
</nwb-item-detail>


<ng-template #tplTip>
  <nwb-item-card
    class="relative flex-1"
    [entityId]="store.instance().itemId"
    [gsOverride]="store.instance().gearScore"
    [perkOverride]="store.instance().perks"
  />
</ng-template>
