<div class="w-36 xl:w-40 flex flex-col gap-4">
  <nwb-quicksearch-input #search></nwb-quicksearch-input>
  <nwb-data-table-categories
    categoryChildRoute
    [childRouteIndex]="'table'"
    class="bg-base-100 rounded-md overflow-y-auto"
  ></nwb-data-table-categories>
  <ul class="menu menu-compact xl:menu-normal bg-base-100 rounded-md">
    <li [routerLinkActive]="'bordered'">
      <a [routerLink]="'trophies'" > Trophies </a>
    </li>
    <li [routerLinkActive]="'bordered'">
      <a [routerLink]="'runes'" > Runes </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
