<div class="grid grid-cols-5 gap-1">
  <ng-container *ngFor="let row of rows | async">
    <div *ngFor="let item of row" class="bg-base-300 flex flex-col">
      <nwb-item-detail [entityId]="item.$itemId">
        <nwb-item-detail-header></nwb-item-detail-header>
        <nwb-item-detail-perks></nwb-item-detail-perks>
        <hr class="item-detail-divider" />
        <nwb-item-detail-description></nwb-item-detail-description>
      </nwb-item-detail>
      <div>
        <div *ngFor="let ingr of item.$ingredients" class="flex flex-row gap-1 m-1 justify-start items-center">
          <picture [nwIcon]="ingr.item" class="w-8 h-8 nw-icon flex-none"></picture>
          <span>{{ ingr.quantity }}</span>
          <span>&times;</span>
          <span [nwText]="ingr.item.Name"></span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
