#NODE_OPTIONS=--max-old-space-size=8192
NW_GAME_LIVE="C:/Program Files (x86)/Steam/steamapps/common/New World"
NW_GAME_PTR="C:/Program Files (x86)/Steam/steamapps/common/New World Public Test Realm"
#NW_MODELS_DIR=
#NW_UNPACK_LIVE="./tmp/nw-unpack/live"
#NW_UNPACK_PTR="./tmp/nw-unpack/ptr"
NW_WORKSPACE="LIVE"

#LIVE_URL=https://www.nw-buddy.de
#PTR_URL=https://ptr.nw-buddy.de
CDN_URL=https://cdn.nw-buddy.de
#CDN_UPLOAD_SPACE=
#CDN_UPLOAD_KEY=
#CDN_UPLOAD_SECRET=
#CDN_UPLOAD_ENDPOINT=
#MAGICK_CONVERT_CMD="convert"

POCKETBASE_URL=http://localhost:3000

#THESE ARE OK TO BE PUBLIC AND ARE NEEDED
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0"
SUPABASE_URL=http://127.0.0.1:54321

#START LOCAL SUPABASE ENV
#THESE ARE ONLY FOR LOCAL SUPABASE DEV
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImV4cCI6MTk4MzgxMjk5Nn0.EGIM96RAZx35lJzdJsyH-qQwv8Hdp7fsn3W0YpN81IU"
SUPABASE_AUTH_EXTERNAL_DISCORD_REDIRECT_URI="http://127.0.0.1:54321/auth/v1/callback"
SUPABASE_AUTH_EXTERNAL_DISCORD_CLIENT_ID=""
SUPABASE_AUTH_EXTERNAL_DISCORD_SECRET=""
#END LOCAL SUPABASE ENV
