<ion-header>
  <ion-toolbar class="ion-color ion-color-black rounded-t-md">
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-p-4">
  @for (item of store.entries(); track $index) {
    <div class="flex flex-row items-center gap-1 overflow-hidden" [class.text-primary]="item.id === store.selection()">
      <div
        class="flex-1 text-lg px-2 whitespace-nowrap text-ellipsis overflow-hidden cursor-pointer link-hover"
        (click)="selectEntry(item.id)"
      >
        {{ item.name || item.id }}
      </div>
    </div>
  }
</ion-content>
<ion-footer class="rounded-b-md">
  <ion-toolbar class="ion-color ion-color-base-300">
    <div slot="end" class="join px-1">
      <button type="button" class="join-item btn" (click)="close()">Cancel</button>
      <button type="button" class="join-item btn btn-primary" [disabled]="!store.selection()" (click)="commit()">
        Load
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
