<div class="flex-none bg-black flex flex-row gap-1 flex-wrap items-center p-1 h-12">
  <h3 class="font-bold text-lg px-2">
    {{ title }}
  </h3>
  <span class="flex-1"></span>
</div>
<div class="p-2 flex flex-col gap-1 overflow-auto">
  <div
    *ngFor="let item of store.entries$()"
    class="flex flex-row items-center gap-1 overflow-hidden"
    [class.text-primary]="item.id === store.selection$()"
  >
    <div
      class="flex-1 text-lg px-2 whitespace-nowrap text-ellipsis overflow-hidden cursor-pointer link-hover"
      (click)="selectEntry(item.id)"
    >
      {{ item.name || item.id }}
    </div>
    <div class="join flex-none">
      <button class="join-item btn btn-square btn-sm btn-ghost" (click)="renameEntry(item.id, item.name)" [tooltip]="'Rename'">
        <nwb-icon [icon]="iconRename" class="w-4 h-4"></nwb-icon>
      </button>
      <button class="join-item btn btn-square btn-sm btn-error" (click)="deleteEntry(item.id)" [tooltip]="'Delete'">
        <nwb-icon [icon]="iconDelete" class="w-4 h-4"></nwb-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!store.entries$()?.length" class="flex items-center justify-center p-4">
    <button type="button" class="btn btn-primary" (click)="createEntry()">Create New Entry</button>
  </div>
</div>

<div class="flex-none modal-action flex-row justify-end layout-pad mt-0 bg-base-200">
  <div class="join">
    <button type="button" class="join-item btn" (click)="createEntry()">New Entry</button>
  </div>
  <div class="join">
    <button type="button" class="join-item btn" (click)="close()">Cancel</button>
    <button type="button" class="join-item btn btn-primary" [disabled]="!store.selection$()" (click)="commit()">Save</button>
  </div>
</div>
