<div class="flex-none tabs w-full">
  <a class="tab tab-bordered flex-1" [class.tab-active]="!showColumns" (click)="showColumns = !showColumns">Actions</a>
  <a class="tab tab-bordered flex-1" [class.tab-active]="showColumns" (click)="showColumns = !showColumns">Columns</a>
</div>
<div class="flex-1 overflow-auto h-full">
  <ng-container *ngIf="!showColumns">
    <ul class="menu menu-compact menu-vertical">
      <li>
        <a (click)="autosizeColumns()">
          <span>
            <nwb-icon [icon]="svgArrowsLeftRight" class="w-4 h-4"></nwb-icon>
          </span>
          <div class="flex flex-col leading-none">
            <span>Autosize columns</span>
            <span class="text-xs opacity-75">Resize based on the visible cell content</span>
          </div>
        </a>
      </li>

      <li>
        <a (click)="resetColumns()">
          <span>
            <nwb-icon [icon]="svgEraser" class="w-4 h-4"></nwb-icon>
          </span>
          <div class="flex flex-col leading-none">
            <span>Reset columns</span>
            <span class="text-xs opacity-75">Resets the columns to initial state</span>
          </div>
        </a>
      </li>

      <li>
        <a (click)="resetFilter()" [class.text-primary]="isFilterActive$()">
          <nwb-icon [icon]="svgFilter" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Clear filters</span>
            <span class="text-xs opacity-75">Clears all active filters</span>
          </div>
        </a>
      </li>

      <li>
        <a (click)="clearPins()">
          <nwb-icon [icon]="svgPin" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Clear pins</span>
            <span class="text-xs opacity-75">Removes all pinned items</span>
          </div>
        </a>
      </li>
    </ul>
    <ng-container *ngIf="sigPersistKey()">
      <div class="divider divider-vertical h-[1px] my-0"></div>
      <ul class="menu menu-compact menu-vertical">
        <li>
          <a (click)="saveState()">
            <nwb-icon [icon]="svgDisk" class="w-4 h-4"></nwb-icon>
            <div class="flex flex-col leading-none">
              <span>Save State</span>
              <span class="text-xs opacity-75">Saves the current column order and filter. Pins are ignored.</span>
            </div>
          </a>
        </li>
        <li>
          <a (click)="loadState()">
            <nwb-icon [icon]="svgDiskArrow" class="w-4 h-4"></nwb-icon>
            <div class="flex flex-col leading-none">
              <span>Load State</span>
              <span class="text-xs opacity-75">Loads a previously saved state with column order and filters.</span>
            </div>
          </a>
        </li>
      </ul>
    </ng-container>
    <!-- <div class="divider divider-vertical h-[1px] my-0"></div>
    <ul class="menu menu-compact menu-vertical">
      <li>
        <a (click)="openCode()">
          <nwb-icon [icon]="svgCode" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Raw data</span>
            <span class="text-xs opacity-75">Opens an editor showing the raw JSON data</span>
          </div>
        </a>
      </li>
    </ul> -->
  </ng-container>
  <ng-container *ngIf="showColumns">
    <div class="px-2 py-1">
      <nwb-quicksearch-input [placeholder]="'Search column name'" [bordered]="true"></nwb-quicksearch-input>
    </div>
    <div class="p-2">
      <div *ngFor="let it of displayCols$ | async" class="flex flex-row gap-2">
        <div class="btn-group">
          <button class="btn btn-ghost btn-sm px-1" (click)="toggleHide(it.colId)">
            <nwb-icon [icon]="it.hide ? svgEyeSlash : svgEye" class="w-4 h-4" [class.opacity-10]="it.hide"></nwb-icon>
          </button>
          <button class="btn btn-ghost btn-sm px-1" (click)="togglePinLeft(it.colId)">
            <nwb-icon [icon]="svgDockLeft" class="w-4 h-4" [class.opacity-10]="it.pinned !== 'left'"></nwb-icon>
          </button>
          <button class="btn btn-ghost btn-sm px-1" (click)="togglePinRight(it.colId)">
            <nwb-icon [icon]="svgDockRight" class="w-4 h-4" [class.opacity-10]="it.pinned !== 'right'"></nwb-icon>
          </button>
        </div>
        <span class="whitespace-nowrap truncate" [class.opacity-10]="it.hide">{{ it.name || it.colId }}</span>
      </div>
    </div>
  </ng-container>
</div>
