<div class="indicator">
  <span class="indicator-item badge badge-xs badge-primary" *ngIf="isFilterActive$()"> </span>
  <nwb-icon [icon]="svgTable" class="w-4 h-4"/>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="cdkOrigin"
  [cdkConnectedOverlayOpen]="isPanelOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  (overlayOutsideClick)="isPanelOpen = false"
  (backdropClick)="isPanelOpen = false"
  (detach)="isPanelOpen = false"
>
  <nwb-table-grid-panel
    [grid]="grid$ | async"
    (close)="isPanelOpen = false"
    class="w-80 max-h-[80vh] bg-base-100 rounded-md"
  ></nwb-table-grid-panel>
</ng-template>
