<nwb-expression-tree-editor
  [ngModel]="expression$ | async"
  (ngModelChange)="patchState({ expression: $event })"
  [knownFields]="knownFields$ | async"
></nwb-expression-tree-editor>

<div class="alert bg-base-100 shadow-lg">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info flex-shrink-0 w-6 h-6">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
    <div class="prose">
      <h3>Expreimental Feature!</h3>
      <p>Behavior and UI may change.</p>
      <p>
        Raw and unformatted property values are used to evaluate the expression. They may be different from what you see
        in the table view. Refer to the detail view for actual values.
      </p>
      <p>
        Use the "ignore filter" button on the root group, to disable the filter while you are working on an expression.
      </p>
      <p>
        Filter is persisted in the URL. If you want to save a state, copy the URL. A proper save feature will be added
        in the future.
      </p>

      <p>Please report bugs and suggestions on <a href="https://discord.gg/PWxUwUagVX" target="_blank">Discord</a>.</p>
    </div>
  </div>
</div>
