<h3 class="text-lg uppercase relative text-center font-caslon text-nw-description mb-3">
  <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
  <span class="relative top-1">Weapon</span>
</h3>
<div class="flex flex-row flex-wrap justify-center gap-1" *ngIf="vm$ | async; let vm">
  <button class="btn btn-sm" (click)="toggleWeapon()">{{ vm.weaponTag || 'Unarmed' }}</button>
  <!-- <button class="btn btn-sm" (click)="toggleSheathed()">{{ vm.weaponUnsheathed ? 'Unsheathed' : 'Sheathed' }}</button> -->
  <button class="btn btn-sm indicator" [cdkMenuTriggerFor]="tplAttackOptions">
    <ng-container *ngIf="vm.attackSelection; let row">
      <span>{{ labelForAttack(row, vm.weaponTag) | nwHumanize }}</span>
      <span
        class="indicator-item indicator-center indicator-bottom badge badge-xs"
        [class.badge-success]="row.AttackType === 'Light'"
        [class.badge-primary]="row.AttackType === 'Heavy'"
        [class.badge-secondary]="row.AttackType === 'Ability'"
        [class.badge-info]="row.AttackType === 'Magic'"
        >{{ row.AttackType  }}</span
      >
    </ng-container>
  </button>
  <div class="flex flex-row justify-around gap-2 w-full font-bold my-4">
    <div *ngIf="vm.DmgMain; let row" class="flex flex-row items-center">
      <img [nwImage]="row.base?.icon" class="w-8 h-8" />
      <div class="flex flex-col justify-center items-center">
        <span class="text-2xl leading-none opacity-25">
          {{ row.base?.value | number: '0.0-0' }}
        </span>
        <span class="text-2xl leading-none">
          {{ row.standard | number: '0.0-0' }}
        </span>
        <span class="text-2xl leading-none text-primary">
          {{ row.crit | number: '0.0-0' }}
        </span>
      </div>
    </div>
    <div *ngIf="vm.DmgConverted; let row" class="flex flex-row items-center">
      <img [nwImage]="row.base?.icon" class="w-8 h-8" />
      <div class="flex flex-col justify-center items-center">
        <span class="text-2xl leading-none opacity-25">
          {{ row.base?.value | number: '0.0-0' }}
        </span>
        <span class="text-2xl leading-none">
          {{ row.standard | number: '0.0-0' }}
        </span>
        <span class="text-2xl leading-none text-primary">
          {{ row.crit | number: '0.0-0' }}
        </span>
      </div>
    </div>
  </div>

  <ng-template #tplAttackOptions>
    <ul class="menu menu-compact bg-base-100 rounded-md shadow" cdkMenu *ngIf="vm$ | async; let vm">
      <li *ngFor="let row of vm.attackOptions">
        <a (click)="commitAttack(row)" cdkMenuItem>
          <img [nwImage]="damageIcon(row.DamageType)" class="w-6 h-6" />
          <div class="flex flex-col gap-1">
            <span>{{ labelForAttack(row, vm.weaponTag) | nwHumanize }}</span>
            <span
              class="badge badge-xs"
              [class.badge-success]="row.AttackType === 'Light'"
              [class.badge-primary]="row.AttackType === 'Heavy'"
              [class.badge-secondary]="row.AttackType === 'Ability'"
              [class.badge-info]="row.AttackType === 'Magic'"
              >{{ row.AttackType }}</span
            >
          </div>
        </a>
      </li>
    </ul>
  </ng-template>

</div>
