<h3 class="uppercase relative text-center font-caslon text-nw-description px-2">
  <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
  <span class="relative top-1">{{ title | nwText }}</span>
</h3>
<div class="px-2 py-1">
  <table class="mx-auto">
    <tr *ngFor="let row of source; first as isFirst; trackBy: trackBy">
      <td class="mx-1">
        <nwb-modifier-source-label [data]="row.source"></nwb-modifier-source-label>
      </td>
      <td class="font-mono font-thin">
        <ng-container *ngIf="!isFirst"> {{ row.value > 0 ? '+' : '' }} </ng-container>
      </td>
      <td
        class="font-mono font-thin text-right"
        [class.text-primary]="row['capped']"
        [class.text-success]="!row['capped']"
      >
        {{ row.value * row.scale | percent: '0.1-1' }}
      </td>
    </tr>
    <tr *ngIf="showSum">
      <td></td>
      <td colspan="2" class="font-mono font-thin text-right border-double border-t-4">
        <div class="flex flex-col">
          <span [class.line-through]="sumValue != value" [class.opacity-50]="sumValue != value">{{
            sumValue | percent: '0.1-1'
          }}</span>
          <span *ngIf="sumValue != value" class="text-danger">{{ value | percent: '0.1-1' }}</span>
        </div>
      </td>
    </tr>
  </table>
  <div class="text-sm flex flex-col text-center">
    <div *ngIf="hasUncapped">
      <span class="text-success">Uncapped values</span> are summed beyond {{ category | nwText }} cap of 50%
    </div>
    <div *ngIf="hasCapped">
      <span class="text-primary" *ngIf="hasCapped">Capped values</span> are summed only up to
      {{ category | nwText }} cap of 50%
    </div>
    <div *ngIf="sumValue != value">
      Overshoot by <span class="text-error">{{ sumValue - value | percent: '0.0-3' }}</span>
    </div>
  </div>
</div>
