<h3 class="uppercase relative text-center font-serif text-nw-description px-2 py-1 nw-bg-title bg-bottom">
  <span>{{ title | nwText }}</span>
</h3>
<div class="px-2 py-1">
  <table class="mx-auto table table-compact">
    @for (row of source; track $index) {
      <tr>
        <td class="p-1">
          <div class="flex flex-row items-center">
            <nwb-modifier-source-label [data]="row.source"></nwb-modifier-source-label>
          </div>
        </td>
        <td class="p-1 font-mono font-thin">
          <ng-container> {{ rowSign(row) }} </ng-container>
        </td>
        <td class="p-1 font-mono font-thin text-right" [class.text-primary]="row['capped']">
          @if (percent) {
            {{ rowValue(row) | percent: format }}
          } @else {
            {{ rowValue(row) | number: format }}
          }
        </td>
        <td class="p-1">
          <div class="flex flex-row items-center" *ngIf="row['category']; let category">
            <span class="badge badge-secondary badge-sm">
              {{ category }} (cap &#64; {{ row['limit'] | percent: '0.1-1' }})
            </span>
          </div>
        </td>
      </tr>
    }
    @if (showSum) {
      <tr>
        <td class="p-1"></td>
        <td colspan="2" class="p-1 font-mono font-thin text-right border-double border-t-4">
          <div class="flex flex-col">
            <span [class.line-through]="isOvershoot" [class.opacity-50]="isOvershoot">
              @if (percent) {
                {{ sumValue | percent: format }}
              } @else {
                {{ sumValue | number: format }}
              }
            </span>
            <span *ngIf="isOvershoot" class="text-danger">
              @if (percent) {
                {{ value | percent: format }}
              } @else {
                {{ value | number: format }}
              }
            </span>
          </div>
        </td>
      </tr>
    }
  </table>
  <div class="text-sm flex flex-col text-center">
    @if (isOvershoot) {
      <div>
        Overshoot by
        <span class="text-error">
          @if (percent) {
            {{ sumValue - value | percent: '0.0-3' }}
          } @else {
            {{ sumValue - value | number: '0.0-3' }}
          }
        </span>
      </div>
    }
  </div>
</div>
