<h3 class="text-lg uppercase relative text-center font-serif text-nw-description mb-3">
  <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
  <span class="relative top-1">Vitality</span>
</h3>
<div class="grid grid-cols-dl gap-x-1 font-nimbus items-baseline">
  <span class="text-right font-bold w-12" nwbFlash>{{ (health()?.value ?? 0) | number : '0.0-0' }} </span>
  <div [tooltip]="tplHealth" [tooltipClass]="'p-0'">
    <span class="opacity-50">
      {{ 'ui_health' | nwText }}
    </span>
    <ng-template #tplHealth>
      <nwb-modifier-tip
        [data]="health()"
        [title]="'ui_health'"
        [percent]="false"
        [format]="'0.1-1'"
      ></nwb-modifier-tip>
    </ng-template>
  </div>

  <span class="text-right font-bold" nwbFlash>{{ (mana()?.value ?? 0) | number : '0.0-0' }} </span>
  <div [tooltip]="tplMana" [tooltipClass]="'p-0'">
    <span class="opacity-50">
      {{ 'ui_mana' | nwText }}
    </span>
    <ng-template #tplMana>
      <nwb-modifier-tip [data]="mana()" [title]="'ui_mana'" [percent]="false" [format]="'0.0-0'"></nwb-modifier-tip>
    </ng-template>
  </div>

  <span class="text-right font-bold" nwbFlash>{{ (stamina()?.value ?? 0) | number : '0.0-0' }} </span>
  <div [tooltip]="tplStamina" [tooltipClass]="'p-0'">
    <span class="opacity-50">
      {{ 'ui_stamina' | nwText }}
    </span>
    <ng-template #tplStamina>
      <nwb-modifier-tip
        [data]="stamina()"
        [title]="'ui_stamina'"
        [percent]="false"
        [format]="'0.0-0'"
      ></nwb-modifier-tip>
    </ng-template>
  </div>

  <span class="text-right font-bold" nwbFlash>{{ (physicalRating()?.value ?? 0) | number : '0.0-0' }} </span>
  <div [tooltip]="tplPhysical" [tooltipClass]="'p-0'">
    <span class="opacity-50">
      {{ 'ui_physical' | nwText }}
    </span>
    <ng-template #tplPhysical>
      <nwb-modifier-tip
        [data]="physicalRating()"
        [title]="'ui_physical'"
        [percent]="false"
        [format]="'0.1-1'"
      ></nwb-modifier-tip>
    </ng-template>
  </div>

  <span class="text-right font-bold" nwbFlash>{{ (elementalRating()?.value ?? 0) | number : '0.0-0' }} </span>
  <div [tooltip]="tplElemental" [tooltipClass]="'p-0'">
    <span class="opacity-50">
      {{ 'ui_elemental' | nwText }}
    </span>
    <ng-template #tplElemental>
      <nwb-modifier-tip
        [data]="elementalRating()"
        [title]="'ui_elemental'"
        [percent]="false"
        [format]="'0.1-1'"
      ></nwb-modifier-tip>
    </ng-template>
  </div>
</div>
