@if (isGroup) {
  <div class="flex flex-col" [class.opacity-50]="isIgnored && !isRoot">
    <div class="flex flex-row gap-1">
      <div class="join">
        <button
          class="join-item btn btn-sm"
          [class.btn-primary]="isNegated"
          [class.input-bordered]="!isNegated"
          (click)="isNegated = !isNegated"
          [tooltip]="'Negate result'"
        >
          !
        </button>
        @for (op of operatorOptions; track $index) {
          <button
            class="join-item btn btn-sm uppercase"
            [class.btn-primary]="operator === op.value"
            [class.input-bordered]="operator !== op.value"
            (click)="operator = op.value"
          >
            {{ op.label }}
          </button>
        }
      </div>
      <span class="flex-1"></span>
      <div class="group"></div>
      <button class="flex-none btn btn-sm btn-square" [class.text-accent]="isRoot" [tooltip]="'Add condition group'">
        <nwb-icon [icon]="iconAddGroup" class="w-4 h-4" (click)="addGroupClicked()" />
      </button>
      <button class="flex-none btn btn-sm btn-square" [class.text-accent]="isRoot" [tooltip]="'Add condition'">
        <nwb-icon [icon]="iconAdd" class="w-4 h-4" (click)="addFieldClicked()" />
      </button>
      <button class="flex-none btn btn-sm btn-square btn-error" [tooltip]="'Delete this group'" *ngIf="!isRoot">
        <nwb-icon [icon]="iconDelete" class="w-4 h-4" (click)="deleteClicked()" />
      </button>
      <button class="flex-none btn btn-sm btn-square" [tooltip]="'Ignore this group'">
        <nwb-icon
          [icon]="isIgnored ? iconFilterSlash : iconFilter"
          [class.text-error]="isIgnored"
          [class.opacity-50]="!isIgnored"
          class="w-4 h-4"
          (click)="isIgnored = !isIgnored"
        />
      </button>
    </div>
    @for (child of children; track $index; let last = $last) {
      <div class="flex flex-row">
        <span class="branch flex-none" [class.branch-last]="last"></span>
        <nwb-expression-tree-node [node]="child" class="flex-1 py-1"></nwb-expression-tree-node>
      </div>
    }
  </div>
}
@if (isCondition) {
  <div class="flex flex-row gap-1" [class.opacity-50]="isIgnored && !isRoot">
    <select [(ngModel)]="field" class="flex-none w-32 input input-sm px-1 input-bordered">
      @for (it of fieldOptions; track $index) {
        <option [value]="it.id">{{ it.label }}</option>
      }
    </select>
    <div class="form-control">
      <div class="join">
        <button
          class="join-item btn btn-sm"
          [class.btn-primary]="isNegated"
          [class.input-bordered]="!isNegated"
          (click)="isNegated = !isNegated"
          [tooltip]="'Negate result'"
        >
          !
        </button>
        <select [(ngModel)]="operator" class="join-item flex-none w-24 input input-sm px-1 input-bordered">
          @for (op of operatorOptions; track $index) {
            <option [value]="op.value">{{ op.label }}</option>
          }
        </select>
      </div>
    </div>
    <input [(ngModel)]="value" type="text" placeholder="Type here" class="flex-1 input input-sm input-bordered" />
    @if (!isRoot) {
      <button class="flex-none btn btn-sm btn-square btn-error" [tooltip]="'Delete this condition'">
        <nwb-icon [icon]="iconDelete" class="w-4 h-4" (click)="deleteClicked()" />
      </button>
      <button class="flex-none btn btn-sm btn-square" [tooltip]="'Ignore this condition'">
        <nwb-icon
          [icon]="isIgnored ? iconFilterSlash : iconFilter"
          [class.text-error]="isIgnored"
          [class.opacity-50]="!isIgnored"
          class="w-4 h-4"
          (click)="isIgnored = !isIgnored"
        />
      </button>
    }
  </div>
}
