:root {
  interpolate-size: allow-keywords;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    translate: 0 1rem;
  }
}
.fade-slide-up-enter {
  animation: fadeSlideUp 250ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--enter-delay, 0));
}
.fade-slide-up-leave {
  animation: fadeSlideUp 250ms ease-out reverse;
  animation-fill-mode: both;
  animation-delay: calc(var(--leave-delay, 0));
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
.fade-enter {
  animation: fadeIn 250ms ease;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--enter-delay, 0));
}
.fade-leave {
  animation: fadeIn 250ms ease reverse;
  animation-fill-mode: both;
  animation-delay: calc(var(--leave-delay, 0));
}

@keyframes inflateX {
  from {
    overflow: hidden;
    width: 0px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.inflate-x-fade-enter {
  animation-name: inflateX, fadeIn;
  animation-duration: 250ms, 250ms;
  animation-delay: 0ms, 250ms;
  animation-fill-mode: backwards, backwards;
}

.inflate-x-fade-leave {
  animation-name: fadeIn, inflateX;
  animation-duration: 250ms, 250ms;
  animation-delay: 0ms, 250ms;
  animation-fill-mode: forwards, forwards;
  animation-direction: reverse, reverse;
}


@keyframes inflateY {
  from {
    overflow: hidden;
    height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.inflate-y-fade-enter {
  animation-name: inflateY, fadeIn;
  animation-duration: 250ms, 250ms;
  animation-delay: 0ms, 250ms;
  animation-fill-mode: backwards, backwards;
}

.inflate-y-fade-leave {
  animation-name: fadeIn, inflateY;
  animation-duration: 250ms, 250ms;
  animation-delay: 0ms, 250ms;
  animation-fill-mode: forwards, forwards;
  animation-direction: reverse, reverse;
}

.grow-y-in {
  animation: grow-y-in;
  animation-duration: 250ms;
  overflow: hidden;
}
.grow-y-out {
  animation: grow-y-out;
  animation-duration: 250ms;
  overflow: hidden;
}

@keyframes grow-y-in {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}
@keyframes grow-y-out {
  from {
    height: auto;
  }
  to {
    height: 0;
  }
}

.fade-grow-y-in {
  animation: fade-grow-y-in;
  animation-duration: 250ms;
  overflow: hidden;
}
.fade-grow-y-out {
  animation: fade-grow-y-out;
  animation-duration: 250ms;
  overflow: hidden;
}

@keyframes fade-grow-y-in {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: auto;
    opacity: 1;
  }
}
@keyframes fade-grow-y-out {
  from {
    height: auto;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.grow-x-in {
  animation: grow-x-in;
  animation-duration: 250ms;
  overflow: hidden;
}
.grow-x-out {
  animation: grow-x-out;
  animation-duration: 250ms;
  overflow: hidden;
}

@keyframes grow-x-in {
  from {
    width: 0;
  }
  to {
    width: auto;
  }
}
@keyframes grow-x-out {
  from {
    width: auto;
  }
  to {
    width: 0;
  }
}

.fade-grow-x-in {
  animation: fade-grow-x-in;
  animation-duration: 250ms;
  overflow: hidden;
}
.fade-grow-x-out {
  animation: fade-grow-x-out;
  animation-duration: 250ms;
  overflow: hidden;
}

@keyframes fade-grow-x-in {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: auto;
    opacity: 1;
  }
}
@keyframes fade-grow-x-out {
  from {
    width: auto;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
