<div class="outer-grid gap-x-3 gap-y-2">
  @if (!disableHead()) {
    <h3
      class="text-lg uppercase font-serif text-nw-description col-span-2 nw-bg-title bg-bottom h-8 flex items-end justify-center"
    >
      @if (!isLoaded()) {
        Loading...
      } @else if (gearset()) {
        {{ gearset().name }}
      } @else {
        New Gearset
      }
    </h3>
    <div class="h-8 flex flex-row gap-1 items-center">
      @if (isLoaded() && gearset()) {
        <img [nwImage]="'assets/icons/item/icon_gearscore.png'" class="w-8 h-8" />
        <span class="font-caslon text-3xl leading-none font-bold">{{ gearScore() | number: '0.0-0' }}</span>
      }
    </div>
    <div class="h-8">
      <div class="join w-full indicator">
        @if (isLoaded()) {
          @if (gearset()) {
            <a class="join-item flex-1 btn btn-sm btn-outline btn-primary" [routerLink]="[gearset().id]"> Show </a>
            @if (isSynced()) {
              <span class="indicator-item badge badge-xs badge-success cursor-help"></span>
            }
            @if (isSyncPending()) {
              <span class="indicator-item badge badge-xs badge-warning"></span>
            }
            @if (isSyncConflicted()) {
              <span class="indicator-item badge badge-xs badge-error"></span>
            }
            <button
              class="join-item flex-none btn btn-sm btn-square btn-primary btn-outline"
              [cdkMenuTriggerFor]="menu"
            >
              <nwb-icon [icon]="menuIcon" class="w-4 h-4" />
            </button>
          } @else {
            <button class="btn btn-sm btn-block btn-primary" (click)="handleCreate()">Create</button>
          }
        }
      </div>
    </div>
  }
  <div class="grid grid-cols-4 sm:grid-cols-6 grid-rows-4 sm:grid-rows-3 gap-1">
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'head'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'chest'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'hands'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'legs'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'feet'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'weapon3'" class="hidden sm:block" />

    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'amulet'" class="sm:col-start-1" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'ring'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'earring'" />

    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'quickslot1'" class="sm:col-start-1" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'quickslot2'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'quickslot3'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'quickslot4'" />
  </div>

  <div class="grid grid-cols-2 grid-rows-4 sm:grid-rows-3 gap-1">
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'weapon1'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'weapon2'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'arrow'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'cartridge'" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'weapon3'" class="sm:hidden" />
    <nwb-gearset-square-slot [disabled]="true" [gearset]="gearset()" [slotId]="'heartgem'" class="col-start-2" />
  </div>
</div>

<ng-template #menu>
  <ul class="menu menu-compact bg-base-100 rounded-md shadow" cdkMenu>
    <li>
      <a (click)="handleDelete(gearset())" cdkMenuItem>
        <nwb-icon [icon]="deleteIcon" class="w-4 h-4" />
        <div class="flex flex-col leading-none">
          <span>Delete</span>
        </div>
      </a>
    </li>
  </ul>
</ng-template>
