<div class="outer-grid gap-x-3 gap-y-2" *ngIf="vm$ | async; let vm">
  <h3 class="text-lg uppercase relative font-caslon text-center text-nw-description col-span-2">
    <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
    <span class="relative top-1">{{ vm.gearset ? vm.name : 'New Gearset' }}</span>
  </h3>
  <div class="flex flex-row">
    <img [nwImage]="'assets/icons/item/icon_gearscore.png'" class="w-8 h-8" />
    <span class="font-caslon text-3xl font-bold">{{ vm.gearscore | number: '0.0-0' }}</span>

  </div>
  <div>
    <a class="btn btn-sm btn-block btn-outline btn-primary" [routerLink]="[vm.gearset.id]" *ngIf="vm.gearset">
      Edit
    </a>
    <button class="btn btn-sm btn-block btn-primary" (click)="createClicked()" *ngIf="!vm.gearset">Create</button>
  </div>

  <div class="grid grid-cols-4 sm:grid-cols-6 grid-rows-4 sm:grid-rows-3 gap-1">
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'head'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'chest'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'hands'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'legs'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'feet'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'weapon3'"></nwb-gearset-square-slot>

    <nwb-gearset-square-slot
      [disabled]="true"
      [gearset]="vm.gearset"
      [slotId]="'amulet'"
      class="col-start-1"
    ></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'ring'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'earring'"></nwb-gearset-square-slot>

    <nwb-gearset-square-slot
      [disabled]="true"
      [gearset]="vm.gearset"
      [slotId]="'quickslot1'"
      class="col-start-1"
    ></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'quickslot2'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'quickslot3'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'quickslot4'"></nwb-gearset-square-slot>
  </div>

  <div class="grid grid-cols-2 grid-rows-4 sm:grid-rows-3 gap-1">
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'weapon1'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'weapon2'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'arrow'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot [disabled]="true" [gearset]="vm.gearset" [slotId]="'cartridge'"></nwb-gearset-square-slot>
    <nwb-gearset-square-slot
      [disabled]="true"
      [gearset]="vm.gearset"
      [slotId]="'heartgem'"
      class="col-start-2"
    ></nwb-gearset-square-slot>
  </div>
</div>
