<nwb-damage-row-detail-header />
<div class="p-3 flex flex-col gap-2">
  <nwb-property-grid
    class="gap-x-2 font-mono w-full overflow-auto text-sm leading-tight"
    [item]="properties()"
    [valueFormatter]="formatValue"
  />

  @if (affixProperties(); as affix) {
    <nwb-item-divider />
    <nwb-property-grid
      class="gap-x-2 font-mono w-full overflow-auto text-sm leading-tight"
      [item]="affix"
      [valueFormatter]="formatAffixValue"
    />
  }

  <ng-content></ng-content>
</div>

<ng-template [nwbGridValue] let-cell #tplCategoryInfo>
  <ng-container [nwbStatusEffectCategoryDetailByProp]="cell.value" #detail="detail">
    <span
      *ngIf="detail.hasLimits()"
      [tooltip]="tplCategoryTip"
      [tooltipClass]="'max-w-none'"
      class="text-error inline-flex"
    >
      <nwb-icon [icon]="iconInfo" class="w-3 h-3 opacity-50 hover:opacity-100 cursor-help" />
    </span>
    <ng-template #tplCategoryTip>
      <nwb-status-effect-limits-table [property]="cell.value">
        <div class="text-center p-2">
          Limits only apply if the according category is present in <code>EffectCategories</code>
        </div>
      </nwb-status-effect-limits-table>
    </ng-template>
  </ng-container>
</ng-template>
