<div
  class="flex flex-row justify-center items-center w-full h-full top-0 left-0 z-10 scale-100"
  *ngIf="!(store.hasLoaded$ | async)"
  [@fade]
>
  <picture class="block aspect-square w-40 h-40 relative">
    <img
      class="absolute object-contain top-0 left-0 right-0 bottom-0 w-full h-full animate-spin-cw"
      src="assets/loaders/crafting_rune_clockwise.png"
    />
    <img
      class="absolute object-contain top-0 left-0 right-0 bottom-0 w-full h-full animate-spin-ccw"
      src="assets/loaders/crafting_rune_counter_clockwise.png"
    />
  </picture>
</div>
<div nwbGrid class="h-full w-full"></div>
