<h3 class="font-bold text-lg bg-black p-3">{{ title }}</h3>
<div class="flex-colr layout-pad">
  <ng-container *ngIf="isHtml">
    <div [innerHTML]="body"></div>
  </ng-container>
  <ng-container *ngIf="!isHtml">
    <p>{{ body }}</p>
  </ng-container>

  <input [(ngModel)]="value" type="text" [placeholder]="placeholder" class="input input-bordered w-full max-w-xs mt-3">
</div>
<div class="modal-action flex-row-reverse justify-start layout-pad gap-1">
  <button class="btn btn-primary" (click)="submit()">{{ positive }}</button>
  <button class="btn btn-ghost" (click)="close()" *ngIf="neutral">{{ neutral }}</button>
  <button class="btn btn-ghost" (click)="abort()">{{ negative }}</button>
</div>
