@import 'vendor/ionic.scss';
@import 'vendor/tailwind.scss';
@import 'vendor/ag-grid.scss';
@import 'vendor/cdk.scss';
@import 'vendor/maplibre.scss';
@import 'swiper/swiper-bundle.css';

@import 'mixins/all.scss';
@import 'fonts/all.scss';
@import 'helper/all.scss';

@import 'components/all.scss';

@supports not (color: oklch(0 0 0)) {
  :root {
    color-scheme: dark;
    --fallback-p: #f28c18;
    --fallback-pc: #131616;
    --fallback-s: #6d3a9c;
    --fallback-sc: #E3C4FF;
    --fallback-a: #51a800;
    --fallback-ac: #DCFFBB;
    --fallback-n: #1B1D1D;
    --fallback-nc: #CFD4D4;
    --fallback-b1: #222222;
    --fallback-b2: #191919;
    --fallback-b3: #111111;
    --fallback-bc: #CFD4D4;
    --fallback-in: #2563EB;
    --fallback-inc: #CFDEFF;
    --fallback-su: #16A34A;
    --fallback-suc: #BEFFD6;
    --fallback-wa: #D97706;
    --fallback-wac: #2D1800;
    --fallback-er: #DC2626;
    --fallback-erc: #FFCDCD;
  }
}
