:host {
  width: 40%;
  &.floating {
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(max(25vw, 600px));
    height: calc(max(25vh, 400px));
  }
  &.floating.left {
    right: initial;
    left: 0;
  }
  &.floating.expand {
    bottom: 0;
    right: 0;
    left: 0;
    top: 52px;
    width: initial;
    height: initial;
    background-color: rgba(0, 0, 0, 0.25);
  }
}
