<ion-header>
  <ion-toolbar>
    <ion-segment [value]="active" (ionChange)="handleSegmentChange($event)">
      @for (node of menu; track $index) {
        <ion-segment-button [value]="node.category">
          <nwb-icon [icon]="node.icon" class="w-4 h-4" />
        </ion-segment-button>
      }
    </ion-segment>
  </ion-toolbar>
  <ng-content select="[header]" />
</ion-header>
<ion-content>
  <ng-content />
  @for (node of menu; track $index) {
    <ul
      class="menu menu-compact flex-none flex-nowrap m-0 p-0"
      [class.hidden]="node.category !== active"
      data-testid="app-menu"
    >
      @for (item of node.items; track $index) {
        @if (item.divider) {
          <li></li>
        }
        <li
          [routerLinkActive]="['border-l-4', 'border-primary']"
          [routerLinkActiveOptions]="{ exact: !!item.exact }"
          (isActiveChange)="$event ? onGroupActive(node.category) : null"
        >
          <a
            [routerLink]="link.withLocale(item.path)"
            [routerLinkActiveOptions]="{ exact: !!item.exact }"
            nwbMenuClose
            class="rounded-none"
            [routerLinkActive]="['active']"
          >
            @if (item.icon) {
              <img [nwImage]="item.icon" class="w-5 h-5" />
            } @else if (item.svgIcon) {
              <nwb-icon [icon]="item.svgIcon" class="w-4 h-4" />
            }
            {{ item.label }}
          </a>
        </li>
      }
    </ul>
  }
</ion-content>
<ion-footer>
  <div class="flex flex-col gap-1 items-center p-4">
    <div class="flex-none flex flex-row flex-wrap gap-2 items-center justify-center">
      <a class="link-hover" [routerLinkActive]="'text-primary'" [routerLink]="link.withLocale('/links')">Links</a>
      <a class="link-hover" [routerLinkActive]="'text-primary'" [routerLink]="link.withLocale('/preferences')">
        Preferences
      </a>
      <a class="link-hover" [routerLinkActive]="'text-primary'" [routerLink]="link.withLocale('/about')">About</a>
    </div>
    @if (showPtrSwitch) {
      <div class="join">
        <a class="join-item btn btn-xs" [class.btn-primary]="isLive" [href]="liveUrl()" rel="nofollow">
          Live
          @if (isLive && version) {
            <span class="italic">({{ version }})</span>
          }
        </a>
        <a class="join-item btn btn-xs" [class.btn-primary]="isPTR" [href]="ptrUrl()" rel="nofollow">
          PTR
          @if (isPTR && version) {
            <span class="italic">({{ version }})</span>
          }
        </a>
      </div>
    } @else if (showBranchName) {
      <div class="badge badge-secondary whitespace-nowrap">
        <span>{{ branchName }}</span
        >&commat;v{{ version }}
      </div>
    } @else if (version) {
      <div class="text-xs italic text-primary/75">v{{ version }}</div>
    }
  </div>
</ion-footer>
