<div class="navbar bg-base-100 z-50 rounded-md mt-4 font-bold">
  <div class="flex-1 px-2 lg:flex-none">
    <a class="text-lg font-bold">
      <img src="assets/icons/favicon.png" class="w-12">
    </a>
  </div>
  <div class="flex justify-end flex-1 px-2">
    <div class="flex items-stretch">
      <a class="btn btn-ghost" routerLinkActive="text-primary" routerLink="/items"> Items </a>
      <a class="btn btn-ghost" routerLinkActive="text-primary" routerLink="/housing"> Housing </a>
      <a class="btn btn-ghost" routerLinkActive="text-primary" routerLink="/crafting"> Crafting </a>

      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-md w-52">

          <li><a routerLinkActive="text-primary" routerLink="/perks"> Perks </a></li>
          <li><a routerLinkActive="text-primary" routerLink="/abilities"> Abilities </a></li>
          <li><a routerLinkActive="text-primary" routerLink="/status-effects"> Statuseffects </a></li>
          <li><a routerLinkActive="text-primary" routerLink="/vitals"> Vitals </a></li>
          <div class="divider"></div>
          <li><a routerLinkActive="text-primary" routerLink="/armorsets">Armorsets</a></li>
          <li><a routerLinkActive="text-primary" routerLink="/progression/tradeskills"> Progression </a></li>
          <li><a routerLinkActive="text-primary" routerLink="/dungeons">Dungeons</a></li>
          <div class="divider"></div>
          <li>
            <a routerLinkActive="text-primary" routerLink="/preferences"> Preferences </a>
          </li>
          <li>
            <a routerLinkActive="text-primary" routerLink="/about"> About </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="app-content z-30">
  <router-outlet></router-outlet>
</div>
