:host {
  &::after {
    content: '';
    display: block;
    background-image: var(--nwb-watermark);
    background-repeat: repeat;
    background-size: 500px 500px;
    background-position: -10% -10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: 10000;
    pointer-events: none;
    opacity: 0.05;
  }

}
