:host {

  ion-toolbar {
    -webkit-app-region: drag;
  }

  ion-buttons, .no-drag {
    -webkit-app-region: no-drag;
  }

  ion-content::part(scroll) {
    display: flex;
    flex-direction: column;
  }
}
