<div class="nav-bar flex flex-row content-center bg-neutral-900 z-50">
  <a class="block py-6 px-3" routerLink="/"> Home </a>
  <a class="block py-6 px-3" routerLink="/items"> Browser </a>
  <a class="block py-6 px-3" routerLink="/armorsets"> Armorsets </a>
  <a class="block py-6 px-3" routerLink="/trophies"> Trophies </a>
  <a class="block py-6 px-3" routerLink="/xp"> XP </a>
  <a class="block py-6 px-3" routerLink="/dungeons"> Dungeons </a>
</div>
<div class="app-content z-30">
  <router-outlet></router-outlet>
</div>

