:host {
  gap: 1rem;
  padding: 1rem;

  .navbar {
    -webkit-app-region: drag;
    a, li, label, select {
      -webkit-app-region: no-drag;
    }
  }
  .scrollable {
    overflow-x: overlay;
    scroll-snap-type: x mandatory;
    a {
      scroll-snap-align: start;
    }
    @media (min-width: 1440px) {
      justify-content: center;
    }
  }
}
