:host {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .outer-grid {
    display: grid;
    grid-template-columns: 4fr 2fr;
    @screen sm {
      grid-template-columns: 6fr 2fr;
    }
  }
}
