<div class="outer-grid gap-x-3 gap-y-2">
  <h3 class="text-lg uppercase relative font-caslon text-center text-nw-description col-span-2">
    <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
    <span class="relative top-1">{{ gearset ? gearset.name : 'New Gearset' }}</span>
  </h3>
  <div class="flex flex-row">
    <img [nwImage]="'assets/icons/item/icon_gearscore.png'" class="w-8 h-8" />
    <span class="font-caslon text-3xl font-bold">{{ gearScore | number: '0.0-0' }}</span>
  </div>
  <div>
    @if (gearset) {
      <a class="btn btn-sm btn-block btn-outline btn-primary" [routerLink]="[gearset.id]"> Show </a>
    } @else {
      <button class="btn btn-sm btn-block btn-primary" (click)="handleCreate()">Create</button>
    }
  </div>

  <div class="grid grid-cols-4 sm:grid-cols-6 grid-rows-4 sm:grid-rows-3 gap-1">
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'head'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'chest'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'hands'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'legs'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'feet'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'weapon3'" />

    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'amulet'" class="col-start-1" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'ring'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'earring'" />

    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'quickslot1'" class="col-start-1" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'quickslot2'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'quickslot3'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'quickslot4'" />
  </div>

  <div class="grid grid-cols-2 grid-rows-4 sm:grid-rows-3 gap-1">
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'weapon1'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'weapon2'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'arrow'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'cartridge'" />
    <nwb-gearset-cell-slot [disabled]="true" [gearset]="gearset" [slotId]="'heartgem'" class="col-start-2" />
  </div>
</div>
