<ng-container *ngIf="entity$ | async">
  <nwb-item-detail-header
    class="header"
    [entity]="entity$ | async"
    [enableNwdbLink]="enableNwdbLink"
    [enableTracker]="enableTracker"
    [enableMarker]="enableMarker"
  ></nwb-item-detail-header>
  <div class="p-4" *ngIf="enableDescription">
    <ng-container *ngIf="description$ | async; let description">
      <p class="text-primary italic" [nwText]="description" [itemId]="itemId"></p>
    </ng-container>
    <ng-container *ngIf="perks$ | async; let perks">
      <nwb-item-detail-perks class="mt-2" [perks]="perks"></nwb-item-detail-perks>
    </ng-container>
  </div>
  <ng-container *ngIf="enableRecipe">
    <nwb-crafting-calculator
      class="p-2"
      [recipe]="recipe"
      *ngIf="recipe$ | async; let recipe"
    ></nwb-crafting-calculator>
  </ng-container>
</ng-container>

<div class="flex flex-row items-center justify-center" *ngIf="!(entity$ | async)">
  <button class="btn btn-ghost loading mx-auto"></button>
</div>
