<ng-container *ngIf="vm$ | async; let vm">
  <div *ngIf="vm.bindOnEquip" class="text-emerald-500 font-bold">Bind On Equip</div>
  <div *ngIf="vm.bindOnPickup" class="text-emerald-500 font-bold">Bind On Pickup</div>
  <div *ngIf="vm.canReplaceGem" class="text-emerald-500 font-bold">Can Replace Gem</div>
  <div *ngIf="vm.cantReplaceGem" class="text-red-600 font-bold">Can't Replace Gem</div>
  <div *ngIf="vm.tier; let text" class="font-bold">
    <span class="text-zinc-500">Tier</span> <span class="text-white"> {{text}}</span>
  </div>
  <div *ngIf="vm.weight; let text" class="font-bold">
    <span class="text-white">{{text | number:'1.1'}}</span> <span class="text-zinc-500"> Weight</span>
  </div>
  <div *ngIf="vm.durability; let text" class="font-bold">
    <span class="text-white">{{text}}</span> <span class="text-zinc-500"> Durability</span>
  </div>
  <div *ngIf="vm.requiredLevel; let text" class="font-bold">
    <span class="text-zinc-500">Requirement: Level</span> <span class="text-white"> {{text}}</span>
  </div>
  <div *ngIf="vm.maxStackSize; let text" class="font-bold">
    <span class="text-zinc-500">Max Stack:</span> <span class="text-white"> {{text}}</span>
  </div>
</ng-container>
