<nwb-item-detail-header [enableTracker]="enableTracker" [enableInfoLink]="enableInfoLink"></nwb-item-detail-header>
<div *ngIf="vm$ | async; let vm" class="px-4 py-2">
  <ng-container *ngIf="vm.hasDescription && vm.isRune">
    <nwb-item-detail-description></nwb-item-detail-description>
    <nwb-item-divider class="my-2"></nwb-item-divider>
  </ng-container>
  <ng-container *ngIf="vm.hasStats">
    <nwb-item-detail-stats></nwb-item-detail-stats>
    <nwb-item-divider class="my-2"></nwb-item-divider>
  </ng-container>
  <ng-container *ngIf="vm.hasPerks">
    <nwb-item-detail-perks></nwb-item-detail-perks>
    <nwb-item-divider class="my-2"></nwb-item-divider>
  </ng-container>
  <ng-container *ngIf="vm.hasDescription && !vm.isRune">
    <nwb-item-detail-description></nwb-item-detail-description>
    <nwb-item-divider class="my-2"></nwb-item-divider>
  </ng-container>
  <nwb-item-detail-info></nwb-item-detail-info>
</div>
<ng-content></ng-content>
