@import '.././../../styles/mixins/nw-icon.scss';

:host {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  background-size: cover;

  > div {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }

  &.rarity-0 {
    background-image: map-get($nw-rarity-header-bg, '0');
    div {
      background-image: map-get($nw-rarity-header-bg, '0');
    }
  }
  &.rarity-1 {
    background-image: map-get($nw-rarity-header-bg, '1');
    div {
      background-image: map-get($nw-rarity-header-bg-sprite, '1');
    }
  }
  &.rarity-2 {
    background-image: map-get($nw-rarity-header-bg, '2');
    div {
      background-image: map-get($nw-rarity-header-bg-sprite, '2');
    }
  }
  &.rarity-3 {
    background-image: map-get($nw-rarity-header-bg, '3');
    div {
      background-image: map-get($nw-rarity-header-bg-sprite, '3');
    }
  }
  &.rarity-4 {
    background-image: map-get($nw-rarity-header-bg, '4');
    div {
      background-image: map-get($nw-rarity-header-bg-sprite, '4');
    }
  }
}
