<ng-container *ngIf="vm$ | async; let vm">
  <nwb-item-detail-header-backdrop [rarity]="vm.rarity" [animated]="vm.isNamed"></nwb-item-detail-header-backdrop>
  <a [nwInfoLink]="enableInfoLink ? vm.entityId : null" [nwInfoResource]="'item'" class="relative">
    <span class="italic">{{ tier$ | async }}</span>
    <picture [nwIcon]="vm.entity" [nwRarity]="vm.rarity"></picture>
    <ng-content select=".icon-overlay"></ng-content>
  </a>
  <nwb-item-detail-header-content
    class="z-10"
    [name]="vm.name | nwText"
    [rarity]="vm.rarity"
    [rarityName]="vm.rarityName | nwText"
    [typeName]="vm.typeName | nwText"
    [sourceName]="vm.sourceLabel"
  >
    <div class="header">
      <nwb-item-marker [itemId]="vm.entityId" *ngIf="showMarker$ | async" class="text-right"></nwb-item-marker>
      <nwb-gs-tracker
        [itemId]="vm.entityId"
        *ngIf="showGsMarker$ | async"
        class="text-right mt-1 tooltip-left"
        [emptyTip]="'Track Gear Score'"
      ></nwb-gs-tracker>
    </div>
  </nwb-item-detail-header-content>
</ng-container>
<ng-content></ng-content>
