@import '.././../../styles/mixins/nw-icon.scss';

:host {
  display: grid;
  grid-template-columns: 76px auto;
  column-gap: 0.5rem;
  padding: 0.25rem;
  position: relative;
  text-shadow: 1px 1px 2px black;

  picture, a {
    width: 76px;
    height: 76px;
    z-index: 2;
  }

  aside {
    z-index: 2;
  }

  &.v-sm {
    grid-template-columns: 48px auto;
    picture, a {
      width: 48px;
      height: 48px;
    }
  }

  &.v-lg {
    grid-template-columns: 96px auto;
    picture, a {
      width: 96px;
      height: 96px;
    }
  }

  .backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;

    &.rarity-0 {
      background-image: map-get($nw-rarity-header-bg, "0");
      background-size: 100% 100%;
    }
    &.rarity-1 {
      background-image: map-get($nw-rarity-header-bg, "1");
      background-size: 100% 100%;
    }
    &.rarity-2 {
      background-image: map-get($nw-rarity-header-bg, "2");
      background-size: 100% 100%;
    }
    &.rarity-3 {
      background-image: map-get($nw-rarity-header-bg, "3");
      background-size: 100% 100%;
    }
    &.rarity-4 {
      background-image: map-get($nw-rarity-header-bg, "4");
      background-size: 100% 100%;
    }
  }

}
