<nwb-item-detail-header class="header" [item]="item"></nwb-item-detail-header>
<div class="body p-2 ">

  <p *ngIf="itemDescription" class="text-yellow-600 italic mb-2" [nwText]="itemDescription" [itemId]="itemId"></p>

  <ul class="perk-list">
    <li *ngFor="let perk of perks" class="text-sky-500 mb-2">
      <a>
        <picture>
          <img [attr.src]="perk.icon" class="inline-block">
        </picture>
        <div class="pl-2">
          <b class="mr-2">{{ perk.name}}:</b>
          <span [nwText]="perk.description" [itemId]="perk.id"></span>
        </div>
      </a>
    </li>
  </ul>
</div>
