<div *ngIf="gsLabel$ | async; let gs" class="flex">
  <img [nwImage]="'assets/icons/item/icon_gearscore.png'" class="w-14 h-14">
  <span
    cdkOverlayOrigin
    class="text-5xl font-bold rounded-md outline outline-2 outline-offset-0 outline-transparent transition-all"
    [class.hover:outline-primary]="gearScoreEditable"
    [class.hover:outline-offset-4]="gearScoreEditable"
    [class.cursor-pointer]="gearScoreEditable"
    [class.select-none]="gearScoreEditable"
    style="min-width: 3rem"
    (click)="onGearScoreEdit($event)"
    >{{ gs }}</span
  >
</div>
<div *ngFor="let row of stats$ | async">
  <b>{{ row.value }} </b> <span class="opacity-50">{{ row.label | nwText }}</span>
</div>
