<nwb-item-header class="gap-2">
  <a [nwbItemIcon]="icon()" class="w-[76px] h-[76px]"></a>
  <nwb-item-header-content class="z-10" [title]="title() | nwText" [text1]="group()" [text2]="'Emote'" />
</nwb-item-header>
<div class="p-3 flex flex-col gap-2">
  @if (description(); as text) {
    <div [nwHtml]="text | nwText" class="text-nw-description italic"></div>
    <nwb-item-divider/>
  }
  <nwb-property-grid [item]="properties()" class="overflow-auto gap-x-2 font-mono text-sm" />
  <ng-content/>
</div>
