<ion-header class="bg-base-300">
  <div class="flex flex-col-reverse md:flex-row">
    <ul class="menu menu-horizontal w-full flex-nowrap flex-1 overflow-x-auto scrollbar-hide">
      <li>
        <button
          [nwbDataCateogryMenu]
          [category]="category$ | async"
          [showCounter]="true"
          [defaultRoute]="defaultRoute"
          [defaultTitle]="title"
          [routePrefix]="'..'"
          class="btn btn-ghost normal-case text-left"
        ></button>
      </li>
      <span class="flex-1"></span>
      <li>
        <button [nwbScreenshotBtn]></button>
      </li>
      <li *ngIf="service.canToggleMode">
        <button [nwbDataViewToggle]></button>
      </li>
      <li class="hidden 2xl:flex">
        <button (click)="isFuncOpen = !isFuncOpen">
          <nwb-icon [icon]="iconFunc"></nwb-icon>
        </button>
      </li>
      <li>
        <button [nwbDataViewOptionsMenu] [disabled]="!service.isTableActive$()"></button>
      </li>
    </ul>
    <div class="flex-none p-2 w-full md:max-w-[256px]">
      <nwb-quicksearch-input [autofocus]="true" [placeholder]="'Quickfilter'"></nwb-quicksearch-input>
    </div>
  </div>
</ion-header>
<div class="flex-1 flex flex-row overflow-hidden">
  <ng-container *ngIf="service.isGridActive$()">
    <nwb-virtual-grid
      [enableQuickfilter]="true"
      [data]="service.categoryItems$ | async"
      [options]="service.virtualOptions"
      [identifyBy]="service.entityIdGetter"
      [selectionRouteParam]="selectionParam"
    ></nwb-virtual-grid>
  </ng-container>
  <ng-container *ngIf="service.isTableActive$()">
    <nwb-table-grid
      (ready$)="service.onTableReady($event)"
      [enableQuickfilter]="true"
      [data]="service.categoryItems$ | async"
      [options]="service.tableGridOptions"
      [identifyBy]="service.entityIdGetter"
      [persistKey]="persistKey"
      [filterQueryParam]="filterParam"
      [selectionRouteParam]="selectionParam"
    ></nwb-table-grid>
  </ng-container>
  <div class="w-[600px] hidden 2xl:block p-2 overflow-auto" *ngIf="isFuncOpen">
    <nwb-table-grid-expression-panel [grid]="service.agGrid$ | async"></nwb-table-grid-expression-panel>
  </div>
  <router-outlet></router-outlet>
</div>
