<nwb-detail-drawer class="hidden lg:block lg:w-96 2xl:w-[500px]" [breakpoints]="[0.15, 0.25, 0.5, 1]">
  <div
    *nwbDetailDraweContent
    class="layout-content p-2 bg-base-200"
    [nwbStatusEffectDetail]="itemId | async"
    (nwbStatusEffectChange)="onEntity($event)"
    #detail="effectDetail"
  >
    <div class="flex flex-col gap-2 bg-base-200" [nwbScreenshotFrame]="itemId | async">
      <nwb-status-effect-detail [effectId]="itemId | async" class="bg-black"> </nwb-status-effect-detail>

      <ng-container *ngFor="let effectId of detail.refEffects$ | async; let isFirst = first">
        <h3 *ngIf="isFirst" class="prose">Referenced Status Effects:</h3>
        <nwb-status-effect-detail [effectId]="effectId" class="bg-black"></nwb-status-effect-detail>
      </ng-container>

      <ng-container *ngFor="let abilityId of detail.refAbilities$ | async; let isFirst = first">
        <h3 *ngIf="isFirst" class="prose">Referenced Abilities:</h3>
        <nwb-ability-detail [abilityId]="abilityId" class="bg-black"></nwb-ability-detail>
      </ng-container>

      <ng-container *ngFor="let itemId of detail.foreignItems$ | async; let isFirst = first">
        <h3 *ngIf="isFirst" class="prose">Referenced By Items:</h3>
        <nwb-item-card [entityId]="itemId" [disableInfo]="true" [enableLink]="true" class="bg-black"></nwb-item-card>
      </ng-container>

      <ng-container *ngFor="let abilityId of detail.foreignAbilities$ | async; let isFirst = first">
        <h3 *ngIf="isFirst" class="prose">Referenced By Abilities:</h3>
        <nwb-ability-detail [abilityId]="abilityId" class="bg-black"></nwb-ability-detail>
      </ng-container>

      <ng-container *ngFor="let perkId of detail.foreignPerks$ | async; let isFirst = first">
        <h3 *ngIf="isFirst" class="prose">Referenced By Perks:</h3>
        <nwb-perk-detail [perkId]="perkId" class="bg-black"></nwb-perk-detail>
      </ng-container>
    </div>
  </div>
</nwb-detail-drawer>
