<div class="flex flex-col gap-1">
  <nwb-label-control [value]="store.attackerLevel()" [percent]="false" [format]="'0.0-0'">
    Attacker Level
  </nwb-label-control>

  <nwb-label-control [value]="store.attackerGearScore()" [percent]="false" [format]="'0.0-0'">
    Attacker GS
  </nwb-label-control>

  <nwb-label-control [value]="store.weaponGearScore()" [percent]="false" [format]="'0.0-0'">
    Weapon GS
  </nwb-label-control>

  @if (store.convertPercent()) {
    <nwb-label-control [value]="store.convertPercent()" [percent]="true" [format]="'0.0-0'" class="text-secondary">
      Damage Conversion
    </nwb-label-control>

    <!-- <div class="form-control">
      <label class="input-group input-group-sm whitespace-nowrap">
        <span class="flex-1 w-32 flex justify-between">
          <span class="px-0">Prefer Higher Scaling</span>
        </span>
        <span class="w-20 inline-block text-right pl-0">
          {{ store.preferHigherScaling() ? 'yes' : 'no' }}
        </span>
      </label>
    </div> -->
  }

  <nwb-tweak-control
    [leftValue]="store.baseDamage()"
    [rightValue]="store.baseDamageSum()"
    [tweakValue]="store.baseDamageTweak()"
    [step]="1"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakBaseDamage($event)"
    [tooltip]="baseDamageTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Base Damage </span>
    <ng-template #baseDamageTip>
      <div class="p-2 prose prose-sm">
        <h4>Weapons base damage</h4>
        <p>Use the input field to tweak the value</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.damageCoef()"
    [rightValue]="store.damageCoefSum()"
    [tweakValue]="store.damageCoefTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDamageCoef($event)"
    [tooltip]="damageCoefTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Damage Coef </span>
    <ng-template #damageCoefTip>
      <div class="p-2 prose prose-sm">
        <h4>Attack Damage Coefficient</h4>
        <p>Use the input field to tweak the value</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <br />

  <nwb-tweak-control
    [leftValue]="store.pvpMods()"
    [rightValue]="store.pvpModsSum()"
    [tweakValue]="store.pvpModsTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakPvpMods($event)"
    [tooltip]="pvpModsTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> PvP Mod </span>
    <ng-template #pvpModsTip>
      <div class="p-2 prose prose-sm">
        <h4>PvP Scaling Modifier</h4>
        <p>
          Usually active in a PvP game mode for certain weapons.
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.ammoMods()"
    [rightValue]="store.ammoModsSum()"
    [tweakValue]="store.ammoModsTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakAmmoMods($event)"
    [tooltip]="ammoModsTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Ammo Mod </span>
    <ng-template #ammoModsTip>
      <div class="p-2 prose prose-sm">
        <h4>Ammo Modifier</h4>
        <p>
          Ammunition like arrows for bows increase its damage.<br>
          For example a value of <code>20%</code> simulates a multiplier of<code>x1.2</code>
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.baseMods()"
    [rightValue]="store.baseModsSum()"
    [tweakValue]="store.baseModsTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakBaseMods($event)"
    [tooltip]="baseModsTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0">
      <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 mr-2" />
      Base Mod
    </span>
    <ng-template #baseModsTip>
      <div class="p-2 prose prose-sm">
        <h4>Base Damage Modifier</h4>
        <p>This is applied to the unconverted weapon damage</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  @if (store.convertPercent()) {
    <nwb-tweak-control
      [leftValue]="store.convertBaseMods()"
      [rightValue]="store.convertBaseModsSum()"
      [tweakValue]="store.convertBaseModsTweak()"
      [step]="1"
      [percent]="true"
      [format]="'0.0-0'"
      (tweakValueChange)="store.tweakConvertBaseMods($event)"
      [tooltip]="convertBaseModsTip"
      [tooltipPlacement]="'left'"
    >
      <span class="px-0 text-secondary">
        <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 mr-2" />
        Base Mod
      </span>
      <ng-template #convertBaseModsTip>
        <div class="p-2 prose prose-sm">
          <h4>Base Damage Modifier</h4>
          <p>This is applied to the <span class="text-secondary">converted</span> damage</p>
        </div>
      </ng-template>
    </nwb-tweak-control>
  }

  <nwb-tweak-control
    [leftValue]="store.critMods()"
    [rightValue]="store.critModsSum()"
    [tweakValue]="store.critModsTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakCritMods($event)"
    [tooltip]="critModsTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Crit Mod </span>
    <ng-template #critModsTip>
      <div class="p-2 prose prose-sm">
        <h4>Critical Damage Modifier</h4>
        <p>
          Increases damage for critical hits. <br />
          Has an ingame limit of <code>+200%</code>
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.empowerMods()"
    [rightValue]="store.empowerModsSum()"
    [tweakValue]="store.empowerModsTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakEmpowerMods($event)"
    [tooltip]="empowerModsTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0">
      <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 mr-2" />
      Empower Mod
    </span>
    <ng-template #empowerModsTip>
      <div class="p-4 prose prose-sm">
        <h4>Empower / Weaken Modifier</h4>
        <p class="leading-tight">
          Increases the <code>DMG</code> multiplier by <code>[-50%, +50%]</code>. <br>
          These caps can be exceeded in certain scenarios.
          <br>
          <br>
          Use the input field to simulate additional empower (increase value) or weaken (decrease value).
          <br>
          <br>
          This is applied to the unconverted damage
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  @if (store.convertPercent()) {
    <nwb-tweak-control
      class="text-secondary"
      [leftValue]="store.convertEmpowerMods()"
      [rightValue]="store.convertEmpowerModsSum()"
      [tweakValue]="store.convertEmpowerModsTweak()"
      [step]="1"
      [percent]="true"
      [format]="'0.0-0'"
      (tweakValueChange)="store.tweakConvertEmpowerMods($event)"
      [tooltip]="convertEmpowerModsTip"
      [tooltipPlacement]="'left'"
    >
      <span class="px-0">
        <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 mr-2" />
        Empower Mod
      </span>
      <ng-template #convertEmpowerModsTip>
        <div class="p-4 prose prose-sm">
          <h4>Empower / Weaken Modifier</h4>
          <p class="leading-tight">
            Increases the <code>DMG</code> multiplier by <code>[-50%, +50%]</code>. <br>
            These caps can be exceeded in certain scenarios.
            <br>
            <br>
            Use the input field to simulate additional empower (increase value) or weaken (decrease value).
            <br>
            <br>
            This is applied to the <span class="text-secondary">converted</span> damage
          </p>
        </div>
      </ng-template>
    </nwb-tweak-control>
  }

  <br />
  <nwb-tweak-control
    [leftValue]="store.defenderLevel()"
    [rightValue]="store.defenderLevelSum()"
    [tweakValue]="store.defenderLevelTweak()"
    [step]="1"
    [percent]="false"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDefenderLevel($event)"
    [tooltip]="defenderLevelTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Defender Level </span>
    <ng-template #defenderLevelTip>
      <div class="p-2 prose prose-sm leading-tight">
        <h4>Defender Level</h4>
        <p>PvP specific. A defender with lower Gear Score than the attacker will receive less damage.</p>
      </div>
    </ng-template>
  </nwb-tweak-control>
  <nwb-tweak-control
    [leftValue]="store.defenderGearScore()"
    [rightValue]="store.defenderGearScoreSum()"
    [tweakValue]="store.defenderGearScoreTweak()"
    [step]="1"
    [percent]="false"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDefenderGearScore($event)"
    [tooltip]="defenderGearScoreTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0" > Defender GS </span>
    <ng-template #defenderGearScoreTip>
      <div class="p-2 prose prose-sm leading-tight">
        <h4>Defender Gear Score</h4>
        <p>PvP specific. A defender with lower Gear Score than the attacker will receive less damage.</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.defenderRatingPhys()"
    [rightValue]="store.defenderRatingPhysSum()"
    [tweakValue]="store.defenderRatingPhysTweak()"
    [step]="1"
    [percent]="false"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDefenderRatingPhys($event)"
    [tooltip]="defenderRatingPhysTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Armor Physical </span>
    <ng-template #defenderRatingPhysTip>
      <div class="p-2 prose prose-sm leading-tight">
        <h4>Physical armor rating</h4>
        <p>The defenders armor rating against physical attacks.</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.defenderRatingElem()"
    [rightValue]="store.defenderRatingElemSum()"
    [tweakValue]="store.defenderRatingElemTweak()"
    [step]="1"
    [percent]="false"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDefenderRatingElem($event)"
    [tooltip]="defenderRatingElemTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Armor Elemental </span>
    <ng-template #defenderRatingElemTip>
      <div class="p-2 prose prose-sm leading-tight">
        <h4>Elemental armor rating</h4>
        <p>The defenders armor rating against elemental attacks.</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.defenderABSWeapon()"
    [rightValue]="store.defenderABSWeaponSum()"
    [tweakValue]="store.defenderABSWeaponTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDefenderABSWeapon($event)"
    [tooltip]="defenderABSWeaponTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0">
      <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 mr-2" />
      Fortify
    </span>
    <ng-template #defenderABSWeaponTip>
      <div class="p-2 prose prose-sm leading-tight">
        <h4>Fortify / Rend</h4>
        <p>
          Increases the <code>ABS</code> multiplier by <code>[-30%, +50%]</code>. <br>
          These caps can be exceeded in certain scenarios.
          <br>
          <br>
          Use the input field to simulate additional fortify (increase value) or rend (decrease value).
          <br>
          <br>
          This is applied to the unconverted damage.
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  @if (store.convertPercent()) {
    <nwb-tweak-control
      [leftValue]="store.defenderABSConverted()"
      [rightValue]="store.defenderABSConvertedSum()"
      [tweakValue]="store.defenderABSConvertedTweak()"
      [step]="1"
      [percent]="true"
      [format]="'0.0-0'"
      (tweakValueChange)="store.tweakDefenderABSConverted($event)"
      [tooltip]="defenderABSConvertedTip"
      [tooltipPlacement]="'left'"
    >
      <span class="px-0 text-secondary">
        <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 mr-2" />
        Fortify
      </span>
      <ng-template #defenderABSConvertedTip>
        <div class="p-2 prose prose-sm leading-tight">
          <h4>Fortify / Rend</h4>
          <p>
            Increases the <code>ABS</code> multiplier by <code>[-30%, +50%]</code>. <br>
            These caps can be exceeded in certain scenarios.
            <br>
            <br>
            Use the input field to simulate additional fortify (increase value) or rend (decrease value).
            <br>
            <br>
            This is applied to the <span class="text-secondary">converted</span> damage.
          </p>
        </div>
      </ng-template>
    </nwb-tweak-control>
  }

  <nwb-tweak-control
    [leftValue]="store.defenderWKNWeapon()"
    [rightValue]="store.defenderWKNWeaponSum()"
    [tweakValue]="store.defenderWKNWeaponTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDefenderWKNWeapon($event)"
    [tooltip]="defenderWKNWeaponTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0">
      <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 mr-2" />
      Weakness
    </span>
    <ng-template #defenderWKNWeaponTip>
      <div class="p-2 prose prose-sm leading-tight">
        <h4>Weakness</h4>
        <p>
          The weakness agains <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 inline m-0" /> damage type.
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  @if (store.convertPercent()) {
    <nwb-tweak-control
      [leftValue]="store.defenderWKNConverted()"
      [rightValue]="store.defenderWKNConvertedSum()"
      [tweakValue]="store.defenderWKNConvertedTweak()"
      [step]="1"
      [percent]="true"
      [format]="'0.0-0'"
      (tweakValueChange)="store.tweakDefenderWKNConverted($event)"
      [tooltip]="defenderWKNConvertedTip"
      [tooltipPlacement]="'left'"
    >
      <span class="px-0 text-secondary">
        <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 mr-2" />
        Weakness
      </span>
      <ng-template #defenderWKNConvertedTip>
        <div class="p-2 prose prose-sm leading-tight">
          <h4>Weakness</h4>
          <p>
            The weakness agains <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 inline m-0" /> damage type.
          </p>
        </div>
      </ng-template>
    </nwb-tweak-control>
  }

  <br />
  <table class="table table-compact rounded-md overflow-clip text-right">
    <tr class="bg-base-300">
      <th>Std</th>
      <th>Raw</th>
      <th>Mitigation</th>
      <th>Effective</th>
    </tr>
    @if (store.output().weapon; as damage) {
      <tr class="text-right">
        <td>
          <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 ml-2" />
        </td>
        <td class="font-mono">{{ damage.std | floor | number }}</td>
        <td class="font-mono">-{{ damage.stdMitigated | floor | number }}</td>
        <td class="font-mono">{{ damage.stdFinal | floor | number }}</td>
      </tr>
      @if (store.convertPercent() && store.output().converted; as damage) {
        <tr class="text-right text-secondary">
          <td>
            <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 ml-2" />
          </td>
          <td class="font-mono">{{ damage.std | floor | number }}</td>
          <td class="font-mono">-{{ damage.stdMitigated | floor | number }}</td>
          <td class="font-mono">{{ damage.stdFinal | floor | number }}</td>
        </tr>
      }
      @if (store.convertPercent() && store.output().total; as damage) {
        <tr class="text-right">
          <td></td>
          <td class="font-mono">{{ damage.std | floor | number }}</td>
          <td class="font-mono">-{{ damage.stdMitigated | floor | number }}</td>
          <td class="font-mono">{{ damage.stdFinal | floor | number }}</td>
        </tr>
      }
    }

    <tr class="bg-base-300">
      <th class="text-primary">Crit</th>
      <th>Raw</th>
      <th>Mitigation</th>
      <th>Effective</th>
    </tr>

    @if (store.output().weapon; as damage) {
      <tr class="text-right">
        <td>
          <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 ml-2" />
        </td>
        <td class="font-mono">{{ damage.crit | floor | number }}</td>
        <td class="font-mono">-{{ damage.critMitigated | floor | number }}</td>
        <td class="font-mono">{{ damage.critFinal | floor | number }}</td>
      </tr>
      @if (store.convertPercent() && store.output().converted; as damage) {
        <tr class="text-right text-secondary">
          <td>
            <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 ml-2" />
          </td>
          <td class="font-mono">{{ damage.crit | floor | number }}</td>
          <td class="font-mono">-{{ damage.critMitigated | floor | number }}</td>
          <td class="font-mono">{{ damage.critFinal | floor | number }}</td>
        </tr>
      }

      @if (store.convertPercent() && store.output().total; as damage) {
        <tr class="text-right font-bold">
          <td></td>
          <td class="font-mono">{{ damage.crit | floor | number }}</td>
          <td class="font-mono">-{{ damage.critMitigated | floor | number }}</td>
          <td class="font-mono">{{ damage.critFinal | floor | number }}</td>
        </tr>
      }
    }
  </table>
</div>
