<div class="flex flex-col gap-1">
  <nwb-tweak-control
    [leftValue]="store.attackerLevel()"
    [rightValue]="store.attackerLevelSum()"
    [tweakValue]="store.attackerLevelTweak()"
    [step]="1"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakAttackerLevel($event)"
    [tooltip]="attackerLevelTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Attacker Level </span>
    <ng-template #attackerLevelTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Attacker Level</h4>
        <p>
          Damage is scaled off the attacker level.
          <br />
          <br />
          Additionally in PvP game modes the level difference between attacker and defender is taken into account.
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.attackerGearScore()"
    [rightValue]="store.attackerGearScoreSum()"
    [tweakValue]="store.attackerGearScoreTweak()"
    [step]="1"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakAttackerGearScore($event)"
    [tooltip]="attackerGearScoreTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Attacker GS </span>
    <ng-template #attackerGearScoreTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Attacker Gear Score</h4>
        <p>
          The average gear score of the attacker.
          <br />
          <br />
          In PvP game modes the gear score difference between attacker and defender is taken into account.
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.weaponGearScore()"
    [rightValue]="store.weaponGearScoreSum()"
    [tweakValue]="store.weaponGearScoreTweak()"
    [step]="1"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakWeaponGearScore($event)"
    [tooltip]="weaponGearScoreTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Weapon GS </span>
    <ng-template #weaponGearScoreTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Weapon Gear Score</h4>
        <p>The actual gear score of the weapon that is being used.</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  @if (store.convertPercent()) {
    <nwb-label-control
      [value]="store.convertPercent()"
      [percent]="true"
      [format]="'0.0-0'"
      class="text-secondary"
      [tooltip]="convertPercentTip"
      [tooltipPlacement]="'left'"
    >
      Damage Conversion

      <ng-template #convertPercentTip>
        <div class="p-2 prose prose-sm leading-tight w-80">
          <h4>Damage Conversion</h4>
          <p>The percentage of weapon damage which is converted to another damage type.</p>
        </div>
      </ng-template>
    </nwb-label-control>

    <!-- <div class="form-control">
      <label class="join whitespace-nowrap">
        <span class="flex-1 w-32 flex justify-between">
          <span class="px-0">Prefer Higher Scaling</span>
        </span>
        <span class="w-20 inline-block text-right pl-0">
          {{ store.preferHigherScaling() ? 'yes' : 'no' }}
        </span>
      </label>
    </div> -->
  }

  <nwb-tweak-control
    [leftValue]="store.baseDamage()"
    [rightValue]="store.baseDamageSum()"
    [tweakValue]="store.baseDamageTweak()"
    [step]="1"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakBaseDamage($event)"
    [tooltip]="baseDamageTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Base Damage </span>
    <ng-template #baseDamageTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Weapons base damage</h4>
        <p>The base damage of the selected weapon type.</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.damageCoef()"
    [rightValue]="store.damageCoefSum()"
    [tweakValue]="store.damageCoefTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDamageCoef($event)"
    [tooltip]="damageCoefTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Damage Coef </span>
    <ng-template #damageCoefTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Attack Damage Coefficient</h4>
        <p>The damage coefficient of current attack.</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <span class="my-1"></span>

  <nwb-tweak-control
    [leftValue]="store.pvpMods()"
    [rightValue]="store.pvpModsSum()"
    [tweakValue]="store.pvpModsTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakPvpMods($event)"
    [tooltip]="pvpModsTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> PvP Mod </span>
    <ng-template #pvpModsTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>PvP Scaling Modifier</h4>
        <p>In PvP game modes some weapons have a pvp scaling modifier active.</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.ammoMods()"
    [rightValue]="store.ammoModsSum()"
    [tweakValue]="store.ammoModsTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakAmmoMods($event)"
    [tooltip]="ammoModsTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Ammo Mod </span>
    <ng-template #ammoModsTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Ammo Modifier</h4>
        <p>
          Ammunition like arrows for bows increase its damage.<br />
          For example a value of <code>20%</code> simulates a multiplier of<code>x1.2</code>
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.baseMods()"
    [rightValue]="store.baseModsSum()"
    [tweakValue]="store.baseModsTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakBaseMods($event)"
    [tooltip]="baseModsTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0">
      <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 mr-2" />
      Base Mod
    </span>
    <ng-template #baseModsTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Base Damage Modifier</h4>
        <p>This is applied to the unconverted weapon damage</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  @if (store.convertPercent()) {
    <nwb-tweak-control
      [leftValue]="store.convertBaseMods()"
      [rightValue]="store.convertBaseModsSum()"
      [tweakValue]="store.convertBaseModsTweak()"
      [step]="1"
      [percent]="true"
      [format]="'0.0-0'"
      (tweakValueChange)="store.tweakConvertBaseMods($event)"
      [tooltip]="convertBaseModsTip"
      [tooltipPlacement]="'left'"
    >
      <span class="px-0 text-secondary">
        <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 mr-2" />
        Base Mod
      </span>
      <ng-template #convertBaseModsTip>
        <div class="p-2 prose prose-sm leading-tight w-80">
          <h4>Base Damage Modifier</h4>
          <p>This is applied to the <span class="text-secondary">converted</span> damage</p>
        </div>
      </ng-template>
    </nwb-tweak-control>
  }

  <nwb-tweak-control
    [leftValue]="store.critMods()"
    [rightValue]="store.critModsSum()"
    [tweakValue]="store.critModsTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakCritMods($event)"
    [tooltip]="critModsTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Crit Mod </span>
    <ng-template #critModsTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Critical Damage Modifier</h4>
        <p>
          Increases damage for critical hits. <br />
          Has an ingame limit of <code>+200%</code>
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.empowerMods()"
    [rightValue]="store.empowerModsSum()"
    [tweakValue]="store.empowerModsTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakEmpowerMods($event)"
    [tooltip]="empowerModsTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0">
      <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 mr-2" />
      Empower Mod
    </span>
    <ng-template #empowerModsTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Empower / Weaken Modifier</h4>
        <p class="leading-tight">
          Affects the <code class="mx-0">DMG</code> multiplier. Common limits are
          <code class="mx-0 whitespace-nowrap">[-50%, +50%]</code>
          These caps can be exceeded in certain scenarios.
          <br />
          <br />
          Use the input field to simulate additional empower (increase value) or weaken (decrease value).
          <br />
          <br />
          This is applied to the unconverted damage
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  @if (store.convertPercent()) {
    <nwb-tweak-control
      class="text-secondary"
      [leftValue]="store.convertEmpowerMods()"
      [rightValue]="store.convertEmpowerModsSum()"
      [tweakValue]="store.convertEmpowerModsTweak()"
      [step]="1"
      [percent]="true"
      [format]="'0.0-0'"
      (tweakValueChange)="store.tweakConvertEmpowerMods($event)"
      [tooltip]="convertEmpowerModsTip"
      [tooltipPlacement]="'left'"
    >
      <span class="px-0">
        <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 mr-2" />
        Empower Mod
      </span>
      <ng-template #convertEmpowerModsTip>
        <div class="p-2 prose prose-sm leading-tight w-80">
          <h4>Empower / Weaken Modifier</h4>
          <p class="leading-tight">
            Affects the <code class="mx-0">DMG</code> multiplier. Common limits are
            <code class="mx-0 whitespace-nowrap">[-50%, +50%]</code>
            These caps can be exceeded in certain scenarios.
            <br />
            <br />
            Use the input field to simulate additional empower (increase value) or weaken (decrease value).
            <br />
            <br />
            This is applied to the <span class="text-secondary">converted</span> damage
          </p>
        </div>
      </ng-template>
    </nwb-tweak-control>
  }

  <span class="my-1"></span>

  <div class="btn-group btn-group-horizontal">


  </div>
  <label class="join whitespace-nowrap">
    <span class="flex-1 flex justify-between">
      Mode
    </span>
    <button (click)="setPvPMode()" class="btn btn-sm" [class.text-primary]="store.defenderIsPlayer()">PvP</button>
    <button (click)="setPvEMode()" class="btn btn-sm" [class.text-primary]="!store.defenderIsPlayer()">PvE</button>
    <button (click)="pickVitalDefender()" class="btn btn-sm btn-square" >
      <nwb-icon [icon]="svgMore" class="w-4 h-4"/>
    </button>
  </label>


  <nwb-tweak-control
    [leftValue]="store.defenderLevel()"
    [rightValue]="store.defenderLevelSum()"
    [tweakValue]="store.defenderLevelTweak()"
    [step]="1"
    [percent]="false"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDefenderLevel($event)"
    [tooltip]="defenderLevelTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Defender Level </span>
    <ng-template #defenderLevelTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Defender Level</h4>
        <p>
          PvP: Damage scaling based on level difference is active. Attacker with higher level will deal less damage.
          <br />
          <br />
          PvE: The creature level also defines its gear score.
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-tweak-control
    [leftValue]="store.defenderGearScore()"
    [rightValue]="store.defenderGearScoreSum()"
    [tweakValue]="store.defenderGearScoreTweak()"
    [step]="1"
    [percent]="false"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDefenderGearScore($event)"
    [tooltip]="defenderGearScoreTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0"> Defender GS </span>
    <ng-template #defenderGearScoreTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Defender Gear Score</h4>
        <p>
          PvP: A defender with lower Gear Score than the attacker will receive less damage.
          <br />
          <br />
          PvE: The gear score is given by creature level.
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  <nwb-collapsible [collapsed]="true" #defenderArmorPhysCol="collapsible" class="bg-base-300 rounded-md overflow-clip">
    <nwb-label-control
      label
      (click)="defenderArmorPhysCol.toggle()"
      [value]="store.defenderArmorRatingPhys()"
      [isTweaked]="!!(store.defenderArmorPhysTweak() || store.defenderArmorPhysFortTweak() || store.defenderArmorPhysAddTweak())"
      [percent]="false"
      [format]="'0.0-0'"
      class="cursor-pointer"
      [tooltip]="defenderArmorPhysTip"
      [tooltipPlacement]="'left'"
    >
      Physical Armor
      <span end class="pl-0">
        <nwb-icon
          [icon]="svgChevronLeft"
          class="w-4 h-4 transition-transform"
          [class.-rotate-180]="defenderArmorPhysCol.collapsed"
          [class.-rotate-90]="!defenderArmorPhysCol.collapsed"
        />
      </span>
      <ng-template #defenderArmorPhysTip>
        <div class="p-2 prose prose-sm leading-tight w-80">
          <h4>Physical Armor</h4>
          <p>The defenders total armor rating against physical attacks.</p>
        </div>
      </ng-template>
    </nwb-label-control>

    <div class="flex flex-col gap-[1px] py-1">
      <nwb-tweak-control
        [leftValue]="store.defenderArmorPhys()"
        [rightValue]="store.defenderArmorPhysSum()"
        [tweakValue]="store.defenderArmorPhysTweak()"
        [step]="1"
        [percent]="false"
        [format]="'0.0-0'"
        (tweakValueChange)="store.tweakDefenderArmorPhys($event)"
        [tooltip]="defenderArmorPhysBaseTip"
        [tooltipPlacement]="'left'"
      >
        <span class="px-0"> Armor Base </span>
        <ng-template #defenderArmorPhysBaseTip>
          <div class="p-2 prose prose-sm leading-tight w-80">
            <h4>Physical Armor - Base</h4>
            <p>
              The sum of all armor values from equipped gear, except shield. <br />
            </p>
          </div>
        </ng-template>
      </nwb-tweak-control>

      <nwb-tweak-control
        [leftValue]="store.defenderArmorPhysFort()"
        [rightValue]="store.defenderArmorPhysFortSum()"
        [tweakValue]="store.defenderArmorPhysFortTweak()"
        [step]="1"
        [percent]="true"
        [format]="'0.0-0'"
        (tweakValueChange)="store.tweakDefenderArmorPhysFort($event)"
        [tooltip]="defenderArmorPhysFortTip"
        [tooltipPlacement]="'left'"
      >
        <span class="px-0"> Armor Fortify Mod </span>
        <ng-template #defenderArmorPhysFortTip>
          <div class="p-2 prose prose-sm leading-tight w-80">
            <h4>Armor Fortify Modifier</h4>
            <p>
              Percentage of base value that adds to final armor rating. <br />
            </p>
          </div>
        </ng-template>
      </nwb-tweak-control>

      <nwb-tweak-control
        [leftValue]="store.defenderArmorPhysAdd()"
        [rightValue]="store.defenderArmorPhysAddSum()"
        [tweakValue]="store.defenderArmorPhysAddTweak()"
        [step]="1"
        [percent]="false"
        [format]="'0.0-0'"
        (tweakValueChange)="store.tweakDefenderArmorPhysAdd($event)"
        [tooltip]="defenderArmorPhysAddTip"
        [tooltipPlacement]="'left'"
      >
        <span class="px-0"> Armor Shield </span>
        <ng-template #defenderArmorPhysAddTip>
          <div class="p-2 prose prose-sm leading-tight w-80">
            <h4>Additional Physical Armor</h4>
            <p>
              The additional physical armor that is not affected byt the fortify modifier. <br />
              This is usually the shield armor value.
            </p>
          </div>
        </ng-template>
      </nwb-tweak-control>
    </div>
  </nwb-collapsible>

  <nwb-collapsible [collapsed]="true" #defenderArmorElemCol="collapsible" class="bg-base-300 rounded-md overflow-clip">
    <nwb-label-control
      label
      (click)="defenderArmorElemCol.toggle()"
      [value]="store.defenderArmorRatingElem()"
      [isTweaked]="!!(store.defenderArmorElemTweak() || store.defenderArmorElemFortTweak() || store.defenderArmorElemAddTweak())"
      [percent]="false"
      [format]="'0.0-0'"
      class="cursor-pointer"
      [tooltip]="defenderArmorElemTip"
      [tooltipPlacement]="'left'"
    >
      Elemental Armor
      <span end class="pl-0">
        <nwb-icon
          [icon]="svgChevronLeft"
          class="w-4 h-4 transition-transform"
          [class.-rotate-180]="defenderArmorElemCol.collapsed"
          [class.-rotate-90]="!defenderArmorElemCol.collapsed"
        />
      </span>
      <ng-template #defenderArmorElemTip>
        <div class="p-2 prose prose-sm leading-tight w-80">
          <h4>Elemental Armor</h4>
          <p>The defenders total armor rating against elemetnal attacks.</p>
        </div>
      </ng-template>
    </nwb-label-control>

    <div class="flex flex-col gap-[1px] py-1">
      <nwb-tweak-control
        [leftValue]="store.defenderArmorElem()"
        [rightValue]="store.defenderArmorElemSum()"
        [tweakValue]="store.defenderArmorElemTweak()"
        [step]="1"
        [percent]="false"
        [format]="'0.0-0'"
        (tweakValueChange)="store.tweakDefenderArmorElem($event)"
        [tooltip]="defenderArmorElemTip"
        [tooltipPlacement]="'left'"
      >
        <span class="px-0"> Armor Base </span>
        <ng-template #defenderArmorElemTip>
          <div class="p-2 prose prose-sm leading-tight w-80">
            <h4>Elemental Armor - Base</h4>
            <p>
              The sum of all armor values from equipped gear, except shield. <br />
            </p>
          </div>
        </ng-template>
      </nwb-tweak-control>

      <nwb-tweak-control
        [leftValue]="store.defenderArmorElemFort()"
        [rightValue]="store.defenderArmorElemFortSum()"
        [tweakValue]="store.defenderArmorElemFortTweak()"
        [step]="1"
        [percent]="true"
        [format]="'0.0-0'"
        (tweakValueChange)="store.tweakDefenderArmorElemFort($event)"
        [tooltip]="defenderArmorElemFortTip"
        [tooltipPlacement]="'left'"
      >
        <span class="px-0"> Armor Fortify Mod </span>
        <ng-template #defenderArmorElemFortTip>
          <div class="p-2 prose prose-sm leading-tight w-80">
            <h4>Armor Fortify Modifier</h4>
            <p>
              Percentage of base value that adds to final armor rating. <br />
            </p>
          </div>
        </ng-template>
      </nwb-tweak-control>

      <nwb-tweak-control
        [leftValue]="store.defenderArmorElemAdd()"
        [rightValue]="store.defenderArmorElemAddSum()"
        [tweakValue]="store.defenderArmorElemAddTweak()"
        [step]="1"
        [percent]="false"
        [format]="'0.0-0'"
        (tweakValueChange)="store.tweakDefenderArmorElemAdd($event)"
        [tooltip]="defenderArmorElemAddTip"
        [tooltipPlacement]="'left'"
      >
        <span class="px-0"> Armor Shield </span>
        <ng-template #defenderArmorElemAddTip>
          <div class="p-2 prose prose-sm leading-tight w-80">
            <h4>Additional Elemental Armor</h4>
            <p>
              The additional elemental armor that is not affected byt the fortify modifier. <br />
              This is usually the shield armor value.
            </p>
          </div>
        </ng-template>
      </nwb-tweak-control>
    </div>
  </nwb-collapsible>

  <nwb-tweak-control
    [leftValue]="store.defenderABSWeapon()"
    [rightValue]="store.defenderABSWeaponSum()"
    [tweakValue]="store.defenderABSWeaponTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDefenderABSWeapon($event)"
    [tooltip]="defenderABSWeaponTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0">
      <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 mr-2" />
      Fortify
    </span>
    <ng-template #defenderABSWeaponTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Fortify / Rend</h4>
        <p>
          Affects the <code class="mx-0">ABS</code> multiplier. Common limits are
          <code class="mx-0 whitespace-nowrap">[-30%, +50%]</code>
          These caps can be exceeded in certain scenarios.
          <br />
          <br />
          Use the input field to simulate additional fortify (increase value) or rend (decrease value).
          <br />
          <br />
          This is applied to the unconverted damage
        </p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  @if (store.convertPercent()) {
    <nwb-tweak-control
      [leftValue]="store.defenderABSConverted()"
      [rightValue]="store.defenderABSConvertedSum()"
      [tweakValue]="store.defenderABSConvertedTweak()"
      [step]="1"
      [percent]="true"
      [format]="'0.0-0'"
      (tweakValueChange)="store.tweakDefenderABSConverted($event)"
      [tooltip]="defenderABSConvertedTip"
      [tooltipPlacement]="'left'"
    >
      <span class="px-0 text-secondary">
        <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 mr-2" />
        Fortify
      </span>
      <ng-template #defenderABSConvertedTip>
        <div class="p-2 prose prose-sm leading-tight w-80">
          <h4>Fortify / Rend</h4>
          <p>
            Affects the <code class="mx-0">ABS</code> multiplier. Common limits are
            <code class="mx-0 whitespace-nowrap">[-30%, +50%]</code>
            These caps can be exceeded in certain scenarios.
            <br />
            <br />
            Use the input field to simulate additional fortify (increase value) or rend (decrease value).
            <br />
            <br />
            This is applied to the <span class="text-secondary">converted</span> damage.
          </p>
        </div>
      </ng-template>
    </nwb-tweak-control>
  }

  <nwb-tweak-control
    [leftValue]="store.defenderWKNWeapon()"
    [rightValue]="store.defenderWKNWeaponSum()"
    [tweakValue]="store.defenderWKNWeaponTweak()"
    [step]="1"
    [percent]="true"
    [format]="'0.0-0'"
    (tweakValueChange)="store.tweakDefenderWKNWeapon($event)"
    [tooltip]="defenderWKNWeaponTip"
    [tooltipPlacement]="'left'"
  >
    <span class="px-0">
      <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 mr-2" />
      Weakness
    </span>
    <ng-template #defenderWKNWeaponTip>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Weakness</h4>
        <p>The weakness agains <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 inline m-0" /> damage type.</p>
      </div>
    </ng-template>
  </nwb-tweak-control>

  @if (store.convertPercent()) {
    <nwb-tweak-control
      [leftValue]="store.defenderWKNConverted()"
      [rightValue]="store.defenderWKNConvertedSum()"
      [tweakValue]="store.defenderWKNConvertedTweak()"
      [step]="1"
      [percent]="true"
      [format]="'0.0-0'"
      (tweakValueChange)="store.tweakDefenderWKNConverted($event)"
      [tooltip]="defenderWKNConvertedTip"
      [tooltipPlacement]="'left'"
    >
      <span class="px-0 text-secondary">
        <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 mr-2" />
        Weakness
      </span>
      <ng-template #defenderWKNConvertedTip>
        <div class="p-2 prose prose-sm leading-tight w-80">
          <h4>Weakness</h4>
          <p>The weakness agains <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 inline m-0" /> damage type.</p>
        </div>
      </ng-template>
    </nwb-tweak-control>
  }

  <span class="my-1"></span>

  <nwb-collapsible [collapsed]="true" #stdDmgCol="collapsible" class="bg-base-300 rounded-md overflow-clip">
    <nwb-label-control
      label
      (click)="stdDmgCol.toggle()"
      [value]="store.output()?.total?.stdFinal"
      [percent]="false"
      [format]="'0.0-0'"
      class="cursor-pointer"
    >
      Standard Damage
      <span end class="pl-0">
        <nwb-icon
          [icon]="svgChevronLeft"
          class="w-4 h-4 transition-transform"
          [class.-rotate-180]="defenderArmorPhysCol.collapsed"
          [class.-rotate-90]="!defenderArmorPhysCol.collapsed"
        />
      </span>
    </nwb-label-control>

    <table class="w-full table table-compact rounded-md overflow-clip text-right">
      <tr class="bg-base-300">
        <th></th>
        <th>Raw</th>
        <th>Mitigation</th>
        <th>Effective</th>
      </tr>
      @if (store.output().weapon; as damage) {
        <tr class="text-right">
          <td>
            <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 ml-2" />
          </td>
          <td class="font-mono">{{ damage.std | floor | number }}</td>
          <td class="font-mono">-{{ damage.stdMitigated | floor | number }}</td>
          <td class="font-mono">{{ damage.stdFinal | floor | number }}</td>
        </tr>
        @if (store.convertPercent() && store.output().converted; as damage) {
          <tr class="text-right text-secondary">
            <td>
              <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 ml-2" />
            </td>
            <td class="font-mono">{{ damage.std | floor | number }}</td>
            <td class="font-mono">-{{ damage.stdMitigated | floor | number }}</td>
            <td class="font-mono">{{ damage.stdFinal | floor | number }}</td>
          </tr>
        }
        @if (store.convertPercent() && store.output().total; as damage) {
          <tr class="text-right">
            <td></td>
            <td class="font-mono">{{ damage.std | floor | number }}</td>
            <td class="font-mono">-{{ damage.stdMitigated | floor | number }}</td>
            <td class="font-mono">{{ damage.stdFinal | floor | number }}</td>
          </tr>
        }
      }
    </table>
  </nwb-collapsible>

  <nwb-collapsible [collapsed]="true" #critDmgCol="collapsible" class="bg-base-300 rounded-md overflow-clip">
    <nwb-label-control
      label
      (click)="critDmgCol.toggle()"
      [value]="store.output()?.total?.critFinal"
      [percent]="false"
      [format]="'0.0-0'"
      class="cursor-pointer"
    >
      Crit Damage
      <span end class="pl-0">
        <nwb-icon
          [icon]="svgChevronLeft"
          class="w-4 h-4 transition-transform"
          [class.-rotate-180]="defenderArmorPhysCol.collapsed"
          [class.-rotate-90]="!defenderArmorPhysCol.collapsed"
        />
      </span>
    </nwb-label-control>

    <table class="w-full table table-compact rounded-md overflow-clip text-right">
      <tr class="bg-base-300">
        <th></th>
        <th>Raw</th>
        <th>Mitigation</th>
        <th>Effective</th>
      </tr>
      @if (store.output().weapon; as damage) {
        <tr class="text-right">
          <td>
            <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 ml-2" />
          </td>
          <td class="font-mono">{{ damage.crit | floor | number }}</td>
          <td class="font-mono">-{{ damage.critMitigated | floor | number }}</td>
          <td class="font-mono">{{ damage.critFinal | floor | number }}</td>
        </tr>
        @if (store.convertPercent() && store.output().converted; as damage) {
          <tr class="text-right text-secondary">
            <td>
              <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 ml-2" />
            </td>
            <td class="font-mono">{{ damage.crit | floor | number }}</td>
            <td class="font-mono">-{{ damage.critMitigated | floor | number }}</td>
            <td class="font-mono">{{ damage.critFinal | floor | number }}</td>
          </tr>
        }
        @if (store.convertPercent() && store.output().total; as damage) {
          <tr class="text-right">
            <td></td>
            <td class="font-mono">{{ damage.crit | floor | number }}</td>
            <td class="font-mono">-{{ damage.critMitigated | floor | number }}</td>
            <td class="font-mono">{{ damage.critFinal | floor | number }}</td>
          </tr>
        }
      }
    </table>
  </nwb-collapsible>
</div>
