<div class="flex flex-col gap-2">
  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-1 flex justify-between">
        <span class="px-0">Player Level</span>
      </span>
      <span class="w-20 inline-block text-right pl-0">
        {{ store.playerLevel() }}
      </span>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-1 w-32 flex justify-between">
        <span class="px-0">Weapon GS</span>
      </span>
      <span class="w-20 inline-block text-right pl-0">
        {{ store.weaponGearScore() }}
      </span>
    </label>
  </div>

  @if (store.convertPercent()) {
    <div class="form-control text-secondary">
      <label class="input-group input-group-sm whitespace-nowrap">
        <span class="flex-1 w-32 flex justify-between">
          <span class="px-0">Damage Conversion</span>
        </span>
        <span class="w-20 inline-block text-right pl-0">
          {{ store.convertPercent() | percent: '0.0-0' }}
        </span>
      </label>
    </div>

    <!-- <div class="form-control">
      <label class="input-group input-group-sm whitespace-nowrap">
        <span class="flex-1 w-32 flex justify-between">
          <span class="px-0">Prefer Higher Scaling</span>
        </span>
        <span class="w-20 inline-block text-right pl-0">
          {{ store.preferHigherScaling() ? 'yes' : 'no' }}
        </span>
      </label>
    </div> -->
  }

  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-none w-52 flex justify-between">
        <span class="px-0">Base Damage</span>
        <span class="px-0" [class.text-neutral]="!store.baseDamage()">
          {{ store.baseDamage() | number: '0.2-2' }}
        </span>
      </span>
      <input
        class="flex-none w-16 pr-0 input input-sm input-bordered"
        type="number"
        step="1"
        [ngModel]="store.baseDamageTweak()"
        (ngModelChange)="store.tweakBaseDamage($event)"
        (wheel)="($event)"
      />
      <span class="flex-1" [class.text-primary]="store.baseDamageTweak()" [class.text-neutral]="!store.baseDamageSum()">
        {{ store.baseDamageSum() | number: '0.2-2' }}
      </span>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-none w-52 flex justify-between">
        <span class="px-0">Damage Coef</span>
        <span class="px-0" [class.text-neutral]="!store.damageCoef()">
          {{ store.damageCoef() | number: '0.2-2' }}
        </span>
      </span>
      <input
        class="flex-none w-16 pr-0 input input-sm input-bordered"
        type="number"
        step="0.01"
        [ngModel]="store.damageCoefTweak()"
        (ngModelChange)="store.tweakDamageCoef($event)"
        (wheel)="($event)"
      />
      <span class="flex-1" [class.text-primary]="store.damageCoefTweak()" [class.text-neutral]="!store.damageCoefSum()">
        {{ store.damageCoefSum() | number: '0.2-2' }}
      </span>
    </label>
  </div>

  <br />

  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-none w-52 flex justify-between">
        <span class="px-0">PvP Mod</span>
        <span class="px-0" [class.text-neutral]="!store.pvpMods()">
          {{ store.pvpMods() | number: '0.2-2' }}
        </span>
      </span>
      <input
        class="flex-none w-16 pr-0 input input-sm input-bordered"
        type="number"
        step="0.01"
        [ngModel]="store.pvpModsTweak()"
        (ngModelChange)="store.tweakPvpMods($event)"
        (wheel)="($event)"
      />
      <span class="flex-1" [class.text-primary]="store.pvpModsTweak()" [class.text-neutral]="!store.pvpModsSum()">
        {{ store.pvpModsSum() | number: '0.2-2' }}
      </span>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-none w-52 flex justify-between">
        <span class="px-0">Ammo Mod</span>
        <span class="px-0" [class.text-neutral]="!store.ammoMods()">
          {{ store.ammoMods() | number: '0.2-2' }}
        </span>
      </span>
      <input
        class="flex-none w-16 pr-0 input input-sm input-bordered"
        type="number"
        step="0.01"
        [ngModel]="store.ammoModsTweak()"
        (ngModelChange)="store.tweakAmmoMods($event)"
        (wheel)="($event)"
      />
      <span class="flex-1" [class.text-primary]="store.ammoModsTweak()" [class.text-neutral]="!store.ammoModsSum()">
        {{ store.ammoModsSum() | number: '0.2-2' }}
      </span>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-none w-52 flex justify-between">
        <span class="px-0">
          Base Mod
          <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 ml-2" />
        </span>
        <span class="px-0" [class.text-neutral]="!store.baseMods()">
          {{ store.baseMods() | number: '0.2-2' }}
        </span>
      </span>
      <input
        class="flex-none w-16 pr-0 input input-sm input-bordered"
        type="number"
        step="0.01"
        [ngModel]="store.baseModsTweak()"
        (ngModelChange)="store.tweakBaseMods($event)"
        (wheel)="($event)"
      />
      <span class="flex-1" [class.text-primary]="store.baseModsTweak()" [class.text-neutral]="!store.baseModsSum()">
        {{ store.baseModsSum() | number: '0.2-2' }}
      </span>
    </label>
  </div>

  @if(store.convertPercent()) {

    <div class="form-control text-secondary">
      <label class="input-group input-group-sm whitespace-nowrap">
        <span class="flex-none w-52 flex justify-between">
          <span class="px-0">
            Base Mod
            <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 ml-2" />
          </span>
          <span class="px-0" [class.text-neutral]="!store.convertBaseMods()">
            {{ store.convertBaseMods() | number: '0.2-2' }}
          </span>
        </span>
        <input
          class="flex-none w-16 pr-0 input input-sm input-bordered"
          type="number"
          step="0.01"
          [ngModel]="store.convertBaseModsTweak()"
          (ngModelChange)="store.tweakConvertBaseMods($event)"
          (wheel)="($event)"
        />
        <span class="flex-1" [class.text-primary]="store.convertBaseModsTweak()" [class.text-neutral]="!store.convertBaseModsSum()">
          {{ store.convertBaseModsSum() | number: '0.2-2' }}
        </span>
      </label>
    </div>
  }

  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-none w-52 flex justify-between">
        <span class="px-0">Crit Mod</span>
        <span class="px-0" [class.text-neutral]="!store.critMods()">
          {{ store.critMods() | number: '0.2-2' }}
        </span>
      </span>
      <input
        class="flex-none w-16 pr-0 input input-sm input-bordered"
        type="number"
        step="0.01"
        [ngModel]="store.critModsTweak()"
        (ngModelChange)="store.tweakCritMods($event)"
        (wheel)="($event)"
      />
      <span class="flex-1" [class.text-primary]="store.critModsTweak()" [class.text-neutral]="!store.critModsSum()">
        {{ store.critModsSum() | number: '0.2-2' }}
      </span>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-none w-52 flex justify-between">
        <span class="px-0">
          Empower Mod
          <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 ml-2" />
        </span>
        <span class="px-0" [class.text-neutral]="!store.empowerMods()">
          {{ store.empowerMods() | number: '0.2-2' }}
        </span>
      </span>
      <input
        class="flex-none w-16 pr-0 input input-sm input-bordered"
        type="number"
        step="0.01"
        [ngModel]="store.empowerModsTweak()"
        (ngModelChange)="store.tweakEmpowerMods($event)"
        (wheel)="($event)"
      />
      <span
        class="flex-1"
        [class.text-primary]="store.empowerModsTweak()"
        [class.text-neutral]="!store.empowerModsSum()"
      >
        {{ store.empowerModsSum() | number: '0.2-2' }}
      </span>
    </label>
  </div>

  @if (store.convertPercent()) {
    <div class="form-control text-secondary">
      <label class="input-group input-group-sm whitespace-nowrap">
        <span class="flex-none w-52 flex justify-between">
          <span class="px-0">
            Empower Mod
            <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 ml-2" />
          </span>
          <span class="px-0" [class.text-neutral]="!store.convertEmpowerMods()">
            {{ store.convertEmpowerMods() | number: '0.2-2' }}
          </span>
        </span>
        <input
          class="flex-none w-16 pr-0 input input-sm input-bordered"
          type="number"
          step="0.01"
          [ngModel]="store.convertEmpowerModsTweak()"
          (ngModelChange)="store.tweakConvertEmpowerMods($event)"
          (wheel)="($event)"
        />
        <span
          class="flex-1"
          [class.text-primary]="store.convertEmpowerModsTweak()"
          [class.text-neutral]="!store.convertEmpowerModsSum()"
        >
          {{ store.convertEmpowerModsSum() | number: '0.2-2' }}
        </span>
      </label>
    </div>
  }

  <br />
  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-none w-52 flex justify-between">
        <span class="px-0"> Defender GS </span>
        <!-- <span class="px-0" [class.text-neutral]="!store.defenderGearScore()">
          {{ store.defenderGearScore() | number }}
        </span> -->
      </span>
      <input
        class="flex-none w-16 pr-0 input input-sm input-bordered"
        type="number"
        step="1"
        [ngModel]="store.defenderGearScoreTweak()"
        (ngModelChange)="store.tweakDefenderGearScore($event)"
        (wheel)="($event)"
      />
      <span
        class="flex-1"
        [class.text-primary]="store.defenderGearScoreTweak()"
        [class.text-neutral]="!store.defenderGearScoreSum()"
      >
        {{ store.defenderGearScoreSum() | number }}
      </span>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-none w-52 flex justify-between">
        <span class="px-0"> Armor Physical </span>
        <!-- <span class="px-0" [class.text-neutral]="!store.defenderRatingPhys()">
          {{ store.defenderRatingPhys() | number }}
        </span> -->
      </span>
      <input
        class="flex-none w-16 pr-0 input input-sm input-bordered"
        type="number"
        step="1"
        [ngModel]="store.defenderRatingPhysTweak()"
        (ngModelChange)="store.tweakDefenderRatingPhys($event)"
        (wheel)="($event)"
      />
      <span
        class="flex-1"
        [class.text-primary]="store.defenderRatingPhysTweak()"
        [class.text-neutral]="!store.defenderRatingPhysSum()"
      >
        {{ store.defenderRatingPhysSum() | number }}
      </span>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-none w-52 flex justify-between">
        <span class="px-0"> Armor Elemental </span>
        <!-- <span class="px-0" [class.text-neutral]="!store.defenderRatingElem()">
          {{ store.defenderRatingElem() | number }}
        </span> -->
      </span>
      <input
        class="flex-none w-16 pr-0 input input-sm input-bordered"
        type="number"
        step="1"
        [ngModel]="store.defenderRatingElemTweak()"
        (ngModelChange)="store.tweakDefenderRatingElem($event)"
        (wheel)="($event)"
      />
      <span
        class="flex-1"
        [class.text-primary]="store.defenderRatingElemTweak()"
        [class.text-neutral]="!store.defenderRatingElemSum()"
      >
        {{ store.defenderRatingElemSum() | number }}
      </span>
    </label>
  </div>

  <div class="form-control opacity-50">
    <label class="input-group input-group-sm whitespace-nowrap">
      <span class="flex-none w-52 flex justify-between">
        <span class="px-0">
          Absorbtion
          <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 ml-2" />
        </span>
        <!-- <span class="px-0" [class.text-neutral]="!store.defenderAbsorbWeapon()">
          {{ store.defenderAbsorbWeapon() | number }}
        </span> -->
      </span>
      <input
        class="flex-none w-16 pr-0 input input-sm input-bordered"
        type="number"
        step="1"
        [ngModel]="store.defenderAbsorbWeaponTweak()"
        (ngModelChange)="store.tweakDefenderAbsorbWeapon($event)"
        (wheel)="($event)"
      />
      <span
        class="flex-1"
        [class.text-primary]="store.defenderAbsorbWeaponTweak()"
        [class.text-neutral]="!store.defenderAbsorbWeaponSum()"
      >
        {{ store.defenderAbsorbWeaponSum() | number }}
      </span>
    </label>
  </div>

  @if (store.convertPercent()) {
    <div class="form-control text-secondary opacity-50">
      <label class="input-group input-group-sm whitespace-nowrap">
        <span class="flex-none w-52 flex justify-between">
          <span class="px-0">
            Absorbtion
            <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 ml-2" />
          </span>
          <!-- <span class="px-0" [class.text-neutral]="!store.defenderAbsorbConverted()">
            {{ store.defenderAbsorbConverted() | number }}
          </span> -->
        </span>
        <input
          class="flex-none w-16 pr-0 input input-sm input-bordered"
          type="number"
          step="1"
          [ngModel]="store.defenderAbsorbConvertedTweak()"
          (ngModelChange)="store.tweakDefenderAbsorbConverted($event)"
          (wheel)="($event)"
        />
        <span
          class="flex-1"
          [class.text-primary]="store.defenderAbsorbConvertedTweak()"
          [class.text-neutral]="!store.defenderAbsorbConvertedSum()"
        >
          {{ store.defenderAbsorbConvertedSum() | number }}
        </span>
      </label>
    </div>
  }

  <br />
  <table class="table table-compact rounded-md overflow-clip text-right">
    <tr class="bg-base-300">
      <th>Std</th>
      <th>Raw</th>
      <th>Mitigation</th>
      <th>Effective</th>
    </tr>
    @if (store.output().weapon; as damage) {
      <tr class="text-right">
        <td>
          <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 ml-2" />
        </td>
        <td>{{ damage.std | number: '0.2-2' }}</td>
        <td>-{{ damage.stdMitigated | number: '0.2-2' }}</td>
        <td>{{ damage.stdFinal | number: '0.2-2' }}</td>
      </tr>
      @if (store.convertPercent() && store.output().converted; as damage) {
        <tr class="text-right text-secondary">
          <td>
            <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 ml-2" />
          </td>
          <td>{{ damage.std | number: '0.2-2' }}</td>
          <td>-{{ damage.stdMitigated | number: '0.2-2' }}</td>
          <td>{{ damage.stdFinal | number: '0.2-2' }}</td>
        </tr>
      }
      @if (store.convertPercent() && store.output().total; as damage) {
        <tr class="text-right">
          <td>

          </td>
          <td>{{ damage.std | number: '0.2-2' }}</td>
          <td>-{{ damage.stdMitigated | number: '0.2-2' }}</td>
          <td>{{ damage.stdFinal | number: '0.2-2' }}</td>
        </tr>
      }
    }

    <tr class="bg-base-300">
      <th class="text-primary">Crit</th>
      <th>Raw</th>
      <th>Mitigation</th>
      <th>Effective</th>
    </tr>

    @if (store.output().weapon; as damage) {
      <tr class="text-right">
        <td>
          <img [nwImage]="store.weaponTypeIcon()" class="w-5 h-5 ml-2" />
        </td>
        <td>{{ damage.crit | number: '0.2-2' }}</td>
        <td>-{{ damage.critMitigated | number: '0.2-2' }}</td>
        <td>{{ damage.critFinal | number: '0.2-2' }}</td>
      </tr>
      @if (store.convertPercent() && store.output().converted; as damage) {
        <tr class="text-right text-secondary">
          <td>
            <img [nwImage]="store.convertTypeIcon()" class="w-5 h-5 ml-2" />
          </td>
          <td>{{ damage.crit | number: '0.2-2' }}</td>
          <td>-{{ damage.critMitigated | number: '0.2-2' }}</td>
          <td>{{ damage.critFinal | number: '0.2-2' }}</td>
        </tr>
      }

      @if (store.convertPercent() && store.output().total; as damage) {
        <tr class="text-right">
          <td>

          </td>
          <td>{{ damage.crit | number: '0.2-2' }}</td>
          <td>-{{ damage.critMitigated | number: '0.2-2' }}</td>
          <td>{{ damage.critFinal | number: '0.2-2' }}</td>
        </tr>
      }
    }
  </table>
</div>
