<label class="join bg-base-200">
  <span class="join-item flex-none w-52 flex justify-between btn btn-sm no-animation border-0 btn-ghost flex-nowrap">
    <span class="px-0 inline-flex flex-nowrap items-center">
      <ng-content></ng-content>
      {{ label }}
      @if (iconPath) {
        <img [nwImage]="iconPath" class="w-5 h-5 ml-2" />
      }
    </span>
    <span class="px-0" [class.text-neutral]="!leftValue">
      @if (percent) {
        {{ leftValue | percent: format }}
      } @else {
        {{ leftValue | number: format }}
      }
    </span>
  </span>
  <input
    class="join-item flex-none w-16 pr-0 input input-sm input-bordered"
    type="number"
    [step]="step"
    [ngModel]="toModelValue(tweakValue)"
    (ngModelChange)="tweakValueChange.emit(fromModelValue($event))"
    (wheel)="($event)"
  />
  <span
    class="join-item flex-1 btn btn-sm no-animation border-0 btn-ghost text-left"
    [class.text-primary]="!!tweakValue"
    [class.text-neutral]="!rightValue"
  >
    @if (percent) {
      {{ rightValue | percent: format }}
    } @else {
      {{ rightValue | number: format }}
    }
  </span>
</label>
