<div *ngIf="gearset$ | async; let data">
  <div
    *ngIf="!swiper"
    class="p-4 rounded-b-md flex flex-col xl:flex-row layout-gap"
    [nwbScreenshotFrame]="name$ | async"
    [nwbScreenshotWidth]="2200"
  >
    <div class="flex-1 grid grid-cols-fill-sm layout-gap" [@list]="slots?.length">
      <ng-container *ngTemplateOutlet="tplContentAvatar"></ng-container>
      <ng-container *ngTemplateOutlet="tplContentStats"></ng-container>
      <ng-container *ngTemplateOutlet="tplContentSkills"></ng-container>
      <ng-container *ngTemplateOutlet="tplContentSlots"></ng-container>
    </div>
  </div>

  <div *ngIf="swiper" class="p-2">
    <div class="swiper" [nwbSwiper]="swiperOptions" #nwbSwiper="nwbSwiper">
      <div class="swiper-wrapper flex flex-row relative z-10" #swiperRef>
        <ng-container *ngTemplateOutlet="tplContentSlots"></ng-container>
        <ng-container *ngTemplateOutlet="tplContentSkills"></ng-container>
        <ng-container *ngTemplateOutlet="tplContentStats"></ng-container>
        <ng-container *ngTemplateOutlet="tplContentAvatar"></ng-container>
      </div>
      <div
        class="absolute left-0 top-0 bottom-0 p-4 flex items-center justify-center z-50 bg-base-100 bg-opacity-25 hover:bg-opacity-50 transition-all cursor-pointer"
        (click)="nwbSwiper.slidePrev()"
      >
        <nwb-icon [icon]="iconChevronLeft" class="w-8 h-8"></nwb-icon>
      </div>
      <div
        class="absolute right-0 top-0 bottom-0 p-4 flex items-center justify-center z-50 bg-base-100 bg-opacity-25 hover:bg-opacity-50 transition-all cursor-pointer"
        (click)="nwbSwiper.slideNext()"
      >
        <nwb-icon [icon]="iconChevronLeft" class="w-8 h-8 rotate-180"></nwb-icon>
      </div>
    </div>
  </div>

  <ng-template #tplContentAvatar>
    <div
      [@fade]="true"
      class="swiper-slide col-span-1 sm:col-span-2 shadow-lg rounded-md overflow-clip bg-black relative"
    >
      <div class="nw-bg-pane absolute inset-0 bg-center bg-cover"></div>
      <nwb-gearset-pane-main class="relative" [class.text-xs]="compact" [disabled]="disabled">
        <div>
          <h3 class="text-lg uppercase relative text-center font-caslon text-nw-description mb-3">
            <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
            <span class="relative top-1">Buffs & Ammo</span>
          </h3>
          <div class="flex items-center justify-center">
            <div class="inline-grid grid-cols-4 gap-1 mx-auto">
              <nwb-gearset-pane-slot
                *ngFor="let slot of buffSlots; trackBy: trackByIndex"
                [slot]="slot"
                [gearset]="data"
                [compact]="compact"
                [disabled]="disabled"
                [square]="true"
                (itemRemove)="onItemRemove(slot.id)"
                (itemUnlink)="onItemUnlink(slot, $event)"
                (itemInstantiate)="onItemInstantiate(slot, $event)"
              ></nwb-gearset-pane-slot>

              <nwb-gearset-pane-slot
                *ngFor="let slot of ammoSlots; trackBy: trackByIndex; let first = first"
                [class.col-start-2]="first"
                [slot]="slot"
                [gearset]="data"
                [compact]="compact"
                [disabled]="disabled"
                [square]="true"
                (itemRemove)="onItemRemove(slot.id)"
                (itemUnlink)="onItemUnlink(slot, $event)"
                (itemInstantiate)="onItemInstantiate(slot, $event)"
              ></nwb-gearset-pane-slot>
            </div>
          </div>
        </div>
        <div *ngIf="vmQuickSlots$ | async; let vm" [class.screenshot-hidden]="vm.empty">
          <h3 class="text-lg uppercase relative text-center font-caslon text-nw-description mb-3">
            <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
            <span class="relative top-1">Consumables</span>
          </h3>
          <div class="flex items-center justify-center">
            <div class="inline-grid grid-cols-5 gap-1">
              <nwb-gearset-pane-slot
                *ngFor="let slot of vm.slots; trackBy: trackByIndex"
                [slot]="slot"
                [gearset]="data"
                [compact]="compact"
                [disabled]="disabled"
                [square]="true"
                (itemRemove)="onItemRemove(slot.id)"
              ></nwb-gearset-pane-slot>
            </div>
          </div>
        </div>
        <div *ngIf="vmTrophies$ | async; let vm" [class.screenshot-hidden]="vm.empty">
          <h3 class="text-lg uppercase relative text-center font-caslon text-nw-description mb-3">
            <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
            <span class="relative top-1">Trophies</span>
          </h3>
          <div class="flex items-center justify-center">
            <div class="inline-grid grid-cols-5 gap-1">
              <nwb-gearset-pane-slot
                *ngFor="let slot of vm.slots; trackBy: trackByIndex"
                [slot]="slot"
                [gearset]="data"
                [compact]="compact"
                [disabled]="disabled"
                [square]="true"
                (itemRemove)="onItemRemove(slot.id)"
              ></nwb-gearset-pane-slot>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-lg uppercase relative text-center font-caslon text-nw-description mb-3">
            <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
            <span class="relative top-1">Town Buffs</span>
          </h3>
          <div class="flex items-center justify-center">
            <div class="inline-grid grid-cols-5 gap-1">
              <nwb-gearset-pane-effect
                *ngFor="let id of vmTownBuffs$ | async; trackBy: trackByIndex"
                [effectId]="id"
                [max]="1"
                [disabled]="disabled"
                (effectChange)="onEffectChange($event)"
              >
              </nwb-gearset-pane-effect>
            </div>
          </div>
        </div>
      </nwb-gearset-pane-main>
    </div>
  </ng-template>

  <ng-template #tplContentStats>
    <div
      [@fade]="true"
      class="swiper-slide col-span-1 sm:col-span-2 shadow-lg rounded-md overflow-clip bg-black relative layout-pad"
    >
      <div class="nw-bg-pane absolute inset-0 bg-center bg-cover"></div>
      <nwb-gearset-pane-stats class="relative"></nwb-gearset-pane-stats>
    </div>
  </ng-template>

  <ng-template #tplContentSkills>
    <div
      [@fade]="true"
      class="swiper-slide col-span-1 sm:col-span-2 shadow-lg rounded-md overflow-clip bg-black relative layout-pad"
    >
      <div class="nw-bg-pane absolute inset-0 bg-center bg-cover"></div>
      <nwb-gearset-pane-skill
        class="relative"
        [slot]="'primary'"
        [gearset]="data"
        [disabled]="disabled"
      ></nwb-gearset-pane-skill>
    </div>

    <div
      [@fade]="true"
      class="swiper-slide col-span-1 sm:col-span-2 shadow-lg rounded-md overflow-clip bg-black relative layout-pad"
    >
      <div class="nw-bg-pane absolute inset-0 bg-center bg-cover"></div>
      <nwb-gearset-pane-skill
        class="relative"
        [slot]="'secondary'"
        [gearset]="data"
        [disabled]="disabled"
      ></nwb-gearset-pane-skill>
    </div>
  </ng-template>

  <ng-template #tplContentSlots>
    <nwb-gearset-pane-slot
      class="swiper-slide"
      [@fade]="true"
      *ngFor="let slot of slots; trackBy: trackByIndex"
      [slot]="slot"
      [gearset]="data"
      [compact]="compact"
      [disabled]="disabled"
      (itemRemove)="onItemRemove(slot.id)"
      (itemUnlink)="onItemUnlink(slot, $event)"
      (itemInstantiate)="onItemInstantiate(slot, $event)"
    ></nwb-gearset-pane-slot>
  </ng-template>
</div>
