<ng-container *ngIf="vm$ | async; let vm">
  <div class="relative" *ngIf="vm.instance">
    <nwb-skill-builder [ngModel]="vm.instance" (ngModelChange)="updateSkill($event)" #builder></nwb-skill-builder>
    <button class="btn btn-ghost btn-square absolute top-0 right-0 screenshot-hidden" [cdkMenuTriggerFor]="menu">
      <nwb-icon [icon]="iconMenu" class="w-4 h-4"></nwb-icon>
    </button>
    <ng-template #menu>
      <ul class="menu menu-compact bg-base-100 rounded-md w-40 shadow" cdkMenu *ngIf="vm$ | async; let vm">
        <li *ngIf="vm.canBreak">
          <button (click)="breakLink()" cdkMenuItem>
            <nwb-icon [icon]="iconLinkBreak" class="w-4 h-4"></nwb-icon>
            Break link
          </button>
        </li>
        <li *ngIf="vm.canRemove">
          <button (click)="remove()" cdkMenuItem>
            <nwb-icon [icon]="iconRemove" class="w-4 h-4"></nwb-icon>
            Remove
          </button>
        </li>
        <li *ngIf="vm.canRemove">
          <button (click)="builder.switchWeapon()" cdkMenuItem>
            <nwb-icon [icon]="iconReset" class="w-4 h-4"></nwb-icon>
            Switch Weapon
          </button>
        </li>
      </ul>
    </ng-template>
  </div>
  <div *ngIf="!vm.instance && !vm.loading" class="relative flex-1 flex flex-col layout-gap items-center justify-center">
    <nwb-icon [icon]="iconGraph" class="w-32 h-32 text-white opacity-30"></nwb-icon>

    <button class="btn btn-ghost btn-square absolute top-0 right-0" [cdkMenuTriggerFor]="menu">
      <nwb-icon [icon]="iconMenu" class="w-4 h-4"></nwb-icon>
    </button>
    <ng-template #menu>
      <ul class="menu menu-compact bg-base-100 rounded-md shadow" cdkMenu *ngIf="vm$ | async; let vm">
        <li>
          <button cdkMenuItem  (click)="create()">
            <nwb-icon [icon]="iconPlus" class="w-4 h-4 mr-2"></nwb-icon>
            Create From Scratch
          </button>
        </li>
        <li>
          <button (click)="createExisting()">
            <nwb-icon [icon]="iconOpen" class="w-4 h-4 mr-2"></nwb-icon>
            Create From Existing
          </button>
        </li>
      </ul>
    </ng-template>
  </div>
</ng-container>
