<ion-header class="bg-base-300">
  <div class="flex flex-col-reverse md:flex-row">
    <nwb-nav-toolbar [menu]="tplMenu" [buttons]="tplButtons" class="flex-1">
      <ng-template #tplMenu>
        <li *ngFor="let item of tags$ | async">
          <a (click)="toggleTag(item.tag)" [class.active]="item.active">
            {{ item.tag }}
          </a>
        </li>
      </ng-template>
      <ng-template #tplButtons>
        <li [tooltip]="'Create new gearset'" [color]="'accent'">
          <span (click)="createItem()">
            <nwb-icon [icon]="iconCreate" class="w-4 h-4"></nwb-icon>
          </span>
        </li>
      </ng-template>
    </nwb-nav-toolbar>
    <div class="flex-none p-2 w-full md:max-w-[300px]">
      <nwb-quicksearch-input></nwb-quicksearch-input>
    </div>
  </div>
</ion-header>

<nwb-gearset-loadout-list></nwb-gearset-loadout-list>
