<ng-container *ngIf="vm$ | async; let vm">
  <ng-container *ngIf="!vm.instance">
    <nwb-item-header [rarity]="0" class="relative font-nimbus gap-2" *ngIf="!square">
      <nwb-item-icon
        [nwbItemIcon]="vm.slot.icon"
        [solid]="false"
        [rarity]="0"
        class="z-10 w-[76px] h-[76px]"
      ></nwb-item-icon>
      <nwb-item-header-content class="z-10">
        <span class="title" [nwHtml]="vm.slot.name | nwText"></span>
      </nwb-item-header-content>
      <button
        class="btn btn-square btn-ghost absolute top-0 right-0 z-10 screenshot-hidden"
        [cdkMenuTriggerFor]="menu"
        *ngIf="!disabled"
      >
        <nwb-icon [icon]="iconMenu" class="w-4 h-4"></nwb-icon>
      </button>
    </nwb-item-header>

    <nwb-item-header [rarity]="0" class="relative font-nimbus gap-2" *ngIf="square">
      <nwb-item-icon [nwbItemIcon]="vm.slot.icon" [solid]="false" [rarity]="0" class="z-10 w-12 h-12"></nwb-item-icon>
      <button
        *ngIf="!disabled"
        class="btn btn-square btn-ghost absolute top-0 right-0 z-10 screenshot-hidden w-full h-full items-center justify-center"
        (click)="pickItem(vm)"
      >
        <nwb-icon [icon]="iconPlus" class="w-4 h-4 mt-2"></nwb-icon>
      </button>
    </nwb-item-header>
  </ng-container>

  <ng-container *ngIf="vm.instance">
    <nwb-item-detail
      *ngIf="square"
      [entityId]="vm.instance.itemId"
      #detail="detail"
      class="p-1"
      class="flex flex-row gap-1"
    >
      <nwb-item-header [rarity]="detail.rarity$ | async" class="relative font-nimbus gap-2" *ngIf="square">
        <nwb-item-icon [nwbItemIcon]="vm.item" [solid]="true" class="z-10 w-12 h-12"></nwb-item-icon>
        <button
          *ngIf="!disabled"
          class="btn btn-square btn-ghost absolute top-0 right-0 z-10 screenshot-hidden w-full h-full items-start justify-end"
          [cdkMenuTriggerFor]="menu"
        >
          <nwb-icon [icon]="iconMenu" class="w-4 h-4 mt-2"></nwb-icon>
        </button>
      </nwb-item-header>
    </nwb-item-detail>

    <nwb-item-card
      *ngIf="!square"
      class="relative flex=1"
      [entityId]="vm.instance.itemId"
      [gsOverride]="gearScore || vm.instance.gearScore"
      [gsEditable]="!disabled && !vm.isEqupment"
      (gsEdit)="openGsEditor($event)"
      [perkOverride]="vm.instance.perks"
      [perkEditable]="!disabled"
      (perkEdit)="pickPerk(vm, $event.key)"
      [disableStats]="vm.isEqupment"
      [disableInfo]="vm.isEqupment || compact"
      [disableDescription]="compact"
      [square]="square"
    >
      <span
        *ngIf="vm.canBreak"
        class="absolute top-[5px] left-[55px] p-1 bg-black bg-opacity-75 rounded-bl-xl screenshot-hidden"
      >
        <nwb-icon [icon]="iconLink" class="w-4 h-4"></nwb-icon>
      </span>

      <button
        class="btn btn-square btn-ghost absolute top-0 right-0 z-10 screenshot-hidden"
        [cdkMenuTriggerFor]="menu"
        *ngIf="!disabled"
      >
        <nwb-icon [icon]="iconMenu" class="w-4 h-4"></nwb-icon>
      </button>

      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="gsTarget"
        [cdkConnectedOverlayOpen]="!!gsTarget"
        [cdkConnectedOverlayHasBackdrop]="false"
        [cdkConnectedOverlayPanelClass]="['w-80', 'p-2', 'rounded-md', 'bg-base-300', 'bg-opacity-75']"
        (overlayOutsideClick)="closeGsEditor()"
        (backdropClick)="closeGsEditor()"
        (detach)="closeGsEditor()"
      >
        <nwb-gs-slider
          [bars]="true"
          [values]="true"
          [ngModel]="gearScore || vm.instance.gearScore"
          (ngModelChange)="updateGearScore($event)"
          (wheel)="stepGearScore($event)"
          class="w-full"
        ></nwb-gs-slider>
      </ng-template>
    </nwb-item-card>
  </ng-container>

  <ng-template #menu>
    <ul
      class="my-1 menu menu-compact bg-base-200 border border-base-100 rounded-md shadow-lg text-shadow-sm shadow-black"
      cdkMenu
    >
      <li>
        <a (click)="pickItem(vm)" cdkMenuItem>
          <nwb-icon [icon]="iconPlus" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>New item</span>
            <span class="text-xs opacity-75">Pick an item from DB and configure from scratch</span>
          </div>
        </a>
      </li>
      <li *ngIf="!vm.isEqupment">
        <a (click)="linkItem(vm)" cdkMenuItem>
          <nwb-icon [icon]="iconLink" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Link item</span>
            <span class="text-xs opacity-75">Pick an item your inventory and link it to this slot</span>
          </div>
        </a>
      </li>
      <li *ngIf="vm.canUseImporter">
        <a (click)="itemFromImage(vm)" cdkMenuItem>
          <nwb-icon [icon]="iconImage" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Scan item</span>
            <span class="text-xs opacity-75">Create a new item from a screenshot</span>
          </div>
        </a>
      </li>

      <ng-container *ngIf="vm.item">
        <span class="divider my-0 py-0"></span>
        <li *ngIf="vm.canRemove && !vm.canBreak && !vm.isEqupment">
          <a (click)="instantiate()" cdkMenuItem>
            <nwb-icon [icon]="iconLink" class="w-4 h-4"></nwb-icon>
            <div class="flex flex-col leading-none">
              <span>Make link</span>
              <span class="text-xs opacity-75">Copy this item to your inventory and link it to this slot</span>
            </div>
          </a>
        </li>
        <li *ngIf="vm.canBreak">
          <a (click)="breakLink()" cdkMenuItem>
            <nwb-icon [icon]="iconLinkBreak" class="w-4 h-4"></nwb-icon>
            <div class="flex flex-col leading-none">
              <span>Break link</span>
              <span class="text-xs opacity-75">Make a copy of this item and break the link.</span>
            </div>
          </a>
        </li>
        <li *ngIf="vm.canRemove">
          <a (click)="remove()" cdkMenuItem>
            <nwb-icon [icon]="iconRemove" class="w-4 h-4 text-error"></nwb-icon>
            <div class="flex flex-col leading-none">
              <span>Unequip item</span>
              <span class="text-xs opacity-75">
                <span *ngIf="vm.canBreak">This item remains in the inventory.</span>
                <span class="text-error" *ngIf="!vm.canBreak">
                  This item is not in your inventory and is lost when unequipped.
                </span>
              </span>
            </div>
          </a>
        </li>
      </ng-container>
    </ul>
  </ng-template>
</ng-container>
