<div class="grid gap-2 grid-cols-1 sm:grid-cols-2">
  <nwb-active-weapon></nwb-active-weapon>
  <!-- <nwb-attributes-stats
    class="
      rounded-md
      transition-all
      outline outline-transparent outline-2 outline-offset-0
      hover:outline-offset-4
      relative
    "
    [class.cursor-pointer]="!disabled"
    [class.hover:outline-primary]="!disabled"
    (click)="editAttributes()"
  ></nwb-attributes-stats>
  <nwb-vitality-stats></nwb-vitality-stats> -->
  <nwb-damage-mods-stats></nwb-damage-mods-stats>
  <nwb-empower-stats></nwb-empower-stats>
  <nwb-fortify-stats></nwb-fortify-stats>
  <nwb-luck-stats></nwb-luck-stats>
  <nwb-crafting-stats></nwb-crafting-stats>
  <nwb-stacked-perks class="col-span-1 sm:col-span-2"></nwb-stacked-perks>
</div>
