<input
  class="input input-sm w-full focus:outline-none focus:border focus:border-primary-focus"
  #input
  type="text"
  placeholder="Search"
  [(ngModel)]="value"
  autofocus
  [disabled]="!(active | async)"
/>
<button class="btn btn-sm btn-ghost btn-square swap swap-rotate" (click)="value ? (value = '') : null" [disabled]="!(active | async)">
  <input type="checkbox" [checked]="!!value" />
  <nwb-icon [icon]="svgXmark" class="swap-on w-4 h-4"></nwb-icon>
  <nwb-icon [icon]="svgSearch" class="swap-off w-4 h-4"></nwb-icon>
</button>
