<ng-container *ngIf="vm$ | async; let vm">
  <input
    class="input input-sm w-full focus:outline-none focus:border focus:border-primary"
    [class.text-primary]="!!vm.value"
    [class.input-bordered]="bordered"
    #input
    type="text"
    [placeholder]="placeholder"
    [ngModel]="vm.value"
    (ngModelChange)="submit($event)"
    autofocus
    [disabled]="!vm.active"
  />
  <button
    class="absolute right-0 btn btn-sm btn-ghost btn-square swap swap-rotate"
    [class.text-primary]="!!vm.value"
    (click)="vm.value ? submit('') : null"
    [disabled]="!vm.active"
  >
    <input type="checkbox" [checked]="!!vm.value" />
    <nwb-icon [icon]="svgXmark" class="swap-on w-4 h-4"/>
    <span class="swap-off w-4 h-4 hidden md:inline-block">/</span>
    <nwb-icon [icon]="svgSearch" class="swap-off w-4 h-4 md:hidden"/>
  </button>
</ng-container>
