<label class="input input-sm w-full group focus-within:input-primary">
  <input
    class="w-full"
    [class.text-primary]="!!value()"
    #input
    type="text"
    [placeholder]="placeholder()"
    [ngModel]="value()"
    (ngModelChange)="submit($event)"
    autofocus
    [disabled]="!active()"
  />

  @if (!value()) {
    <span class="text-xs font-mono transition-opacity opacity-100 group-focus-within:opacity-0 pointer-events-none">
      CTRL + K
    </span>
  } @else {
    <button
      class="btn btn-sm btn-ghost btn-square bg-transparent -mr-2"
      [class.text-primary]="!!value()"
      (click)="submit('')"
      [disabled]="!active()"
    >
      <nwb-icon [icon]="svgXmark" class="w-4 h-4" />
    </button>
  }
</label>
