<div class="menu-frame w-36 xl:w-40">
  <nwb-sidebar
    #sidebar
    [nwbSidebarRouteParam]="'cat'"
    [categories]="table.categories | async"
  ></nwb-sidebar>
</div>
<div class="main-frame rounded-md overflow-clip">
  <nwb-data-table
    #table
    class="main-content"
    [stateKey]="'vitals-table'"
    [nwbTableRouterParam]="'id'"
    [category]="sidebar.category"
    [quickFilter]="sidebar.quickFilter"
  ></nwb-data-table>
</div>
<!-- <div class="detail-frame w-[400px]">
  <div class="detail-content">
    <router-outlet></router-outlet>
  </div>
</div> -->
