<div class="main-frame">
  <div class="main-content flex flex-col items-center">
    <footer class="footer footer-center p-10 bg-base-100 text-neutral-content rounded-md">
      <div>
        <img src="assets/icons/favicon.png" class="w-20 mb-4" />

        <p class="font-bold">
          New World Buddy
          <br />
          Version 1.0.0-rc1
          <br />
          Game Version 1.4.4
        </p>
        <p>
          For personal and fair use purposes.
          <br />
          We are not affiliated by Amazon or Amazon Game Studios.
          <br />
          Game content is used under the
          <a
            href="https://www.amazon.com/gp/help/customer/display.html?nodeId=GNX7GA7HXVL9V8XZ&pop-up=1"
            target="_blank"
            class="text-primary"
          >
            Content Usage Policy
          </a>
          from
          <a href="https://www.newworld.com/en-us/legal" target="_blank" class="text-primary">newworld.com</a>.
          <br />
          Item popovers used from
          <a
            href="https://nwdb.info/"
            target="_blank"
            class="text-primary"
          >
            New World Database
          </a>
        </p>
      </div>
    </footer>
  </div>
</div>
