<ion-header class="bg-base-300">
  <div class="flex flex-col-reverse md:flex-row">
    <div class="flex flex-row items-center flex-nowrap flex-1 w-full overflow-x-auto scrollbar-hide gap-1">
      <button
        [nwbDataCateogryMenu]
        [routeParam]="categoryParam"
        [category]="category()"
        [showCounter]="true"
        [defaultTitle]="title"
        class="btn btn-ghost normal-case text-left"
      ></button>

      <span class="flex-1"></span>
      <div class="join">
        <!-- <button class="join-item btn btn-square btn-ghost" [nwbScreenshotBtn]></button> -->
        <button class="join-item btn btn-square btn-ghost" [nwbDataViewPin]></button>
        @if (service.canToggleMode()) {
          <button class="join-item btn btn-square btn-ghost" [nwbDataViewToggle]></button>
        }
        <button class="join-item hidden 2xl:flex btn btn-square btn-ghost" (click)="isFuncOpen = !isFuncOpen">
          <nwb-icon [icon]="iconFunc" />
        </button>
        <button class="join-item btn btn-square btn-ghost" [nwbDataViewOptionsMenu] [persistKey]="persistKey"></button>
      </div>
    </div>
    <div class="flex-none p-2 w-full md:max-w-[256px]">
      <nwb-quicksearch-input [autofocus]="true" [placeholder]="'Quickfilter'"/>
    </div>
  </div>
</ion-header>
<ion-content [scrollY]="false">
  <ion-split-pane [when]="showSidebar()" contentId="main" style="--side-max-width: calc(min(max(30%, 400px), 600px))">
    <div class="ion-page order-2 flex flex-row" id="main">
      @if (service.isGridActive()) {
        <nwb-virtual-grid
          [enableQuickfilter]="true"
          [data]="service.categoryItems$ | async"
          [options]="service.virtualOptions"
          [identifyBy]="service.entityIdGetter"
          [selectionRouteParam]="selectionParam"
        />
      } @else if (service.isTableActive()) {
        <nwb-table-grid
          (ready$)="service.onTableReady($event)"
          [enableQuickfilter]="true"
          [data]="service.categoryItems$ | async"
          [options]="service.tableGridOptions"
          [identifyBy]="service.entityIdGetter"
          [persistKey]="persistKey"
          [filterQueryParam]="filterParam"
          [selectionRouteParam]="selectionParam"
        />
      }
      @if (isFuncOpen) {
        <div class="w-[600px] hidden 2xl:block p-2 overflow-auto">
          <nwb-table-grid-expression-panel [grid]="service.agGrid$ | async" />
        </div>
      }
    </div>
    <ion-menu contentId="main" class="order-2">
      @if (showSidebar()) {
        <ng-container [ngTemplateOutlet]="tplDetail" />
      }
    </ion-menu>
  </ion-split-pane>
  <nwb-detail-content
    [isOpen]="showModal()"
    [initialBreakpoint]="100 | px2vh"
    [breakpoints]="[12 | px2vh, 100 | px2vh, 0.45, 1]"
    [backdropBreakpoint]="0.5"
    [backdropDismiss]="false"
    [template]="tplDetail"
  />
</ion-content>

<ng-template #tplDetail>
  <ion-content
    [class.ion-p-4]="showSidebar()"
    [class.ion-p-2]="showModal()"
    [class.bg-base-300]="true"
  >
    <router-outlet />
  </ion-content>
</ng-template>
