<div class="flex-none bg-black flex flex-row gap-1 flex-wrap items-center p-1">
  <button class="btn btn-square btn-ghost" (click)="close()">
    <nwb-icon [icon]="iconBack" class="w-4 h-4"></nwb-icon>
  </button>
  <h3 class="font-bold text-lg">
    {{ title }}
  </h3>
  <span class="flex-1"></span>
  <ng-container *ngIf="!displayMode && service.canToggleMode">
    <button
      class="btn btn-square btn-ghost"
      (click)="service.toggleMode()"
      [tooltip]="'Show Table View'"
      [class.text-primary]="service.isGridActive$()"
    >
      <nwb-icon [icon]="iconList" class="swap-on w-4 h-4"></nwb-icon>
    </button>
    <button
      class="btn btn-square btn-ghost"
      (click)="service.toggleMode()"
      [tooltip]="'Show Grid View'"
      [class.text-primary]="service.isVirtGridActive$()"
    >
      <nwb-icon [icon]="iconGrid" class="swap-off w-4 h-4"></nwb-icon>
    </button>
  </ng-container>
  <nwb-quicksearch-input class="w-full md:w-60"></nwb-quicksearch-input>
</div>

<ng-container *ngIf="service.isVirtGridActive$()">
  <nwb-virtual-grid
    [enableQuickfilter]="true"
    [selection]="selection"
    [data]="service.categoryItems$ | async"
    [options]="service.virtualOptions"
    [identifyBy]="service.entityIdGetter"
    (selection$)="onSelectionChange($event)"
  ></nwb-virtual-grid>
</ng-container>
<ng-container *ngIf="service.isGridActive$()">
  <nwb-data-grid
    [enableQuickfilter]="true"
    [selection]="selection"
    [data]="service.categoryItems$ | async"
    [options]="service.gridOptions"
    [identifyBy]="service.entityIdGetter"
    [persistKey]="persistKey"
    (selectionChanged$)="onSelectionChange($event.ids)"
  ></nwb-data-grid>
</ng-container>

<div class="flex-none modal-action flex-row justify-end layout-pad mt-0">
  <div class="btn-group">
    <label class="btn btn-ghost" (click)="close()">Cancel</label>
  </div>
  <div class="btn-group">
    <label class="btn btn-ghost" (click)="clear()">Clear selection</label>
    <label class="btn btn-primary" (click)="commit()">OK</label>
  </div>
</div>
