<nwb-detail-drawer class="hidden lg:block lg:w-96">
  <div
    *nwbDetailDraweContent
    class="layout-content bg-black"
    [nwbPerkDetail]="itemId | async"
    (nwbPerkChange)="onEntity($event)"
    #detail="perkDetail"
  >
    <nwb-perk-detail [perkId]="itemId | async" [showProperties]="true"> </nwb-perk-detail>
    <ng-container *ngFor="let abilityId of detail.abilityIds$ | async">
      <nwb-ability-detail [abilityId]="abilityId" [showProperties]="true" class="mt-4"></nwb-ability-detail>
    </ng-container>
  </div>
</nwb-detail-drawer>
