<div class="flex flex-col gap-2" [nwbScreenshotFrame]="itemId()">
  <nwb-perk-detail [perkId]="itemId()" (perkChange)="onEntity($event)" class="bg-black relative" #detail="perkDetail" />

  @for (item of detail.store.resourceItems(); track $index; let isFirst = $first) {
    @if (isFirst) {
      <h3 class="prose mt-2">Craft Mods:</h3>
    }
    <nwb-item-card
      [entity]="item"
      class="bg-black"
      [enableInfoLink]="true"
      [enableLink]="true"
      [disableInfo]="true"
      [disablePerks]="true"
    />
  }

  @for (abilityId of detail.store.refAbilities(); track $index; let isFirst = $first) {
    @if (isFirst) {
      <h3 class="prose mt-2">Referenced Abilities:</h3>
    }
    <nwb-ability-detail [abilityId]="abilityId" class="bg-black" />
  }

  @for (effectId of detail.store.refEffects(); track $index; let isFirst = $first) {
    @if (isFirst) {
      <h3 class="prose mt-2">Referenced Status Effects:</h3>
    }
    <nwb-status-effect-detail [effectId]="effectId" class="bg-black" />
  }
</div>
