<nwb-detail-drawer class="hidden lg:block lg:w-96">
  <div *nwbDetailDraweContent class="layout-col bg-base-200 layout-pad">
    <div [nwbPerkDetail]="itemId | async" (perk$)="onEntity($event)" #detail="perkDetail" class="flex flex-col layout-gap">
      <nwb-property-grid
        [rows]="detail.properties$ | async"
        [numberFormat]="'0.0-4'"
        class="gap-x-1 font-mono w-full bg-base-100 rounded-md p-3 overflow-auto"
      >
      </nwb-property-grid>

      <ng-container *ngFor="let data of detail.abilities$ | async">
        <nwb-property-grid
          [item]="data"
          [numberFormat]="'0.0-4'"
          class="gap-x-1 font-mono w-full bg-base-100 rounded-md p-3 overflow-auto"
        >
        </nwb-property-grid>
      </ng-container>

      <nwb-property-grid
        *ngIf="detail.affix$ | async; let data"
        [item]="data"
        [numberFormat]="'0.0-4'"
        class="gap-x-1 font-mono w-full bg-base-100 rounded-md p-3 overflow-auto"
      >
      </nwb-property-grid>
    </div>
  </div>
</nwb-detail-drawer>

