<div class="flex flex-row justify-between">
  <span class="label"> Physical Armor </span>
  <span class="label"> Rating {{ rating() | number: '0.1-1' }} </span>
</div>
<nwb-stacked-value-control
  [(ngModel)]="armor.value"
  [step]="1"
  [stepShift]="100"
  [stepCtrl]="10"
  [stepAlt]="0.1"
  [lockPreset]="lockPreset"
>
  <span slot="start" class="join-item btn btn-sm justify-start text-left w-40"> Armor </span>
</nwb-stacked-value-control>
<nwb-stacked-value-control [(ngModel)]="armorFortify.value" [percent]="true" [lockPreset]="lockPreset">
  <span slot="start" class="join-item btn btn-sm justify-start text-left w-40"> Armor Fortify </span>
</nwb-stacked-value-control>
<nwb-stacked-value-control
  [(ngModel)]="armorAdd.value"
  [step]="1"
  [stepShift]="100"
  [stepCtrl]="10"
  [stepAlt]="0.1"
  [lockPreset]="lockPreset"
>
  <span slot="start" class="join-item btn btn-sm justify-start text-left w-40"> Shield </span>
</nwb-stacked-value-control>
