<label class="label">
  <span class="label-text">Modifiers</span>
</label>
<div class="grid gap-x-4 gap-y-1 grid-auto-fit-80">
  <nwb-stacked-value-control [(ngModel)]="modCritReduction.value" [percent]="true" [min]="0">
    <span slot="start" class="join-item btn btn-sm justify-start text-left w-40"> Cirt Reduction </span>
    <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipCrit" [preventClick]="true">
      <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
    </button>
    <ng-template #tipCrit>
      <div class="p-2 prose prose-sm leading-tight w-80">
        <h4>Crit Damage Reduction</h4>
        <p>This value is simply subtracted from attackers crit damage modifier.</p>
      </div>
    </ng-template>
  </nwb-stacked-value-control>
  <div>
    <nwb-stacked-value-control [(ngModel)]="modBaseReduction.value" [percent]="true" [min]="0">
      <span slot="start" class="join-item btn btn-sm justify-start text-left w-40">
        <img [nwImage]="store.offenderWeaponDamageTypeIcon()" class="w-5 h-5" />
        Base Reduction
      </span>
      <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipBase" [preventClick]="true">
        <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
      </button>
      <ng-template #tipBase>
        <div class="p-2 prose prose-sm leading-tight w-80">
          <h4>Base Damage Reduction</h4>
          <p>This value is simply subtracted from attackers base damage modifier.</p>
        </div>
      </ng-template>
    </nwb-stacked-value-control>
    @if (store.offenderConvertIsActive()) {
      <nwb-stacked-value-control [(ngModel)]="modBaseReductionConv.value" [percent]="true" [min]="0" class="mt-1">
        <span slot="start" class="join-item btn btn-sm justify-start text-left w-40 btn-secondary">
          <img [nwImage]="store.offenderConvertDamageTypeIcon()" class="w-5 h-5" />
          Base Reduction
        </span>
        <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipBaseAffix" [preventClick]="true">
          <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
        </button>
        <ng-template #tipBaseAffix>
          <div class="p-2 prose prose-sm leading-tight w-80">
            <h4>Base Damage Reduction</h4>
            <p>This value is simply subtracted from attackers base damage modifier.</p>
          </div>
        </ng-template>
      </nwb-stacked-value-control>
    }
  </div>

  <div>
    <nwb-stacked-value-control [(ngModel)]="modABS.value" [percent]="true" >
      <span slot="start" class="join-item btn btn-sm justify-start text-left w-40">
        <img [nwImage]="store.offenderWeaponDamageTypeIcon()" class="w-5 h-5" />
        ABS
      </span>
      <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipABS" [preventClick]="true">
        <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
      </button>
      <ng-template #tipABS>
        <div class="p-2 prose prose-sm leading-tight w-80">
          <h4>Fortify / Rend</h4>
          <p>
            Affects the <code class="mx-0">ABS</code> multiplier. Common limits are
            <code class="mx-0 whitespace-nowrap">[-30%, +50%]</code>
            These caps can be exceeded in certain scenarios.
            <br />
            <br />
            Use the input field to simulate additional fortify (increase value) or rend (decrease value).
            <br />
            <br />
            This is applied to the unconverted damage
          </p>
        </div>
      </ng-template>
    </nwb-stacked-value-control>
    @if (store.offenderConvertIsActive()) {
      <nwb-stacked-value-control [(ngModel)]="modABSConv.value" [percent]="true"  class="mt-1">
        <span slot="start" class="join-item btn btn-sm justify-start text-left w-40 btn-secondary">
          <img [nwImage]="store.offenderConvertDamageTypeIcon()" class="w-5 h-5" />
          ABS
        </span>
        <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipABSAffix" [preventClick]="true">
          <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
        </button>
        <ng-template #tipABSAffix>
          <div class="p-2 prose prose-sm leading-tight w-80">
            <h4>Fortify / Rend</h4>
            <p>
              Affects the <code class="mx-0">ABS</code> multiplier. Common limits are
              <code class="mx-0 whitespace-nowrap">[-30%, +50%]</code>
              These caps can be exceeded in certain scenarios.
              <br />
              <br />
              Use the input field to simulate additional fortify (increase value) or rend (decrease value).
              <br />
              <br />
              This is applied to the unconverted damage
            </p>
          </div>
        </ng-template>
      </nwb-stacked-value-control>
    }
  </div>

  <div>
    <nwb-stacked-value-control [(ngModel)]="modWKN.value" [percent]="true" >
      <span slot="start" class="join-item btn btn-sm justify-start text-left w-40">
        <img [nwImage]="store.offenderWeaponDamageTypeIcon()" class="w-5 h-5" />
        WKN
      </span>
      <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipWkn" [preventClick]="true">
        <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
      </button>
      <ng-template #tipWkn>
        <div class="p-2 prose prose-sm leading-tight w-80">
          <h4>Weakness</h4>
          <p>This is applied to the unconverted damage</p>
        </div>
      </ng-template>
    </nwb-stacked-value-control>
    @if (store.offenderConvertIsActive()) {
      <nwb-stacked-value-control [(ngModel)]="modWKNConv.value" [percent]="true"  class="mt-1">
        <span slot="start" class="join-item btn btn-sm justify-start text-left w-40 btn-secondary">
          <img [nwImage]="store.offenderConvertDamageTypeIcon()" class="w-5 h-5" />
          WKN
        </span>
        <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipWknAffix" [preventClick]="true">
          <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
        </button>
        <ng-template #tipWknAffix>
          <div class="p-2 prose prose-sm leading-tight w-80">
            <h4>Weakness</h4>
            <p>This is applied to the converted damage</p>
          </div>
        </ng-template>
      </nwb-stacked-value-control>
    }
  </div>
</div>
