<div class="flex flex-row justify-between">
  <span class="label"> Defender </span>
  <label class="label flex flex-row items-center gap-2 cursor-pointer">
    <span> Is Player </span>
    <input
      type="checkbox"
      class="toggle toggle-xs toggle-success"
      [ngModel]="isPlayer.value"
      (ngModelChange)="setIsPlayer($event)"
      [disabled]="isBound"
    />
  </label>
</div>
@if (isVitalPickable) {
  <div class="join w-full">
    <button class="join-item btn btn-sm w-full" (click)="pickVital()">
      @if (vitalName(); as name) {
        {{ name | nwText }}
      } @else {
        <span class="italic">- select creature -</span>
      }
    </button>
  </div>
}
<div class="join w-full">
  <button
    class="join-item btn btn-sm justify-start text-left w-40"
    [cdkMenuTriggerFor]="isLevelDisabled ? null : tplSliderLevel"
  >
    Level
  </button>
  <nwb-precision-input
    class="join-item input border-0 input-sm text-right w-full"
    [min]="levelMin"
    [max]="levelMax"
    [step]="1"
    [stepShift]="10"
    [stepCtrl]="5"
    [(ngModel)]="level.value"
    [disabled]="isLevelDisabled"
  />
  <button class="join-item btn btn-sm btn-square" [tooltip]="tipLevel">
    <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
  </button>
  <ng-template #tplSliderLevel>
    <div class="bg-base-200 border border-base-100 rounded-lg p-4 w-80" cdkMenu>
      <nwb-input-slider
        class="w-full"
        [size]="'xs'"
        [min]="levelMin"
        [max]="levelMax"
        [step]="1"
        [bars]="true"
        [barsStep]="10"
        [values]="true"
        [(ngModel)]="level.value"
      />
    </div>
  </ng-template>
</div>
<div class="join w-full">
  <button
    class="join-item btn btn-sm justify-start text-left w-40"
    [cdkMenuTriggerFor]="isGsDisabled ? null : tplGearScoreLevel"
  >
    GS
  </button>
  <nwb-precision-input
    class="join-item input border-0 input-sm text-right w-full"
    [min]="gsMin"
    [max]="gsMax"
    [step]="1"
    [stepShift]="100"
    [stepCtrl]="10"
    [(ngModel)]="gearScore.value"
    [disabled]="isGsDisabled"
  />
  <button class="join-item btn btn-sm btn-square" [tooltip]="tipGearScore">
    <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
  </button>
  <ng-template #tplGearScoreLevel>
    <div class="bg-base-200 border border-base-100 rounded-lg p-4 w-80" cdkMenu>
      <nwb-input-slider
        class="w-full"
        [size]="'xs'"
        [min]="gsMin"
        [max]="gsMax"
        [step]="1"
        [bars]="true"
        [barsStep]="100"
        [values]="true"
        [(ngModel)]="gearScore.value"
      />
    </div>
  </ng-template>
</div>

<ng-template #tipLevel>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>Level</h4>
    <p>
      In <span class="text-info font-bold">PvP</span>, the level gap between attacker and defender dictates the scaling
      of PvP damage.
    </p>
    <p>In <span class="text-success font-bold">PvE</span>, the level is an indicator for the Creatures gear score.</p>
  </div>
</ng-template>

<ng-template #tipGearScore>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>Average Gear Score</h4>
    <p>
      In <span class="text-info font-bold">PvP</span>, attackers' weapon gear score adjusts based on the average gear
      score difference.
    </p>
    <p>
      In <span class="text-success font-bold">PvE</span>, this input has no effect in the calculator because the gear
      score is derived from the creatures level.
    </p>
  </div>
</ng-template>
