<label class="label">
  <span class="label-text text-secondary"> Convert Damage </span>
  <span class="label-text" [class.text-primary]="scalingIsHigher"> Scaling {{ scalingSum | number: '0.2-2' }} </span>
</label>
<span class="join">
  <button
    class="join-item btn btn-sm flex-1 text-left"
    [class.btn-error]="!!convertPercent.value && !convertType.value"
    [cdkMenuTriggerFor]="tplDamageType"
  >
    @if (convertType.value) {
      <img [nwImage]="store.offenderConvertDamageTypeIcon()" class="w-5 h-5" />
      <span> {{ convertType.value }} </span>
    } @else {
      <span class="italic"> - none - </span>
    }
    <ng-template #tplDamageType>
      <ul class="menu menu-compact bg-base-100 rounded-md w-80" cdkMenu>
        @for (item of damageTypeOptions(); track $index) {
          <li class="text-shadow-sm shadow-black" cdkMenuItem>
            <a (click)="convertType.value = item.value">
              <img [nwImage]="item.icon" class="w-5 h-5 ml-2" />
              <span>{{ item.label }}</span>
            </a>
          </li>
        }
      </ul>
    </ng-template>
  </button>
  <button class="join-item btn btn-sm btn-square" (click)="pickAffix()">
    <nwb-icon [icon]="iconMore" class="w-4 h-4" />
  </button>
</span>
<span class="join mt-1" [cdkMenuTriggerFor]="tplSlider">
  <button class="join-item btn btn-sm w-20 px-0">Convert</button>
  <input
    type="number"
    class="join-item flex-1 appearance-none input input-sm input-bordered text-right"
    [min]="0"
    [max]="100"
    [step]="1"
    [(ngModel)]="convertPercent.value"
    (wheel)="($event)"
  />
  <span class="join-item input input-sm bg-base-200"> % </span>
  <ng-template #tplSlider>
    <div class="bg-base-200 bg-opacity-75 border border-base-100 rounded-lg p-4 w-80" cdkMenu>
      <nwb-input-slider
        class="w-full"
        [size]="'xs'"
        [min]="0"
        [max]="100"
        [step]="1"
        [bars]="true"
        [barsStep]="20"
        [values]="true"
        [(ngModel)]="convertPercent.value"
      />
    </div>
  </ng-template>
</span>
<span class="join mt-1">
  <button class="join-item btn btn-sm w-20 px-0">Scaling</button>
  @for (item of scaling; track $index) {
    <input
      type="number"
      class="join-item w-full appearance-none input input-sm input-bordered text-right text-xs"
      [class.opacity-25]="!item.access.value"
      [placeholder]="item.label"
      [min]="0"
      [max]="100"
      [step]="1"
      [(ngModel)]="item.access.value"
      (wheel)="($event)"
    />
  }
  <span class="join-item input input-sm bg-base-200"> % </span>
</span>
