<div class="flex flex-row">
  <span class="label"> Attack </span>
</div>
@if (!isBound && !!attackOptions().length) {
  <span class="join w-full" [cdkMenuTriggerFor]="attackOptions().length ? tplAttacks : null">
    <button class="join-item btn btn-sm w-full" [disabled]="!attackOptions().length">
      @if (!damageRow.value) {
        <span class="italic"> -- none -- </span>
      } @else {
        {{ damageRow.value | nwHumanize }}
        @if (attackType.value) {
          <span
            class="badge badge-xs"
            [class.badge-success]="attackInfo().isLight"
            [class.badge-error]="attackInfo().isHeavy"
            [class.badge-secondary]="attackInfo().isAbility"
          >
            {{ attackType.value }}
          </span>
        }
        @if (attackKind.value) {
          <span
            class="badge badge-xs"
            [class.badge-info]="attackKind.value === 'Ranged'"
            [class.badge-primary]="attackKind.value === 'Melee'"
          >
            {{ attackKind.value }}
          </span>
        }
      }
    </button>
    <ng-template #tplAttacks>
      <ul
        class="menu menu-compact bg-base-200 border border-base-100 rounded-md w-80 max-h-[80vh] overflow-y-auto flex flex-col flex-nowrap"
        cdkMenu
      >
        <li class="text-shadow-sm shadow-black" cdkMenuItem>
          <a (click)="damageRow.value = null">
            <span>- none -</span>
          </a>
        </li>
        @for (item of attackOptions(); track $index) {
          <li class="text-shadow-sm shadow-black" cdkMenuItem>
            <a (click)="onAttackSelected(item.value, item)" class="flex flex-row">
              <span>{{ item.label | nwText }}</span>
              <span class="flex-1"></span>
              @if (item.type) {
                <span
                  class="badge badge-xs"
                  [class.badge-success]="item.isLight"
                  [class.badge-error]="item.isHeavy"
                  [class.badge-secondary]="item.isAbility"
                >
                  {{ item.type }}
                </span>
              }
              @if (item.isRanged) {
                <span class="badge badge-xs badge-info">Ranged</span>
              }
              <span>{{ item.coef | percent: '0.0-1' }}</span>
            </a>
          </li>
        }
      </ul>
    </ng-template>
  </span>
}

<span class="join w-full">
  <button class="join-item btn btn-sm justify-start text-left w-40">Damage Coef</button>
  <nwb-precision-input
    class="join-item input border-0 input-sm text-right w-full"
    [min]="0"
    [step]="0.1"
    [stepShift]="10"
    [stepCtrl]="1"
    [stepAlt]="0.01"
    [scale]="100"
    [unit]="'%'"
    [(ngModel)]="damageCoef.value"
    [disabled]="isBound"
    [class.text-white]="isBound && damageCoef.value"
  />
  <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipCoef" [preventClick]="true">
    <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
  </button>
  <ng-template #tipCoef>
    <div class="p-2 prose prose-sm leading-tight w-80">
      <h4>Damage Coefficient</h4>
      <p>The strength of the attack</p>
    </div>
  </ng-template>
</span>

<span class="join w-full">
  <button class="join-item btn btn-sm justify-start text-left w-40">Damage Add</button>
  <input
    type="number"
    class="join-item appearance-none input border-0 input-sm text-right w-full"
    [step]="1"
    [(ngModel)]="damageAdd.value"
    (wheel)="($event)"
    [disabled]="isBound"
    [class.text-white]="isBound && damageCoef.value"
  />
  <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipAdd" [preventClick]="true">
    <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
  </button>
  <ng-template #tipAdd>
    <div class="p-2 prose prose-sm leading-tight w-80">
      <h4>Additional damage</h4>
      <p>Damage that is simply added.</p>
    </div>
  </ng-template>
</span>
