<div class="flex flex-row justify-between">
  <span class="label">Modifiers</span>
</div>
<div class="grid gap-x-4 gap-y-[6px] grid-auto-fit-80">
  <nwb-stacked-value-control [(ngModel)]="modPvP.value" class="col-start-1" [percent]="true">
    <span slot="start" class="join-item btn btn-sm justify-start text-left w-40"> PvP Balance </span>
    <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipModPvP" [preventClick]="true">
      <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
    </button>
  </nwb-stacked-value-control>
  <nwb-stacked-value-control [(ngModel)]="modAmmo.value" [percent]="true" class="group">
    <span slot="start" class="join-item btn btn-sm justify-start text-left w-40 indicator">
      Ammo
    </span>
    <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipModAmmo" [preventClick]="true">
      <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
    </button>
  </nwb-stacked-value-control>
  <nwb-stacked-value-control [(ngModel)]="modCrit.value" [percent]="true">
    <span slot="start" class="join-item btn btn-sm justify-start text-left w-40"> Crit Damage </span>
    <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipModCrit" [preventClick]="true">
      <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
    </button>
  </nwb-stacked-value-control>

  <div class="fieldset py-0">
    <nwb-stacked-value-control [(ngModel)]="modBase.value" [percent]="true">
      <span slot="start" class="join-item btn btn-sm justify-start text-left w-40">
        <img [nwImage]="store.offenderWeaponDamageTypeIcon()" class="w-5 h-5" />
        Base Damage
      </span>

      <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipBaseDamage" [preventClick]="true">
        <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
      </button>
    </nwb-stacked-value-control>

    @if (store.offenderAffixIsActive()) {
      <nwb-stacked-value-control [(ngModel)]="modBaseAffix.value" [percent]="true">
        <span slot="start" class="join-item btn btn-sm justify-start text-left w-40 text-secondary">
          <img [nwImage]="store.offenderAffixDamageTypeIcon()" class="w-5 h-5" />
          Base Damage
        </span>
        <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipBaseDamage" [preventClick]="true">
          <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
        </button>
      </nwb-stacked-value-control>
    }
    @if (store.offenderDotIsActive()) {
      <nwb-stacked-value-control [(ngModel)]="modBaseDot.value" [percent]="true">
        <span slot="start" class="join-item btn btn-sm justify-start text-left w-40 text-accent">
          <img [nwImage]="store.offenderDotDamageTypeIcon()" class="w-5 h-5" />
          Base Damage
        </span>
        <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipBaseDamage" [preventClick]="true">
          <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
        </button>
      </nwb-stacked-value-control>
    }
  </div>

  <div class="fieldset py-0">
    <nwb-stacked-value-control [(ngModel)]="modDMG.value" [percent]="true">
      <span slot="start" class="join-item btn btn-sm justify-start text-left w-40">
        <img [nwImage]="store.offenderWeaponDamageTypeIcon()" class="w-5 h-5" />
        DMG
      </span>
      <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipModDmg" [preventClick]="true">
        <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
      </button>
    </nwb-stacked-value-control>
    @if (store.offenderAffixIsActive()) {
      <nwb-stacked-value-control [(ngModel)]="modDMGAffix.value" [percent]="true">
        <span slot="start" class="join-item btn btn-sm justify-start text-left w-40 text-secondary">
          <img [nwImage]="store.offenderAffixDamageTypeIcon()" class="w-5 h-5" />
          DMG
        </span>
        <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipModDmg" [preventClick]="true">
          <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
        </button>
      </nwb-stacked-value-control>
    }
    @if (store.offenderDotIsActive()) {
      <nwb-stacked-value-control [(ngModel)]="modDMGDot.value" [percent]="true">
        <span slot="start" class="join-item btn btn-sm justify-start text-left w-40 text-accent">
          <img [nwImage]="store.offenderDotDamageTypeIcon()" class="w-5 h-5" />
          DMG
        </span>
        <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipModDmg" [preventClick]="true">
          <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
        </button>
      </nwb-stacked-value-control>
    }
  </div>

  <nwb-stacked-value-control [(ngModel)]="armorPenetration.value" [percent]="true">
    <span slot="start" class="join-item btn btn-sm justify-start text-left w-40"> Armor Penetration </span>
    <button slot="end" class="join-item btn btn-sm btn-square" [tooltip]="tipArmorPenetration" [preventClick]="true">
      <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
    </button>
  </nwb-stacked-value-control>
</div>

<ng-template #tipModPvP>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>PvP Balance Modifier <span class="badge badge-sm badge-info">PvP only</span></h4>
    <p>In <span class="text-info font-bold">PvP</span>, certain weapons damage is scaled down.</p>
    <p>Use a negative value to represent the weapon's damage reduction.</p>
  </div>
</ng-template>

<ng-template #tipModAmmo>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>Ammo Modifier</h4>
    <p>Ammunition, such as arrows or bullets, boosts the weapon's damage.</p>
  </div>
</ng-template>

<ng-template #tipModCrit>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>Critical Damage Modifier</h4>
    <p>Boosts damage for critical hits.</p>
  </div>
</ng-template>

<ng-template #tipBaseDamage>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>Base Damage Modifier</h4>
    <p>Boosts the weapons base damage.</p>
    <hr class="mt-0 mb-3" />
    <p class="italic text-xs text-nw-description">
      Modifiers may impact multiple damage types in-game. This calculator requires modifiers to be set for each
      calculation path.
      <br />
      <br />
      You may need to replicate the same modifier values for each path:
      <span class="text-white font-bold">Weapon</span>, <span class="text-secondary font-bold">Affix</span>, and
      <span class="text-accent font-bold">DoT</span>
      damage.
    </p>
  </div>
</ng-template>

<ng-template #tipModDmg>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>Empower / Weaken Modifier</h4>
    <p>
      This value is utilized to both, to <i class="text-success">Empower</i> and to <i class="text-error">Weaken</i> the
      damage
    </p>
    <p>Increase the value to simulate <i class="text-success">Empower</i>, or add positives values to the stack</p>
    <p>Decrease the value to simulate <i class="text-error">Weaken</i>, or add negative values to the stack</p>
    <p>
      Common caps are
      <code class="mx-0 whitespace-nowrap">
        [<span class="text-error">-50%</span>, <span class="text-success">+50%</span>]
      </code>
      which can be exceeded in certain scenarios.
    </p>
    <hr class="mt-0 mb-3" />
    <p class="italic text-xs text-nw-description">
      Modifiers may impact multiple damage types in-game. This calculator requires modifiers to be set for each
      calculation path.
      <br />
      <br />
      You may need to replicate the same modifier values for each path:
      <span class="text-white font-bold">Weapon</span>, <span class="text-secondary font-bold">Affix</span>, and
      <span class="text-accent font-bold">DoT</span>
      damage.
    </p>
  </div>
</ng-template>

<ng-template #tipArmorPenetration>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>Armor Penetration <span class="badge badge-sm badge-info">PvP only</span></h4>
    <p>Reduces the damage mitigated by the target's armor.</p>
  </div>
</ng-template>
