<div class="flex flex-row justify-between">
  <span class="label"> Player </span>
  @if (isPvp()) {
    <span class="label"> PvP Scaling {{ pvpScale() | number: '0.2-2' }} </span>
  }
</div>
<div class="join w-full">
  <button class="join-item btn btn-sm w-20 text-left justify-start" [cdkMenuTriggerFor]="tplSliderLevel">Level</button>
  <nwb-precision-input
    class="join-item input border-0 input-sm text-right w-full"
    [min]="levelMin"
    [max]="levelMax"
    [step]="1"
    [stepShift]="10"
    [stepCtrl]="5"
    [(ngModel)]="level.value"
  />
  <span class="join-item input border-0 input-sm bg-base-200">
    {{ store.offenderLevelFactor() | number: '0.2-2' }}
  </span>
  <button class="join-item btn btn-sm btn-square" [tooltip]="tipLevel" [preventClick]="true">
    <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
  </button>
  <ng-template #tplSliderLevel>
    <div class="bg-base-200 border border-base-100 rounded-lg p-4 w-80" cdkMenu>
      <nwb-input-slider
        class="w-full"
        [size]="'xs'"
        [min]="levelMin"
        [max]="levelMax"
        [step]="1"
        [bars]="true"
        [barsStep]="10"
        [values]="true"
        [(ngModel)]="level.value"
      />
    </div>
  </ng-template>
</div>
<div class="join w-full">
  <button class="join-item btn btn-sm w-20 justify-start" [cdkMenuTriggerFor]="isBound ? null : tplGearScoreLevel">
    GS
  </button>
  <nwb-precision-input
    class="join-item input border-0 input-sm text-right w-full"
    [min]="gsMin"
    [max]="gsMax"
    [step]="1"
    [stepShift]="100"
    [stepCtrl]="10"
    [(ngModel)]="gearScore.value"
    [disabled]="isBound"
    [class.text-white]="isBound && gearScore.value"
  />
  <ng-template #tplGearScoreLevel>
    <div class="bg-base-200 border border-base-100 rounded-lg p-4 w-80" cdkMenu>
      <nwb-input-slider
        class="w-full"
        [size]="'xs'"
        [min]="gsMin"
        [max]="gsMax"
        [step]="1"
        [bars]="true"
        [barsStep]="100"
        [values]="true"
        [(ngModel)]="gearScore.value"
      />
    </div>
  </ng-template>
  <button class="join-item btn btn-sm btn-square" [tooltip]="tipGearScore" [preventClick]="true">
    <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
  </button>
</div>

<span class="join w-full">
  <span class="join-item btn btn-sm w-20 justify-start" [cdkMenuTriggerFor]="isBound ? null : tplToolAttrs">
    Stats
  </span>
  @for (stat of attrPoints; track $index) {
    <nwb-precision-input
      class="join-item w-full input border-0 input-sm text-center focus-within:z-10 pl-0"
      [min]="attrMin"
      [max]="attrMax"
      [step]="1"
      [stepShift]="100"
      [stepCtrl]="10"
      [(ngModel)]="stat.access.value"
      [disabled]="isBound"
      [class.input-error]="!stat.access.value"
    >
      <span class="absolute top-0 left-0 text-xs leading-none opacity-30 scale-75">{{ stat.label }}</span>
    </nwb-precision-input>
  }
  <button class="join-item btn btn-sm btn-square" [tooltip]="tipStats" [preventClick]="true">
    <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
  </button>

  <ng-template #tplToolAttrs>
    <div
      class="bg-base-200 border border-base-100 rounded-lg p-4"
      style="width: min(calc(100vw - 2.5rem), 800px)"
      cdkMenu
    >
      <nwb-attributes-editor [freeMode]="true" [assigned]="attrsAssigned" (assignedChanged)="attrsAssigned = $event" />
    </div>
  </ng-template>
</span>

<span class="join w-full">
  <span class="join-item btn btn-sm w-20 justify-start"> Levels </span>
  @for (stat of attrLevels; track $index) {
    <input
      class="join-item w-full border-0 appearance-none bg-base-200 text-center text-xs px-0"
      [class.opacity-25]="!stat.access.value"
      [ngModel]="stat.access.value"
      disabled
    />
  }
  <button class="join-item btn btn-sm btn-square" [tooltip]="tipLevels" [preventClick]="true">
    <nwb-icon [icon]="iconInfo" class="w-4 h-4" />
  </button>
</span>

<ng-template #tipLevel>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>Level</h4>
    <p>Damage is scaled off the attacker level.</p>
    <p>
      In <span class="text-info font-bold">PvP</span>, the level gap between attacker and defender dictates the scaling
      of PvP damage.
    </p>
  </div>
</ng-template>

<ng-template #tipGearScore>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>Average Gear Score <span class="badge badge-info badge-xs">PvP only</span></h4>
    <p>
      In <span class="text-info font-bold">PvP</span>, attackers' weapon gear score adjusts based on the average gear
      score difference.
    </p>
  </div>
</ng-template>

<ng-template #tipStats>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>Attribute Points</h4>
    <p>The assigned attribute points.</p>
  </div>
</ng-template>

<ng-template #tipLevels>
  <div class="p-2 prose prose-sm leading-tight w-80">
    <h4>Attribute Modifier Sums</h4>
    <p>These values, derived from assigned attribute points, contribute to weapon scaling.</p>
  </div>
</ng-template>
