<label class="label">
  <span class="label-text"> Player </span>
</label>
<div class="join" [cdkMenuTriggerFor]="tplSliderLevel">
  <button class="join-item btn btn-sm w-20">Level</button>
  <input
    type="number"
    class="join-item appearance-none input input-sm input-bordered text-right w-full"
    [min]="levelMin"
    [max]="levelMax"
    [step]="1"
    [(ngModel)]="level.value"
    (wheel)="($event)"
  />
  <span class="join-item input input-sm bg-base-200">
    {{ store.offenderLevelFactor() | number: '0.2-2' }}
  </span>
  <ng-template #tplSliderLevel>
    <div class="bg-base-200 bg-opacity-75 border border-base-100 rounded-lg p-4 w-80" cdkMenu>
      <nwb-input-slider
        class="w-full"
        [size]="'xs'"
        [min]="levelMin"
        [max]="levelMax"
        [step]="1"
        [bars]="true"
        [barsStep]="10"
        [values]="true"
        [(ngModel)]="level.value"
      />
    </div>
  </ng-template>
</div>
<div class="join mt-1" [cdkMenuTriggerFor]="tplGearScoreLevel">
  <button class="join-item btn btn-sm w-20">GS</button>
  <input
    type="number"
    class="join-item w-full appearance-none input input-sm input-bordered text-right"
    [min]="gsMin"
    [max]="gsMax"
    [step]="1"
    [(ngModel)]="gearScore.value"
    (wheel)="($event)"
  />
  <ng-template #tplGearScoreLevel>
    <div class="bg-base-200 bg-opacity-75 border border-base-100 rounded-lg p-4 w-80" cdkMenu>
      <nwb-input-slider
        class="w-full"
        [size]="'xs'"
        [min]="gsMin"
        [max]="gsMax"
        [step]="1"
        [bars]="true"
        [barsStep]="100"
        [values]="true"
        [(ngModel)]="gearScore.value"
      />
    </div>
  </ng-template>
</div>

<span class="join mt-1">
  <span class="join-item btn btn-sm w-20"> Stats </span>
  @for (stat of attrPoints; track $index) {
    <input
      type="number"
      class="join-item w-full appearance-none input input-sm input-bordered text-right"
      [min]="attrMin"
      [max]="attrMax"
      [step]="1"
      [(ngModel)]="stat.access.value"
      (wheel)="($event)"
      [cdkMenuTriggerFor]="tplAttrPoint"
    />
    <ng-template #tplAttrPoint>
      <div class="bg-base-200 bg-opacity-75 border border-base-100 rounded-lg p-4 w-80" cdkMenu>
        <nwb-input-slider
          class="w-full"
          [size]="'xs'"
          [min]="attrMin"
          [max]="attrMax"
          [step]="1"
          [bars]="true"
          [barsStep]="100"
          [values]="true"
          [(ngModel)]="stat.access.value"
        />
      </div>
    </ng-template>
  }
</span>

<span class="join mt-1">
  <span class="join-item btn btn-sm w-20"> Levels </span>
  @for (stat of attrLevels; track $index) {
    <input
      class="join-item w-full appearance-none input input-sm input-bordered text-right"
      [class.opacity-25]="!stat.access.value"
      [ngModel]="stat.access.value"
      (wheel)="($event)"
      disabled
    />
  }
</span>
