<label class="join">
  <ng-content select="[slot='start']" />
  @if (inlineInputDisabled) {
    <nwb-precision-input
      type="number"
      class="join-item appearance-none input input-sm input-bordered text-right w-full"
      [class.text-white]="!!total"
      [scale]="scale"
      [ngModel]="total"
      [disabled]="inlineInputDisabled"
      [unit]="unit"
      [disabled]="true"
    />
  } @else {
    <nwb-precision-input
      class="join-item appearance-none input input-sm text-right w-full"
      [class.opacity-15]="!value"
      [class.input-bordered]="!!value"
      [min]="min"
      [max]="max"
      [step]="step"
      [stepAlt]="stepAlt"
      [stepCtrl]="stepCtrl"
      [stepShift]="stepShift"
      [scale]="scale"
      [(ngModel)]="value"
      [disabled]="inlineInputDisabled"
      [unit]="unit"
    />
  }
  <button class="join-item btn btn-sm btn-square no-animation" (click)="isOpen = !isOpen">
    <nwb-icon [icon]="iconMore" class="w-4 h-4" />
  </button>
  <ng-content select="[slot='end']" />
</label>
@if (isOpen) {
  <label class="join">
    <span class="join-item input input-sm input-ghost rounded-none flex-1">
      {{ lockPreset ? 'Preset' : 'Adjust' }}
    </span>
    <nwb-precision-input
      class="join-item appearance-none input input-sm rounded-none text-right w-20"
      [class.text-white]="lockPreset && !!value"
      [min]="min"
      [max]="max"
      [step]="step"
      [stepAlt]="stepAlt"
      [stepCtrl]="stepCtrl"
      [stepShift]="stepShift"
      [scale]="scale"
      [(ngModel)]="value"
      [unit]="unit"
      [disabled]="lockPreset"
    />
    <span class="join-item w-14"></span>
    <span
      class="join-item btn btn-sm btn-square btn-ghost text-primary no-animation rounded-none cursor-default pointer-events-none"
    >
    </span>
    <button class="join-item btn btn-sm btn-square text-primary no-animation rounded-none" (click)="addToStack()">
      <nwb-icon [icon]="iconAdd" class="w-4 h-4" />
    </button>
  </label>

  @for (row of stack; track $index) {
    <label class="join">
      @if (row.tag) {
        @if (row.icon) {
          <span class="btn btn-ghost btn-sm pointer-events-none pr-0">
            <img [nwImage]="row.icon" class="w-4 h-4" />
          </span>
        }
        <span
          class="join-item input input-sm bg-base-200 rounded-none min-w-0 flex-1 text-nowrap truncate"
          [title]="row.label | nwText"
        >
          {{ row.label | nwText }}
        </span>
      } @else {
        <input
          class="join-item input input-sm bg-base-200 rounded-none min-w-0 flex-1"
          placeholder="Label"
          [ngModel]="row.label"
          (ngModelChange)="setStackItemLabel($index, $event)"
          [disabled]="row.disabled || !!row.tag"
        />
      }
      <nwb-precision-input
        class="join-item appearance-none input input-sm rounded-none text-right w-20"
        [min]="min"
        [max]="max"
        [step]="step"
        [stepAlt]="stepAlt"
        [stepCtrl]="stepCtrl"
        [stepShift]="stepShift"
        [scale]="scale"
        [ngModel]="row.value"
        (ngModelChange)="setStackItemValue($index, $event)"
        [unit]="unit"
        [disabled]="row.disabled || !!row.tag"
        [class.text-white]="!row.disabled && !!row.tag && !!row.value"
      />
      <nwb-precision-input
        class="join-item appearance-none input input-sm rounded-none text-right w-14"
        placeholder="Cap"
        [min]="min"
        [max]="max"
        [step]="step"
        [stepAlt]="stepAlt"
        [stepCtrl]="stepCtrl"
        [stepShift]="stepShift"
        [scale]="scale"
        [ngModel]="row.cap"
        (ngModelChange)="setStackItemCap($index, $event)"
        [unit]="unit"
        [disabled]="row.disabled || !!row.tag"
        [class.text-white]="!row.disabled && !!row.tag && !!row.cap"
      />
      <span class="join-item btn btn-sm btn-square rounded-none" (click)="toggleInStack($index)">
        <input
          type="checkbox"
          class="toggle toggle-xs"
          [class.toggle-success]="!row.disabled"
          [ngModel]="!row.disabled"
        />
      </span>
      <button
        class="join-item btn btn-sm btn-square rounded-none no-animation"
        (click)="removeFromStack($index)"
        [class.grayscale]="!!row.tag"
        [disabled]="!!row.tag"
      >
        <nwb-icon [icon]="iconAdd" class="w-4 h-4 rotate-45 text-error" />
      </button>
    </label>
  }

  <div class="flex flex-row items-center justify-center gap-2 py-2">
    Value:
    <span class="text-primary">{{ total * scale | number: '0.1-2' }}{{ unit }}</span>
    @if (overflow) {
      Overflow:
      <span class="text-error">{{ overflow * scale | number: '0.1-2' }}{{ unit }}</span>
    }
  </div>
}
