<label class="join w-full">
  <ng-content select="[slot='start']" />
  @if (inlineInputDisabled) {
    <nwb-precision-input
      type="number"
      class="join-item appearance-none input input-sm border-0 text-right w-full focus-within:z-10"
      [class.text-white]="!!total"
      [scale]="scale"
      [ngModel]="total"
      [disabled]="inlineInputDisabled"
      [unit]="unit"
      [disabled]="true"
    />
  } @else {
    <nwb-precision-input
      class="join-item appearance-none input input-sm border-0 text-right w-full text-white focus-within:z-10"
      [min]="min"
      [max]="max"
      [step]="step"
      [stepAlt]="stepAlt"
      [stepCtrl]="stepCtrl"
      [stepShift]="stepShift"
      [scale]="scale"
      [(ngModel)]="value"
      [disabled]="inlineInputDisabled"
      [unit]="unit"
    />
  }
  <ng-content select="[slot='end']" />
  <button class="join-item btn btn-sm btn-square no-animation" (click)="isOpen = !isOpen">
    <nwb-icon
      [icon]="iconLeft"
      class="w-4 h-4 transition-transform"
      [class.-rotate-180]="!isOpen"
      [class.-rotate-90]="isOpen"
    />
  </button>
</label>
@if (isOpen) {
  <label class="join w-full">
    <span class="join-item input input-sm border-0 input-ghost rounded-none flex-1">
      {{ lockPreset ? 'Preset' : 'Adjust' }}
    </span>
    <nwb-precision-input
      class="join-item appearance-none input input-sm border-0 rounded-none text-right w-20 focus-within:z-10"
      [class.text-white]="lockPreset && !!value"
      [min]="min"
      [max]="max"
      [step]="step"
      [stepAlt]="stepAlt"
      [stepCtrl]="stepCtrl"
      [stepShift]="stepShift"
      [scale]="scale"
      [(ngModel)]="value"
      [unit]="unit"
      [disabled]="lockPreset"
    />
    <span class="join-item w-14"></span>
    <span
      class="join-item btn btn-sm btn-square btn-ghost text-primary no-animation rounded-none cursor-default pointer-events-none"
    >
    </span>
    <button class="join-item btn btn-sm btn-square text-primary no-animation rounded-none" (click)="addToStack()">
      <nwb-icon [icon]="iconAdd" class="w-4 h-4" />
    </button>
  </label>

  @for (row of stack; track $index) {
    <label class="join relative">
      @if (row.ref) {
        @if (row.icon) {
          <span class="btn btn-ghost btn-sm pointer-events-none pr-0">
            <img [nwImage]="row.icon" class="w-4 h-4" />
          </span>
        }
        <span
          class="join-item input input-sm bg-base-200 border-0 rounded-none min-w-0 flex-1 text-nowrap truncate"
          [title]="row.label | nwText"
        >
          {{ row.label | nwText }}
        </span>
      } @else {
        <input
          class="join-item input input-sm bg-base-200 border-0 rounded-none min-w-0 flex-1 focus:z-10"
          placeholder="Label"
          [ngModel]="row.label"
          (ngModelChange)="setStackItemLabel($index, $event)"
          [disabled]="!isItemEnabled(row)"
        />
      }
      <span class="absolute -top-2 left-1">
        @if (isTagEnabled(row, 'Light')) {
          <span class="badge badge-xs scale-50 badge-success"></span>
        }
        @if (isTagEnabled(row, 'Heavy')) {
          <span class="badge badge-xs scale-50 badge-error"></span>
        }
        @if (isTagEnabled(row, 'Ability')) {
          <span class="badge badge-xs scale-50 badge-secondary"></span>
        }
        @if (isTagEnabled(row, 'Magic')) {
          <span class="badge badge-xs scale-50 bg-white"></span>
        }
        @if (isTagEnabled(row, 'Melee')) {
          <span class="badge badge-xs scale-50 badge-primary"></span>
        }
        @if (isTagEnabled(row, 'Ranged')) {
          <span class="badge badge-xs scale-50 badge-info"></span>
        }
      </span>
      <nwb-precision-input
        class="join-item appearance-none input input-sm border-0 rounded-none text-right w-20 focus-within:z-10"
        [min]="min"
        [max]="max"
        [step]="step"
        [stepAlt]="stepAlt"
        [stepCtrl]="stepCtrl"
        [stepShift]="stepShift"
        [scale]="scale"
        [ngModel]="row.value"
        (ngModelChange)="setStackItemValue($index, $event)"
        [unit]="unit"
        [disabled]="!isItemEnabled(row) || !!row.ref"
        [class.text-white]="!row.disabled && !!row.ref && !!row.value"
      />
      @if (isInfinite(row.cap)) {
        <div
          class="join-item appearance-none input input-sm border-0 rounded-none text-right w-14 focus-within:z-10"
          [class.text-white]="!row.disabled && !!row.ref && !!row.cap"
        >
          <nwb-icon [icon]="iconInfinity" class="w-4 h-4" />
        </div>
      } @else {
        <nwb-precision-input
          class="join-item appearance-none input input-sm border-0 rounded-none text-right w-14 focus-within:z-10"
          placeholder="Cap"
          [min]="min"
          [max]="max"
          [step]="step"
          [stepAlt]="stepAlt"
          [stepCtrl]="stepCtrl"
          [stepShift]="stepShift"
          [scale]="scale"
          [ngModel]="row.cap"
          (ngModelChange)="setStackItemCap($index, $event)"
          [unit]="unit"
          [disabled]="!isItemEnabled(row) || !!row.ref"
          [class.text-white]="!row.disabled && !!row.ref && !!row.cap"
        />
      }
      <span class="join-item btn btn-sm btn-square rounded-none" (click)="toggleInStack($index)">
        <input
          type="checkbox"
          class="toggle toggle-xs"
          [class.toggle-success]="!row.disabled"
          [ngModel]="!row.disabled"
        />
      </span>
      <button
        class="join-item btn btn-sm btn-square rounded-none no-animation"
        [class.grayscale]="!!row.ref"
        [disabled]="!!row.ref"
        [cdkMenuTriggerFor]="tplStackMenu"
      >
        <nwb-icon [icon]="iconMenu" class="w-4 h-4" />
      </button>
      <ng-template #tplStackMenu>
        <ul class="menu menu-compact bg-base-200 border border-base-100 rounded-md shadow-md" cdkMenu>
          <li>
            <label>
              <input
                type="checkbox"
                [ngModel]="isTagEnabled(row, 'Light')"
                (ngModelChange)="setStackItemTag($index, 'Light', $event)"
                class="toggle toggle-xs toggle-success"
              />
              <span [class]="isTagEnabled(row, 'Light') ? 'text-success' : 'text-success/30'"> Light </span>
            </label>
          </li>
          <li>
            <label>
              <input
                type="checkbox"
                [ngModel]="isTagEnabled(row, 'Heavy')"
                (ngModelChange)="setStackItemTag($index, 'Heavy', $event)"
                class="toggle toggle-xs toggle-error"
              />
              <span [class]="isTagEnabled(row, 'Heavy') ? 'text-error' : 'text-error/30'"> Heavy </span>
            </label>
          </li>
          <li>
            <label>
              <input
                type="checkbox"
                [ngModel]="isTagEnabled(row, 'Ability')"
                (ngModelChange)="setStackItemTag($index, 'Ability', $event)"
                class="toggle toggle-xs toggle-secondary"
              />
              <span [class]="isTagEnabled(row, 'Ability') ? 'text-secondary' : 'text-secondary/30'"> Ability </span>
            </label>
          </li>
          <li>
            <label>
              <input
                type="checkbox"
                [ngModel]="isTagEnabled(row, 'Magic')"
                (ngModelChange)="setStackItemTag($index, 'Magic', $event)"
                class="toggle toggle-xs"
              />
              <span [class]="isTagEnabled(row, 'Magic') ? 'text-white' : 'text-white/30'"> Magic </span>
            </label>
          </li>
          <li>
            <label>
              <input
                type="checkbox"
                [ngModel]="isTagEnabled(row, 'Melee')"
                (ngModelChange)="setStackItemTag($index, 'Melee', $event)"
                class="toggle toggle-xs toggle-warning"
              />
              <span [class]="isTagEnabled(row, 'Melee') ? 'text-warning' : 'text-warning/30'"> Melee </span>
            </label>
          </li>
          <li>
            <label>
              <input
                type="checkbox"
                [ngModel]="isTagEnabled(row, 'Ranged')"
                (ngModelChange)="setStackItemTag($index, 'Ranged', $event)"
                class="toggle toggle-xs toggle-info"
              />
              <span [class]="isTagEnabled(row, 'Ranged') ? 'text-info' : 'text-info/30'"> Ranged </span>
            </label>
          </li>
          <li class="divider py-0 my-0 h-[2px]"></li>
          <li>
            <label (click)="removeFromStack($index)">
              <nwb-icon [icon]="iconDelete" class="w-4 h-4 text-error mx-1" />
              <span> Remove </span>
            </label>
          </li>
        </ul>
      </ng-template>
    </label>
  }

  <div class="flex flex-row items-center justify-center gap-2 py-2">
    Value:
    <span class="text-primary">{{ total * scale | number: '0.1-2' }}{{ unit }}</span>
    @if (overflow) {
      Overflow:
      <span class="text-error">{{ overflow * scale | number: '0.1-2' }}{{ unit }}</span>
    }
  </div>
}
