<h3 class="text-lg uppercase relative text-center font-serif text-nw-description mb-3">
  <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
  <span class="relative top-1">Perk Stacks</span>
</h3>
@if (rowCount()) {
  <div class="font-nimbus grid grid-cols-max-2 grid-item-min-w-60 grid-gap-4">
    @for (info of rows(); track $index) {
      <div class="flex flex-row gap-x-2">
        <a [nwLinkTooltip]="['perk', info.id]" class="flex-none">
          <img [nwImage]="info.icon" class="w-8 h-8" />
        </a>
        <div class="text-sky-600 flex-1">
          <b class="text-primary"> {{ info.stackCount }} &times; </b>
          <b>{{ info.name | nwText}}: </b>
          <span [nwHtml]="info.description | nwText: { perkMultiplier: info.multiplier }"> </span>
          @if (info.stackLimit) {
            <span [class.text-warning]="info.stackTotal > info.stackLimit">
              Perk Stacks:
              <span class="whitespace-nowrap"> {{ info.stackTotal }} / {{ info.stackLimit }} </span>
              <ng-container *ngIf="info.stackTotal > info.stackLimit"> (over max) </ng-container>
            </span>
          }
        </div>
      </div>
    }
  </div>
}
