<ng-container *ngIf="vm$ | async; let vm">
  @if (!vm.effect) {
    <nwb-item-header class="relative font-nimbus gap-2">
      <nwb-item-icon [nwbItemIcon]="vm.icon" [solid]="false" class="z-10 w-12 h-12"></nwb-item-icon>
      @if (!disabled) {
        <button
          class="btn btn-square btn-ghost hover:bg-white/20 absolute top-0 right-0 z-10 screenshot-hidden w-full h-full items-center justify-center"
          (click)="pickItem()"
        >
          <nwb-icon [icon]="iconPlus" class="w-4 h-4 mt-2"></nwb-icon>
        </button>
      }
    </nwb-item-header>
  } @else {
    <nwb-item-detail class="p-1" class="flex flex-row gap-1">
      <nwb-item-header class="relative font-nimbus gap-2">
        <nwb-item-icon [nwbItemIcon]="vm.icon" [solid]="true" class="z-10 w-12 h-12" />
        @if (!disabled) {
          <button
            class="btn btn-square btn-ghost hover:bg-white/20 absolute top-0 right-0 z-10 screenshot-hidden w-full h-full items-start justify-end"
            [cdkMenuTriggerFor]="menu"
          >
            <nwb-icon [icon]="iconMenu" class="w-4 h-4 mt-2"></nwb-icon>
          </button>
        }
      </nwb-item-header>
    </nwb-item-detail>
  }

  <ng-template #menu>
    <ul class="menu menu-compact bg-base-100 rounded-md shadow" cdkMenu>
      <li>
        <button (click)="pickItem()" cdkMenuItem>
          <nwb-icon [icon]="iconPlus" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Pick Effect</span>
          </div>
        </button>
      </li>

      @if (vm.effect) {
        <li>
          <button (click)="removeItem()" cdkMenuItem>
            <nwb-icon [icon]="iconRemove" class="w-4 h-4"></nwb-icon>
            <div class="flex flex-col leading-none">
              <span>Remove Effect</span>
            </div>
          </button>
        </li>
      }
    </ul>
  </ng-template>
</ng-container>
