<h3 class="text-lg uppercase relative text-center font-serif text-nw-description mb-3">
  <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
  <span class="relative top-1">Crafting</span>
</h3>
@if (rowCount(); as count) {
  <div class="grid grid-cols-dl2 gap-x-1 font-nimbus items-baseline">
    @for (row of rows(); track row.category) {
      <div class="text-right opacity-50">
        {{ row.category }}
      </div>
      <div [class.opacity-20]="!row.min.value" [tooltip]="tplMin" [tooltipClass]="'p-0'">
        min GS <span class="font-bold" nwbFlash>+{{ row.min.value | number: '0.0-0' }}</span>
        <ng-template #tplMin>
          <nwb-modifier-tip [data]="row.min" [percent]="false" title="{{ row.category }} min GS"/>
        </ng-template>
      </div>
      <div [class.opacity-20]="!row.max.value" [tooltip]="tplMax" [tooltipClass]="'p-0'">
        max GS <span class="font-bold" nwbFlash>+{{ row.max.value | number: '0.0-0' }}</span>
        <ng-template #tplMax>
          <nwb-modifier-tip [data]="row.max" [percent]="false" title="{{ row.category }} max GS"/>
        </ng-template>
      </div>
    }
  </div>
}
