@if (instance?.weapon) {
  <nwb-skill-tree-editor [ngModel]="instance" (ngModelChange)="updateSkillTree($event)" [disabled]="disabled" #builder />
} @else {
  <picture class="w-64 h-64 text-white absolute left-1/2 -translate-x-1/2">
    <img [nwImage]="'assets/loaders/crafting_rune_clockwise.png'" class="w-full h-full animate-spin-ccw" />
  </picture>
}
@if (!disabled) {
  <button class="btn btn-ghost btn-square absolute top-0 right-0 screenshot-hidden" [cdkMenuTriggerFor]="menu">
    <nwb-icon [icon]="iconMenu" class="w-4 h-4" />
  </button>
}

<ng-template #menu>
  <ul
    class="my-1 menu menu-compact bg-base-200 border border-base-100 rounded-md shadow-lg text-shadow-sm shadow-black"
    cdkMenu
  >
    @if (equippedTag; as weapon) {
      <li>
        <a cdkMenuItem (click)="handleOpenSkillSet(weapon)">
          <nwb-icon [icon]="iconOpen" class="w-4 h-4 mr-2" />
          <div class="flex flex-col leading-none">
            <span>Load</span>
            <span class="text-xs opacity-75">Copy from existing skill tree</span>
          </div>
        </a>
      </li>
      <li>
        <a cdkMenuItem (click)="handleReset()">
          <nwb-icon [icon]="iconReset" class="w-4 h-4 mr-2" />
          <div class="flex flex-col leading-none">
            <span>Reset</span>
            <span class="text-xs opacity-75">Clears all selected skills</span>
          </div>
        </a>
      </li>
    } @else {
      <li>
        <a>
          <!-- <nwb-icon [icon]="iconPlus" class="w-4 h-4 mr-2"/> -->
          <div class="flex flex-col leading-none text-error">
            <span>Pick wepaon below first</span>
          </div>
        </a>
      </li>
    }
  </ul>
</ng-template>
