<h3 class="text-lg uppercase relative text-center font-serif text-nw-description mb-3">
  <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
  <span class="relative top-1">Fortify & Ward</span>
</h3>
@if (rowCount()) {
  <div class="grid grid-cols-dl gap-x-1">
    @for (group of damageTypes(); track group.track) {
      <span class="font-bold" nwbFlash> {{ group.value | percent: '0.1-1' }} </span>
      <div class="flex flex-row gap-[1px]">
        @for (entry of group.entries; track $index) {
          <span
            [tooltip]="tplTip"
            [tooltipClass]="'p-0 w-full max-w-sm'"
            [class.bg-error]="entry.capped"
            class="rounded-sm cursor-help"
          >
            <img [nwImage]="entry.icon" class="w-6 h-6" />
            <ng-template #tplTip>
              <nwb-modifier-tip [data]="entry" [title]="entry.category"/>
            </ng-template>
          </span>
        }
      </div>
    }
    @for (group of vitalTypes(); track group.track) {
      <span class="font-bold" nwbFlash> {{ group.value | percent: '0.1-1' }} </span>
      <div class="flex flex-row gap-[1px]">
        @for (entry of group.entries; track $index) {
          <span
            [tooltip]="tplTip"
            [tooltipClass]="'p-0 w-full max-w-sm'"
            [class.bg-error]="entry.capped"
            class="rounded-sm cursor-help"
          >
            <img [nwImage]="entry.icon" class="w-6 h-6" />
            <ng-template #tplTip>
              <nwb-modifier-tip [data]="entry" [title]="'Ward'"/>
            </ng-template>
          </span>
        }
      </div>
    }

    @if (physicalArmor()?.value) {
      <span class="font-bold" nwbFlash> {{ physicalArmor().value | percent: '0.1-1' }} </span>
      <div class="flex flex-row gap-[1px]">
        <span [tooltip]="tplTip" [tooltipClass]="'p-0 w-full max-w-md'" class="rounded-sm cursor-help">
          Physical Armor
          <ng-template #tplTip>
            <nwb-modifier-tip [data]="physicalArmor()" [title]="'Physical'"/>
          </ng-template>
        </span>
      </div>
    }

    @if (elementalArmor()?.value) {
      <span class="font-bold" nwbFlash> {{ elementalArmor().value | percent: '0.1-1' }} </span>
      <div class="flex flex-row gap-[1px]">
        <span [tooltip]="tplTip" [tooltipClass]="'p-0 w-full max-w-md'" class="rounded-sm cursor-help">
          Elemental Armor
          <ng-template #tplTip>
            <nwb-modifier-tip [data]="elementalArmor()" [title]="'Elemental'"/>
          </ng-template>
        </span>
      </div>
    }
  </div>
}
