
@if(!hideTitle) {
  <h3 class="text-lg uppercase relative text-center font-serif text-nw-description mb-3 nw-bg-title bg-bottom">
    Buffs & Ammo
  </h3>
}
<div class="grid grid-cols-4 gap-[2px] mx-auto w-fit">
  @for (slot of buffSlots; track $index) {
    <nwb-gear-cell-slot
      class="max-w-14"
      [slotId]="slot.id"
      [gearset]="gearset"
      [disabled]="disabled"
      [square]="true"
    />
  }
  @for (slot of ammoSlots; track $index) {
    <nwb-gear-cell-slot
      class="max-w-14"
      [slotId]="slot.id"
      [gearset]="gearset"
      [disabled]="disabled"
      [square]="true"
    />
  }
</div>
