@if (square()) {
  <nwb-item-header
    class="relative font-nimbus gap-2 bg-neutral-content"
    [nwbItemDetail]="slotItemId()"
    #detail="itemDetail"
    [rarity]="detail.rarity()"
  >
    <nwb-item-icon [nwbItemIcon]="slotIcon()" [solid]="hasItem()" class="z-10 w-12 h-12" />

    @if (!disabled() && !hasItem()) {
      <button
        class="btn btn-square btn-ghost hover:bg-white/20 absolute top-0 right-0 z-10 screenshot-hidden w-full h-full items-center justify-center"
        (click)="handlePickItem()"
      >
        <nwb-icon [icon]="iconPlus" class="w-4 h-4 mt-2" />
      </button>
    }
    @if (!disabled() && hasItem()) {
      <button
        class="btn btn-square btn-ghost hover:bg-white/20 absolute top-0 right-0 z-10 screenshot-hidden w-full h-full items-start justify-end pr-1 pt-2"
        [cdkMenuTriggerFor]="menu"
      >
        <nwb-icon [icon]="iconMenu" class="relative w-4 h-4" />
      </button>
    }
  </nwb-item-header>
} @else if (!store.instance()) {
  <nwb-item-header class="relative font-nimbus gap-2">
    <nwb-item-icon [nwbItemIcon]="store.slot()?.icon" [solid]="false" class="z-10 w-[76px] h-[76px]" />
    <nwb-item-header-content class="z-10">
      <span header-title [nwHtml]="store.slot()?.name | nwText"></span>
    </nwb-item-header-content>
    @if (!disabled()) {
      <button class="btn btn-square btn-ghost hover:bg-white/20 absolute top-0 right-0 z-10 screenshot-hidden" [cdkMenuTriggerFor]="menu">
        <nwb-icon [icon]="iconMenu" class="w-4 h-4" />
      </button>
    }
  </nwb-item-header>
} @else {
  <nwb-item-card
    class="relative flex=1"
    [entity]="store.instance().itemId"
    [gsOverride]="gsValue || store.instance().gearScore"
    [gsEditable]="!disabled() && isGearSlot()"
    (gsEdit)="openGsEditor($event)"
    [perkOverride]="store.instance().perks"
    [perkEditable]="!disabled()"
    (perkEdit)="handlePickPerk($event.key)"
    [disableStats]="!isGearSlot()"
    [disableInfo]="!isGearSlot() || compact()"
    [disableDescription]="compact()"
    [square]="square()"
    [enableLink]="!disabled()"
  >
    @if (store.isLinked()) {
      <span class="absolute top-[5px] left-[55px] p-1 bg-black/75 rounded-bl-xl screenshot-hidden">
        <nwb-icon [icon]="iconLink" class="w-4 h-4" />
      </span>
    }
    @if (!disabled()) {
      <button class="btn btn-square btn-ghost border-0 hover:bg-white/20 absolute top-0 right-0 z-10 screenshot-hidden" [cdkMenuTriggerFor]="menu">
        <nwb-icon [icon]="iconMenu" class="w-4 h-4" />
      </button>
    }

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="gsTarget"
      [cdkConnectedOverlayOpen]="!!gsTarget"
      [cdkConnectedOverlayHasBackdrop]="true"
      [cdkConnectedOverlayPanelClass]="['w-80']"
      [cdkConnectedOverlayPositions]="[{ overlayX: 'start', overlayY: 'top', originX: 'start', originY: 'top' }]"
      (overlayOutsideClick)="closeGsEditor()"
      (backdropClick)="closeGsEditor()"
      (detach)="closeGsEditor()"
    >
      <div class="flex flex-col gap-1 w-full">
        <div class="input input-ghost border-0 bg-black flex items-center gap-1 pl-0">
          <img src="/assets/icons/item/icon_gearscore.png" class="w-10 h-10 aspect-square relative top-[-2px]" />
          <input
            type="number"
            [ngModel]="gsValue || store.instance().gearScore"
            (ngModelChange)="updateGearScore($event)"
            (wheel)="stepGearScore($event)"
            class="w-full font-caslon text-5xl text-primary"
          />
        </div>
        <nwb-gs-slider
          [bars]="true"
          [values]="true"
          [ngModel]="gsValue || store.instance().gearScore"
          (ngModelChange)="updateGearScore($event)"
          (wheel)="stepGearScore($event)"
          class="w-full bg-black/80 p-1 rounded-md"
        />
      </div>
    </ng-template>
  </nwb-item-card>
}

@if (!store.instance() && !square() && !disabled()) {
  <div class="h-full p-4 opacity-50 hover:opacity-100 transition-opacity">
    <ul class="menu menu-compact menu-vertical rounded-md">
      <li>
        <button (click)="handlePickItem()">
          <nwb-icon [icon]="iconPlus" class="w-4 h-4" />
          <div class="flex flex-col leading-none">
            <span>New item</span>
            <span class="text-xs opacity-75">Pick an item for this slot</span>
          </div>
        </button>
      </li>
      @if (isGearSlot()) {
        @if (!isPublished()) {
          <li>
            <button (click)="handleLinkItem()" [disabled]="">
              <nwb-icon [icon]="iconLink" class="w-4 h-4" />
              <div class="flex flex-col leading-none">
                <span>Link item</span>
                <span class="text-xs opacity-75">Pick an item from inventory and link it to this slot</span>
              </div>
            </button>
          </li>
        }
        <li>
          <button (click)="handleScanItem()">
            <nwb-icon [icon]="iconImage" class="w-4 h-4" />
            <div class="flex flex-col leading-none">
              <span>Scan item</span>
              <span class="text-xs opacity-75">Create a new item from a screenshot</span>
            </div>
          </button>
        </li>
      }
    </ul>
  </div>
}

<ng-template #menu>
  <ul
    class="my-1 p-0 menu menu-compact bg-base-200 border border-base-100 rounded-md shadow-lg text-shadow-sm shadow-black"
    cdkMenu
  >
    <li>
      <a (click)="handlePickItem()" cdkMenuItem class="rounded-none">
        <nwb-icon [icon]="iconPlus" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>New item</span>
          <span class="text-xs opacity-75">Pick an item from DB and configure from scratch</span>
        </div>
      </a>
    </li>
    @if (isGearSlot()) {
      <li>
        <a (click)="handleLinkItem()" cdkMenuItem class="rounded-none">
          <nwb-icon [icon]="iconLink" class="w-4 h-4 mr-2" />
          <div class="flex flex-col leading-none">
            <span>Link item</span>
            <span class="text-xs opacity-75">Pick an item from inventory and link it to this slot</span>
          </div>
        </a>
      </li>
      <li>
        <a (click)="handleScanItem()" cdkMenuItem class="rounded-none">
          <nwb-icon [icon]="iconImage" class="w-4 h-4 mr-2" />
          <div class="flex flex-col leading-none">
            <span>Scan item</span>
            <span class="text-xs opacity-75">Create a new item from a screenshot</span>
          </div>
        </a>
      </li>
    }

    @if (store.hasItem()) {
      <span class="divider my-0 py-0"></span>
      @if (store.isLinked()) {
        <li>
          <a (click)="handleUnlink()" cdkMenuItem class="rounded-none">
            <nwb-icon [icon]="iconLinkBreak" class="w-4 h-4 mr-2" />
            <div class="flex flex-col leading-none">
              <span>Break link</span>
              <span class="text-xs opacity-75">Make a copy of this item and break the link.</span>
            </div>
          </a>
        </li>
      } @else if (isGearSlot()) {
        <li>
          <a (click)="instantiate()" cdkMenuItem class="rounded-none">
            <nwb-icon [icon]="iconLink" class="w-4 h-4 mr-2" />
            <div class="flex flex-col leading-none">
              <span>Make link</span>
              <span class="text-xs opacity-75">Copy this item to your inventory and link it to this slot</span>
            </div>
          </a>
        </li>
      }
      <li>
        <a (click)="handleUnequip()" cdkMenuItem class="rounded-none">
          <nwb-icon [icon]="iconRemove" class="w-4 h-4 mr-2 text-error" />
          <div class="flex flex-col leading-none">
            <span>Unequip item</span>
            @if (store.isLinked()) {
              <span class="text-xs opacity-75">
                <span>This item remains in the inventory.</span>
              </span>
            } @else if (isGearSlot()) {
              <span class="text-xs opacity-75">
                <span class="text-error"> This item is not in your inventory and is lost when unequipped. </span>
              </span>
            } @else {
              <span class="text-xs opacity-75">
                <span>Remove this item from slot.</span>
              </span>
            }
          </div>
        </a>
      </li>
    }
  </ul>
</ng-template>
