<h3 class="text-lg uppercase relative text-center font-serif text-nw-description mb-3">
  <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
  <span class="relative top-1">Weapon</span>
</h3>
<div class="flex flex-row flex-wrap justify-center gap-1">
  <button class="btn btn-sm" (click)="toggleWeapon()">{{ weaponTag() || 'Unarmed' }}</button>
  <!-- <button class="btn btn-sm" (click)="toggleSheathed()">{{ vm.weaponUnsheathed ? 'Unsheathed' : 'Sheathed' }}</button> -->
  <button class="btn btn-sm indicator" [cdkMenuTriggerFor]="tplAttackOptions">
    @if (selectedAttack(); as row) {
      <span>{{ labelForAttack(row, weaponTag()) | nwHumanize }}</span>
      <span
        class="indicator-item indicator-center indicator-bottom badge badge-xs"
        [class.badge-success]="row.AttackType === 'Light'"
        [class.badge-primary]="row.AttackType === 'Heavy'"
        [class.badge-secondary]="row.AttackType === 'Ability'"
        [class.badge-info]="row.AttackType === 'Magic'"
      >
        {{ row.AttackType }}
      </span>
    }
  </button>
  <button class="btn btn-sm indicator capitalize" (click)="toggleCritType()">
    {{ critType() }}
  </button>
  @if (damage(); as dmg) {
    <div class="flex flex-row justify-around gap-2 w-full font-bold my-4">
      <div
        class="flex flex-col gap-s items-center cursor-help"
        [tooltip]="'Standard damage'"
        [tooltipClass]="'bg-base-100'"
      >
        @if (isSplit()) {
          <div class="text-3xl">
            <span>{{ totalStdDamage() | number }}</span>
          </div>
        }
        <div class="flex flex-row flex-wrap gap-1" [class.text-3xl]="!isSplit()">
          @if (weaponStdDamage(); as row) {
            <div class="flex flex-row items-center justify-center gap-1">
              <img [nwImage]="row.icon" [class.w-5]="isSplit()" [class.w-8]="!isSplit()" />
              <span>{{ row.value | number }}</span>
            </div>
          }
          @if (affixStdDamage(); as row) {
            <div class="flex flex-row items-center justify-center gap-1">
              <img [nwImage]="row.icon" [class.w-5]="isSplit()" [class.w-8]="!isSplit()" />
              <span>{{ row.value | number }}</span>
            </div>
          }
        </div>
      </div>

      <div
        class="flex flex-col items-center text-primary cursor-help"
        [tooltip]="'Crit damage'"
        [tooltipClass]="'bg-base-100'"
      >
        @if (isSplit()) {
          <div class="text-3xl">
            <span>{{ totalCritDamage() | number }}</span>
          </div>
        }
        <div class="flex flex-row flex-wrap gap-1" [class.text-3xl]="!isSplit()">
          @if (weaponCritDamage(); as row) {
            <div class="flex flex-row items-center justify-center gap-1">
              <img [nwImage]="row.icon" [class.w-5]="isSplit()" [class.w-8]="!isSplit()" />
              <span>{{ row.value | number }}</span>
            </div>
          }
          @if (affixCritDamage(); as row) {
            <div class="flex flex-row items-center justify-center gap-1">
              <img [nwImage]="row.icon" [class.w-5]="isSplit()" [class.w-8]="!isSplit()" />
              <span>{{ row.value | number }}</span>
            </div>
          }
        </div>
      </div>
    </div>
  }

  <!-- <button class="btn btn-sm" [tooltip]="'PvP Balance'" [cdkMenuTriggerFor]="tplCombatMode">{{ vm.combatMode | nwHumanize }}</button>
  <button class="btn btn-sm gap-1" [tooltip]="'Number of enemies around me'" [cdkMenuTriggerFor]="tplNumAroundMe">
    <nwb-icon [icon]="iconGroup" class="w-5 h-5"/> {{ vm.numAroundMe }}
  </button>
  <button class="btn btn-sm gap-1" [tooltip]="'Number of hits'" [cdkMenuTriggerFor]="tplNumHits">
    <nwb-icon [icon]="iconBurst" class="w-5 h-5"/> {{ vm.numHits }}
  </button> -->

  <ng-template #tplCombatMode>
    <ul class="menu menu-compact bg-base-100 rounded-md shadow" cdkMenu>
      <li *ngFor="let it of combatModeOptions">
        <a (click)="commitCombatMode(it.value)" cdkMenuItem>
          {{ it.label }}
        </a>
      </li>
    </ul>
  </ng-template>

  <ng-template #tplAttackOptions>
    <ul
      class="menu menu-compact bg-base-100 rounded-md shadow overflow-y-auto flex flex-col flex-nowrap max-h-96"
      cdkMenu
    >
      @for (row of attackOptions(); track $index) {
        <li>
          <a (click)="commitAttack(row)" cdkMenuItem>
            <img [nwImage]="damageIcon(row.DamageType)" class="w-6 h-6" />
            <div class="flex flex-col gap-1">
              <span>{{ labelForAttack(row, weaponTag()) | nwHumanize }}</span>
              <span
                class="badge badge-xs"
                [class.badge-success]="row.AttackType === 'Light'"
                [class.badge-primary]="row.AttackType === 'Heavy'"
                [class.badge-secondary]="row.AttackType === 'Ability'"
                [class.badge-info]="row.AttackType === 'Magic'"
                >{{ row.AttackType }}</span
              >
            </div>
          </a>
        </li>
      }
    </ul>
  </ng-template>

  <ng-template #tplNumAroundMe>
    <div cdkMenu>
      <input
        type="range"
        min="1"
        max="10"
        class="range range-primary"
        [ngModel]="numAroundMe()"
        (ngModelChange)="commitNumAroundMe($event)"
      />
    </div>
  </ng-template>

  <ng-template #tplNumHits>
    <div cdkMenu>
      <input
        type="range"
        min="1"
        max="10"
        class="range range-primary"
        [ngModel]="numHits()"
        (ngModelChange)="commitNumHits($event)"
      />
    </div>
  </ng-template>
</div>
