<ul class="menu menu-horizontal flex-nowrap flex-1 overflow-x-auto scrollbar-hide">
  <ng-container *ngTemplateOutlet="menu"></ng-container>
</ul>
<ul class="menu menu-horizontal flex-nowrap flex-none">
  <li cdkOverlayOrigin #overlay="cdkOverlayOrigin" (click)="isMenuOpen=true">
    <span class="px-2">
      <nwb-icon [icon]="svgEllipsisVertical" class="w-4 h-4"></nwb-icon>
    </span>
  </li>
  <ng-container *ngTemplateOutlet="buttons"></ng-container>
</ul>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlay"
  [cdkConnectedOverlayOpen]="isMenuOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  (overlayOutsideClick)="isMenuOpen = false"
  (backdropClick)="isMenuOpen = false"
  (detach)="isMenuOpen = false"
>
  <ul class="menu menu-compact bg-base-100 w-60 rounded-b-md z-10" (click)="isMenuOpen = false">
    <ng-container *ngTemplateOutlet="menu"></ng-container>
  </ul>
</ng-template>
