<ul class="flex flex-row flex-nowrap flex-1 overflow-x-auto scrollbar-hide">
  <ng-container *ngTemplateOutlet="menuTemplate; context: ctxHorizontal" />
</ul>
<ul class="flex flex-row flex-nowrap flex-none">
  <li>
    <button class="btn btn-ghost btn-square" [cdkMenuTriggerFor]="tplMenu" [cdkMenuTriggerData]="">
      <nwb-icon [icon]="svgEllipsisVertical" class="w-4 h-4" />
    </button>
  </li>
  <ng-container *ngTemplateOutlet="buttonsTemplate; context: ctxHorizontal" />
</ul>

<ng-template #tplMenu>
  <ul class="menu menu-compact bg-base-100 w-60 rounded-b-md z-10" (click)="closeMenu()" cdkMenu>
    <ng-container *ngTemplateOutlet="menuTemplate; context: ctxVertical" />
  </ul>
</ng-template>
