<ion-content class="flex-1 relative">
  <picture class="absolute top-0 left-0 w-full h-full pointer-events-none">
    <img [nwImage]="backgroundImage()" class="block w-full h-full object-cover blur-lg" />
  </picture>
  <ion-content class="ion-p-4" [gutterStable]="true">
    <div class="content-grid max-w-screen-3xl mx-auto">
      <div class="content-grid-info flex flex-col gap-2 font-nimbus shadow-black text-shadow-sm prose-base">
        <h1 class="mb-0 font-normal font-serif tracking-wider">
          @if (mapName()) {
            <span> {{ mapName() | nwText }} &bullet; </span>
          }
          <span>{{ modeName() | nwText }}</span>
          @if (difficultyLevel()) {
            <span> &bullet; M{{ difficultyLevel() }}</span>
          }
        </h1>
        <div class="nw-item-divider max-w-lg"></div>

        @if (description()) {
          <div class="text-nw-description" [nwHtml]="description() | nwText | nwTextBreak"></div>
          <div class="nw-item-divider max-w-lg"></div>
        }

        <section class="font-nimbus">
          @if (requirementText()) {
            <div>
              <span>Requires: </span>
              <span>{{ requirementText() | nwText }}</span>
            </div>
          }
          @if (groupSizeMin()) {
            <div>
              <span>Minimum Players:</span>
              <span class="font-semibold text-accent">
                {{ groupSizeMin() }}
                @if (groupSizeMax()) {
                  - {{ groupSizeMax() }}
                }
              </span>
            </div>
          }
          @if (requiredLevel()) {
            <div>
              <span>Required Level: </span>
              <span class="font-semibold text-accent">{{ requiredLevel() }}</span>
            </div>
          } @else if (recommendedLevel()) {
            <div>
              <span>Recommended Level: </span>
              <span class="font-semibold text-accent">{{ recommendedLevel() }}</span>
            </div>
          }
          @if (requiredGearScore()) {
            <div>
              <span>Required Minimum Gear Score: </span>
              <span class="font-semibold text-accent">{{ requiredGearScore() }}</span>
            </div>
          } @else if (recommendedGsMin()) {
            <div>
              <span>Recommended Gear Score: </span>
              <span class="font-semibold text-accent">
                {{ recommendedGsMin() }}
                @if (recommendedGsMax()) {
                  - {{ recommendedGsMax() }}
                }
              </span>
            </div>
          }
          @if (lootGsRange()) {
            <div>
              <span>Loot Gear Score: </span>
              <span class="font-semibold text-accent">
                {{ lootGsRange() }}
              </span>
            </div>
          }

          @if (matchmakingLvlMin() || matchmakingLvlMax()) {
            <div>
              <span>Matchmaking level: </span>
              <span class="font-semibold text-accent">
                {{ matchmakingLvlMin() || 0 }}
                @if (matchmakingLvlMax()) {
                  - {{ matchmakingLvlMax() }}
                }
              </span>
            </div>
          }
          @if (matchmakingGsMin()) {
            <div>
              <span>Matchmaking Minimum Gear Score: </span>
              <span class="font-semibold text-accent">
                {{ matchmakingGsMin() }}
              </span>
            </div>
          }
          @if (
            matchmakingTanksMin() ||
            matchmakingTanksMax() ||
            matchmakingDpsMin() ||
            matchmakingDpsMax() ||
            matchmakingHealMin() ||
            matchmakingHealMax()
          ) {
            <div>
              <span>Matchmaking Roles: </span>
              @if (matchmakingTanksMin() || matchmakingTanksMax()) {
                <span>Tanks</span>
                <span class="font-semibold text-accent">
                  {{ matchmakingTanksMin() || 0 }}
                  @if (matchmakingTanksMax() && matchmakingTanksMin() != matchmakingTanksMax()) {
                    - {{ matchmakingTanksMax() }}
                  }
                </span>
              }
              @if (matchmakingDpsMin() || matchmakingDpsMax()) {
                <span>DDs</span>
                <span class="font-semibold text-accent">
                  {{ matchmakingDpsMin() || 0 }}
                  @if (matchmakingDpsMax() && matchmakingDpsMin() != matchmakingDpsMax()) {
                    - {{ matchmakingDpsMax() }}
                  }
                </span>
              }
              @if (matchmakingHealMin() || matchmakingHealMax()) {
                <span>Healers</span>
                <span class="font-semibold text-accent">
                  {{ matchmakingHealMin() || 0 }}
                  @if (matchmakingHealMax() && matchmakingHealMin() != matchmakingHealMax()) {
                    - {{ matchmakingHealMax() }}
                  }
                </span>
              }
            </div>
          }
          @if (mapRotation()) {
            <div>
              <span>Map rotation: </span>
              <span class="font-semibold text-accent">
                {{ mapRotation() }}
              </span>
            </div>
          }
          @if (projectedDuration()) {
            <div>
              <span>Projected duration: </span>
              <span class="font-semibold text-accent">
                {{ projectedDuration() }}
              </span>
            </div>
          }
        </section>

        @if (isMutable()) {
          <div
            role="tablist"
            class="tabs tabs-box bg-base-200/50 backdrop-blur-2xl"
            animate.enter="fade-enter"
            animate.leave="fade-leave"
          >
            <a
              role="tab"
              rel="nofollow"
              [routerLink]="['.']"
              [queryParams]="{}"
              class="tab"
              [class.tab-active]="!difficulty()"
              [class.text-primary]="!difficulty()"
            >
              Regular
            </a>

            @for (item of difficulties(); track $index) {
              <a
                rel="nofollow"
                role="tab"
                class="tab"
                [routerLink]="['.']"
                [queryParams]="{ difficulty: item.MutationDifficulty }"
                [queryParamsHandling]="'merge'"
                [class.tab-active]="item.MutationDifficulty == paramDifficulty()"
                [class.text-primary]="item.MutationDifficulty == paramDifficulty()"
              >
                Mutation {{ item.MutationDifficulty }}
              </a>
            }
          </div>
        }
        @if (difficulty()) {
          <div animate.enter="fade-enter" animate.leave="fade-leave">
            <h2 class="mb-0 mt-4 font-normal font-serif tracking-wider uppercase flex flex-row items-center gap-2">
              <span>Mutation </span>
              @if (activeMutation()) {
                <picture class="inline-block w-8 mt-0 mb-0 animate-pulse">
                  <img
                    [nwImage]="'assets/icons/expedition/mutated_dungeon_active.png'"
                    class="w-full aspect-square rounded-full animate-spin-cw"
                  />
                </picture>
                <span>Active </span>
              }
            </h2>
            <div class="nw-item-divider max-w-lg mb-2"></div>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-2 max-w-3xl items-start">
              @if (store.mutaElementAvailable()) {
                <nwb-muta-element-tile
                  [mutaElement]="store.mutaElement()"
                  (mutaElementChanged)="onMutaElementSelected($event)"
                  [options]="store.mutaElementOptions()"
                  animate.enter="fade-slide-up-enter"
                  animate.leave="fade-slide-up-leave"
                />
              }
              @if (store.mutaPromotionAvailable()) {
                <nwb-muta-promotion-tile
                  [mutaPromotion]="store.mutaPromotion()"
                  [mutaElement]="store.mutaElement()"
                  (mutaPromotionChanged)="onMutaPromotionSelected($event)"
                  [options]="store.mutaPromotionOptions()"
                  animate.enter="fade-slide-up-enter"
                  animate.leave="fade-slide-up-leave"
                />
              }
              @if (store.mutaCurseAvailable()) {
                <nwb-muta-curse-tile
                  [mutaCurse]="store.mutaCurse()"
                  [mutaElement]="store.mutaElement()"
                  (mutaCurseChanged)="onMutaCurseSelected($event)"
                  [options]="store.mutaCurseOptions()"
                  animate.enter="fade-slide-up-enter"
                  animate.leave="fade-slide-up-leave"
                />
              }
            </div>
          </div>
        }

        @if (store.lootRewards()?.length) {
          <section animate.enter="fade-enter" class="flex flex-col gap-2">
            <h2 class="mb-0 mt-4 font-normal font-serif tracking-wider uppercase flex items-center justify-between">
              <span>Available Rewards </span>
              <nwb-icon
                [icon]="iconInfo"
                [tooltip]="'Quest items or completion reward caches'"
                class="w-4 h-4 cursor-help"
              />
            </h2>
            <div class="nw-item-divider max-w-lg"></div>

            <div class="w-full grid grid-auto-fill-48 gap-2 max-h-[354px] overflow-auto bg-neutral/50 rounded-sm p-2">
              @for (item of store.lootRewards(); track $index; let index = $index) {
                <nwb-item-header
                  class="gap-2 rounded-sm overflow-clip"
                  [rarity]="detail.rarity()"
                  [isNamed]="detail.isNamed()"
                  [nwbItemDetail]="item"
                  #detail="itemDetail"
                  animate.enter="fade-enter"
                  [style.--enter-delay.ms]="index * 15"
                >
                  <a [nwLinkTooltip]="['item', detail.recordId()]">
                    <nwb-item-icon [nwbItemIcon]="detail.icon()" [solid]="false" class="z-10 w-14 h-14" />
                  </a>
                  <nwb-item-header-content
                    [title]="detail.name() | nwText"
                    [rarity]="detail.rarity()"
                    [text1]="detail.typeName() | nwText"
                    [titleLink]="detail.itemLink()"
                    class="text-sm"
                  />
                </nwb-item-header>
              }
              <!-- <div class="flex flex-row flex-wrap gap-2">
                @for (item of store.lootRewards(); track $index; let index = $index) {
                  <a
                    [nwLinkTooltip]="['item', detail.recordId()]"
                    [nwbItemDetail]="item"
                    #detail="itemDetail"
                    class="block w-full max-w-[60px] aspect-square"
                  >
                    <picture [nwIcon]="detail.item()" class="block w-full h-full my-0 mt-0 mb-0"></picture>
                  </a>
                }
              </div> -->
            </div>
          </section>
        }
      </div>

      <div class="content-grid-tabs tabs tabs-border flex-nowrap justify-stretch flex-none self-end">
        @for (item of tabs(); track item.id) {
          <a
            class="tab"
            [class.tab-active]="item.active"
            [class.opacity-25]="!item.count"
            [routerLink]="['.']"
            [queryParams]="{ tab: item.id }"
            [queryParamsHandling]="'merge'"
            rel="nofollow"
          >
            {{ item.label }}
          </a>
        }
      </div>

      <div
        class="content-grid-map flex justify-end aspect-square md:aspect-video 3xl:aspect-auto 3xl:min-h-[800px] z-50"
        [class.sticky]="mapPinned()"
        [class.top-0]="mapPinned()"
        [class.right-0]="mapPinned()"
        [class.max-h-[35vh]]="mapPinned()"
      >
        <nwb-game-mode-detail-map
          class="w-full h-full max-w-[1200px] max-h-[800px] group"
          [mapId]="paramMapId()"
          [creatures]="store.creatures()"
          [highlight]="(vitalTargetHover() || vitalTargetClick())?.VitalsID"
          [class.bg-base-300]="mapPinned()"
        >
          <div class="inline-flex absolute top-0 right-0">
            <button
              class="btn btn-sm btn-ghost btn-square opacity-0 group-hover:opacity-100"
              [class.text-primary]="mapPinned()"
              (click)="mapPinned.set(!mapPinned())"
            >
              <nwb-icon [icon]="iconPin" class="w-5 h-5" />
            </button>
          </div>
        </nwb-game-mode-detail-map>
      </div>

      <div class="content-grid-content">
        @for (tab of tabs(); track tab.id) {
          @if (tab.active && tab.loot?.length) {
            <nwb-game-mode-detail-loot [items]="tab.loot" animate.leave="fade-leave" />
          }
          @if (tab.active && tab.vitals?.length) {
            <nwb-game-mode-detail-vitals
              [items]="tab.vitals"
              [selectedVital]="vitalTargetClick()"
              [activeTab]="paramTabVitals()"
              (activeTabChange)="handleVitalTabChange($event)"
              (vitalTargetEnter)="handleVitalTargetEnter($event)"
              (vitalTargetLeave)="handleVitalTargetLeave($event)"
              (vitalTargetClick)="handleVitalTargetClick($event)"
              animate.leave="fade-slide-up-leave"
            />
          }
        }
      </div>
    </div>
  </ion-content>
</ion-content>
