@if (isMutable) {
  <ul
    class="menu bg-base-200 flex-none menu-horizontal menu-compact overflow-auto scrollbar-hide w-full flex-nowrap xl:menu-vertical xl:menu-normal xl:w-56"
  >
    <li class="menu-title mt-4 hidden xl:block">
      <span>Normal</span>
    </li>
    <li [class.bordered]="!difficultyLevel">
      <a rel="nofollow" [routerLink]="['.']" [queryParams]="{}">
        <span>Regular</span>
      </a>
    </li>
    <li class="menu-title mt-4 hidden xl:block">
      <span>Mutated</span>
    </li>

    @for (item of difficulties$ | async; track $index) {
      <li [class.bordered]="item.MutationDifficulty == difficultyLevel">
        <a
          rel="nofollow"
          [routerLink]="['.']"
          [queryParams]="{ difficulty: item.MutationDifficulty }"
          [queryParamsHandling]="'merge'"
        >
          <img [nwImage]="difficultyRankIcon(dungeon, item) | async" class="w-8 h-8" />
          {{ item.MutationDifficulty }} ({{ difficultyTier(item) }})
        </a>
      </li>
    }
  </ul>
}

<ion-content class="flex-1 relative">
  <picture class="absolute top-0 left-0 w-full h-full pointer-events-none">
    <img [nwImage]="backgroundImage" class="block w-full h-full object-cover blur-sm" />
  </picture>
  <ion-content class="ion-p-4">
    <div class="content-grid">
      <div class="content-grid-info prose-base">
        <section class="font-nimbus">
          <h1 class="mb-0 font-normal font-serif tracking-wider">
            <span [nwText]="title"></span>
            @if (difficultyLevel) {
              <span>, Difficulty {{ difficultyLevel }}</span>
            }
          </h1>
          <div>
            @if (recommendedLevel && !requiredGearScore) {
              <span>Recommended Level: </span>
              <span class="font-semibold text-accent">{{ recommendedLevel }}</span>
            }
            @if (requiredGearScore) {
              <span>Required Minimum Gear Score: </span>
              <span class="font-semibold text-accent">{{ requiredGearScore }}</span>
            }
          </div>
          <div class="nw-item-divider max-w-lg"></div>
          <div [nwText]="description" class="text-nw-description"></div>
        </section>

        <section class="font-nimbus">
          <h2 class="mb-0 font-normal font-serif tracking-wider uppercase">
            <span>Requirements</span>
          </h2>
          <div class="nw-item-divider max-w-lg"></div>
          @if (requirementText) {
            <div>
              <span class="text-primary">Your group must have at least </span>
              <span [nwText]="requirementText"></span>
            </div>
          }
          @if (groupSize) {
            <div>
              <span>{{ groupSize }} - {{ teamCapacity || 5 }} </span>
              <span>Players</span>
            </div>
          }
          @if (requiredLevel) {
            <div>
              <span>Level: </span>
              <span class="font-semibold text-accent">{{ requiredLevel }}</span>
            </div>
          }
        </section>

        @if (difficulty) {
          <section class="font-nimbus">
            <h2 class="mb-0 font-normal font-serif tracking-wider uppercase flex flex-row items-center gap-2">
              <span>Weekly Mutations </span>
              @if (isMutated$ | async) {
                <picture class="inline-block w-8 m-0 animate-pulse">
                  <img
                    [nwImage]="'assets/icons/expedition/mutated_dungeon_active.png'"
                    class="w-full aspect-square rounded-full animate-spin-cw"
                  />
                </picture>
                <span>Active </span>
              }
            </h2>
            <div class="nw-item-divider max-w-lg mb-2"></div>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-2 max-w-3xl items-start">
              @if (store.mutaElementAvailable$ | async) {
                <nwb-muta-element-tile
                  [mutaElement]="store.mutaElement$ | async"
                  (mutaElementChanged)="onMutaElementSelected($event)"
                  [options]="store.mutaElementOptions$ | async"
                />
              }
              @if (store.mutaPromotionAvailable$ | async) {
                <nwb-muta-promotion-tile
                  [mutaPromotion]="store.mutaPromotion$ | async"
                  [mutaElement]="store.mutaElement$ | async"
                  (mutaPromotionChanged)="onMutaPromotionSelected($event)"
                  [options]="store.mutaPromotionOptions$ | async"
                />
              }
              @if (store.mutaCurseAvailable$ | async) {
                <nwb-muta-curse-tile
                  [mutaCurse]="store.mutaCurse$ | async"
                  [mutaElement]="store.mutaElement$ | async"
                  (mutaCurseChanged)="onMutaCurseSelected($event)"
                  [options]="store.mutaCurseOptions$ | async"
                />
              }
            </div>
          </section>
        }

        <section>
          <h2 class="mb-0 font-normal font-serif tracking-wider uppercase">
            <span>Available Rewards </span>
          </h2>
          <div class="nw-item-divider max-w-lg"></div>

          <div class="flex flex-row flex-wrap layout-gap mt-2">
            @if (expeditionItems$ | async; as items) {
              @if (items.length) {
                <div class="w-full max-w-md">
                  <div class="flex flex-row flex-wrap gap-2">
                    @for (item of items; track $index) {
                      <a [nwLinkTooltip]="['item', itemId(item)]" class="block w-full max-w-[60px] aspect-square">
                        <picture [nwIcon]="item" class="block w-full h-full my-0"></picture>
                      </a>
                    }
                  </div>
                </div>
              }
            }
            @if (difficulty) {
              <div class="stats bg-opacity-0 self-end w-full max-w-md">
                @for (row of difficyltyRewards$ | async; track $index) {
                  <div class="stat place-items-center p-0">
                    <div class="stat-title">
                      <span [nwText]="row.RankName"></span>
                    </div>
                    <div
                      class="stat-value cursor-pointer transition-all rounded-md outline-4 outline-transparent focus:outline-primary hover:outline-primary"
                      [class.text-primary]="row.Completed"
                      (click)="row.toggle()"
                    >
                      {{ row.Quantity }}
                    </div>
                    <div class="stat-desc">
                      <span [nwText]="row.ItemName"></span>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </section>

        <div class="mt-4">
          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">Show loot for your level</span>
              <input
                type="checkbox"
                class="toggle"
                [class.toggle-primary]="adjustLevel$ | async"
                [ngModel]="adjustLevel$ | async"
                (ngModelChange)="adjustLevel$.next($event)"
              />
            </label>
          </div>
          @if (adjustLevel$ | async) {
            <div class="form-control w-full">
              <input
                class="input input-bordered"
                placeholder="60"
                type="number"
                [min]="1"
                [max]="65"
                [ngModel]="adjustedLevel$ | async"
                (ngModelChange)="adjustedLevel$.next($event)"
              />
            </div>
          }
        </div>
      </div>

      <div class="content-grid-tabs tabs tabs-border flex-nowrap mt-4 justify-stretch flex-none">
        @for (item of tabs; track item.id) {
          @if (item.externUrl) {
            <a class="tab" [class.tab-active]="item.id === tab" [href]="item.externUrl" target="_blank">
              {{ item.label }}
              <nwb-icon [icon]="iconExtern" class="ms-1 w-4 h-4" />
            </a>
          } @else {
            <a
              class="tab"
              [class.tab-active]="item.id === tab"
              [routerLink]="['.']"
              [queryParams]="{ tab: item.id }"
              [queryParamsHandling]="'merge'"
              rel="nofollow"
            >
              {{ item.label }}
            </a>
          }
        }
      </div>

      <div
        class="content-grid-map flex justify-end aspect-square md:aspect-video 3xl:aspect-auto 3xl:min-h-[450px] z-50"
        [class.sticky]="mapPinned()"
        [class.top-0]="mapPinned()"
        [class.right-0]="mapPinned()"
        [class.max-h-[35vh]]="mapPinned()"
      >
        <nwb-game-mode-detail-map
          class="w-full h-full max-w-[1200px] group"
          [gameModeId]="paramGameMode$ | async"
          [creatures]="creatures$ | async"
          [highlight]="(vitalTargetHover() || vitalTargetClick())?.VitalsID"
          [class.bg-base-300]="mapPinned()"
        >
          <div class="inline-flex absolute top-0 right-0">
            <button
              class="btn btn-sm btn-ghost btn-square opacity-0 group-hover:opacity-100"
              [class.text-primary]="mapPinned()"
              (click)="mapPinned.set(!mapPinned())"
            >
              <nwb-icon [icon]="iconPin" class="w-5 h-5" />
            </button>
          </div>
        </nwb-game-mode-detail-map>
      </div>

      <div class="content-grid-content">
        @for (item of tabs; track item.id) {
          @if (item.id === tab) {
            <ng-container *ngTemplateOutlet="item.tpl" />
          }
        }
      </div>
    </div>
  </ion-content>
</ion-content>

<ng-template #tplDungeonLoot>
  <div class="grid grid-loot layout-gap" [nwbInfniteScroll]="dungeonLoot$ | async" #scroll="infiniteScroll">
    @for (item of scroll.data(); track $index) {
      <nwb-item-detail
        class="fade"
        animate.enter="fade-in"
        [itemId]="item"
        [cdkContextMenuTriggerFor]="tplExplainMenu"
        (cdkContextMenuOpened)="explainItemDrop(item, 'normal')"
      >
        <nwb-item-detail-header
          [enableInfoLink]="true"
          [enableTracker]="true"
          [enableLink]="true"
          class="rounded-md overflow-clip"
        />
      </nwb-item-detail>
    }
    @if (scroll.canLoad()) {
      <button class="btn loading" nwbInfiniteScrollTrigger>loading</button>
    }
  </div>
</ng-template>

<ng-template #tplDungeonMutatedLoot>
  <div class="grid grid-loot layout-gap" [nwbInfniteScroll]="dungeonMutatedLoot$ | async" #scroll="infiniteScroll">
    @for (item of scroll.data(); track $index) {
      <nwb-item-detail
        class="fade"
        animate.enter="fade-in"
        [itemId]="item"
        [cdkContextMenuTriggerFor]="tplExplainMenu"
        (cdkContextMenuOpened)="explainItemDrop(item, 'mutated')"
      >
        <nwb-item-detail-header
          [enableInfoLink]="true"
          [enableTracker]="true"
          [enableLink]="true"
          class="rounded-md overflow-clip"
        />
      </nwb-item-detail>
    }
    @if (scroll.canLoad()) {
      <button class="btn loading" nwbInfiniteScrollTrigger>loading</button>
    }
  </div>
</ng-template>

<ng-template #tplDungeonDifficultyLoot>
  <div class="grid grid-loot layout-gap" [nwbInfniteScroll]="dungeonDifficultyLoot$ | async" #scroll="infiniteScroll">
    @for (item of scroll.data(); track $index) {
      <nwb-item-detail
        class="fade"
        animate.enter="fade-in"
        [itemId]="item"
        [cdkContextMenuTriggerFor]="tplExplainMenu"
        (cdkContextMenuOpened)="explainItemDrop(item, 'difficulty')"
      >
        <nwb-item-detail-header
          [enableInfoLink]="true"
          [enableTracker]="true"
          [enableLink]="true"
          class="rounded-md overflow-clip"
        />
      </nwb-item-detail>
    }
    @if (scroll.canLoad()) {
      <button class="btn loading" nwbInfiniteScrollTrigger>loading</button>
    }
  </div>
</ng-template>

<ng-template #tplDungeonBosses>
  <div class="grid grid-vitals layout-gap">
    @for (item of creaturesBosses$ | async; track $index) {
      <nwb-vital-detail-card
        [vitalId]="item?.VitalsID"
        [level]="creatureLevel$ | async"
        [mutaElement]="mutaElementId$ | async"
        [mutaDifficulty]="difficultyLevel"
        [activeTab]="paramVitalTab$ | async"
        (activeTabChange)="handleVitalTabChange($event)"
      >
        <button
          class="absolute top-1 right-1 btn btn-sm btn-square btn-ghost"
          header
          [class.text-primary]="item === vitalTargetClick()"
          (mouseenter)="handleVitalTargetEnter(item)"
          (mouseleave)="handleVitalTargetLeave(item)"
          (click)="handleVitalTargetClick(item)"
        >
          <nwb-icon [icon]="iconTarget" class="w-5 h-5" />
        </button>
      </nwb-vital-detail-card>
    }
  </div>
</ng-template>

<ng-template #tplDungeonNamed>
  <div class="grid grid-vitals layout-gap">
    @for (item of creaturesNamed$ | async; track $index) {
      <nwb-vital-detail-card
        [vitalId]="item?.VitalsID"
        [level]="creatureLevel$ | async"
        [mutaElement]="mutaElementId$ | async"
        [mutaDifficulty]="difficultyLevel"
        [activeTab]="paramVitalTab$ | async"
        (activeTabChange)="handleVitalTabChange($event)"
      >
        <button
          class="absolute top-1 right-1 btn btn-sm btn-square btn-ghost"
          header
          [class.text-primary]="item === vitalTargetClick()"
          (mouseenter)="handleVitalTargetEnter(item)"
          (mouseleave)="handleVitalTargetLeave(item)"
          (click)="handleVitalTargetClick(item)"
        >
          <nwb-icon [icon]="iconTarget" class="w-5 h-5" />
        </button>
      </nwb-vital-detail-card>
    }
  </div>
</ng-template>

<ng-template #tplDungeonCreatures>
  <div class="grid grid-vitals layout-gap">
    @for (item of creaturesCommon$ | async; track $index) {
      <nwb-vital-detail-card
        [vitalId]="item?.VitalsID"
        [level]="creatureLevel$ | async"
        [mutaElement]="mutaElementId$ | async"
        [mutaDifficulty]="difficultyLevel"
        [activeTab]="paramVitalTab$ | async"
        (activeTabChange)="handleVitalTabChange($event)"
      >
        <button
          class="absolute top-1 right-1 btn btn-sm btn-square btn-ghost"
          header
          [class.text-primary]="item === vitalTargetClick()"
          (mouseenter)="handleVitalTargetEnter(item)"
          (mouseleave)="handleVitalTargetLeave(item)"
          (click)="handleVitalTargetClick(item)"
        >
          <nwb-icon [icon]="iconTarget" class="w-5 h-5" />
        </button>
      </nwb-vital-detail-card>
    }
  </div>
</ng-template>

<ng-template #tplExplain>
  <ion-header>
    <ion-toolbar class="ion-color ion-color-black border border-base-100 border-b-0 rounded-t-md">
      <ion-title>Loot Graph</ion-title>
      <button type="button" slot="end" class="btn btn-ghost btn-circle mr-2 text-xl" [nwbModalClose]>&times;</button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="rounded-b-md bg-base-100">
    @if (explainVm$ | async; as vm) {
      <nwb-loot-graph [tags]="vm.tags" [tagValues]="vm.values" [tableId]="vm.tableIds" [highlight]="vm.itemId" />
    }
  </ion-content>
</ng-template>

<ng-template #tplExplainMenu>
  <ul class="menu menu-compact bg-base-100 rounded-md w-40" cdkMenu>
    <li>
      <button [nwbModalOpen]="{ content: tplExplain, size: 'md' }" cdkMenuItem>Explain Drop</button>
    </li>
  </ul>
</ng-template>
