<ng-template #tplIndex>
  <nwb-navbar class="bg-base-300 rounded-t-md" [menu]="tplMenu">
    <ng-template #tplMenu>
      <li *ngFor="let item of categories$ | async" [routerLinkActive]="'bordered'">
        <a [routerLink]="['..', item]">
          <span class="uppercase">{{ item }}</span>
        </a>
      </li>
    </ng-template>
  </nwb-navbar>

  <div class="layout-content p-3">
    <div class="w-full max-w-screen-3xl mx-auto grid grid-cols-fill gap-4">
      @for (item of modes$ | async; track $index) {
        <a
          [routerLink]="[item.id]"
          [queryParamsHandling]="'preserve'"
          class="bg-black rounded-md border border-base-100 hover:border-primary relative min-h-[300px]"
        >
          <picture class="absolute top-0 left-0 right-0 bottom-0 block w-full h-full rounded-md overflow-clip opacity-75">
            <img [nwImage]="item.backgroundImage" class="w-full h-full object-cover" />
          </picture>
          <div class="relative p-4 shadow-black text-shadow text-nw-description">
            <h3 class="flex flex-row gap-2 items-center text-2xl">
              <span class="relative">
                <img *ngIf="item.icon" [nwImage]="item.icon" class="w-6 h-6 scale-150" />
                @if (item.isMutated) {
                  <div class="absolute top-0 left-0 w-full scale-150" [@fade]="item.isMutated">
                    <img
                      [nwImage]="'assets/icons/expedition/mutated_dungeon_active.png'"
                      class="aspect-square animate-spin-cw"
                    />
                  </div>
                }
              </span>
              <span class="font-serif text-nw-description" [nwHtml]="item.title | nwText"> </span>
            </h3>
            @if (item.description) {
              <p class="mt-2" [nwHtml]="item.description | nwText | nwTextBreak"></p>
            }
            @if (item.mutation) {
              <div class="flex flex-col gap-2 mt-4">
                <div>{{ 'ui_dungeon_mutator_string' | nwText }}</div>
                <div class="nw-item-divider"></div>
                <nwb-muta-element-tile [mutaElement]="item.mutation.element" />
                <nwb-muta-promotion-tile
                  [mutaPromotion]="item.mutation.promotion"
                  [mutaElement]="item.mutation.element"
                />
                <nwb-muta-curse-tile [mutaCurse]="item.mutation.curse" [mutaElement]="item.mutation.element" />
              </div>
            }
          </div>
        </a>
      }
    </div>
  </div>
</ng-template>

<ng-template #tplModes>
  <nwb-navbar class="bg-base-300 rounded-t-md">
    <ng-container *nwbNavbarMenu="let ctx">
      <li *ngIf="ctx.isHorizontal">
        <a [routerLink]="'.'" class="btn-square">
          <nwb-icon [icon]="iconBack" class="w-6 h-6"></nwb-icon>
        </a>
      </li>
      <li *ngFor="let item of modes$ | async" [routerLinkActive]="'bordered'">
        <a [routerLink]="[item.id]" [queryParamsHandling]="item.isMutable ? 'preserve' : null">
          <picture class="w-6 h-6 scale-150 relative">
            <img [nwImage]="item.icon" />
            @if (item.isMutated) {
              <div class="absolute top-0 left-0 w-full h-full animate-spin-cw">
                <img
                  [nwImage]="'assets/icons/expedition/mutated_dungeon_active.png'"
                  class="w-full aspect-square scale-150"
                />
              </div>
            }
          </picture>
          <span>{{ item.title | nwText }} </span>
        </a>
      </li>
    </ng-container>
  </nwb-navbar>
</ng-template>

<ng-container *ngIf="outlet.isActivated; then tplModes; else tplIndex"></ng-container>
<router-outlet></router-outlet>
