@if (hasMap()) {
  <nwb-world-map
    class="flex-1 flex flex-col relative min-h-[400px]"
    [zoneMarkers]="zoneMarkers()"
    [pointMarkers]="pointMarkers()"
    [bounds]="bounds()"
    [showCoords]="true"
    [showTooltip]="true"
    [fit]="false"
    (featureClicked)="onFeatureClicked($event)"
    #map
  >
    <div class="w-auto absolute top-2 right-2">
      <button class="btn btn-square btn-sm" (click)="map.toggleFullscreen()">
        <nwb-icon [icon]="iconExpand" class="w-4 h-4" />
      </button>
    </div>
  </nwb-world-map>
}
