<nwb-item-header class="gap-2 flex-none">
  <a [nwbItemIcon]="icon()" [nwLink]="recordId()" [nwLinkResource]="'gatherable'" class="w-[76px] h-[76px]"> </a>
  <nwb-item-header-content class="z-10" [title]="name() | nwText | nwTextBreak: ' - '" [text1]="type()" [text2]="subtitle()" />
</nwb-item-header>
<div class="flex-1 flex flex-col gap-2 empty:hidden p-4 relative" [class.min-h-[200px]]="!!image()">
  @if(image(); as img) {
    <img [nwImage]="img" class="absolute top-0 right-0 left-0 aspect-video object-cover w-full" />
  }
  @if(description(); as text){
    <div [nwHtml]="text | nwText | nwTextBreak" class="z-0 shadow-black text-shadow-sm"></div>
  }
  <ng-content/>
</div>
