<ng-content select="[content-top]" />

<div class="px-2 pb-2 flex flex-col gap-2">
  @if (!recipeOnly()) {
    <nwb-crafting-calculator-header [ngClass]="headClass()"/>
  }
  @if (store.recipe()) {
    <nwb-crafting-step [step]="store.tree()" [amount]="store.amount()" [amountMode]="store.amountMode()" (totalCraft)="totalCraft.set($event)">
      @for (slot of store.slots(); track $index) {
        @if (slot.canCraft) {
          <nwb-crafting-slot
            [slot]="slot"
            [amount]="store.amount()"
            [amountMode]="store.amountMode()"
            (pickClicked)="pickCraftMod(slot)"
          />
        }
      }
    </nwb-crafting-step>
  }
  @if (!recipeOnly()) {
    <nwb-crafting-summary [total]="totalCraft()"/>

    <a [nwGamingToolsLink]="store.recipe()" class="btn btn-block btn-ghost gap-2 screenshot-hidden">
      <img [nwImage]="'assets/gaming-tools-logo.svg'" class="w-14" width="1020" height="600" />
      Calculator
    </a>
  }
</div>

<ng-content />
