<div
  class="cell w-full h-full flip-card relative overflow-clip"
  [class.flipped]="showBackside"
  [nwbItemMarker]="item.recipeItem.ItemID"
  [class.is-collected]="!!itemMarker.value()"
  #itemMarker="itemMarker"
>
  <div class="flip-card-content bg-black rounded-md h-full">
    <nwb-item-detail [itemId]="item.recipeItem" class="flip-card-front h-full overflow-hidden flex flex-col">
      <nwb-item-detail-header
        [enableTracker]="true"
        [enableInfoLink]="true"
        [enableLink]="true"
        class="flex-none transition-opacity"
      />
      <div class="flex-1 overflow-auto flex flex-col gap-2">
        <nwb-item-detail-description class="px-4 mt-4" />
        <nwb-crafting-calculator [entity]="item.recipe" [recipeOnly]="true" />
      </div>
    </nwb-item-detail>
    <nwb-item-card
      class="flip-card-back transition-opacity"
      [entity]="item.itemId"
      [enableInfoLink]="true"
      [enableLink]="true"
      [disableInfo]="true"
    />
  </div>
  <button
    class="flip-card-btn btn btn-ghost btn-circle absolute bottom-1 right-1 opacity-50 scale-100 transition-all hover:opacity-75 hover:scale-110"
    (click)="showBackside = !showBackside"
  >
    <nwb-icon [icon]="iconFlip" class="w-4 h-4" />
  </button>
</div>
