$nw-rarity-square-bg: (
  '0': url('^assets/icons/itembgsquare0.png'),
  '1': url('^assets/icons/itembgsquare1.png'),
  '2': url('^assets/icons/itembgsquare2.png'),
  '3': url('^assets/icons/itembgsquare3.png'),
  '4': url('^assets/icons/itembgsquare4.png'),
);
$nw-rarity-square-fg: (
  '0': url('^assets/icons/itemraritybgsquare0.png'),
  '1': url('^assets/icons/itemraritybgsquare1.png'),
  '2': url('^assets/icons/itemraritybgsquare2.png'),
  '3': url('^assets/icons/itemraritybgsquare3.png'),
  '4': url('^assets/icons/itemraritybgsquare4.png'),
);
$nw-rarity-large-bg: (
  '0': url('^assets/icons/itembglarge0.png'),
  '1': url('^assets/icons/itembglarge1.png'),
  '2': url('^assets/icons/itembglarge2.png'),
  '3': url('^assets/icons/itembglarge3.png'),
  '4': url('^assets/icons/itembglarge4.png'),
);
$nw-rarity-large-fg: (
  '0': url('^assets/icons/itemraritybglarge0.png'),
  '1': url('^assets/icons/itemraritybglarge1.png'),
  '2': url('^assets/icons/itemraritybglarge2.png'),
  '3': url('^assets/icons/itemraritybglarge3.png'),
  '4': url('^assets/icons/itemraritybglarge4.png'),
);
$nw-rarity-circle-bg: (
  '0': url('^assets/icons/itembgcircle0.png'),
  '1': url('^assets/icons/itembgcircle1.png'),
  '2': url('^assets/icons/itembgcircle2.png'),
  '3': url('^assets/icons/itembgcircle3.png'),
  '4': url('^assets/icons/itembgcircle4.png'),
);
$nw-rarity-circle-fg: (
  '0': url('^assets/icons/itemraritybgcircle0.png'),
  '1': url('^assets/icons/itemraritybgcircle1.png'),
  '2': url('^assets/icons/itemraritybgcircle2.png'),
  '3': url('^assets/icons/itemraritybgcircle3.png'),
  '4': url('^assets/icons/itemraritybgcircle4.png'),
);
$nw-rarity-header-bg: (
  '0': url('^assets/icons/tooltip_header_bg_0.png'),
  '1': url('^assets/icons/tooltip_header_bg_1.png'),
  '2': url('^assets/icons/tooltip_header_bg_2.png'),
  '3': url('^assets/icons/tooltip_header_bg_3.png'),
  '4': url('^assets/icons/tooltip_header_bg_4.png'),
);
$nw-rarity-header-fg: (
  '0': url('^assets/icons/tooltip_itemframe_rarity_0.png'),
  '1': url('^assets/icons/tooltip_itemframe_rarity_1.png'),
  '2': url('^assets/icons/tooltip_itemframe_rarity_2.png'),
  '3': url('^assets/icons/tooltip_itemframe_rarity_3.png'),
  '4': url('^assets/icons/tooltip_itemframe_rarity_4.png'),
);
$nw-rarity-color: (
  '0': rgb(200, 200, 200),
  '1': rgb(7, 192, 47),
  '2': rgb(0, 203, 233),
  '3': rgb(255, 22, 247),
  '4': rgb(247, 162, 45),
);

@mixin bgRarity($bg, $fg) {
  position: relative;
  background-size: contain;

  border: 1px solid transparent;
  border-image-width: 2px;
  border-image-repeat: round;
  border-image-slice: 2;

  &.bg-rarity-0 {
    border-image-source: map-get($bg, '0');
    background-image: map-get($fg, '0');
  }

  &.bg-rarity-1 {
    border-image-source: map-get($bg, '1');
    background-image: map-get($fg, '1');
  }

  &.bg-rarity-2 {
    border-image-source: map-get($bg, '2');
    background-image: map-get($fg, '2');
  }

  &.bg-rarity-3 {
    border-image-source: map-get($bg, '3');
    background-image: map-get($fg, '3');
  }

  &.bg-rarity-4 {
    border-image-source: map-get($bg, '4');
    background-image: map-get($fg, '4');
  }
}

@mixin bgRaritySquare() {
  @include bgRarity($nw-rarity-square-bg, $nw-rarity-square-fg);
}

@mixin bgRarityLarge() {
  @include bgRarity($nw-rarity-large-bg, $nw-rarity-large-fg);
}

@mixin bgRarityCircle() {
  @include bgRarity($nw-rarity-circle-bg, $nw-rarity-circle-fg);
}

@mixin nwPictureIcon() {
  @include bgRaritySquare();

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    object-fit: contain;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    z-index: 2;
  }
}
