$nw-rarity-square-bg: (
  '0': url('../../assets/icons/item/itembgsquare0.png'),
  '1': url('../../assets/icons/item/itembgsquare1.png'),
  '2': url('../../assets/icons/item/itembgsquare2.png'),
  '3': url('../../assets/icons/item/itembgsquare3.png'),
  '4': url('../../assets/icons/item/itembgsquare4.png'),
);
$nw-rarity-square-fg: (
  '0': url('../../assets/icons/item/itemraritybgsquare0.png'),
  '1': url('../../assets/icons/item/itemraritybgsquare1.png'),
  '2': url('../../assets/icons/item/itemraritybgsquare2.png'),
  '3': url('../../assets/icons/item/itemraritybgsquare3.png'),
  '4': url('../../assets/icons/item/itemraritybgsquare4.png'),
);
$nw-rarity-large-bg: (
  '0': url('../../assets/icons/item/itembglarge0.png'),
  '1': url('../../assets/icons/item/itembglarge1.png'),
  '2': url('../../assets/icons/item/itembglarge2.png'),
  '3': url('../../assets/icons/item/itembglarge3.png'),
  '4': url('../../assets/icons/item/itembglarge4.png'),
);
$nw-rarity-large-fg: (
  '0': url('../../assets/icons/item/itemraritybglarge0.png'),
  '1': url('../../assets/icons/item/itemraritybglarge1.png'),
  '2': url('../../assets/icons/item/itemraritybglarge2.png'),
  '3': url('../../assets/icons/item/itemraritybglarge3.png'),
  '4': url('../../assets/icons/item/itemraritybglarge4.png'),
);
$nw-rarity-circle-bg: (
  '0': url('../../assets/icons/item/itembgcircle0.png'),
  '1': url('../../assets/icons/item/itembgcircle1.png'),
  '2': url('../../assets/icons/item/itembgcircle2.png'),
  '3': url('../../assets/icons/item/itembgcircle3.png'),
  '4': url('../../assets/icons/item/itembgcircle4.png'),
);
$nw-rarity-circle-fg: (
  '0': url('../../assets/icons/item/itemraritybgcircle0.png'),
  '1': url('../../assets/icons/item/itemraritybgcircle1.png'),
  '2': url('../../assets/icons/item/itemraritybgcircle2.png'),
  '3': url('../../assets/icons/item/itemraritybgcircle3.png'),
  '4': url('../../assets/icons/item/itemraritybgcircle4.png'),
);
$nw-rarity-header-bg: (
  '0': url('../../assets/icons/item/tooltip_header_bg_0.png'),
  '1': url('../../assets/icons/item/tooltip_header_bg_1.png'),
  '2': url('../../assets/icons/item/tooltip_header_bg_2.png'),
  '3': url('../../assets/icons/item/tooltip_header_bg_3.png'),
  '4': url('../../assets/icons/item/tooltip_header_bg_4.png'),
);
$nw-rarity-header-fg: (
  '0': url('../../assets/icons/item/tooltip_itemframe_rarity_0.png'),
  '1': url('../../assets/icons/item/tooltip_itemframe_rarity_1.png'),
  '2': url('../../assets/icons/item/tooltip_itemframe_rarity_2.png'),
  '3': url('../../assets/icons/item/tooltip_itemframe_rarity_3.png'),
  '4': url('../../assets/icons/item/tooltip_itemframe_rarity_4.png'),
);
$nw-rarity-header-bg-sprite: (
  '0': '',
  '1': url('../../assets/icons/item/named_bg_1.webp'),
  '2': url('../../assets/icons/item/named_bg_2.webp'),
  '3': url('../../assets/icons/item/named_bg_3.webp'),
  '4': url('../../assets/icons/item/named_bg_4.webp'),
);
$nw-rarity-color: (
  '0': rgb(204,204,204),
  '1': rgb(7,191,46),
  '2': rgb(69,209,255),
  '3': rgb(255,22,247),
  '4': rgb(255,135,23),
  'artifact': rgb(255,124,85),
);

@mixin bgRarity($bg, $fg) {
  position: relative;
  background-size: contain;

  &:not(.border) {
    border: 1px solid transparent;
  }
  border-image-width: 2px;
  border-image-repeat: stretch;
  border-image-slice: 2;

  &.bg-rarity-common {
    border-image-source: map-get($bg, '0');
    background-image: map-get($fg, '0');
  }

  &.bg-rarity-uncommon {
    border-image-source: map-get($bg, '1');
    background-image: map-get($fg, '1');
  }

  &.bg-rarity-rare {
    border-image-source: map-get($bg, '2');
    background-image: map-get($fg, '2');
  }

  &.bg-rarity-epic {
    border-image-source: map-get($bg, '3');
    background-image: map-get($fg, '3');
  }

  &.bg-rarity-legendary {
    border-image-source: map-get($bg, '4');
    background-image: map-get($fg, '4');
  }
}

@mixin bgRaritySquare() {
  @include bgRarity($nw-rarity-square-bg, $nw-rarity-square-fg);
}

@mixin bgRarityLarge() {
  @include bgRarity($nw-rarity-large-bg, $nw-rarity-large-fg);
}

@mixin bgRarityCircle() {
  @include bgRarity($nw-rarity-circle-bg, $nw-rarity-circle-fg);
}

@mixin nwPictureIcon() {
  @include bgRaritySquare();

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    object-fit: contain;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    z-index: 2;
  }
}

$nw-ability-category: (
  '1': url('../../assets/icons/abilities/abilities_bg1.png'),
  '2': url('../../assets/icons/abilities/abilities_bg2.png'),
  '3': url('../../assets/icons/abilities/abilities_bg3.png'),
  '4': url('../../assets/icons/abilities/abilities_bg4.png'),
  '5': url('../../assets/icons/abilities/abilities_bg5.png'),
  '6': url('../../assets/icons/abilities/abilities_bg6.png'),
);

@mixin bgAbility() {
  &.bg-ability-melee {
    background: map-get($nw-ability-category, '2') #000;
  }
  &.bg-ability-debuff {
    background: map-get($nw-ability-category, '4') #000;
  }
  &.bg-ability-buff {
    background: map-get($nw-ability-category, '5') #000;
  }
  &.bg-ability-range {
    background: map-get($nw-ability-category, '1') #000;
  }
  &.bg-ability-magic {
    background: map-get($nw-ability-category, '3') #000;
  }
  &.bg-ability-heal {
    background: map-get($nw-ability-category, '6') #000;
  }
}
