<div class="grid grid-cols-3 gap-3">
  <div *ngFor="let group of groups" class="dark-panel p-1 min-w snap-start">
    <div *ngFor="let set of group.items" class="flex flex-row items-start m-1">
      <a [nwInfoLink]="set.housing.HouseItemID" [nwInfoResource]="'item'" target="_blank">
        <picture [nwIcon]="set.housing.IconPath" [nwRarityBg]="itemRarity(set.housing)"></picture>
      </a>
      <a [nwInfoLink]="set.ingredient.ItemID" [nwInfoResource]="'item'" target="_blank">
        <picture [nwIcon]="set.ingredient.IconPath" [nwRarityBg]="itemRarity(set.ingredient)"></picture>
      </a>
      <div class="flex flex-col content-between pl-2">
        <div>{{ itemName(set.housing) }}</div>
        <div class="text-dimmed">{{ set.housing.ItemRarity}} T{{ set.housing.ForceRarity }}</div>
      </div>
    </div>
  </div>
</div>
