@if (tabItems()?.length) {
  <nwb-tabs-host>
    <nwb-tab-left
      class="btn btn-sm btn-square btn-ghost w-5"
      [disabled]="!tabs.canScrollLeft()"
      [class.hidden]="!tabs.canScroll()"
    />
    <nwb-tab-right
      class="btn btn-sm btn-square btn-ghost w-5"
      [disabled]="!tabs.canScrollRight()"
      [class.hidden]="!tabs.canScroll()"
    />
    <nwb-tabs [active]="activeTab()" class="tabs tabs-border tabs-sm bg-base-300" #tabs>
      @for (tab of tabItems(); track tab.id) {
        <nwb-tab
          class="whitespace-nowrap"
          animate.enter="fade-grow-x-in"
          animate.leave="fade-grow-x-out"
          [value]="tab.id"
          [routerLink]="[]"
          [queryParams]="{ itemTab: tab.id }"
          [queryParamsHandling]="'merge'"
        >
          {{ tab.label }}
        </nwb-tab>
      }
    </nwb-tabs>
  </nwb-tabs-host>

  <div class="flex flex-col gap-2 pt-2">
    @switch (activeTab()) {
      @case ('effects') {
        @for (id of grantsEffects(); track $index) {
          <nwb-status-effect-detail [effectId]="id" class="bg-black" />
        }
      }
      @case ('perks') {
        @for (id of resourcePerks(); track $index) {
          <nwb-perk-detail [perkId]="id" class="bg-black" />
        }

        <nwb-perk-bucket-detail
          [perkBucketIds]="perkBucketIds()"
          [itemId]="itemId()"
          class="bg-base-300 rounded-b-md"
        />
      }
      @case ('unlocks') {
        @for (recipe of unlocksRecipe(); track $index) {
          <nwb-item-card
            [entity]="recipe?.ItemID"
            [enableInfoLink]="true"
            [enableLink]="true"
            [disablePerks]="true"
            [disableStats]="true"
            [disableInfo]="true"
          />
        }
      }
      @case ('recipes') {
        @for (item of recipes(); track $index) {
          <nwb-crafting-calculator [entity]="item.recipe" class="bg-base-300 rounded-b-md" />
        }
      }
      @case ('transmog') {
        <nwb-appearance-detail [appearance]="appearance()" [parentItemId]="itemId()" />
      }
      @case ('craftable') {
        <div
          class="flex flex-col gap-2"
          [nwbInfniteScroll]="craftableRecipes()"
          [nwbInfniteScrollPerPage]="10"
          #scroll="infiniteScroll"
        >
          @for (item of scroll.data(); track $index) {
            <nwb-item-detail [itemId]="item.itemId" class="rounded-md overflow-clip">
              <nwb-item-detail-header [enableInfoLink]="true" [enableLink]="true" [size]="'xs'" />
            </nwb-item-detail>
          }
          @if (scroll.canLoad()) {
            <button class="btn loading" nwbInfiniteScrollTrigger>loading</button>
          }
        </div>
      }
      @case ('loot') {
        @for (tableId of lootTableIds(); track $index) {
          <nwb-loot-graph [tableId]="tableId" [expand]="false" [showLocked]="true" [highlight]="itemId()" />
        }
      }
      @case ('salvages-to') {
        @if (salvageLoot().table) {
          <nwb-loot-graph
            [tableId]="salvageLoot().table"
            [tags]="salvageLoot().tags"
            [tagValues]="salvageLoot().values"
            [expand]="false"
            [showLink]="true"
            [showChance]="true"
            [showLocked]="false"
            [tagsEditable]="true"
          />
        }
        @if (salvageLoot().items.length) {
          <div
            class="flex flex-col gap-2"
            [nwbInfniteScroll]="salvageLoot().items"
            [nwbInfniteScrollPerPage]="10"
            #scroll="infiniteScroll"
          >
            @for (itemId of scroll.data(); track $index) {
              <nwb-item-detail [itemId]="itemId" class="rounded-md overflow-clip">
                <nwb-item-detail-header [enableInfoLink]="true" [enableLink]="true" [size]="'xs'" />
              </nwb-item-detail>
            }
            @if (scroll.canLoad()) {
              <button class="btn loading" nwbInfiniteScrollTrigger>loading</button>
            }
          </div>
        }
      }
      @case ('rewards') {
        @if (rewardSelection().length) {
          <table class="table table-sm table-zebra bg-base-200 rounded-sm">
            <thead>
              <tr>
                <th>
                  <select
                    [ngModel]="rewardGroup()"
                    (ngModelChange)="rewardGroup.set($event)"
                    class="select select-xs w-40"
                  >
                    @for (option of rewardGroups(); track option) {
                      <option [value]="option">{{ option }}</option>
                    }
                  </select>
                </th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (item of rewardSelection(); track $index) {
                <tr>
                  <td>{{ item.season }}</td>
                  @if (item.chapter) {
                    <td colspan="2">Chapter {{ item.chapter }}</td>
                  } @else if (item.level) {
                    <td>Level {{ item.level }}</td>
                    <td class="text-right">
                      @if (item.premium) {
                        <span class="badge badge-sm badge-primary">Premium</span>
                      } @else {
                        <span class="badge badge-sm badge-accent">Free</span>
                      }
                    </td>
                  } @else {
                    <td colspan="2">???</td>
                  }
                </tr>
              }
            </tbody>
          </table>
        }
        @for (item of rewardedFrom()?.items; track $index) {
          <nwb-item-detail [itemId]="item">
            <nwb-item-detail-header [size]="'xs'" [enableLink]="true" [enableInfoLink]="true" />
          </nwb-item-detail>
        }
        @for (item of rewardedFrom()?.entitlements; track $index) {
          <nwb-entitlement-detail [entitlementId]="item" class="bg-base-300 rounded-b-md" />
        }
      }
      @case ('dropped-by') {
        <div
          class="flex flex-col gap-2"
          [nwbInfniteScroll]="droppedBy()"
          [nwbInfniteScrollPerPage]="10"
          #scroll="infiniteScroll"
        >
          @for (item of scroll.data(); track $index) {
            <nwb-vital-detail-item [size]="'xs'" [nwbVitalDetail]="item.vitalsID">
              <div>
                @for (variation of item.variations; track $index) {
                  @if (variation.conditions.length || variation.tags.length) {
                    <div
                      class="flex-none flex flex-row gap-1 p-1 whitespace-nowrap bg-black/40 w-full overflow-auto scrollbar-hide shadow-none"
                    >
                      @for (condition of variation.conditions; track $index) {
                        <span class="badge badge-sm badge-primary text-shadow-none">
                          {{ condition.tag }}: {{ condition.value.join('-') }}
                        </span>
                      }
                      @for (tag of variation.tags; track $index) {
                        <span class="badge badge-sm badge-secondary bg-secondary/50">{{ tag }}</span>
                      }
                    </div>
                  }
                }
              </div>
            </nwb-vital-detail-item>
          }
          @if (scroll.canLoad()) {
            <button class="btn loading" nwbInfiniteScrollTrigger>loading</button>
          }
        </div>
      }
      @case ('salvaged-from') {
        <div
          class="flex flex-col gap-2"
          [nwbInfniteScroll]="salvagedFrom()"
          [nwbInfniteScrollPerPage]="10"
          #scroll="infiniteScroll"
        >
          @for (item of scroll.data(); track $index) {
            <nwb-item-detail [itemId]="item.itemId">
              <nwb-item-detail-header [size]="'xs'" [enableLink]="true" [enableInfoLink]="true">
                <div>
                  @for (variation of item.variations; track $index) {
                    @if (variation.conditions.length || variation.tags.length) {
                      <div
                        class="flex-none flex flex-row gap-1 p-1 whitespace-nowrap bg-black/40 w-full overflow-auto scrollbar-hide shadow-none"
                      >
                        @for (condition of variation.conditions; track $index) {
                          <span class="badge badge-sm badge-primary text-shadow-none">
                            {{ condition.tag }}: {{ condition.value.join('-') }}
                          </span>
                        }
                        @for (tag of variation.tags; track $index) {
                          <span class="badge badge-sm badge-secondary bg-secondary/50">{{ tag }}</span>
                        }
                      </div>
                    }
                  }
                </div>
              </nwb-item-detail-header>
            </nwb-item-detail>
          }
          @if (scroll.canLoad()) {
            <button class="btn loading" nwbInfiniteScrollTrigger>loading</button>
          }
        </div>
      }
      @case ('buy-from') {
        <div
          class="flex flex-col gap-2"
          [nwbInfniteScroll]="boughtAt()"
          [nwbInfniteScrollPerPage]="10"
          #scroll="infiniteScroll"
        >
          @for (item of scroll.data(); track $index) {
            <nwb-item-header class="gap-2">
              <nwb-item-icon [nwbItemIcon]="item.icon" [solid]="false" class="z-10 w-12 h-12" />
              <nwb-item-header-content [title]="item.label | nwText">
                <div header-text2 class="flex flex-row gap-1">
                  @for (conversion of item.costs; track $index) {
                    <nwb-icon [icon]="conversion.icon" class="w-5 h-5" [tooltip]="conversion.label | nwText" />
                    <span>{{ conversion.value | number }}</span>
                  }
                </div>
              </nwb-item-header-content>
            </nwb-item-header>
          }
          @if (scroll.canLoad()) {
            <button class="btn loading" nwbInfiniteScrollTrigger>loading</button>
          }
        </div>
      }
    }
  </div>
}
