<ng-container *ngIf="vm$ | async; let vm">
  <div class="tabs flex-nowrap overflow-auto whitespace-nowrap scrollbar-hide">
    <a
      class="tab tab-bordered"
      [class.tab-active]="vm.tabId === tab.id"
      [routerLink]="[]"
      [fragment]="tab.id"
      *ngFor="let tab of vm.tabs"
      >{{ tab.label }}</a
    >
  </div>

  <ng-container *ngIf="vm.tabId === 'effects'">
    <div class="flex flex-col gap-2">
      <nwb-status-effect-detail
        *ngFor="let id of vm.grantsEffects"
        [effectId]="id"
        class="bg-black"
      ></nwb-status-effect-detail>
    </div>
  </ng-container>

  <ng-container *ngIf="vm.tabId === 'perks'">
    <div class="flex flex-col gap-2">
      <nwb-perk-detail *ngFor="let id of vm.resourcePerks" [perkId]="id" class="bg-black"></nwb-perk-detail>
    </div>
  </ng-container>

  <ng-container *ngIf="vm.tabId === 'unlocks'">
    <nwb-item-card [entityId]="vm.unlocksRecipe.ItemID" [enableInfoLink]="true" [enableLink]="true"></nwb-item-card>
  </ng-container>

  <ng-container *ngIf="vm.tabId === 'recipes'">
    <nwb-crafting-calculator
      *ngFor="let item of vm.recipes"
      [recipe]="item.recipe"
      class="bg-base-300 rounded-b-md"
    ></nwb-crafting-calculator>
  </ng-container>

  <ng-container *ngIf="vm.tabId === 'perks'">
    <nwb-perk-bucket-detail-tabs
      [perkBucketIds]="vm.perkBucketIds"
      [itemId]="vm.entityId"
      class="bg-base-300 rounded-b-md"
    ></nwb-perk-bucket-detail-tabs>
  </ng-container>

  <ng-container *ngIf="vm.tabId === 'transmog'">
    <div class="flex flex-col gap-2">
      <nwb-appearance-detail [appearance]="vm.appearance" [parentItemId]="vm.entityId"></nwb-appearance-detail>
    </div>
  </ng-container>

  <ng-container *ngIf="vm.tabId === 'craftable'">
    <div
      class="flex flex-col gap-2"
      [nwbInfniteScroll]="vm.craftableRecipes"
      [nwbInfniteScrollPerPage]="10"
      #scroll="infiniteScroll"
    >
      <nwb-item-detail
        *ngFor="let item of scroll.data$ | async; trackBy: trackByIndex"
        [entityId]="item.itemId"
        class="rounded-md overflow-clip"
      >
        <nwb-item-detail-header [enableInfoLink]="true" [enableLink]="true" [size]="'sm'"></nwb-item-detail-header>
      </nwb-item-detail>
      <button class="btn loading" *ngIf="scroll.canLoad$ | async" nwbInfiniteScrollTrigger>loading</button>
    </div>
  </ng-container>
</ng-container>
