<table class="table table-compact w-full">
  <thead>
    <tr>
      <th>Level</th>
      <th class=" text-right">XP</th>
      <th class=" text-right">XP (total)</th>
      <th class=" text-right" colspan="2">Attr Points (total)</th>
      <th class=" text-right">respec costs</th>
    </tr>
  </thead>
  <tbody>
    @for(row of data(); track $index) {
      <tr>
        <td>{{ row.Level | number }}</td>
        <td class="text-right">{{ row.XPToLevel | number }}</td>
        <td class="text-right">{{ row.XPTotal | number }}</td>
        <td class="text-right">{{ row.AttributePoints | number }}</td>
        <td class="text-right">({{ row.AttributePointsTotal | number }})</td>
        <td class="text-right">{{ row.AttributeRespecCost / 100 | currency }}</td>
      </tr>
    }
  </tbody>
</table>

