<nwb-item-header class="gap-2">
  <a [nwbItemIcon]="icon$ | async" [nwLink]="questId$ | async" [nwLinkResource]="'quest'" class="w-[76px] h-[76px]">
  </a>
  <nwb-item-header-content
    class="z-10"
    [title]="title$ | async | nwText | nwTextBreak: ' - '"
    [text1]="type$ | async | nwHumanize"
    [text2]="'quest'"
    [text3]="levelLabel$ | async"
  />
</nwb-item-header>
<div class="p-4 flex flex-col gap-2">
  @if (description$ | async; as text) {
    <div class="text-nw-description italic" [nwHtml]="text | nwText | nwTextBreak"></div>
  }
  @if (prompt$ | async; as text) {
    <div class="chat chat-start">
      <div class="chat-bubble" [nwText]="text"></div>
    </div>
  }
  @if (response$ | async; as text) {
    <div class="chat chat-end">
      <div class="chat-bubble" [nwText]="text"></div>
    </div>
  }
  @if (inProgressResponse$ | async; as text) {
    <div class="chat chat-end">
      <div class="chat-bubble" [nwText]="text"></div>
    </div>
  }
  @if (schedule$ | async; as text) {
    <div class="flex flex-col gap-1">
      <h3 class="font-bold">Schedule</h3>
      <div class="px-2">{{ text | nwHumanize }}</div>
    </div>
  }
  @if (rewards$ | async; as rewards) {
    <div class="flex flex-col gap-1">
      <h3 class="font-bold">Rewards</h3>
      <nwb-game-event-detail-rewards [rewards]="rewards" />
    </div>
  }

  @if (previousQuests$ | async; as prev) {
    <div class="flex flex-col gap-1">
      <h3 class="font-bold">Previous Quests</h3>
      @for (quest of prev; track $index) {
        <div class="flex flex-row items-center gap-1">
          <a [nwLink]="quest.id" [nwLinkResource]="'quest'" class="flex-none">
            <img [nwImage]="quest.icon" class="w-5 h-5" />
          </a>
          <a class="flex-1 link-hover" [routerLink]="['/quests/table', quest.id]">
            <span>{{ quest.title | nwText }}</span>
          </a>
        </div>
      }
    </div>
  }
  @if (followup$ | async; as followup) {
    <div class="flex flex-col gap-1">
      <h3 class="font-bold">Follow Up Quests</h3>
      @for (row of followup; track $index) {
        <nwb-quest-detail-follow-up [data]="row" />
      }
    </div>
  }
  @if (npcDestination$ | async; as npc) {
    <h3 class="font-bold">Npc Destination</h3>
    <div class="flex flex-row items-center gap-1">
      <a [nwLink]="npc.NPCId" [nwLinkResource]="'npc'" class="flex-none">
        <img [nwImage]="defaultIcon" class="w-5 h-5" />
      </a>
      <a class="flex-1 link-hover" [routerLink]="['/npcs/table', npc.NPCId]">
        <span>{{ npc.GenericName | nwText }}</span>
      </a>
    </div>
  }
</div>
