<div class="flex flex-row items-center gap-1">
  <a [nwLinkTooltip]="['quest', quest.ObjectiveID]" class="flex-none">
    <img [nwImage]="icon" class="w-5 h-5" />
  </a>
  <a class="flex-1 link-hover" [routerLink]="['quest', questId] | nwLink">
    <span>{{ title | nwText }}</span>
  </a>
  @if(hasFollowUp) {
    <button class="btn btn-sm btn-square btn-ghost flex-none" (click)="expand = !expand">
      <nwb-icon
        [icon]="iconArrow"
        class="w-4 h-4 transition-transform"
        [class.rotate-90]="expand"
        [class.-rotate-90]="!expand"
      />
    </button>
  }
</div>
@if (hasFollowUp && expand) {
  <div class="flex flex-col gap-1 pl-3" [class.pl-3]="next?.length > 1">
    @for(row of next; track $index){
      <nwb-quest-detail-follow-up [data]="row"/>
    }
  </div>
}
