<nwb-item-header class="gap-2">
  <a [nwbItemIcon]="store.icon()" class="w-[76px] h-[76px]"> </a>
  <nwb-item-header-content
    class="z-10"
    [title]="bucketName() | nwHumanize"
    [text1]="'Loot Bucket'"
    [text2]="'Items: ' + store.rowCount()"
  />
</nwb-item-header>
<div class="flex flex-col gap-4 p-4">
  <div class="flex flex-row flex-wrap gap-2 max-h-96 overflow-auto">
    @for (row of store.rows(); track $index) {
      <a
        #detail="itemDetail"
        [nwbItemDetail]="row.Item"
        [routerLink]="[detail.houseItem() ? 'housing' : 'item', row.Item] | nwLink"
        [nwbItemIcon]="detail.icon()"
        [rarity]="detail.rarity()"
        [solid]="true"
        class="w-14 h-14 outline-1 outline-primary outline-offset-1"
        [class.outline]="row.Row === store.selectedRow()"
      ></a>
    }
  </div>

  <ng-content />
</div>
