<nwb-detail-drawer
  class="hidden lg:block lg:w-[400px] 3xl:w-[500px] 4xl:w-[600px] h-full"
  [breakpoints]="[0.25, 0.5, 1]"
>
  <div *nwbDetailDrawerContent class="layout-col layout-gap bg-base-200 layout-pad">
    <ng-container *ngIf="vital$ | async; let vital">
      <nwb-vital-detail [vital]="vital" [nwbScreenshotFrame]="vital.DisplayName | nwText"></nwb-vital-detail>
      <div class="layout-col" *ngIf="tabId$ | async; let tab">
        <div class="tabs flex-none justify-center">
          <a class="tab tab-bordered flex-1" [class.tab-active]="tab === 'loot-items'" (click)="openTab('loot-items')">
            Items
          </a>
          <a class="tab tab-bordered flex-1" [class.tab-active]="tab === 'loot-table'" (click)="openTab('loot-table')">
            Table
          </a>
          <a
            class="tab tab-bordered flex-1"
            [class.tab-active]="tab === 'damage-table'"
            (click)="openTab('damage-table')"
          >
            Attacks
          </a>
          <!-- <a class="tab tab-bordered flex-1" [class.tab-active]="tab === '3d-model'" (click)="openTab('3d-model')">
            3D
          </a> -->
        </div>
        <ng-container *ngIf="loot$ | async; let loot">
          <nwb-loot-table
            [tags]="loot.tags"
            [tagValues]="loot.values"
            [tableId]="loot.tableId"
            class="flex-1"
            *ngIf="tab === 'loot-items'"
          ></nwb-loot-table>
          <div class="layout-content" *ngIf="tab === 'loot-table'">
            <nwb-loot-graph [tags]="loot.tags" [tagValues]="loot.values" [tableId]="loot.tableId"></nwb-loot-graph>
          </div>
          <nwb-vital-damage-table *ngIf="tab === 'damage-table'" [vitalId]="vitalId$ | async"></nwb-vital-damage-table>
          <ng-container *ngIf="tab === '3d-model'">
            <div class="w-full flex-1">
              <nwb-model-viewer
                [models]="modelFiles$ | async"
                class="w-full h-full rounded-b-sm overflow-clip"
              ></nwb-model-viewer>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</nwb-detail-drawer>
