<nwb-detail-drawer
  class="hidden lg:block lg:w-[400px] 3xl:w-[500px] 4xl:w-[600px] h-full"
  [breakpoints]="[0.25, 0.5, 1]"
>
  <div *nwbDetailDrawerContent class="layout-col layout-gap bg-base-200 layout-pad">
    <nwb-vital-detail [vitalId]="vitalId()">
      <div class="tabs flex-none justify-center bg-base-300">
        <a class="tab tab-bordered flex-1" [class.tab-active]="tab() === 'stats'" (click)="openTab('stats')"> Stats </a>
        <a class="tab tab-bordered flex-1" [class.tab-active]="tab() === 'loot-table'" (click)="openTab('loot-table')">
          Loot Table
        </a>
        <a
          class="tab tab-bordered flex-1"
          [class.tab-active]="tab() === 'damage-table'"
          (click)="openTab('damage-table')"
        >
          Attacks
        </a>
        <a class="tab tab-bordered flex-1" [class.tab-active]="tab() === '3d-model'" (click)="openTab('3d-model')">
          3D
        </a>
      </div>
      @if (tab() === 'stats') {
        <nwb-vital-detail-stats class="p-4" />
      }
      @if (tab() === 'damage-table') {
        <nwb-vital-detail-attacks class="p-4" />
      }
      @if (tab() === '3d-model') {
        <nwb-vital-detail-models />
      }
      @if (tab() === 'loot-table') {
        <div class="layout-content">
          <div class="alert shadow-lg my-2 bg-base-100">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="stroke-error flex-shrink-0 w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <div>
                <h3 class="font-bold">Manual input required</h3>
                <div class="text-xs">
                  Buddy does not know which creatures spawn in which zone (yet). Adjust the loot context below, to feed
                  the loot table resolver with POI and other loot tags.
                </div>
              </div>
            </div>
          </div>

          <nwb-loot-context-editor [size]="'sm'" [vitalId]="vitalId$ | async" #editor class="p-1 mb-2" />

          <nwb-loot-graph
            [tags]="editor.contextTags | async"
            [tagValues]="editor.contextTagValues | async"
            [tableId]="lootTableId$ | async"
          />
        </div>
      }
    </nwb-vital-detail>
  </div>
</nwb-detail-drawer>
