<div class="alert shadow-lg my-2 bg-base-100">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-error flex-shrink-0 w-6 h-6">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
    <div>
      <h3 class="font-bold">Currently deactivated</h3>
      <div class="text-xs"></div>
    </div>
  </div>
</div>
<!-- <nwb-data-table
  #table
  class="flex-1 rounded-md overflow-clip"
  [quickFilter]="search.query$ | async"
>
<div class="table-header bg-base-300 px-4 py-2 flex flex-row items-center layout-gap">
  <span class="whitespace-nowrap">Loot ({{ (entities | async)?.length || 0 }})</span>
  <span class="flex-1"></span>
  <nwb-quicksearch-input class="max-w-xs"></nwb-quicksearch-input>
</div>
</nwb-data-table> -->
