<div
  class="px-2 py-1 flex flex-row items-center cursor-pointer gap-x-1"
  (click)="toggle()"
  [class.bg-base-100]="!ishighlighted"
  [class.bg-accent]="ishighlighted"
>
  <ng-content></ng-content>
  <span>{{ bucketId$ | async }} ({{ count$ | async }})</span>
  <span class="flex-1"></span>
  <nwb-icon
    [icon]="iconExpand"
    class="transition-transform w-4 h-4"
    [class.rotate-90]="expand$ | async"
    [class.-rotate-90]="!(expand$ | async)"
  ></nwb-icon>
</div>
<div class="bg-base-200 rounded-md p-3 pr-0 mr-[-1px] grid gap-2" *ngIf="expand$ | async">
  <div *ngFor="let item of items$ | async; trackBy: trackByIndex" >
    <nwb-item-detail [entityId]="item.Item" class="relative rounded-md" [class.v-highlight]="shouldHighlight(item.Item)">
      <nwb-item-detail-header [enableInfoLink]="true" class="rounded-md overflow-clip">
        <div class="content flex flex-row flex-wrap gap-1">
          <span class="badge badge-sm badge-primary whitespace-nowrap">{{ item.Quantity }} &times;</span>
          <span *ngFor="let it of item.Tags.values(); trackBy: trackByIndex" class="badge badge-sm badge-secondary whitespace-nowrap"
            >{{ it.Name }} {{ it.Value || '' }}</span
          >
        </div>
      </nwb-item-detail-header>
    </nwb-item-detail>
  </div>
</div>
