<ng-container *ngTemplateOutlet="expandable ? tplHead : tplChildren" />


@if (itemId) {
  <nwb-item-detail
    [entityId]="itemId"
    class="max-w-md rounded-md overflow-hidden border-2"
    [class.border-transparent]="!highlight"
    [class.border-accent]="highlight"
    #detail="detail"
  >
    <nwb-item-detail-header class="h-full" [size]="'sm'" [enableLink]="true" [enableInfoLink]="true">
      <div class="flex-none flex flex-row gap-1 p-1 bg-black bg-opacity-40 w-full overflow-auto scrollbar-hide">
        @if (condition) {
          <nwb-loot-tag [checked]="condition.checked"> ≥ {{ condition.value }} </nwb-loot-tag>
        }
        @if (rollThreshold) {
          <span class="whitespace-nowrap badge badge-sm badge-primary text-shadow-none cursor-help" [tooltip]="tplChanceTip">
            ≥ {{ rollThreshold }}
            ⇒ {{ chanceRel | percent: '0.0-3' }}
          </span>
        } @else {
          <span class="whitespace-nowrap badge badge-sm badge-primary text-shadow-none cursor-help" [tooltip]="tplChanceTip">
            {{ chanceRel | percent: '0.0-3' }}
          </span>
        }
        @if (itemQuantity) {
          <span class="whitespace-nowrap badge badge-sm badge-primary text-shadow-none">
            {{ itemQuantity }} &times;
          </span>
        }
        @if (matchOne) {
          <span
            class="whitespace-nowrap badge badge-sm cursor-help"
            [class.badge-error]="!tags?.length"
            [class.badge-info]="!!tags?.length"
            [tooltip]="
              !tags?.length
                ? 'No tags to match against. This item is not obtainable'
                : 'Must match only one of the given tags'
            "
          >
            MatchOne
          </span>
        }
        @for (item of tags; track $index) {
          <nwb-loot-tag
            [tag]="item.tag"
            [tagValue]="item.value"
            [checked]="item.checked"
            [actions]="item.editable"
            (addClicked)="service.addTagClicked.emit($event)"
            (removeClicked)="service.removeTagClicked.emit($event)"
          />
        }
      </div>
    </nwb-item-detail-header>
  </nwb-item-detail>
}

<ng-template #tplHead>
  <div class="border border-base-100 rounded-l-md bg-black">
    <div
      class="px-2 py-1 flex flex-row items-center gap-x-1 bg-base-100 hover:bg-base-200 transition-colors cursor-pointer shadow-accent border-l-4"
      [class.border-l-transparent]="!highlight"
      [class.border-l-accent]="highlight"
      (click)="toggle()"
    >
      <div class="flex flex-row flex-wrap items-center gap-x-1">
        @if (typeName === 'bucket') {
          <nwb-icon
            [icon]="iconBucket"
            class="w-4 h-4 mr-1 cursor-help opacity-75"
            [tooltip]="'This is a loot bucket'"
          />
        } @else if (!showLink) {
          <nwb-icon [icon]="iconTable" class="w-4 h-4 mr-1 cursor-help opacity-75" [tooltip]="'This is a loot table'" />
        } @else {
          <a
            class="btn btn-sm btn-square btn-ghost -ml-2"
            [routerLink]="link"
            [tooltip]="showLink ? 'Go to loot table' : ''"
          >
            <nwb-icon [icon]="linkIcon" class="w-4 h-4" />
          </a>
        }
        @if (rollThreshold) {
          <span class="badge badge-sm badge-primary cursor-help" [tooltip]="tplChanceTip">
            ≥ {{ rollThreshold | number }}
            @if (chanceRel) {
              ⇒ {{ chanceRel | percent: '0.0-3' }}
            }
          </span>
        } @else if(!showLink) {
          <span class="badge badge-sm badge-primary cursor-help" [tooltip]="tplChanceTip">
            {{ chanceRel | percent: '0.0-3' }}
          </span>
        }
        @if (condition) {
          <nwb-loot-tag [checked]="condition.checked"> ≥ {{ condition.value }} </nwb-loot-tag>
        }
        @if (itemQuantity && itemQuantity != '1') {
          <span class="whitespace-nowrap"> {{ itemQuantity }} &times; </span>
        }

        <span class="flex-1 overflow-hidden whitespace-nowrap inline-flex items-center font-mono text-sm">
          {{ displayName }}
        </span>
      </div>
      <span class="flex-1"></span>

      @if (showChance) {
        <span class="cursor-help inline-flex flex-col text-right">
          <span> {{ chanceAbs | percent: '0.0-6' }} </span>
        </span>
        <span> | </span>
      }
      <span class="cursor-help text-xs" [tooltip]="tplTip">
        @if (unlockedItemCount && !showLocked) {
          <span class="text-success">
            {{ unlockedItemCount }}
          </span>
          <span> / </span>
        }
        <span> {{ totalItemCount }} </span>
        <ng-template #tplTip>
          <div class="p-2">
            <div>{{ totalItemCount }} items inside this table (tree)</div>
            <div class="text-success">{{ unlockedItemCount }} items unlocked with current loot context</div>
            <div class="text-error">{{ totalItemCount - unlockedItemCount }} items locked</div>
          </div>
        </ng-template>
      </span>
      @if (showLink) {
        <button
          class="btn btn-sm btn-square btn-ghost"
          (click)="toggleLockedClicked($event)"
          [tooltip]="showLocked ? 'Hide locked items' : 'Show locked items'"
        >
          <nwb-icon [icon]="showLocked ? iconEye : iconEyeSlash" class="w-4 h-4" />
        </button>
      }
    </div>
    @if (expand) {
      <div class="p-3 pr-0 mr-[-1px] flex flex-col gap-2" @childContainer>
        @if (table) {
          <div class="flex flex-row flex-wrap gap-1 text-shadow-sm shadow-black">
            @if (table['AND/OR']; as tagValue) {
              <span class="whitespace-nowrap badge badge-sm badge-info">
                {{ tagValue }}
              </span>
            }
            @if (table.MaxRoll; as tagValue) {
              <span class="whitespace-nowrap badge badge-sm badge-primary text-shadow-none">
                MaxRoll: {{ tagValue | number }}
              </span>
            }
            @if (table.RollBonusSetting; as tagValue) {
              <span class="whitespace-nowrap badge badge-sm badge-accent">
                {{ tagValue }}
              </span>
            }
            @for (item of conditions; track $index) {
              <nwb-loot-tag
                [tag]="item.tag"
                [checked]="item.checked"
                [actions]="item.editable"
                (addClicked)="service.addTagClicked.emit($event)"
                (removeClicked)="service.removeTagClicked.emit($event)"
              />
            }
            @if (isTrue(table.ConditionOverridesRoll)) {
              <span
                class="whitespace-nowrap badge badge-sm badge-secondary cursor-help opacity-50"
                [tooltip]="'Condition Overrides Roll'"
              >
                COR
              </span>
            }
            @if (isTrue(table.LootBiasingEnabled)) {
              <span
                class="whitespace-nowrap badge badge-sm badge-accent cursor-help"
                [tooltip]="'Loot Biasing Enabled'"
              >
                Bias
              </span>
            }
            @if (table.LootBiasingChanceOverride; as tagValue) {
              <span
                class="whitespace-nowrap badge badge-sm badge-accent cursor-help"
                [tooltip]="'Loot Biasing Chance Override'"
              >
                Bias CO: {{ tagValue }}
              </span>
            }
            @if (table.GSBonus; as tagValue) {
              <span class="whitespace-nowrap badge badge-sm badge-outline opacity-50"> GSBonus: {{ tagValue }} </span>
            }
            @if (isTrue(table.UseLevelGS)) {
              <span class="whitespace-nowrap badge badge-sm badge-outline opacity-50"> UseLvelGS </span>
            }
            @if (isTrue(table.TriggerLimitOnVisit)) {
              <span class="whitespace-nowrap badge badge-sm badge-outline opacity-50"> Trigger Limit </span>
            }
            @if (table.PerkBucketOverrides2) {
              <span
                class="whitespace-nowrap badge badge-sm badge-outline opacity-50 cursor-help"
                [tooltip]="'Perk Bucket Override'"
              >
                PBO
              </span>
            }

            <span class="flex-1"></span>
            <span [tooltip]="tplProps" class="badge badge-sm badge-info cursor-help mr-1">
              <nwb-icon [icon]="iconCode" class="w-4 h-4 self-end" />
              <ng-template #tplProps>
                <nwb-property-grid [item]="getProps(table)" class="p-2 gap-x-2 font-mono text-sm" />
              </ng-template>
            </span>
          </div>
        }
        <ng-container *ngTemplateOutlet="tplChildren" />
      </div>
    }
  </div>
</ng-template>

<ng-template #tplChildren>
  @if (children?.isOnlyItems) {
    @if (children.count > 8) {
      <nwb-virtual-grid [data]="children.items" [options]="children.gridOptions" class="min-h-[380px] -m-2" />
    } @else {
      <div class="grid grid-cols-fill-xs gap-2 mr-3">
        @for (node of children.items; track node.trackId) {
          <nwb-loot-graph-node [node]="node" />
        }
      </div>
    }
  } @else if (children) {
    <div class="flex flex-col gap-2">
      @for (node of children.items; track node.trackId) {
        <nwb-loot-graph-node [node]="node" />
      }
    </div>
  }
</ng-template>

<ng-template #tplChanceTip>
  <table class="table table-sm p-1">
    <tr>
      <th>Chance to hit this entry</th>
      <td class="text-right font-mono text-accent">{{ chanceRel | percent: '0.5-5' }}</td>
    </tr>
    <tr>
      <th>Absolute Chance</th>
      <td class="text-right font-mono text-accent">{{ chanceAbs | percent: '0.5-5' }}</td>
    </tr>
  </table>
</ng-template>
