<nwb-item-header class="gap-2">
  <a [nwbItemIcon]="store.icon()" [nwLinkTooltip]="['npc', npcId()]" class="w-[76px] h-[76px]"> </a>
  <nwb-item-header-content
    class="z-10"
    [title]="store.name() | nwText | nwTextBreak: ' - '"
    [text1]="'NPC'"
    [text2]="store.title() | nwText | nwTextBreak: ' - '"
  />
</nwb-item-header>
<div class="bg-black">
  <nwb-npc-detail-map class="w-full" />

  <ng-content />
  <!-- @if (models()) {
    @if (viewerActive) {
      <nwb-model-viewer [models]="models()" class="aspect-square" />
    }
    <div class="p-4">
      <button
        class="btn btn-xs flex-1 btn-outline btn-ghost rounded-md opacity-50 w-full"
        (click)="viewerActive = !viewerActive"
      >
        {{ viewerActive ? 'Close' : 'View 3D Model' }}
      </button>
    </div>
  } -->
</div>
