<div class="flex flex-row h-full">
  <ul class="flex-none menu p-0 [&_li>*]:rounded-none">
    @for (tab of tabsItems(); track $index) {
      <li [class.bg-base-200]="tab.active">
        <a (click)="tabValue.set(tab.value)">
          <span>
            {{ tab.value }}
          </span>
          <span class="badge badge-sm" [class.badge-primary]="!!tab.bonus">
            +{{ tab.bonus * tab.scale }}{{ tab.unit }}
          </span>
        </a>
      </li>
    }
  </ul>
  <div class="flex-1 h-full bg-base-200 p-4">
    @if (section(); as section) {
      <table class="table table-xs">
        @for (group of section.groups; track $index) {
          <tr>
            <td class="w-0 text-nowrap">{{ group.name | nwText }}</td>
            <td>
              <div class="join">
                @for (stack of group.stacks; track $index) {
                  <button
                    class="join-item btn btn-sm btn-square btn-ghost"
                    (click)="removeStack(section.skill, stack.effect)"
                    [tooltip]="tipBuffRemove"
                  >
                    <nwb-icon [icon]="stack.icon" class="w-6 h-6" />
                    <ng-template #tipBuffRemove>
                      <div class="p-2">
                        <div class="flex flex-row gap-2">
                          <nwb-icon [icon]="stack.icon" class="w-12 h-12 flex-none" />
                          <div>
                            <div [nwHtml]="stack.name | nwText" class="font-bold text-lg"></div>
                            <div
                              [nwHtml]="stack.description | nwText: { perkMultiplier: 1 }"
                              class="text-nw-description italic"
                            ></div>
                          </div>
                        </div>
                        <div class="nw-item-divider my-2"></div>
                        <div class="text-info text-center">Click to remove buff</div>
                      </div>
                    </ng-template>
                  </button>
                }
                @if (group.stackSum < group.stackMax) {
                  @if (group.buffs.length === 1) {
                    @let buff = group.buffs[0];
                    <button
                      class="join-item btn btn-sm btn-square btn-ghost opacity-50 grayscale"
                      (click)="addStack(section.skill, buff.effect)"
                      [tooltip]="tipBuffAdd"
                    >
                      <nwb-icon [icon]="buff.icon" class="w-6 h-6" />
                      <ng-template #tipBuffAdd>
                        <div class="p-2">
                          <div class="flex flex-row gap-2">
                            <nwb-icon [icon]="buff.icon" class="w-12 h-12 flex-none" />
                            <div>
                              <div [nwHtml]="buff.name | nwText" class="font-bold text-lg"></div>
                              <div
                                [nwHtml]="buff.description | nwText: { perkMultiplier: 1 }"
                                class="text-nw-description italic"
                              ></div>
                            </div>
                          </div>
                          <div class="nw-item-divider my-2"></div>
                          <div class="text-info text-center">Click to add buff</div>
                        </div>
                      </ng-template>
                    </button>
                  } @else {
                    <button class="join-item btn btn-sm btn-square btn-ghost" [popover]="tplOptions" #popover="popover">
                      <nwb-icon [icon]="iconMore" class="w-5 h-5" />
                    </button>
                    <ng-template #tplOptions>
                      <ul class="menu menu-compact bg-base-300 rounded-md shadow-md">
                        @for (buff of group.buffs; track $index) {
                          <li (click)="popover.close(); addStack(section.skill, buff.effect)">
                            <a>
                              <nwb-icon [icon]="buff.icon" class="w-5 h-5 flex-none" />
                              <div [nwHtml]="buff.name | nwText"></div>
                              <span class="badge badge-sm badge-primary"
                                >+{{ buff.value * section.scale }}{{ section.unit }}</span
                              >
                            </a>
                          </li>
                        }
                      </ul>
                    </ng-template>
                  }
                }
              </div>
            </td>
            <td class="w-20 whitespace-nowrap text-right">
              <span [class.opacity-50]="!group.valueSum" class="text-sm" [class.text-success]="!!group.valueSum">
                +{{ group.valueSum * section.scale }}{{ section.unit }}
              </span>
            </td>
          </tr>
        }
        <tr>
          <th></th>
          <th></th>
          <th class="w-20 whitespace-nowrap text-right">
            <!-- <span class="badge badge-sm" [class.badge-primary]="!!section.value"
              >+{{ section.value * section.scale }}{{ section.unit }}</span
            > -->
          </th>
        </tr>
      </table>
    }
  </div>
</div>
