<table class="table table-compact w-full">
  <thead>
    <tr>
      <th></th>
      <th class="text-center">Level</th>
      <th class="text-center">Gear</th>
      <th class="text-center">
        Bonus
        <nwb-icon [icon]="iconInfo" class="w-4 h-4 cursor-help" [tooltip]="'Custom yield bonus value. Adjust here, if ingame value is different.'"/>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows$ | async; trackBy: trackBy">
      <td>{{ row.skill.Name | nwText }}</td>
      <td>
        <input
          type="number"
          class="input input-xs input-bordered w-14"
          [ngModel]="row.level"
          (ngModelChange)="updateSkillLevel(row.skill.ID, $event)"
          [min]="0"
          [max]="250"
        />
      </td>
      <td>
        <div class="join">
          <button
            *ngFor="let slot of slots; trackBy: trackBy"
            class="join-item btn btn-sm btn-square btn-ghost"
            [class.btn-success]="row.gear.has(slot.id)"
            (click)="toggleSkillSlot(row.skill.ID, slot.id)"
          >
            <span [class.opacity-10]="!row.gear.has(slot.id)">
              <img [nwImage]="slot.iconSlot" class="w-6 h-6" />
            </span>
          </button>
        </div>
      </td>
      <td>
        <div class="join">
          <input
            type="number"
            class="join-item input input-xs input-bordered w-14"
            step="1"
            [ngModel]="row.bonus"
            (ngModelChange)="updateSkillBonus(row.skill.ID, $event)"
            (wheel)="$event"
            [min]="-200"
            [max]="200"
          />
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <div class="form-control w-full">
          <label class="cursor-pointer label">
            <span class="label-text">Refining Yield Boost (Weaver's Fen)</span>
            <input
              type="checkbox"
              class="toggle toggle-accent"
              [ngModel]="flBonus$ | async"
              (ngModelChange)="updateFlBonus($event)"
            />
          </label>
        </div>
      </td>
    </tr>
  </tbody>
</table>
