<nwb-map class="block aspect-video relative" [mapId]="store.mapId()" [fitBounds]="store.bounds()" #map>
  @if (store.mapData(); as data) {
    <ng-container
      [nwbMapLayer]="'data'"
      [data]="data"
      [labels]="showLabels()"
      [labelsMinZoom]="0"
      [heatmap]="false"
      [filter]="store.filter()"
      #mapLayer="mapLayer"
    />
    @if (showLabels() && mapLayer.featuresBelowCursor(); as hoverItems) {
      <div *nwbGameMapMouseTip class="p-2 bg-base-300/75 text-sm leading-tight rounded-md">
        @for (item of hoverItems; track $index) {
          <div>{{ item.properties.label }} - {{ item.properties.title | nwText }}</div>
        }
      </div>
    }
  }
  <div class="flex flex-row w-full justify-between absolute top-0 left-0 pr-12 z-50 pointer-events-none p-2">
    <div class="text-sm font-mono">
      <game-map-coords class="text-shadow-sm shadow-black leading-none flex flex-col" />
    </div>
    <div class="flex flex-row gap-1">
      <select
        class="join-item select select-sm max-w-[200px] rounded-full pointer-events-auto"
        [ngModel]="store.mapId()"
        (ngModelChange)="store.selectMap({ mapId: $event })"
      >
        @for (value of store.mapIds(); track $index) {
          <option [value]="value" [label]="value | nwHumanize"></option>
        }
      </select>
      <div class="flex flex-row gap-1 pointer-events-auto">
        <button class="btn btn-sm btn-circle" (click)="map.toggleFullscreen()" [tooltip]="'Toggle fullscreen'">
          <nwb-icon [icon]="iconExpand" class="w-4 h-4" />
        </button>
      </div>
    </div>
  </div>
</nwb-map>
