<ion-content [scrollY]="false">
  <ion-split-pane [when]="showSidebar()" contentId="main" style="--side-min-width: 320px; --side-max-width: 420px">
    <div class="ion-page order-2 flex flex-row" id="main">
      <canvas #canvas class="w-full h-full focus-visible:outline-none"></canvas>
      <div class="absolute top-4 right-4">
        <input
          type="range"
          min="0"
          max="1"
          [ngModel]="timeOfDay()"
          (ngModelChange)="timeOfDay.set($event)"
          class="range range-xs"
          step="0.25"
        />
        <div class="w-full flex justify-between text-xs px-2">
          <span>|</span>
          <span>|</span>
          <span>|</span>
          <span>|</span>
          <span>|</span>
        </div>
      </div>
      @if (isLoading()) {
        <div
          class="bg-gradient-to-b from-base-300 to-black absolute top-0 left-0 right-0 bottom-0 flex flex-col items-center justify-center z-50 pointer-events-none fade"
          animate.enter="fade-in"
          animate.leave="fade-out"
        >
          <picture class="block aspect-square w-40 h-40 relative">
            <img
              class="absolute object-contain top-0 left-0 right-0 bottom-0 w-full h-full animate-spin-cw"
              [nwImage]="'assets/loaders/crafting_rune_clockwise.png'"
            />
            <img
              class="absolute object-contain top-0 left-0 right-0 bottom-0 w-full h-full animate-spin-ccw"
              [nwImage]="'assets/loaders/crafting_rune_counter_clockwise.png'"
            />
          </picture>
        </div>
      }
    </div>
    <ion-menu contentId="main" class="order-2">
      @if (showSidebar()) {
        <ng-container [ngTemplateOutlet]="tplDetail" />
      }
    </ion-menu>
  </ion-split-pane>
  <nwb-detail-content
    [isOpen]="showModal()"
    [initialBreakpoint]="100 | px2vh"
    [breakpoints]="[12 | px2vh, 100 | px2vh, 0.45, 1]"
    [backdropBreakpoint]="0.5"
    [backdropDismiss]="false"
    [template]="tplDetail"
  />
</ion-content>

<ng-template #tplDetail>
  <ion-content [class.ion-p-4]="showSidebar()" [class.ion-p-2]="showModal()" [class.bg-base-300]="true">
    <ng-content select="[header]" />
    <nwb-transmog-editor-panel class="w-full" [disabled]="isDisabled()" />
    <ng-content />
  </ion-content>
</ng-template>
