<div class="flex flex-col gap-1 p-2">
  @for (row of rows(); track $index) {
    <div
      [nwbItemDetail]="row.itemId"
      #detail="itemDetail"
      [class.opacity-75]="row.ignored"
      class="flex flex-row flex-nowrap gap-2"
    >
      <nwb-item-icon
        [nwbItemIcon]="detail.record()"
        [rarity]="detail.rarity()"
        [isNamed]="detail.isNamed()"
        [rounded]="detail.isResource()"
        [solid]="true"
        [borderless]="!detail.rarity() || detail.rarity() === 'common'"
        [tooltip]="!row.ignored ? 'Click to exclude from calculation' : 'Click to include in calculation'"
        [class.grayscale]="row.ignored"
        (click)="toggleIgnore(row)"
        class="w-10 h-10 hover:cursor-pointer flex-none"
      />
      <div [class.text-accent]="row.stocked" class="flex-1 flex flex-row items-center gap-1 leading-tight">
        <span
          (click)="toggleStock(row)"
          [tooltip]="'Click to subract items you have in stock'"
          class="inline-block outline outline-2 outline-transparent outline-offset-2 rounded-sm hover:outline-primary hover:cursor-pointer"
        >
          {{ row.amount | number }}
        </span>
        @if (row.stocked) {
          <div class="inline-flex">
            (
            <span> - </span>
            <nwb-stock-tracker
              [itemId]="row.itemId"
              [emptyTip]="'Edit stock value'"
              class="tooltip-right tooltip-accent whitespace-nowrap text-accent"
              #stockTracker
            />
            )
          </div>
        }
        <span> × </span>
        <a
          [nwText]="row.currencyId ? 'Azoth' : detail.name()"
          [routerLink]="detail.itemLink()"
          [class.line-through]="row.ignored"
          [class.link-hover]="!!detail.itemLink()"
          class="overflow-hidden text-ellipsis select-text"
        ></a>
      </div>

      <div
        class="flex flex-col items-end justify-around text-xs text-right whitespace-nowrap cursor-pointer pr-1"
        [class.line-through]="row.ignored"
        (click)="tracker.openInput($event)"
      >
        <nwb-price-tracker
          [itemId]="row.itemId"
          [emptyTip]="'Edit item price'"
          [format]="'1.2-2'"
          class="tooltip-left tooltip-info text-primary whitespace-nowrap"
          #tracker
        />
        @if (row.price && !tracker.showInput()) {
          <span>
            {{ row.price | number: '1.2-2' }}
          </span>
        }
      </div>
    </div>
  }
</div>

<div class="flex flex-row gap-1 items-center justify-end bg-base-200 p-1">
  <span class="opacity-50" [tooltip]="'Costs per unit'">{{ valuePerUnit() | number: '1.2-2' }} PU</span>
  /
  <span>{{ value() | number: '1.2-2' }}</span>
  <img [nwImage]="'assets/icons/icon_crown.png'" class="inline-block w-5 h-5" />
</div>
