<table class="table table-compact w-full">
  <thead>
    <tr>
      <th>Level</th>
      <td class="text-right">Upkeep Cost</td>
      <td class="text-right">Trading post level</td>
      <td class="text-right">Upgrade Regress</td>
      <td class="text-right">Earning Cap</td>
      @for (t of territories(); track $index) {
        <td class="text-right" [nwText]="t.NameLocalizationKey"></td>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of data.value(); track $index) {
      <tr>
        <th class="text-right">{{ row.Level | number }}</th>
        <td class="text-right">{{ row.UpkeepCost / 100 | currency }}</td>
        <td class="text-right">{{ row.TradingPostLevel | number }}</td>
        <td class="text-right">{{ row.NumberOfUpgradesRegressed | number }}</td>
        <td class="text-right">{{ (row.IntervalEarningsCap * row.CapModifier) / 100 | currency }}</td>
        @for (t of territories(); track $index) {
          <td class="text-right">{{ row['EarningsDistributionTID' + t.TerritoryID] | percent: '0.2' }}</td>
        }
      </tr>
    }
  </tbody>
</table>
