<ng-container *ngIf="vm$ | async; let vm">
  <figure class="mb-[-150px] relative">
    <img [nwImage]="vm.background" class="z-10 w-full" width="540" height="260" />
    <div class="absolute top-0 left-0 right-0 bottom-0 from-transparent to-base-300 bg-gradient-to-b z-20"></div>
  </figure>
  <div class="p-4 z-30 relative">
    <div [nwText]="vm.name" class="font-bold text-lg"></div>
    <div *ngIf="vm.level; let level">Recommended Level: {{ level }}</div>

    <div class="flex flex-row ml-[-5px] mt-2" *ngIf="vm.hasFort">
      <nwb-territory-standing [territoryId]="vm.id"></nwb-territory-standing>
      <div [nwText]="vm.standingTitle" class="text-sm ml-2"></div>
    </div>
  </div>

  <div class="flex-1"></div>
  <div class="p-4 pt-0 z-30 relative">
    <textarea
      placeholder="Notes"
      class="w-full resize-none textarea textarea-bordered leading-5"
      rows="4"
      maxlength="250"
      [ngModel]="vm.notes"
      (ngModelChange)="writeNotes(vm.id, $event)"
      [ngModelOptions]="{ updateOn: 'blur' }"
    ></textarea>
  </div>
</ng-container>
