<div class="flex flex-col items-center justify-center gap-2 fixed top-0 left-0 right-0 z-10 p-4">
  <div class="flex justify-center">
    <div class="stats self-center" *ngIf="stats$ | async; let stat">
      <div class="stat place-items-center">
        <div class="stat-title">Collected Trophies</div>
        <div class="stat-value text-primary">{{ stat.learned }} / {{ stat.total }}</div>
        <div class="stat-desc italic">
          Any
          <span class="inline-block w-3 h-3 mask mask-star-2 bg-orange-400"></span>
          <span class="inline-block w-3 h-3 mask mask-star-2 bg-yellow-400"></span>
          <span class="inline-block w-3 h-3 mask mask-star-2 bg-green-400"></span>
          marks the trophy as "collected"
        </div>

        <div class="tabs tabs-border flex-nowrap overflow-x-auto p-2">
          <a
            class="tab"
            [routerLink]="['./']"
            [routerLinkActive]="'tab-active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            All
          </a>
          <!-- <ng-container *ngFor="let category of service.categories$ | async">
            <a class="tab" [routerLink]="[category.id]" [routerLinkActive]="'tab-active'">
              {{ category.label }}
            </a>
          </ng-container> -->
        </div>
      </div>
    </div>
  </div>
</div>

<nwb-virtual-grid
  [enableQuickfilter]="true"
  [data]="service.categoryItems$ | async"
  [options]="service.virtualOptions"
  [columns]="[3, 3]"
  [gridClass]="['max-w-[1500px]', 'mx-auto']"
  class="min-w-[1100px]"
>
  <header class="h-48 -my-1"></header>
</nwb-virtual-grid>
