<nwb-item-header class="gap-2">
  <a
    [nwbItemIcon]="icon$ | async"
    [nwLink]="effectId$ | async"
    [nwLinkResource]="'ability'"
    class="w-[76px] h-[76px] nw-status-bg p-2"
    [class.negative]="isNegative$ | async"
  >
  </a>
  <nwb-item-header-content
    class="z-10"
    [title]="nameForDisplay$ | async | nwText | nwTextBreak : ' - '"
    [text1]="source$ | async"
    [text2]="'Status Effect'"
  ></nwb-item-header-content>
</nwb-item-header>
<div class="p-3 flex flex-col gap-2">
  <ng-container *ngIf="description$ | async | nwText | nwTextBreak; let description">
    <div [innerHTML]="description" class="text-nw-description italic"></div>
    <nwb-item-divider></nwb-item-divider>
  </ng-container>

  <ng-container *ngIf="!disableProperties">
    <nwb-property-grid
      class="gap-x-2 font-mono w-full overflow-auto text-sm leading-tight"
      [item]="properties$ | async"
      [valueFormatter]="formatValue"
    ></nwb-property-grid>
    <ng-container *ngIf="affixProps$ | async; let affix">
      <nwb-item-divider></nwb-item-divider>
      <nwb-property-grid
        class="gap-x-2 font-mono w-full overflow-auto text-sm leading-tight"
        [item]="affix"
      ></nwb-property-grid>
    </ng-container>
  </ng-container>

  <div *ngIf="costumeModel$ | async; let models" class="flex flex-col gap-2">
    <div *ngIf="viewerActive" class="aspect-square rounded-md overflow-clip">
      <nwb-model-viewer [models]="models" [hideFloor]="true" class="w-full h-full"></nwb-model-viewer>
    </div>
    <button
      class="btn btn-xs flex-1 btn-outline btn-ghost rounded-md opacity-50 w-full"
      (click)="viewerActive = !viewerActive"
    >
      {{ viewerActive ? 'Close' : 'View 3D Model' }}
    </button>
  </div>

  <ng-content></ng-content>
</div>

<ng-template [nwbGridValue] let-cell #tplCategory>
  <span
    [class.text-secondary]="!detail.hasLimitsSig()"
    [class.text-error]="detail.hasLimitsSig()"
    [nwbStatusEffectCategoryDetail]="cell.value"
    #detail="detail"
    class="inline-flex flex-row gap-1 items-center mr-1"
  >
    <span>
      {{ cell.value }}
    </span>
    <span *ngIf="detail.hasLimitsSig()" [tooltip]="tplCategoryTip" [tooltipClass]="'max-w-none'">
      <nwb-icon [icon]="iconInfo" class="w-3 h-3 opacity-50 hover:opacity-100 cursor-help"></nwb-icon>
    </span>
    <ng-template #tplCategoryTip>
      <nwb-status-effect-limits-table [categoryId]="cell.value"></nwb-status-effect-limits-table>
    </ng-template>
  </span>
</ng-template>

<ng-template [nwbGridValue] let-cell #tplCategoryInfo>
  <ng-container [nwbStatusEffectCategoryDetailByProp]="cell.value" #detail="detail">
    <span *ngIf="detail.hasLimitsSig()" [tooltip]="tplCategoryTip" [tooltipClass]="'max-w-none'" class="text-error inline-flex">
      <nwb-icon [icon]="iconInfo" class="w-3 h-3 opacity-50 hover:opacity-100 cursor-help"></nwb-icon>
    </span>
    <ng-template #tplCategoryTip>
      <nwb-status-effect-limits-table [property]="cell.value"></nwb-status-effect-limits-table>
    </ng-template>
  </ng-container>
</ng-template>
