:host {
  display: inline-flex;
  background-image: url('/assets/icons/tradeskills/skillcellbg.png');
  background-size: 100% 100%;

  .aspect-square {
    background-image: url('/assets/icons/tradeskills/skilllevelcircleprogressbg.png');
    background-size: 100% 100%;
  }

  input:focus::placeholder {
    color: transparent;
  }
  @apply rounded-md transition-all outline outline-4 outline-transparent cursor-pointer;
  @apply focus-within:outline-primary;
  @media (hover: hover) and (pointer: fine) {
    @apply hover:outline-primary;
  }
}
