<ion-header>
  <ion-toolbar class="bg-base-300">
    <ion-segment [value]="tab$ | async">
      <ion-segment-button [value]="'list'" [routerLink]="'list'"> Territories </ion-segment-button>
      <ion-segment-button [value]="'standing'" [routerLink]="'standing'"> Standing </ion-segment-button>
      <ion-segment-button [value]="'governance'" [routerLink]="'governance'"> Governance </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <router-outlet />
</ion-content>
