<div class="flex flex-col-reverse md:flex-row bg-base-300 rounded-t-md">
  <nwb-navbar class="bg-base-300 rounded-t-md flex-1" [menu]="tplMenu">
    <ng-template #tplMenu>
      <li [routerLinkActive]="'bordered'" >
        <a [routerLink]="'list'">Territories</a>
      </li>
      <li [routerLinkActive]="'bordered'" >
        <a [routerLink]="'standing'">Standing</a>
      </li>
      <li [routerLinkActive]="'bordered'" >
        <a [routerLink]="'governance'">Governance</a>
      </li>
    </ng-template>
  </nwb-navbar>
  <div class="flex-none p-2 w-full md:max-w-[300px]">
    <nwb-quicksearch-input #search></nwb-quicksearch-input>
  </div>
</div>
<router-outlet></router-outlet>
