<ng-container *ngIf="vm$ | async; let vm">
  <div class="relative" *ngIf="vm.instance">
    <nwb-skill-builder
      [ngModel]="vm.instance"
      (ngModelChange)="updateSkill($event)"
      [disabled]="disabled"
      #builder
    ></nwb-skill-builder>
    <button
      class="btn btn-ghost btn-square absolute top-0 right-0 screenshot-hidden"
      [cdkMenuTriggerFor]="menu"
      *ngIf="!disabled"
    >
      <nwb-icon [icon]="iconMenu" class="w-4 h-4"></nwb-icon>
    </button>
  </div>
  <div *ngIf="!vm.instance && !vm.loading" class="relative flex-1 flex flex-col layout-gap items-center justify-center">
    <img [nwImage]="'assets/loaders/crafting_rune_clockwise.png'" class="w-64 h-64 text-white opacity-30" />

    <button class="btn btn-ghost btn-square absolute top-0 right-0" [cdkMenuTriggerFor]="menu" *ngIf="!disabled">
      <nwb-icon [icon]="iconMenu" class="w-4 h-4"></nwb-icon>
    </button>
  </div>
</ng-container>

<ng-template #menu>
  <ul
    class="my-1 menu menu-compact bg-base-200 border border-base-100 rounded-md shadow-lg text-shadow-sm shadow-black"
    cdkMenu
    *ngIf="vm$ | async; let vm"
  >
    <li>
      <a cdkMenuItem (click)="createNew()">
        <nwb-icon [icon]="iconPlus" class="w-4 h-4 mr-2"></nwb-icon>
        <div class="flex flex-col leading-none">
          <span>Create New</span>
          <span class="text-xs opacity-75">Choose a weapon and create new skill tree</span>
        </div>
      </a>
    </li>
    <li>
      <a cdkMenuItem (click)="openExisting()">
        <nwb-icon [icon]="iconOpen" class="w-4 h-4 mr-2"></nwb-icon>
        <div class="flex flex-col leading-none">
          <span>Open Existing</span>
          <span class="text-xs opacity-75">Open and copy an existing skill tree</span>
        </div>
      </a>
    </li>
  </ul>
</ng-template>
