<div class="relative">
  @if (instance()?.weapon) {
    <nwb-skill-builder [ngModel]="instance()" (ngModelChange)="updateSkill($event)" [disabled]="disabled" #builder />
  } @else {
    <img
      [nwImage]="'assets/loaders/crafting_rune_clockwise.png'"
      class="w-64 h-64 text-white opacity-30 absolute top-1/2 left-1/2 -translate-x-1/2"
    />
  }
  @if (!disabled) {
    <button class="btn btn-ghost btn-square absolute top-0 right-0 screenshot-hidden" [cdkMenuTriggerFor]="menu">
      <nwb-icon [icon]="iconMenu" class="w-4 h-4" />
    </button>
  }
</div>

<ng-template #menu>
  <ul
    class="my-1 menu menu-compact bg-base-200 border border-base-100 rounded-md shadow-lg text-shadow-sm shadow-black"
    cdkMenu
  >
    <li>
      <a cdkMenuItem (click)="createNew()">
        <nwb-icon [icon]="iconPlus" class="w-4 h-4 mr-2"></nwb-icon>
        <div class="flex flex-col leading-none">
          <span>Create New</span>
          <span class="text-xs opacity-75">Choose a weapon and create new skill tree</span>
        </div>
      </a>
    </li>
    <li>
      <a cdkMenuItem (click)="openExisting()">
        <nwb-icon [icon]="iconOpen" class="w-4 h-4 mr-2"></nwb-icon>
        <div class="flex flex-col leading-none">
          <span>Open Existing</span>
          <span class="text-xs opacity-75">Open and copy an existing skill tree</span>
        </div>
      </a>
    </li>
  </ul>
</ng-template>
