<ng-content>
  <div class="swap swap-rotate" cdkOverlayOrigin #origin="cdkOverlayOrigin">
    <input type="checkbox" [ngModel]="isBusy()" />
    <svg viewBox="0 0 512 512" class="swap-off w-4 h-4">
      <path
        fill="currentColor"
        d="M149.1 64.8L138.7 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H373.3L362.9 64.8C356.4 45.2 338.1 32 317.4 32H194.6c-20.7 0-39 13.2-45.5 32.8zM256 384c-53 0-96-43-96-96s43-96 96-96s96 43 96 96s-43 96-96 96z"
      />
    </svg>
    <svg viewBox="0 0 512 512" class="swap-on w-4 h-4 text-primary" [class.animate-spin]="isBusy()">
      <path
        fill="currentColor"
        d="M222.7 32.1c5 16.9-4.6 34.8-21.5 39.8C121.8 95.6 64 169.1 64 256c0 106 86 192 192 192s192-86 192-192c0-86.9-57.8-160.4-137.1-184.1c-16.9-5-26.6-22.9-21.5-39.8s22.9-26.6 39.8-21.5C434.9 42.1 512 140 512 256c0 141.4-114.6 256-256 256S0 397.4 0 256C0 140 77.1 42.1 182.9 10.6c16.9-5 34.8 4.6 39.8 21.5z"
      />
    </svg>
  </div>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayOpen]="isOverlayOpen()"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="isOverlayOpen.set(false)"
    (detach)="isOverlayOpen.set(false)"
  >
    <ul class="my-1 menu menu-compact flex-nowrap overflow-auto bg-base-200 border border-base-100 rounded-md shadow-lg p-0 min-w-xs" cdkMenu>
      @if (screenshotMenu(); as tpl) {
        <ng-container [ngTemplateOutlet]="tpl" />
      }
      @for (frame of frames; track $index) {
        <li class="text-shadow-sm shadow-black">
          <a cdkMenuItem (click)="makeScreenshot(frame)" class="rounded-none">
            @if (frame.icon) {
              <nwb-icon [icon]="frame.icon" class="w-5 h-5" />
            }
            <span>
              {{ frame.label || frame.name }}
            </span>
          </a>
        </li>
      }
    </ul>
  </ng-template>
</ng-content>
