<table class="table">
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let attr of attributes" class="text-center">{{ attr.name }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of table | async; let i = index">
      <th >{{ attributes[i].name }}</th>
      <td *ngFor="let col of row">
        <div [nwbItemDetail]="col.item" class="flex gap-2">
          <a [nwInfoLink]="col.item.ItemID" [nwInfoResource]="'item'" target="_blank" class="w-10 h-10">
            <picture [nwIcon]="col.item" class="nw-icon w-10 h-10"></picture>
          </a>
          <div class="flex flex-col justify-between flex-1 whitespace-nowrap">
            <span [nwText]="col.item.Name" class="text-xs"></span>
            <span [nwText]="col.suffix"></span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
