<div
  class="cell w-full h-full flip-card relative"
  [class.flipped]="showBackside"
  [nwbItemMarker]="item.recipeItem.ItemID"
  #itemMarker="itemMarker"
  [class.is-collected]="!!(itemMarker.value$ | async)"
>
  <div class="flip-card-content bg-black rounded-md h-full">
    <nwb-item-detail [entity]="item.recipeItem" class="flip-card-front">
      <nwb-item-detail-header
        [enableTracker]="true"
        [enableInfoLink]="true"
        [enableLink]="true"
        class="transition-opacity"
      ></nwb-item-detail-header>
      <div class="flex flex-col gap-2 p-4">
        <nwb-item-detail-description></nwb-item-detail-description>
        <nwb-item-divider></nwb-item-divider>
        <div class="flex flex-col gap-1">
          <a
            *ngFor="let ingr of item.ingredients"
            [nwLink]="ingr.itemId"
            [nwLinkResource]="'item'"
            class="flex flex-row gap-1 justify-start items-center"
          >
            <picture [nwIcon]="ingr.item" class="w-8 h-8 nw-icon flex-none"></picture>
            <span>{{ ingr.quantity }}</span>
            <span>&times;</span>
            <span [nwText]="ingr.item?.Name"></span>
          </a>
        </div>
      </div>
    </nwb-item-detail>
    <nwb-item-card
      [entityId]="item.itemId"
      class="flip-card-back transition-opacity"
      [enableInfoLink]="true"
      [enableLink]="true"
      [disableInfo]="true"
    ></nwb-item-card>
  </div>
  <button
    class="flip-card-btn btn btn-ghost btn-circle absolute bottom-1 right-1 opacity-50 scale-100 transition-all hover:opacity-75 hover:scale-110"
    (click)="showBackside = !showBackside"
  >
    <nwb-icon [icon]="iconFlip" class="w-4 h-4"></nwb-icon>
  </button>
</div>
