<div class="skills-grid mb-4">

  <div class="bg-base-100 shadow-xl rounded-md aspect-square flex flex-col" *ngFor="let item of skills">
    <div class="flex-1 relative">
      <picture class="opacity-10 absolute top-0 left-0 right-0 bottom-0">
        <img [nwImage]="item.Icon" class="w-full h-full object-contain" />
      </picture>
      <div class="absolute top-0 left-0 right-0 bottom-0 z-10 flex flex-col items-center justify-center">
        <input
          min="0"
          [attr.max]="item.MaxLevel"
          class="input focus:outline-none bg-transparent w-4/5 h-4/5 text-center font-bold text-4xl appearance-none"
          placeholder="0"
          [ngModel]="readSkillLevel(item.ID)"
          (ngModelChange)="writeSkillLevel(item.ID, $event)"
        />
      </div>
    </div>
    <h2 class="p-4 text-center font-bold text-lg">
      <span [nwText]="item.Name"></span>
    </h2>
  </div>
</div>
<nwb-chart [config]="chartConfig" class="bg-base-100 rounded-md p-2"></nwb-chart>
