<ion-header class="bg-base-300">
  <div class="flex flex-col-reverse md:flex-row">
    <div class="flex flex-row items-center flex-nowrap flex-1 w-full overflow-x-auto scrollbar-hide gap-1">
      <button
        [nwbDataCateogryMenu]
        [routeParam]="categoryParam"
        [category]="category()"
        [showCounter]="true"
        [defaultTitle]="title"
        class="btn btn-ghost normal-case text-left"
      ></button>

      <span class="flex-1"></span>
      <div class="join">
        <button class="join-item btn btn-square btn-ghost" [nwbScreenshotBtn]></button>
        <button
          class="join-item btn btn-square btn-ghost"
          [nwbPriceImporterButton]
          [tooltip]="'Open price importer'"
        ></button>
        <button class="join-item btn btn-square btn-ghost" [nwbDataViewPin]></button>
        @if (service.canToggleMode()) {
          <button class="join-item btn btn-square btn-ghost" [nwbDataViewToggle]></button>
        }
        <button
          class="join-item btn btn-square btn-ghost"
          [nwbDataViewOptionsMenu]
          [persistKey]="persistKey"
          [disabled]="!service.isTableActive()"
        ></button>
      </div>
    </div>
    <div class="flex-none p-2 w-full md:max-w-[256px]">
      <nwb-quicksearch-input [autofocus]="true" [placeholder]="'Quickfilter'"></nwb-quicksearch-input>
    </div>
  </div>
</ion-header>
<ion-content [scrollY]="false">
  <ion-split-pane [when]="showSidebar()" contentId="main">
    <ion-menu
      contentId="main"
      class="order-3 min-w-80 max-w-screen-lg"
      [nwbSplitPane]="gutter"
      [nwbSplitPaneWidth]="500"
      [nwbSplitPaneKey]="'detail-md'"
    >
      @if (showSidebar()) {
        <ng-container [ngTemplateOutlet]="tplDetail" />
      }
    </ion-menu>
    <nwb-split-gutter class="order-2" #gutter="gutter" [class.hidden]="!showSidebar()" />
    <div class="ion-page order-1" id="main">
      @if (service.isGridActive()) {
        <nwb-virtual-grid
          [enableQuickfilter]="true"
          [data]="service.categoryItems$ | async"
          [options]="service.virtualOptions"
          [identifyBy]="service.entityIdGetter"
          [selectionRouteParam]="selectionParam"
        />
      } @else if (service.isTableActive()) {
        <nwb-table-grid
          (ready$)="service.onTableReady($event)"
          [enableQuickfilter]="true"
          [data]="service.categoryItems$ | async"
          [options]="service.tableGridOptions"
          [identifyBy]="service.entityIdGetter"
          [persistKey]="persistKey"
          [filterQueryParam]="filterParam"
          [selectionRouteParam]="selectionParam"
        />
      }
    </div>
  </ion-split-pane>
  <nwb-detail-content
    [isOpen]="showModal()"
    [initialBreakpoint]="100 | px2vh"
    [breakpoints]="[12 | px2vh, 100 | px2vh, 0.45, 1]"
    [backdropBreakpoint]="0.5"
    [backdropDismiss]="false"
    [template]="tplDetail"
  />
</ion-content>

<ng-template #tplDetail>
  <ion-content [class.ion-p-4]="showSidebar()" [class.ion-p-2]="showModal()" [class.bg-base-300]="true">
    <router-outlet />
  </ion-content>
</ng-template>
