<nwb-detail-drawer class="hidden lg:block w-[100vw] max-w-md 3xl:max-w-xl 4xl:max-w-2xl" [breakpoints]="[0.25, 0.5, 0.75, 1.0]">
  <div *nwbDetailDrawerContent class="layout-col bg-base-200 lg:p-3">
    <nwb-item-card
      [entityId]="itemId$ | async"
      [enableInfoLink]="true"
      [enableLink]="true"
      [nwbScreenshotFrame]="card.name$ | async | nwText"
      (entityChange)="onEntity($event)"
      #card="card"
      class="layout-col"
    >
      <nwb-crafting-calculator [recipe]="recipe$ | async" class="flex-1 bg-base-300"></nwb-crafting-calculator>
    </nwb-item-card>
  </div>
</nwb-detail-drawer>
