<nwb-detail-drawer class="hidden lg:block max-w-md" [breakpoints]="[0.25, 0.5, 0.75, 1.0]">
  <div *nwbDetailDraweContent class="layout-col bg-base-200 lg:p-3">
    <nwb-item-card
      [entityId]="itemId$ | async"
      [enableInfoLink]="true"
      [nwbScreenshotFrame]="card.name$ | async | nwText"
      #card="card"
      class="layout-col"
    >
      <nwb-crafting-calculator [recipe]="recipe$ | async" class="-m-4 mt-0 p-4 bg-base-300"></nwb-crafting-calculator>
    </nwb-item-card>
  </div>
</nwb-detail-drawer>
