<div>
  <div class="alert alert-warning mb-4">
    <div>
      <div>
        Gearscore may not match the GS in game since real weighting values are not known.
      </div>
    </div>
  </div>
  <nwb-umbral-calculator></nwb-umbral-calculator>
</div>
<div>
  <div class="tabs">
    <a class="tab tab-lifted" [class.tab-active]="tab == 0" (click)="tab = 0">Upgrade path</a>
    <a class="tab tab-lifted" [class.tab-active]="tab == 1" (click)="tab = 1">Table 590-600</a>
    <a class="tab tab-lifted" [class.tab-active]="tab == 2" (click)="tab = 2">Table 600-625</a>
  </div>
  <ng-container *ngIf="tab == 0">
    <div class="p-4 bg-base-100">
      <nwb-umbral-calculator-steps></nwb-umbral-calculator-steps>
    </div>
  </ng-container>
  <ng-container *ngIf="tab == 1">
    <nwb-umbral-table [gsMax]="599"></nwb-umbral-table>
  </ng-container>
  <ng-container *ngIf="tab == 2">
    <nwb-umbral-table [gsMin]="600"></nwb-umbral-table>
  </ng-container>
</div>
