<nwb-item-header class="gap-2">
  <a [nwbItemIcon]="icon()" [nwLinkTooltip]="['ability', recordId()]" class="w-[76px] h-[76px]"> </a>
  <nwb-item-header-content
    class="z-10"
    [title]="displayName() | nwText | nwTextBreak: ' - '"
    [text1]="'Ability'"
    [text2]="weapon() || source()"
  />
</nwb-item-header>
<div class="p-3 flex flex-col gap-2">
  @if (description() | nwText | nwTextBreak; as description) {
    <div [nwHtml]="description" class="text-nw-description italic"></div>
    <nwb-item-divider />
  }
  @if (!disableProperties && properties()) {
    <nwb-property-grid
      class="gap-x-2 font-mono w-full overflow-auto text-sm leading-tight"
      [item]="properties()"
      [valueFormatter]="formatValue"
    />
  }
  <ng-content />
</div>

<ng-template [nwbGridValue] let-cell #tplCategory>
  <span
    [class.text-secondary]="!detail.hasLimits()"
    [class.text-error]="detail.hasLimits()"
    [nwbStatusEffectCategoryDetail]="cell.value"
    #detail="detail"
    class="inline-flex flex-row gap-1 items-center mr-1"
  >
    <span>
      {{ cell.value }}
    </span>
    <span *ngIf="detail.hasLimits()" [tooltip]="tplCategoryTip" [tooltipClass]="'max-w-none'">
      <nwb-icon [icon]="iconInfo" class="w-3 h-3 opacity-50 hover:opacity-100 cursor-help" />
    </span>
    <ng-template #tplCategoryTip>
      <nwb-status-effect-limits-table [categoryId]="cell.value" />
    </ng-template>
  </span>
</ng-template>

<ng-template [nwbGridValue] let-cell #tplCategoryInfo>
  <ng-container [nwbStatusEffectCategoryDetailByProp]="cell.value" #detail="detail">
    <span
      *ngIf="detail.hasLimits()"
      [tooltip]="tplCategoryTip"
      [tooltipClass]="'max-w-none'"
      class="text-error inline-flex"
    >
      <nwb-icon [icon]="iconInfo" class="w-3 h-3 opacity-50 hover:opacity-100 cursor-help" />
    </span>
    <ng-template #tplCategoryTip>
      <nwb-status-effect-limits-table [property]="cell.value">
        <div class="text-center p-2">
          Limits only apply if the according category is present in <code>EffectCategories</code>
        </div>
      </nwb-status-effect-limits-table>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template [nwbGridValue] let-cell #tplCooldownInfo>
  <span>
    {{ cell.value }}
  </span>
  @if (cooldown()) {
    <span [tooltip]="tplCooldownTip" [tooltipClass]="'px-2 py-1'" class="text-accent">
      ({{cooldown().Time}}s)
      <nwb-icon [icon]="iconInfo" class="w-3 h-3 opacity-50 hover:opacity-100 cursor-help text-error"  />
    </span>
  }
  <ng-template #tplCooldownTip>
    <nwb-property-grid class="gap-x-2 font-mono w-full overflow-auto text-sm leading-tight" [item]="cooldown()" />
  </ng-template>
</ng-template>
