<ion-content>
  <ion-split-pane [when]="showSidebar()" contentId="main" style="--side-min-width: 320px; --side-max-width: 420px">
    <div class="ion-page order-2" id="main">
      <ion-content>
        <div class="grid grid-cols-fill-sm gap-4 max-w-screen-3xl mx-auto" [@list]="count$ | async">
          @for (item of data$ | async; track $index) {
            <a
              [nwbMountTile]="item"
              [routerLink]="item.MountId"
              [routerLinkActive]="'border-primary'"
              [@fade]="true"
              class="bg-base-300 rounded-md border border-base-100 hover:border-primary relative transition-all"
            ></a>
          }
        </div>
      </ion-content>
    </div>
    <ion-menu contentId="main" class="order-2">
      @if (showSidebar()) {
        <ng-container [ngTemplateOutlet]="tplDetail" />
      }
    </ion-menu>
  </ion-split-pane>
  <nwb-detail-content
    [isOpen]="showModal()"
    [initialBreakpoint]="100 | px2vh"
    [breakpoints]="[12 | px2vh, 100 | px2vh, 0.45, 1]"
    [backdropBreakpoint]="0.5"
    [backdropDismiss]="false"
    [template]="tplDetail"
  />
</ion-content>

<ng-template #tplDetail>
  <ion-content
    [class.ion-p-4]="showSidebar()"
    [class.ion-p-2]="showModal()"
    [class.bg-base-300]="true"
  >
    <router-outlet />
  </ion-content>
</ng-template>
