<ion-header>
  <div class="flex flex-col-reverse md:flex-row">
    <nwb-navbar class="flex-1">
      <ng-container *nwbNavbarMenu="let ctx">
        <li>
          <a rel="nofollow" [routerLink]="['.', {}]" [class.btn]="ctx.isHorizontal">
            <span class="uppercase">All</span>
          </a>
        </li>
        <li *ngFor="let item of categories$ | async" [routerLinkActive]="'bordered'">
          <a rel="nofollow" [routerLink]="[{c:item}]" [class.btn]="ctx.isHorizontal">
            <span class="uppercase">{{ item | nwText }}</span>
          </a>
        </li>
      </ng-container>
    </nwb-navbar>
  </div>
</ion-header>
<ion-content>
  <router-outlet #outlet></router-outlet>
</ion-content>
