<nwb-item-header class="gap-2">
  <a
    [nwbItemIcon]="icon()"
    [nwLinkTooltip]="['weapon-definitions', recordId()]"
    class="w-[76px] h-[76px] nw-status-bg p-2"
  >
  </a>
  <nwb-item-header-content
    class="z-10"
    [title]="recordId()"
    [text1]="'Weapon'"
    [showSkeleton]="!isLoaded() && !isLoading()"
  >
    @if (isLoaded() && !hasData()) {
      <span header-text2 class="text-error">Not Found</span>
    }
  </nwb-item-header-content>
</nwb-item-header>
<div class="p-3 flex flex-col gap-2">
  @if (!isLoaded()) {
    @if (isLoading()) {
      <span class="skeleton w-full h-3"></span>
      <div class="flex gap-1">
        <span class="skeleton w-1/3 h-3"></span>
        <span class="skeleton w-1/3 h-3"></span>
      </div>
    }
  } @else if (hasError()) {
    <div class="alert text-error">
      <nwb-icon [icon]="iconInfo" class="w-5 h-5" />
      <div class="text-sm">Oh Snap! Something went wrong.</div>
    </div>
  } @else if (!hasData()) {
    <div class="alert text-error">
      <nwb-icon [icon]="iconInfo" class="w-5 h-5" />
      <div class="text-sm">
        <code class="text-white">{{ recordId() }}</code> does not exist.
      </div>
    </div>
  }

  @if (!disableScaling() && hasScaling()) {
    <nwb-weapon-scaling-chart [weaponId]="recordId()" />
  }

  @if (!disableProperties() && properties()) {
    <nwb-property-grid
      class="gap-x-2 font-mono w-full overflow-auto text-sm leading-tight"
      [item]="properties()"
      [descriptor]="descriptor"
    />
  }

  <ng-content />
</div>
