.cdk-global-scrollblock {
  overflow: hidden;
}

.cdk-dialog-container {
  display: flex !important;
  flex-direction: column;
}

cdk-virtual-scroll-viewport .cdk-virtual-scroll-content-wrapper {
  max-width: 100% !important;
}
