.ag-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: initial !important;
}
.multiline-cell {
  line-height: 1.2 !important;
  white-space: normal !important;
  word-break: initial !important;
  padding-top: 8px;
  padding-bottom: 8px;
}

.ag-header-cell-resize::after {
  top: 2px !important;
  height: calc(100% - 4px) !important;
  width: 1px !important;
}
.ag-header-cell-filtered {
  @apply bg-primary;
}
