ion-modal::part(handle) {
  &::before {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

}
.ion-modal-y-auto {
  --height: auto;
  ion-content,
  .ion-page {
    position: relative;
    display: block;
    contain: content;
  }
  ion-content::part(scroll) {
    max-height: 80vh;
    overflow: auto;
    position: relative;
  }
}

html.plt-mobile ion-app {
  user-select: initial;
}

ion-toolbar {
  --min-height: 3rem;
  .btn {
    min-height: 2.5rem;
    height: 2.5rem;
  }
  .btn.btn-square,
  .btn.btn-circle {
    min-width: 2.5rem;
    width: 2.5rem;
  }
}
