html,
body {
  @apply bg-black text-slate-50;
  font-weight: 500;
}

html.nw-buddy,
html.nw-buddy body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

router-outlet {
  display: none;
}

