
html,
body {
  @apply bg-black text-slate-50;
  font-weight: 500;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-image: url('^assets/mainbg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

router-outlet {
  display: none;
}
