<ion-header class="bg-base-300">
  <ion-toolbar>
    <span class="px-4"> Embed Gearset </span>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-px-4 ion-py-2">
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Displayed gearset sections</legend>

    <label (click)="toggleSection('panel1'); (false)" class="label">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('panel1')"
      />
      <div class="flex flex-col leading-none">
        <span>Avatar</span>
      </div>
    </label>

    <label (click)="toggleSection('panel2'); (false)" class="label">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('panel2')"
      />
      <div class="flex flex-col leading-none">
        <span>Stats</span>
      </div>
    </label>

    <label (click)="toggleSection('skills'); (false)" class="label">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('skills')"
      />
      <div class="flex flex-col leading-none">
        <span>Skills</span>
      </div>
    </label>

    <label (click)="toggleSection('perkset'); (false)" class="label">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('perkset')"
      />
      <div class="flex flex-col leading-none">
        <span>Perksets</span>
      </div>
    </label>

    <label (click)="toggleSection('armor'); (false)" class="label">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('armor')"
      />
      <div class="flex flex-col leading-none">
        <span>Armor slots</span>
      </div>
    </label>

    <label (click)="toggleSection('jewelry'); (false)" class="label">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('jewelry')"
      />
      <div class="flex flex-col leading-none">
        <span>Jewelry slots</span>
      </div>
    </label>

    <label (click)="toggleSection('weapons'); (false)" class="label">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('weapons')"
      />
      <div class="flex flex-col leading-none">
        <span>Weapon slots</span>
      </div>
    </label>

    <label (click)="toggleSection('bags'); (false)" class="label">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('bags')"
      />
      <div class="flex flex-col leading-none">
        <span>Bag slots</span>
      </div>
    </label>

    <label (click)="toggleSection('tools'); (false)" class="label">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('tools')"
      />
      <div class="flex flex-col leading-none">
        <span>Tool slots</span>
      </div>
    </label>

    <label (click)="toggleSection('instruments'); (false)" class="label">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('instruments')"
      />
      <div class="flex flex-col leading-none">
        <span>Instrument slots</span>
      </div>
    </label>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Item Details</legend>
    <label (click)="toggleInfos(); (false)" class="label">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="infos()"
      />
      <div class="flex flex-col leading-none">
        <span>Show item infos e.g. weight and description</span>
      </div>
    </label>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Embed URL</legend>
    <textarea class="textarea w-full min-h-20 font-mono text-xs" [ngModel]="embedUrl()"></textarea>
    <button class="btn btn-sm btn-block" (click)="handleCopyUrl()">Copy</button>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Embed Snippet</legend>
    <textarea class="textarea w-full min-h-30 font-mono text-xs" [ngModel]="embedSnippet()"></textarea>
    <button class="btn btn-sm btn-block" (click)="handleCopySnippet()">Copy</button>
  </fieldset>
</ion-content>
<ion-footer class="bg-base-200">
  <ion-toolbar>
    <button slot="end" class="btn btn-ghost" [nwbModalClose]>Close</button>
  </ion-toolbar>
</ion-footer>
