<ul class="menu menu-compact">
  <li>
    <a class="flex flex-row" (click)="autosizeColumns()">
      <div class="flex-none flex items-center justify-center p-2">
        <nwb-icon [icon]="svgArrowsLeftRight" class="w-5 h-5"></nwb-icon>
      </div>
      <div class="flex-1 normal-case">
        <h3 class="font-bold">Autosize columns</h3>
        <div class="text-xs">Resize based on the visible cell content</div>
      </div>
    </a>
  </li>

  <li>
    <a class="flex flex-row" (click)="resetColumns()">
      <div class="flex-none flex items-center justify-center p-2">
        <nwb-icon [icon]="svgEraser" class="w-5 h-5"></nwb-icon>
      </div>
      <div class="flex-1 normal-case">
        <h3 class="font-bold">Reset columns</h3>
        <div class="text-xs">Resets the columns to initial state (visibility, width, position)</div>
      </div>
    </a>
  </li>

  <li>
    <a class="flex flex-row" (click)="resetFilter()" [class.text-primary]="isFilterActive | async">
      <div class="flex-none flex items-center justify-center p-2">
        <nwb-icon [icon]="svgFilter" class="w-5 h-5"></nwb-icon>
      </div>
      <div class="flex-1 normal-case">
        <h3 class="font-bold">Clear filters</h3>
        <div class="text-xs">Clears all active filters</div>
      </div>
    </a>
  </li>

  <li>
    <a class="flex flex-row" (click)="openCode()">
      <div class="flex-none flex items-center justify-center p-2">
        <nwb-icon [icon]="svgCode" class="w-5 h-5"></nwb-icon>
      </div>
      <div class="flex-1 normal-case">
        <h3 class="font-bold">Raw data</h3>
        <div class="text-xs">Opens an editor showing the raw JSON data</div>
      </div>
    </a>
  </li>
</ul>

<div class="divider my-0"></div>
<div class="px-2 py-1">
  <nwb-quicksearch-input [placeholder]="'Search'"></nwb-quicksearch-input>
</div>
<div class="p-2">
  <div *ngFor="let it of displayCols | async" class="flex flex-row gap-2">
    <div class="btn-group">
      <button class="btn btn-ghost btn-sm px-1" (click)="toggleHide(it.colId)" >
        <nwb-icon [icon]="it.hide ? svgEyeSlash : svgEye" class="w-4 h-4" [class.opacity-10]="it.hide"></nwb-icon>
      </button>
      <button class="btn btn-ghost btn-sm px-1" (click)="togglePinLeft(it.colId)">
        <nwb-icon [icon]="svgDockLeft" class="w-4 h-4" [class.opacity-10]="it.pinned !== 'left'"></nwb-icon>
      </button>
      <button class="btn btn-ghost btn-sm px-1" (click)="togglePinRight(it.colId)">
        <nwb-icon [icon]="svgDockRight" class="w-4 h-4" [class.opacity-10]="it.pinned !== 'right'"></nwb-icon>
      </button>
    </div>
    <span class="whitespace-nowrap truncate" [class.opacity-10]="it.hide">{{ it.name || it.colId }}</span>
  </div>
</div>
