<div class="indicator">
  <span class="indicator-item badge badge-xs badge-primary" *ngIf='isFilterActive | async'>

  </span>
  <nwb-icon [icon]="svgTable" class="w-4 h-4"></nwb-icon>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="cdkOrigin"
  [cdkConnectedOverlayOpen]="isPanelOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  (overlayOutsideClick)="isPanelOpen = false"
  (backdropClick)="isPanelOpen = false"
  (detach)="isPanelOpen = false"
>
  <nwb-data-table-panel (close)="isPanelOpen=false" class="max-h-[80vh] overflow-auto"></nwb-data-table-panel>
</ng-template>
