<div
  class="flex flex-row gap-2 relative rounded-md outline outline-2 outline-offset-0 outline-transparent transition-all"
  *ngFor="let item of items$ | async; let isLast = last; trackBy: trackByIndex"
  [class.hover:outline-primary-focus]="item.editable"
  [class.hover:outline-offset-4]="item.editable"
  [class.hover:cursor-pointer]="item.editable"
  (click)="editPerkClicked(item)"
>
  <ng-container *ngIf="item.perk">
    <nwb-item-perk [icon]="item.detail.icon" class="text-sky-600">
      <div *ngFor="let row of item.detail.text; trackBy: trackByIndex">
        <b *ngIf="row.label; let text"> {{ text | nwText }} </b>
        <span
          *ngIf="row.description; let text"
          [innerHTML]="text | nwText : buildTextContext(item.perk.PerkID, item.gs, row.context)"
        >
        </span>
        <span *ngIf="row.suffix; let text">
          {{ text }}
        </span>
      </div>
    </nwb-item-perk>
  </ng-container>
  <ng-container *ngIf="!item.perk">
    <nwb-item-perk
      [icon]="'assets/icons/crafting_perkbackground.png'"
      [iconText]="item.detail.bucket?.PerkChance | percent"
    >
      <div class="text-sky-600">Random Perk</div>
    </nwb-item-perk>
  </ng-container>
</div>
