<div
  class="flex flex-col relative rounded-md outline outline-2 outline-offset-0 outline-transparent transition-all"
  *ngFor="let item of items$ | async; let isLast = last; trackBy: trackByIndex"
  [class.hover:outline-primary-focus]="isSlotEditable(item)"
  [class.hover:outline-offset-4]="isSlotEditable(item)"
  [class.hover:cursor-pointer]="isSlotEditable(item)"
  (click)="editPerkClicked(item)"
>
  <ng-container *ngFor="let row of item.explain; trackBy: trackByIndex">
    <nwb-item-perk
      [icon]="row.icon"
      [explanation]="row"
      [linkPerkId]="editable$() ? null : item.perkId"
    ></nwb-item-perk>
  </ng-container>
  <ng-container *ngIf="!item.perk && item.bucket">
    <nwb-item-perk [icon]="'assets/icons/crafting_perkbackground.png'" [iconText]="item.bucket.PerkChance | percent">
      Random Perk
    </nwb-item-perk>
  </ng-container>
  <ng-container *ngIf="!item.perk && !item.bucket">
    <nwb-item-perk
      [linkPerkId]="editable$() ? null : item.perkId"
      [icon]="'assets/icons/crafting_perkbackground.png'"
      [iconText]="'?'"
    >
      – Missing –
    </nwb-item-perk>
  </ng-container>
  <span *ngIf="isSlotEditable(item)" class="absolute top-1 -left-3 opacity-50 screenshot-hidden">
    <nwb-icon [icon]="iconEdit" class="w-3 h-3" />
  </span>
  <span
    *ngIf="item.isInvalid"
    class="absolute top-1 -right-3 opacity-50 screenshot-hidden text-error cursor-help"
    [tooltip]="'Invalid perk combination'"
    [tooltipClass]="'bg-error-content text-error'"
  >
    <nwb-icon [icon]="iconWarn" class="w-3 h-3" />
  </span>
</div>
