@if (bindOnEquip()) {
  <div class="text-emerald-500 font-bold" animate.enter="fade-grow-y-in" animate.leave="fade-grow-y-out">
    {{ 'ui_bindOnEquip' | nwText }}
  </div>
}
@if (bindOnPickup()) {
  <div class="text-emerald-500 font-bold" animate.enter="fade-grow-y-in" animate.leave="fade-grow-y-out">
    {{ 'ui_bindOnPickup' | nwText }}
  </div>
}
@if (canReplaceGem()) {
  <div class="text-emerald-500 font-bold" animate.enter="fade-grow-y-in" animate.leave="fade-grow-y-out">
    Can Replace Gem
  </div>
}
@if (cantReplaceGem()) {
  <div class="text-red-600 font-bold" animate.enter="fade-grow-y-in" animate.leave="fade-grow-y-out">
    Can't Replace Gem
  </div>
}
@if (tierLabel(); as text) {
  <div animate.enter="fade-grow-y-in" animate.leave="fade-grow-y-out">
    <span class="text-zinc-500">Tier</span> <span class="font-bold text-white"> {{ text }}</span>
  </div>
}
@if (weight.value(); as text) {
  <div animate.enter="fade-grow-y-in" animate.leave="fade-grow-y-out">
    <span class="font-bold text-white">{{ text | number: '1.1-1' }}</span> <span class="text-zinc-500"> Weight</span>
  </div>
}
@if (durability(); as text) {
  <div animate.enter="fade-grow-y-in" animate.leave="fade-grow-y-out">
    <span class="font-bold text-white">{{ text }}</span> <span class="text-zinc-500"> Durability</span>
  </div>
}
@if (requiredLevel(); as text) {
  <div animate.enter="fade-grow-y-in" animate.leave="fade-grow-y-out">
    <span class="text-zinc-500">{{ 'ui_level_requirement' | nwText }}:</span>
    <span class="font-bold text-white"> {{ text }}</span>
  </div>
}
@if (maxStackSize(); as text) {
  <div animate.enter="fade-grow-y-in" animate.leave="fade-grow-y-out">
    <span class="text-zinc-500">Max Stack:</span> <span class="font-bold text-white"> {{ text }}</span>
  </div>
}
@if (ingredientTypes.value()?.length) {
  <div animate.enter="fade-grow-y-in" animate.leave="fade-grow-y-out">
    <span class="text-zinc-500"> {{ 'ui_tooltip_ingredient_types' | nwText }} </span>
    <span class="font-bold text-white">
      @for (it of ingredientTypes.value(); track $index; let last = $last) {
        {{ it | nwText }}{{ last ? '' : ',' }}
      }
    </span>
  </div>
}
