<div class="nw-item-header-bg"></div>
@if (isNamed() || isArtifact()) {
  <div class="nw-item-header-fg"></div>
}
<div class="flex flex-row gap-2 p-1 relative group">
  <a
    [nwbItemIcon]="icon()"
    [cover]="true"
    [nwLinkTooltip]="enableInfoLink() ? ['item', recordId()] : null"
    [rarity]="rarity()"
    class="aspect-square inline-block"
    [class.w-14]="size() === 'xs'"
    [class.h-14]="size() === 'xs'"
    [class.w-16]="size() === 'sm'"
    [class.h-16]="size() === 'sm'"
    [class.w-20]="size() === 'md'"
    [class.h-20]="size() === 'md'"
    [class.w-24]="size() === 'lg'"
    [class.h-24]="size() === 'lg'"
  >
    <span class="italic font-caslon">{{ tierLabel() }}</span>
    <ng-content select=".icon-overlay" />
  </a>
  @if (!disableContent()) {
    <nwb-item-header-content
      class="z-10"
      [title]="(name() | nwText | nwTextBreak: ' - ') || (recordId() | nwHumanize)"
      [titleLink]="enableLink() ? recordLink() : null"
      [text1]="rarityName() | nwText"
      [text2]="typeName() | nwText"
      [text3]="size() === 'sm' ? null : sourceLabel()"
      [rarity]="rarity()"
      [isNamed]="isNamed()"
      [showSkeleton]="showSkeleton()"
    >
      @if (showMissing()) {
        <span header-text2 class="text-error"> Not Found </span>
      }

      @if (enableTracker() && !showMissing()) {
        <div header-end class="flex flex-col justify-end">
          <nwb-item-marker
            [itemId]="recordId()"
            class="text-right transition-opacity opacity-0 group-hover:opacity-100"
            [class.opacity-100]="marker.hasValue()"
            #marker
          />
        </div>
      }
      <!-- <ng-content select=".content" /> -->
    </nwb-item-header-content>
  }
</div>
<ng-content />
