<div class="flex-nonw"></div>
<div class="flex-1 p-4 overflow-auto">
  <div class="max-w-5xl mx-auto flex flex-col gap-4">
    <nwb-attributes-editor
      [freeMode]="true"
      [assigned]="attrStats()"
      (assignedChanged)="patchState({ attrStats: $event })"
    />
    <div class="grid gap-4 grid-cols-fill-sm">
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Attribute Scaling</span>
        </label>

        <div type="number" class="input input-bordered w-full flex items-center">{{ attrScale() | number }}</div>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Player Level</span>
          <span class="label-text">Level Scaling</span>
        </label>
        <label class="input-group">
          <input
            type="number"
            class="input input-bordered w-full"
            [min]="1"
            [step]="1"
            [ngModel]="playerLevel()"
            (ngModelChange)="patchState({ playerLevel: $event })"
            [cdkMenuTriggerFor]="tplLevel"
            (wheel)="($event)"
          />
          <ng-template #tplLevel>
            <div class="bg-base-200 bg-opacity-75 border border-base-100 rounded-lg p-4 w-80" cdkMenu>
              <nwb-input-slider
                class="w-full"
                [size]="'xs'"
                [min]="1"
                [max]="65"
                [step]="1"
                [ngModel]="playerLevel()"
                (ngModelChange)="patchState({ playerLevel: $event })"
              />
            </div>
          </ng-template>
          <span>{{ playerLevelFactor() | number }}</span>
        </label>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Weapon Gear Score</span>
          <span class="label-text">Factor From GS</span>
        </label>
        <label class="input-group">
          <input
            type="number"
            class="input input-bordered w-full"
            [min]="100"
            [step]="1"
            [ngModel]="weaponGearScore()"
            (ngModelChange)="patchState({ weaponGearScore: $event })"
            [cdkMenuTriggerFor]="tplGs"
            (wheel)="($event)"
          />
          <ng-template #tplGs>
            <div class="bg-base-200 bg-opacity-75 border border-base-100 rounded-lg p-4 w-80" cdkMenu>
              <nwb-input-slider
                class="w-full"
                [size]="'xs'"
                [min]="100"
                [max]="700"
                [bars]="true"
                [values]="true"
                [barsStep]="100"
                [step]="1"
                [ngModel]="weaponGearScore()"
                (ngModelChange)="patchState({ weaponGearScore: $event })"
              />
            </div>
          </ng-template>
          <span>{{ weaponGearScoreFactor() | number }}</span>
        </label>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Weapon</span>
        </label>
        <select
          class="input input-bordered w-full"
          [ngModel]="weapon()"
          (ngModelChange)="patchState({ weapon: $event })"
        >
          @for (option of weaponTypes; track $index) {
            <option [value]="option.value">{{ option.label | nwText }}</option>
          }
        </select>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Base Damage</span>
        </label>
        <input
          type="number"
          [min]="0"
          [step]="1"
          class="input input-bordered w-full"
          [ngModel]="baseDamage()"
          (ngModelChange)="patchState({ baseDamage: $event })"
          (wheel)="($event)"
        />
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Crit Damage</span>
        </label>
        <input
          type="number"
          [min]="0"
          [step]="0.1"
          class="input input-bordered w-full"
          [ngModel]="critDamage()"
          (ngModelChange)="patchState({ critDamage: $event })"
          (wheel)="($event)"
        />
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Attack</span>
        </label>
        <select
          class="input input-bordered w-full"
          [ngModel]="attack()"
          (ngModelChange)="patchState({ attack: $event })"
        >
          @for (option of attackTypes(); track $index) {
            <option [value]="option.value">{{ option.label }}</option>
          }
        </select>
      </div>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Damage Coefficient</span>
        </label>
        <input
          type="number"
          [min]="0"
          [step]="0.1"
          class="input input-bordered w-full"
          [ngModel]="damageCoefficient()"
          (ngModelChange)="patchState({ damageCoefficient: $event })"
          (wheel)="($event)"
        />
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Ammo Modifier</span>
        </label>
        <input
          type="number"
          [min]="0"
          [step]="0.1"
          class="input input-bordered w-full"
          [ngModel]="ammoModifier()"
          (ngModelChange)="patchState({ ammoModifier: $event })"
          (wheel)="($event)"
        />
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Base Damage Modifier</span>
        </label>
        <div class="input-group">
          <input
            type="number"
            [step]="0.1"
            class="input input-bordered w-full"
            [ngModel]="baseDamageMods()"
            (ngModelChange)="patchState({ baseDamageMods: $event })"
            (wheel)="($event)"
          />
          <span>{{ baseDamageMods() | percent }}</span>
        </div>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Crit Modifier</span>
        </label>
        <div class="input-group">
          <input
            type="number"
            [step]="0.1"
            class="input input-bordered w-full"
            [ngModel]="critMods()"
            (ngModelChange)="patchState({ critMods: $event })"
            (wheel)="($event)"
          />
          <span>{{ critModsSum() | percent }}</span>
        </div>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Empower Modifier</span>
        </label>
        <div class="input-group">
          <input
            type="number"
            [step]="0.1"
            class="input input-bordered w-full"
            [ngModel]="empowerMods()"
            (ngModelChange)="patchState({ empowerMods: $event })"
            (wheel)="($event)"
          />
          <span>{{ empowerMods() | percent }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <div class="stats shadow">
        <div class="stat place-items-center">
          <div class="stat-title">Tooltip</div>
          <div class="stat-value">{{ dmgTooltip() | number: '1.2-2' }}</div>
          <div class="stat-desc">Baseline 100%</div>
        </div>
        <div class="stat place-items-center">
          <div class="stat-title">Standard</div>
          <div class="stat-value">{{ dmgStandard() | number: '1.2-2' }}</div>
          <div class="stat-desc">
            ↗︎ {{ dmgStandard() - dmgTooltip() | number: '1.2-2' }} ({{ dmgStandard() / dmgTooltip() - 1 | percent }})
          </div>
        </div>
        <div class="stat place-items-center">
          <div class="stat-title">Crit</div>
          <div class="stat-value">{{ dmgCrit() | number: '1.2-2' }}</div>
          <div class="stat-desc">
            ↗︎ {{ dmgCrit() - dmgTooltip() | number: '1.2-2' }} ({{ dmgCrit() / dmgTooltip() - 1 | percent }})
          </div>
        </div>
      </div>
    </div>

    <div class="grid gap-4 grid-cols-fill-sm">
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Armor penetration</span>
        </label>
        <input
          type="number"
          [min]="0"
          [max]="1"
          [step]="0.1"
          class="input input-bordered w-full"
          [ngModel]="armorPenetration()"
          (ngModelChange)="patchState({ armorPenetration: $event })"
          (wheel)="($event)"
        />
      </div>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Attacker avg GS</span>
          <span class="label-text">Defender avg GS</span>
        </label>
        <div class="input-group">
          <input
            type="number"
            [min]="0"
            [step]="1"
            class="input input-bordered w-full"
            [ngModel]="attackerAvgGs()"
            (ngModelChange)="patchState({ attackerAvgGs: $event })"
            (wheel)="($event)"
          />
          <span class="text-center">{{ defenderAvgGs() - attackerAvgGs() }}</span>
          <input
            type="number"
            [min]="0"
            [step]="1"
            class="input input-bordered w-full"
            [ngModel]="defenderAvgGs()"
            (ngModelChange)="patchState({ defenderAvgGs: $event })"
            (wheel)="($event)"
          />
        </div>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Defender armor rating</span>
        </label>
        <input
          type="number"
          [min]="0"
          [step]="50"
          class="input input-bordered w-full"
          [ngModel]="defenderArmorRating()"
          (ngModelChange)="patchState({ defenderArmorRating: $event })"
          (wheel)="($event)"
        />
      </div>
    </div>

    <div class="flex items-center justify-center">
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Mitigation</div>
          <div class="stat-value">{{ damageMitigationFactor() | percent }}</div>
          <div class="stat-desc"></div>
        </div>
        <div class="stat">
          <div class="stat-title">Standard</div>
          <div class="stat-value">{{ dmgStandard() - dmgStandardMitigation() | number: '1.2-2' }}</div>
          <div class="stat-desc">
            ↘ {{ -dmgStandardMitigation() | number: '1.2-2' }} ({{ damageMitigationFactor() | percent }})
          </div>
        </div>
        <div class="stat">
          <div class="stat-title">Crit</div>
          <div class="stat-value">{{ dmgCrit() - dmgCritMitigation() | number: '1.2-2' }}</div>
          <div class="stat-desc">
            ↘ {{ -dmgCritMitigation() | number: '1.2-2' }} ({{ damageMitigationFactor() | percent }})
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
