.flip-card {
  perspective: 1000px;
}
.flip-active .flip-card-content {
  transform: rotateY(180deg);
}
.flip-card-content {
  display: grid;
  grid-template-columns: 1fr;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  > * {
    transform-style: preserve-3d;
  }
}
.flip-card-front,
.flip-card-back {
  grid-row-start: 1;
  grid-column-start: 1;
  backface-visibility: hidden;
  width: 100%;
}
.flip-card-back {
  transform: rotateY(180deg);
}
