<div *ngIf="showInput" class="layout-col layout-gap layout-pad">
  <div class="prose mx-auto text-center">
    <h3>New World Market Prices</h3>
    <p>
      Price data is provided by the NWMP community. See
      <a href="https://nwmarketprices.com/" tabindex="-1" target="_blank" class="link link-primary"
        >https://nwmarketprices.com/</a
      >
      for more information.
    </p>
  </div>

  <div class="input-group w-full">
    <select class="select select-bordered flex-1" [(ngModel)]="serverId">
      <option disabled [value]="''">Choose your server</option>
      <ng-container *ngFor="let server of servers | async">
        <option [value]="server.id">{{ server.name }}</option>
      </ng-container>
    </select>
    <button class="btn btn-success" [disabled]="!serverId || isLoading" (click)="load(serverId)">
      <ng-container *ngIf="isLoading">
        <svg viewBox="0 0 512 512" class="w-5 h-5 animate-spin mr-2">
          <path
            fill="currentColor"
            d="M222.7 32.1c5 16.9-4.6 34.8-21.5 39.8C121.8 95.6 64 169.1 64 256c0 106 86 192 192 192s192-86 192-192c0-86.9-57.8-160.4-137.1-184.1c-16.9-5-26.6-22.9-21.5-39.8s22.9-26.6 39.8-21.5C434.9 42.1 512 140 512 256c0 141.4-114.6 256-256 256S0 397.4 0 256C0 140 77.1 42.1 182.9 10.6c16.9-5 34.8 4.6 39.8 21.5z"
          />
        </svg>
      </ng-container>
      <ng-container *ngIf="!isLoading"> Load </ng-container>
    </button>
  </div>

  <div class="alert text-sm leading-4" *ngIf="showLoading">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info flex-shrink-0 w-6 h-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <span> Please wait while the data is being loaded. This may take some time. </span>
    </div>
  </div>
</div>

<div class="p-3" *ngIf="showError">
  <div class="alert">
    <div>
      <svg fill="none" viewBox="0 0 24 24" class="stroke-error flex-shrink-0 w-6 h-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <span>
        An error occurred while retrieving data from
        <a href="https://nwmarketprices.com/" tabindex="-1" target="_blank" class="link link-primary"
          >https://nwmarketprices.com/</a
        >. Please retry later or use the JSON importer.
      </span>
    </div>
  </div>
</div>

<ng-container *ngIf="showPreview">
  <nwb-data-table [adapter]="adapter" class="flex-1"></nwb-data-table>
  <div class="layout-pad">
    <button class="btn btn-md btn-block btn-success" (click)="import()">Import</button>
  </div>
</ng-container>

<div *ngIf="showSuccess" class="layout-col layout-pad">
  <div class="layout-col justify-center">
    <div class="alert self-center">
      <div>
        <svg class="stroke-success flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>
          Import complete!
          Big thanks to
          <a href="https://nwmarketprices.com/" tabindex="-1" target="_blank" class="link link-primary">
            https://nwmarketprices.com/
          </a>
        </span>
      </div>
    </div>
  </div>
  <button class="btn btn-md btn-block btn-success" (click)="close()">Close</button>
</div>
