<div class="layout-col layout-pad layout-gap" *ngIf="showInput">
  <div class="prose mx-auto text-center">
    <h3>JSON Price importer</h3>
  </div>

  <div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">From File</span>
      </label>
      <label class="input-group">
        <span>File</span>
        <input type="file" class="hidden" accept=".json" (change)="useFile($event)" [disabled]="isLoading" />
        <div class="input input-bordered input-md flex-1 text-start leading-10">{{ fileName }}</div>
      </label>
    </div>
    <div class="divider">OR</div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">From URL</span>
      </label>
      <label class="input-group">
        <span>URL</span>
        <input
          type="url"
          placeholder="https://"
          class="input input-bordered input-md flex-1"
          [disabled]="isLoading"
          (change)="useUrl($event)"
        />
      </label>
    </div>
  </div>

  <div class="flex-1">
    <div class="alert text-sm leading-4" *ngIf="showLoading">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="stroke-info flex-shrink-0 w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
        <span> Please wait while the data is being loaded. </span>
      </div>
    </div>

    <div class="alert alert-error text-sm leading-4" *ngIf="showError">
      <div>
        <svg class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span> Error occured </span>
      </div>
    </div>
  </div>

  <button class="btn btn-block btm-md btn-success" (click)="load()" [disabled]="isLoading || !canLoad">
    <ng-container *ngIf="isLoading">
      <svg viewBox="0 0 512 512" class="w-5 h-5 animate-spin mr-2">
        <path
          fill="currentColor"
          d="M222.7 32.1c5 16.9-4.6 34.8-21.5 39.8C121.8 95.6 64 169.1 64 256c0 106 86 192 192 192s192-86 192-192c0-86.9-57.8-160.4-137.1-184.1c-16.9-5-26.6-22.9-21.5-39.8s22.9-26.6 39.8-21.5C434.9 42.1 512 140 512 256c0 141.4-114.6 256-256 256S0 397.4 0 256C0 140 77.1 42.1 182.9 10.6c16.9-5 34.8 4.6 39.8 21.5z"
        />
      </svg>
    </ng-container>
    <ng-container *ngIf="!isLoading"> Load </ng-container>
  </button>
</div>

<div *ngIf="showEditor" class="layout-col layout-gap layout-pad">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Access key for item id</span>
    </label>
    <label class="input-group">
      <select [(ngModel)]="keyId" class="input input-bordered input-md flex-1">
        <option *ngFor="let key of keys" [value]="key">{{ key }}</option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="label">
      <span class="label-text">Access key for item price</span>
    </label>
    <label class="input-group">
      <select [(ngModel)]="keyPrice" class="input input-bordered input-md flex-1">
        <option *ngFor="let key of keys" [value]="key">{{ key }}</option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="label">
      <span class="label-text">Price multiplier</span>
    </label>
    <div class="btn-group w-full">
      <button class="flex-1 btn btn-md" (click)="scale = 0.01" [class.btn-active]="scale == 0.01">0.01</button>
      <button class="flex-1 btn btn-md" (click)="scale = 0.1" [class.btn-active]="scale == 0.1">0.1</button>
      <button class="flex-1 btn btn-md" (click)="scale = 1" [class.btn-active]="scale == 1">1</button>
      <button class="flex-1 btn btn-md" (click)="scale = 100" [class.btn-active]="scale == 100">100</button>
    </div>
  </div>

  <div class="flex-1"></div>
  <div class="btn-group w-full">
    <button class="flex-1 btn btn-md btn-ghost" (click)="rawData = null">Back</button>
    <button class="flex-1 btn btn-md btn-success" (click)="extract()" [disabled]="!keyId || !keyPrice">OK</button>
  </div>
</div>

<ng-container *ngIf="showPreview">
  <nwb-data-table [adapter]="adapter" class="flex-1"></nwb-data-table>
  <div class="layout-pad">
    <div class="btn-group w-full">
      <button class="flex-1 btn btn-md btn-ghost" (click)="data = null">Back</button>
      <button class="flex-1 btn btn-md btn-success" (click)="import()">Import</button>
    </div>
  </div>
</ng-container>

<div *ngIf="showSuccess" class="layout-col layout-pad">
  <div class="layout-col justify-center">
    <div class="alert self-center w-52">
      <div>
        <svg class="stroke-success flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>Import complete</span>
      </div>
    </div>
  </div>
  <button class="btn btn-block btn-md btn-success" (click)="close()">Close</button>
</div>
