
<ul
  class="
    menu
    bg-base-200
    flex-none
    menu-horizontal menu-compact
    overflow-auto
    scrollbar-hide
    w-full
    flex-nowrap
    xl:menu-vertical xl:menu-normal
    xl:w-56
  "
  *ngIf="isMutable"
>
  <li class="menu-title mt-4 hidden xl:block">
    <span>Normal</span>
  </li>
  <li [class.bordered]="!difficultyLevel">
    <a [routerLink]="['.', {}]">
      <span>Regular</span>
    </a>
  </li>
  <li class="menu-title mt-4 hidden xl:block">
    <span>Mutated</span>
  </li>
  <ng-container *ngIf="difficulties$ | async; let items">
    <li *ngFor="let item of items" [class.bordered]="item.MutationDifficulty == difficultyLevel">
      <a [routerLink]="['.', { mutation: item.MutationDifficulty, tab: tab }]">
        <img [nwImage]="difficultyRankIcon(dungeon, item) | async" class="w-8 h-8" />
        {{ item.MutationDifficulty }} ({{ difficultyTier(item) }})
      </a>
    </li>
  </ng-container>
</ul>
<div class="flex-1 relative rounded-r-md bg-base-100 overflow-clip" [class.rounded-l-md]="!isMutable">
  <picture class="absolute top-0 left-0 right-0 bottom-0 pointer-events-none">
    <img [nwImage]="backgroundImage" class="block w-full h-full object-cover blur-sm" />
  </picture>
  <div class="absolute top-0 left-0 right-0 bottom-0 flex flex-col px-4 overflow-auto">
    <div class="prose-base mt-8 flex-none">
      <h1 class="mb-0 font-bold">
        <span [nwText]="title"></span>
        <span *ngIf="difficultyLevel">, Difficulty {{ difficultyLevel }}</span>
      </h1>
      <p>
        <span [nwText]="description" class="text-primary italic"></span>
        <br />
        <span *ngIf="!requiredGearScore">
          <span>Recommended Level: </span>
          <span class="font-semibold text-accent">{{ requiredLevel }}</span>
        </span>
        <span *ngIf="requiredGearScore">
          <span>Recommended Gear Score: </span>
          <span class="font-semibold text-accent">{{ requiredGearScore }}</span>
        </span>
        <br />
        <span>
          <span>Minimum players: </span>
          <span class="font-semibold text-accent">{{ groupSize }}</span>
        </span>
        <br />
        <span>
          <span class="text-primary">In order to complete this Expedition, your group must have at least </span>
          <span [nwText]="requirementText"></span>
        </span>
      </p>
      <div class="flex flex-row flex-wrap layout-gap mt-12">
        <div>
          <h2 class="font-bold mt-0">Expedition Items</h2>
          <div class="flex flex-row gap-2">
            <a [nwLink]="itemId(item)" [nwLinkResource]="'item'" *ngFor="let item of expeditionItems$ | async">
              <picture [nwIcon]="item" class="w-16 h-16"></picture>
            </a>
          </div>
        </div>
        <div class="stats bg-opacity-0 self-end" *ngIf="difficulty">
          <div class="stat place-items-center py-0" *ngFor="let row of difficyltyRewards$ | async">
            <div class="stat-title">
              <span [nwText]="row.RankName"></span>
            </div>
            <div class="stat-value cursor-pointer" [class.text-primary]="row.Completed" (click)="row.toggle()">
              {{ row.Quantity }}
            </div>
            <div class="stat-desc">
              <span [nwText]="row.ItemName"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tabs mt-4 flex-none">
      <ng-container *ngFor="let item of tabs; trackBy: trackByTabId">
        <a
          class="tab tab-bordered"
          [class.tab-active]="item.id === tab"
          [routerLink]="['.', { mutation: difficultyLevel, tab: item.id }]"
        >
          {{ item.label }}
        </a>
      </ng-container>
    </div>

    <div class="flex-1 mt-4">
      <ng-container *ngFor="let item of tabs; trackBy: trackByTabId">
        <ng-container *ngIf="item.id === tab">
          <ng-container *ngTemplateOutlet="item.tpl"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #tplDungeonLoot>
  <div class="grid layout-gap">
    <nwb-item-detail *ngFor="let item of dungeonLoot$ | async; trackBy: trackByIndex" [entity]="item">
      <nwb-item-detail-header [enableInfoLink]="true" [enableTracker]="true"></nwb-item-detail-header>
    </nwb-item-detail>
  </div>
</ng-template>

<ng-template #tplDungeonMutatedLoot>
  <div class="grid layout-gap">
    <nwb-item-detail *ngFor="let item of dungeonMutatedLoot$ | async; trackBy: trackByIndex" [entity]="item">
      <nwb-item-detail-header [enableInfoLink]="true" [enableTracker]="true"></nwb-item-detail-header>
    </nwb-item-detail>
  </div>
</ng-template>

<ng-template #tplDungeonDifficultyLoot>
  <div class="grid layout-gap">
    <nwb-item-detail *ngFor="let item of dungeonDifficultyLoot$ | async; trackBy: trackByIndex" [entity]="item">
      <nwb-item-detail-header [enableInfoLink]="true" [enableTracker]="true"></nwb-item-detail-header>
    </nwb-item-detail>
  </div>
</ng-template>

<ng-template #tplDungeonBosses>
  <div class="grid layout-gap">
    <nwb-vital-detail *ngFor="let item of bosses$ | async; trackBy: trackByIndex" [vital]="item"></nwb-vital-detail>
  </div>
</ng-template>

<ng-template #tplDungeonMap>
  <iframe [attr.src]="mapEmbed" class="map-frame"></iframe>
</ng-template>
