@if (showSkeleton()) {
  <div class="flex flex-row justify-between leading-tight animate-pulse">
    <span class="font-bold mt-[2px] h-3 bg-base-100 w-20 rounded-[4px]"></span>
  </div>
  <div class="flex flex-col leading-tight animate-pulse">
    <div class="text-xs h-2 bg-base-100 w-12 rounded-[4px]"></div>
    <div class="flex flex-row justify-between gap-2 whitespace-nowrap mt-1 mb-1">
      <span class="flex-1 overflow-hidden overflow-ellipsis h-3 bg-base-100 w-14 rounded-[4px]"></span>
      <span class="text-sm h-3 bg-base-100 w-10 rounded-[4px]"></span>
    </div>
  </div>
} @else {
  <div class="flex flex-row justify-between leading-tight">
    <a
      class="font-bold text-rarity-{{ rarity() }} mt-[2px] flex-1 overflow-hidden text-ellipsis"
      [routerLink]="titleLink()"
      [class.hover:underline]="!!titleLink()"
    >
      @if(title(); as text) {
        <span [innerHTML]="text"></span>
      }
      <ng-content select="[header-title]" />
    </a>
    <div class="flex flex-col items-end screenshot-hidden flex-none">
      <ng-content select="[header-end]" />
    </div>
  </div>
  <div class="flex flex-col leading-tight">
    <div class="text-xs text-rarity-{{ rarity() }} empty:hidden">
      {{ text1() }}
      <ng-content select="[header-text1]" />
      @if (isNamed()) {
        • Named
      }
    </div>
    <div class="flex flex-row justify-between gap-2 whitespace-nowrap">
      <span class="flex-1 overflow-hidden overflow-ellipsis">
        {{ text2() }}
        <ng-content select="[header-text2]" />
      </span>
      <span class="text-rarity-{{ rarity() }} text-sm">
        {{ text3() }}
        <ng-content select="[header-text3]" />
      </span>
    </div>
  </div>
}

<ng-content />

