<ng-container *ngIf="!skeleton; else tplSkeleton">
  <div class="flex flex-row justify-between leading-4">
    <a
      class="font-bold text-rarity-{{ rarity }} mt-[2px] flex-1"
      [routerLink]="nameLink"
      [class.hover:underline]="!!nameLink"
    >
      <span [innerHTML]="name"></span>
      <ng-content select=".title"></ng-content>
    </a>
    <div class="flex flex-col items-end screenshot-hidden flex-none">
      <ng-content select=".header"></ng-content>
    </div>
  </div>
  <ng-content select=".sub-header"></ng-content>
  <div class="flex flex-col leading-4">
    <div class="text-xs text-rarity-{{ rarity }}">
      <span *ngIf="sourceName">{{ sourceName }}</span>
    </div>
    <div class="flex flex-row justify-between gap-2 whitespace-nowrap">
      <span class="flex-1 overflow-hidden overflow-ellipsis">
        {{ typeName }} <ng-content selector=".type-name"> </ng-content>
      </span>
      <span class="text-rarity-{{ rarity }} text-sm">{{ rarityName }}</span>
    </div>
  </div>
  <ng-content></ng-content>
</ng-container>

<ng-template #tplSkeleton>
  <div class="flex flex-row justify-between leading-4 animate-pulse">
    <span class="font-bold mt-[2px] h-3 bg-base-100 w-20 rounded-[4px]"></span>
  </div>
  <div class="flex flex-col leading-4 animate-pulse">
    <div class="text-xs h-2 bg-base-100 w-12 rounded-[4px]"></div>
    <div class="flex flex-row justify-between gap-2 whitespace-nowrap mt-1 mb-1">
      <span class="flex-1 overflow-hidden overflow-ellipsis h-3 bg-base-100 w-14 rounded-[4px]"></span>
      <span class="text-sm h-3 bg-base-100 w-10 rounded-[4px]"></span>
    </div>
  </div>
</ng-template>
