<ion-modal
  [isOpen]="shouldOpen$ | async"
  [initialBreakpoint]="initialBreakpoint"
  [breakpoints]="breakpoints"
  [backdropBreakpoint]="backdropBreakpoint"
  [backdropDismiss]="false"
  [canDismiss]="true"
  [handleBehavior]="'cycle'"
>
  <ng-template>
    <ion-content [scrollY]="false">
      <div class="h-full layout-col">
        <ng-container *ngTemplateOutlet="template; context: contextModal"></ng-container>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ng-container *ngIf="isLarge$ | async">
  <div class="h-full layout-col">
    <ng-container *ngTemplateOutlet="template; context: contextDefault"></ng-container>
  </div>
</ng-container>
