<ng-container *ngIf="vm$ | async; let vm">
  <div class="flex flex-col gap-2 items-center">
    <h3 class="w-full text-lg uppercase relative font-caslon text-center text-nw-description col-span-2">
      <span class="nw-bg-title absolute inset-0 bg-bottom"></span>
      <span class="relative top-1">
        <ng-container *ngIf="vm.item">
          {{ vm.item.name }}
        </ng-container>
        <ng-container *ngIf="!vm.item">
          New Skill Tree
        </ng-container>
      </span>
    </h3>
    <div class="flex flex-row items-center justify-center gap-2">
      <a
        *ngFor="let item of vm.abilities; trackBy: trackByIndex"
        [nwLink]="item.id"
        [nwLinkResource]="'ability'"
        class="block aspect-square"
      >
        <picture class="block border-[2px] aspect-square rounded-sm w-20">
          <img
            class="aspect-square w-full nw-icon"
            [class]="'bg-ability-' + item.category"
            [nwImage]="item.icon"
          />
        </picture>
      </a>
    </div>
    <div class="card-actions justify-center">
      <ng-container *ngIf="vm.item">
        <a class="btn btn-sm btn-outline btn-primary" [routerLink]="vm.item.id">Show</a>
      </ng-container>
      <ng-container *ngIf="!vm.item">
        <button class="btn btn-sm btn-primary" (click)="create.emit()">Create</button>
      </ng-container>
    </div>
  </div>
</ng-container>
