<ion-header class="bg-base-300">
  <div class="flex flex-col-reverse md:flex-row">
    <div class="flex flex-row flex-nowrap flex-1 w-full overflow-x-auto scrollbar-hide gap-1">
      <button
        [nwbDataCateogryMenu]
        [category]="category()"
        [showCounter]="true"
        [defaultRoute]="''"
        [defaultTitle]="title"
        [routePrefix]="'.'"
        [queryParam]="categoryParam()"
        class="btn btn-ghost normal-case text-left"
      ></button>

      <span class="flex-1"></span>
      <div class="join">
        <button class="join-item btn btn-square btn-ghost" [cdkMenuTriggerFor]="tplMenu" [tooltip]="'Filter by tag'">
          <span class="indicator">
            <nwb-icon [icon]="iconMore" class="w-5 h-5" />
            @if (isTagFilterActive) {
              <span class="indicator-item badge badge-xs badge-primary scale-75"></span>
            }
          </span>
        </button>

        <ng-template #tplMenu>
          <div class="bg-base-200 border border-base-100 w-60 rounded-b-md z-10 p-2" cdkMenu>
            <div class="grid grid-cols-3 gap-1">
              @for (item of filterTags; track $index) {
                <button class="btn btn-sm btn-primary" [class.btn-outline]="!item.active" (click)="toggleTag(item.tag)">
                  {{ item.tag }}
                </button>
              }
            </div>
          </div>
        </ng-template>

        <button class="join-item btn btn-square btn-ghost" (click)="createItem()" [tooltip]="'Create new entry'">
          <nwb-icon [icon]="iconCreate" class="w-5 h-5" />
        </button>
        <button class="join-item btn btn-square btn-ghost" (click)="importItem()" [tooltip]="'Import'">
          <nwb-icon [icon]="iconImport" class="w-5 h-5" />
        </button>
      </div>
    </div>
    <div class="flex-none p-2 w-full md:max-w-[256px]">
      <nwb-quicksearch-input [autofocus]="true" [placeholder]="'Quickfilter'" />
    </div>
  </div>
</ion-header>
<ion-content [scrollY]="false">
  <ion-split-pane [when]="showSidebar()" contentId="main" style="--side-min-width: 400px">
    <div class="ion-page order-2" id="main">
      @if (dataView.isGridActive()) {
        <nwb-virtual-grid
          [enableQuickfilter]="true"
          [data]="dataView.categoryItems$ | async"
          [options]="dataView.virtualOptions"
          [identifyBy]="dataView.entityIdGetter"
          [selectionRouteParam]="selectionParam"
        />
      } @else if (dataView.isTableActive()) {
        <nwb-table-grid
          (ready$)="dataView.onTableReady($event)"
          [enableQuickfilter]="true"
          [data]="dataView.categoryItems$ | async"
          [options]="dataView.tableGridOptions"
          [identifyBy]="dataView.entityIdGetter"
          [persistKey]="persistKey"
          [filterQueryParam]="filterParam"
          [selectionRouteParam]="selectionParam"
        />
      }
    </div>
    <ion-menu contentId="main" class="order-2">
      @if (showSidebar()) {
        <ng-container [ngTemplateOutlet]="tplDetail" />
      }
    </ion-menu>
  </ion-split-pane>
  <nwb-detail-content
    [isOpen]="showModal()"
    [initialBreakpoint]="100 | px2vh"
    [breakpoints]="[12 | px2vh, 100 | px2vh, 0.45, 1]"
    [backdropBreakpoint]="0.5"
    [backdropDismiss]="false"
    [template]="tplDetail"
  />
</ion-content>

<ng-template #tplDetail>
  <ion-content
    [class.ion-p-4]="showSidebar()"
    [class.ion-p-2]="showModal()"
    [class.bg-base-300]="true"
  >
    <router-outlet #outlet="outlet"></router-outlet>
    @if (!outlet.isActivated) {
      <div class="p-4 flex flex-row items-center justify-center">
        <button (click)="createItem()" class="btn btn-primary gap-1">
          <nwb-icon [icon]="iconCreate" class="w-5 h-5" />
          <span>Create New</span>
        </button>
      </div>
    }
  </ion-content>
</ng-template>
