<div class="relative flex-none p-1 bg-base-300 bg-opacity-100">
  <div class="flex flex-row gap-1 overflow-x-auto">
    <a class="btn btn-ghost btn-square inline-flex" [routerLink]="'..'">
      <nwb-icon [icon]="iconBack" class="w-4 h-4" />
    </a>
    <input
      type="text"
      placeholder=""
      class="input input-bordered w-full min-w-[200px]"
      maxlength="100"
      [disabled]="!canEdit"
      [ngModel]="record?.name"
      (ngModelChange)="handleUpdateName($event)"
      [ngModelOptions]="{ updateOn: 'blur' }"
    />
    <button [nwbScreenshotBtn] class="btn btn-ghost btn-square" [tooltip]="'Screenshot'"></button>
    <button
      class="btn btn-ghost btn-square"
      cdkOverlayOrigin

      [tooltip]="'Edit Tags'"
      [tooltipClass]="'bg-info'"
      [disabled]="!canEdit"
      [cdkMenuTriggerFor]="tplTags"
    >
      <nwb-icon [icon]="iconTags" class="w-4 h-4" />
    </button>
    <button class="btn btn-ghost btn-square" [cdkMenuTriggerFor]="tplMenu">
      <nwb-icon [icon]="iconMenu" class="w-4 h-4" />
    </button>
  </div>
</div>
<div class="layout-content relative">
  <div [nwbScreenshotFrame]="record?.name" class="bg-base-300">
    <nwb-skill-builder [disabled]="!canEdit" [ngModel]="record" (ngModelChange)="updateModel($event)" #builder />

    @if (record?.attrs; as attrs) {
      <div class="layout-pad">
        <nwb-attributes-editor
          [freeMode]="true"
          [assigned]="attrs"
          (assignedChanged)="handleUpdateAttributes($event)"
        />
      </div>
    }
  </div>
</div>

<ng-template #tplMenu>
  <ul class="my-1 menu menu-compact bg-base-200 border border-base-100 rounded-md shadow-lg" cdkMenu>
    <li class="text-shadow-sm shadow-black">
      <button cdkMenuItem (click)="handleShare()">
        <nwb-icon [icon]="iconShare" class="w-4 h-4" />
        <div class="flex flex-col leading-none">
          <span>Share</span>
          <span class="text-xs opacity-75">Upload online and create a share URL</span>
        </div>
      </button>
    </li>
    <li class="text-shadow-sm shadow-black">
      <button cdkMenuItem (click)="handleToggleAttributes()">
        <nwb-icon [icon]="iconAttrs" class="w-4 h-4" />
        <div class="flex flex-col leading-none">
          <span>Toggle Attributes</span>
          <span class="text-xs opacity-75">Enable or disable the attribute editor</span>
        </div>
      </button>
    </li>
    <li class="divider my-1 h-[2px]"></li>

    <li class="text-shadow-sm shadow-black">
      <button (click)="builder.switchWeapon()" [disabled]="!canEdit" cdkMenuItem>
        <nwb-icon [icon]="iconReset" class="w-4 h-4" />
        <div class="flex flex-col leading-none">
          <span>Reset</span>
          <span class="text-xs opacity-75">Change weapon and reset sheet</span>
        </div>
      </button>
    </li>
    <li class="text-shadow-sm shadow-black">
      <button (click)="handleClone()" cdkMenuItem>
        <nwb-icon [icon]="iconCopy" class="w-4 h-4" />
        <div class="flex flex-col leading-none">
          <span>Copy</span>
          <span class="text-xs opacity-75">Make a copy of this sheet</span>
        </div>
      </button>
    </li>
    <li class="text-shadow-sm shadow-black">
      <button (click)="handleDelete()" [disabled]="!canEdit" cdkMenuItem>
        <nwb-icon [icon]="iconDelete" class="w-4 h-4 text-error" />
        <div class="flex flex-col leading-none">
          <span>Delete</span>
          <span class="text-xs opacity-75">Delete this sheet</span>
        </div>
      </button>
    </li>
  </ul>
</ng-template>

<ng-template #tplTags>
  <div class="p-2 bg-base-200 border border-base-100 rounded-md shadow-lg" cdkMenu>
    <nwb-chips-input-pane
      [tags]="presetTags"
      [placeholder]="'custom tags'"
      [disabled]="!canEdit"
      [ngModel]="record?.tags"
      (ngModelChange)="handleUpdateTags($event)"
    />
  </div>
</ng-template>
