<ion-header class="bg-base-300">
  <nwb-data-table-header
    class="flex flex-col-reverse md:flex-row"
    categoryChildRoute
    [childRouteIndex]="'table'"
    #header="tableHeader"
  >
    <nwb-navbar [menu]="tplMenu" [buttons]="tplButtons" class="flex-1">
      <ng-template #tplMenu>
        <li *ngFor="let item of header.categories | async" [routerLinkActive]="'bordered'">
          <a rel="nofollow" [routerLink]="item.route"> {{ item.label }}</a>
        </li>
      </ng-template>
      <ng-template #tplButtons>

        <li>
          <nwb-data-table-panel-button></nwb-data-table-panel-button>
        </li>
      </ng-template>
    </nwb-navbar>
    <div class="flex-none p-2 w-full md:max-w-[300px]">
      <nwb-quicksearch-input #search></nwb-quicksearch-input>
    </div>
  </nwb-data-table-header>
</ion-header>
<router-outlet></router-outlet>
