<ng-container *ngIf="hasError$(); then tplError; else tplFlow"></ng-container>

<ng-template #tplFlow>
  <ng-container *ngIf="showFileInput$(); then tplFileInput"></ng-container>
  <ng-container *ngIf="showConverter$(); then tplConverter"></ng-container>
  <ng-container *ngIf="showDataTable$(); then tplDataTable"></ng-container>
</ng-template>

<ng-template #tplError>
  <div class="p-3">
    <div class="alert">
      <div>
        <svg fill="none" viewBox="0 0 24 24" class="stroke-error flex-shrink-0 w-6 h-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
        <span> An error occurred. </span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #tplFileInput>
  <div class="flex-1 p-4 flex flex-col justify-center items-center">
    <div class="flex flex-col gap-2 w-full max-w-sm">
      <div class="form-control">
        <label class="label">
          <span class="label-text">From File</span>
        </label>
        <label class="join">
          <span>File</span>
          <input type="file" class="hidden" accept=".json" (change)="useFile($event)" [disabled]="isLoading$()" />
          <div class="input input-bordered input-md flex-1 text-start leading-10">{{ file$()?.name }}</div>
          <button class="btn btn-success" [disabled]="!file$() || isLoading$()" (click)="loadFromFile(file$())">
            <nwb-icon [icon]="iconSpin" class="w-4 h-4 animate-spin mr-2" *ngIf="file$() && isLoading$()"></nwb-icon>
            <ng-container *ngIf="!isLoading$()"> Load </ng-container>
          </button>
        </label>
      </div>
      <div class="divider">OR</div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">From URL</span>
        </label>
        <label class="join">
          <span>URL</span>
          <input
            type="url"
            placeholder="https://"
            class="input input-bordered input-md flex-1"
            [disabled]="isLoading$()"
            (change)="useUrl($event)"
          />
          <button class="btn btn-success" [disabled]="!url$() || isLoading$()" (click)="loadFromUrl(url$())">
            <nwb-icon [icon]="iconSpin" class="w-4 h-4 animate-spin mr-2" *ngIf="!!url$() && isLoading$()"></nwb-icon>
            <ng-container *ngIf="!isLoading$()"> Load </ng-container>
          </button>
        </label>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #tplConverter>
  <div class="flex-1 p-4 flex flex-col justify-center items-center">
    <div class="flex flex-col gap-2 w-full max-w-sm">
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Access key for item id</span>
        </label>
        <label class="join">
          <span>ID Key</span>
          <select [(ngModel)]="keyId" class="input input-bordered input-md flex-1">
            <option *ngFor="let key of keys" [value]="key">{{ key }}</option>
          </select>
        </label>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Access key for item price</span>
        </label>
        <label class="join">
          <span>Price Key</span>
          <select [(ngModel)]="keyPrice" class="input input-bordered input-md flex-1">
            <option *ngFor="let key of keys" [value]="key">{{ key }}</option>
          </select>
        </label>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Price conversion scale</span>
        </label>
        <div class="join w-full">
          <button class="join-item flex-1 btn btn-md" (click)="scale = 0.01" [class.btn-primary]="scale == 0.01">0.01</button>
          <button class="join-item flex-1 btn btn-md" (click)="scale = 0.1" [class.btn-primary]="scale == 0.1">0.1</button>
          <button class="join-item flex-1 btn btn-md" (click)="scale = 1" [class.btn-primary]="scale == 1">1</button>
          <button class="join-item flex-1 btn btn-md" (click)="scale = 100" [class.btn-primary]="scale == 100">100</button>
        </div>
      </div>

      <div class="form-control w-full">
        <button class="flex-1 btn btn-md btn-success" (click)="extract()" [disabled]="!keyId || !keyPrice">OK</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #tplDataTable>
  <nwb-table-grid class="flex-none h-screen max-h-[60vh]" [data]="rows$()" [options]="girdOptions"></nwb-table-grid>
</ng-template>
