<div class="layout-content p-3 pb-20">
  <div *ngFor="let section of data$ | async">
    <h3 class="text-xl uppercase relative font-caslon text-nw-description mt-4 mb-2 px-2">
      {{ section.category | nwHumanize }} ({{ section.items.length }})
    </h3>
    <div class="grid gap-2">
      <a
        *ngFor="let item of section.items; trackBy: trackByIndex"
        [routerLink]="item.id"
        [routerLinkActive]="'border-primary'"
        class="bg-base-300 rounded-md p-2 border border-base-100 hover:border-primary aspect-square relative"
      >
        <picture class="blck w-full aspect-square">
          <img class="w-full h-full object-cover" [nwImage]="item.appearance?.IconPath" />
        </picture>
        <div class="absolute bottom-1 right-1 flex flex-row gap-1">
          <span class="badge badge-primary badge-sm" *ngIf="item.isStore || item.isSkin">Skin</span>
          <span class="badge badge-secondary badge-sm" *ngIf="!item.isUnique">{{ item.items.length }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
