<div class="layout-content p-3 pb-20">
  <div *ngFor="let section of data$ | async">
    <h3 class="text-xl uppercase relative font-caslon text-nw-description mt-4 mb-2 px-2">
      {{ section.category | nwHumanize }} ({{ section.items.length }})
    </h3>
    <div class="grid gap-2">
      <a
        *ngFor="let item of section.items; trackBy: trackByIndex"
        [nwbTransmogTile]="item"
        [routerLink]="item.id"
        [routerLinkActive]="'border-primary'"
        class="bg-base-300 rounded-md p-2 border border-base-100 hover:border-primary relative transition-all"
        [class.bg-primary]="hoverId$() && (hoverId$() === item.modelId)"
        [class.bg-opacity-10]="hoverId$() && (hoverId$() === item.modelId)"
        [class.bg-opacity-100]="!hoverId$() || (hoverId$() !== item.modelId)"
        (mouseover)="onMouseOver(item)"
        (mouseleave)="onMouseLeave(item)"
      ></a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
