<div class="tabs">
  <a class="tab tab-lifted flex-1" [class.tab-active]="resourceTab" (click)="tab = 'resources'">Resources</a>
  <a class="tab tab-lifted flex-1" [class.tab-active]="skillsTab" (click)="tab = 'skills'">Skills</a>
</div>

<div class="bg-base-100 rounded-md mx-[1px] rounded-tl-none" *ngIf="resourceTab">
  <table class="table table-compact w-full">
    <tbody>
      <tr *ngFor="let row of resourceTable$ | async; trackBy: trackByIndex" [class.opacity-75]="row.ignored">
        <td width="0" class="p-1 flex items-center">
          <picture
            [nwIcon]="row.item"
            class="w-10 h-10 mr-2 hover:cursor-pointer"
            [class.grayscale]="row.ignored"
            (click)="toggleIgnore(row)"
          ></picture>
          <div [class.text-accent]="row.stocked">
            <span
              (click)="toggleStock(row)"
              class="inline-block outline outline-2 outline-transparent outline-offset-2 rounded-sm hover:outline-primary hover:cursor-pointer"
            >
              {{ row.quantity | number }}
            </span>
            <div *ngIf="row.stocked" class="inline-flex">
              (
              <span> - </span>
              <nwb-stock-tracker
                [itemId]="row.itemId"
                [emptyTip]="'Edit stock value'"
                class="tooltip-right tooltip-accent whitespace-nowrap text-accent"
                #stockTracker
              ></nwb-stock-tracker>
              )
            </div>
            <span> × </span>
            <a
              [nwText]="row.item.Name"
              [routerLink]="row.link"
              [class.line-through]="row.ignored"
              class="hover:underline"
            ></a>
          </div>
        </td>
        <td class="w-0 text-right whitespace-nowrap" [class.line-through]="row.ignored">
          <nwb-price-tracker
            [itemId]="row.itemId"
            [emptyTip]="'Edit item price'"
            [format]="'1.2-2'"
            class="ml-2 tooltip-left tooltip-info text-primary whitespace-nowrap"
          ></nwb-price-tracker>
        </td>
        <td class="w-0 text-right whitespace-nowrap" [class.line-through]="row.ignored">
          <ng-container *ngIf="row.finalPrice">
            {{ row.finalPrice | number : '1.2-2' }}
          </ng-container>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"></td>
        <td>
          <div class="flex gap-1 justify-end">
            <img [nwImage]="'assets/icons/icon_crown.png'" class="inline-block w-5 h-5" />
            <span>{{ resourcePrice$ | async | number : '1.2-2' }}</span>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="bg-base-100 rounded-md mx-[1px] rounded-tr-none" *ngIf="skillsTab">
  <div class="flex flex-row items-center" *ngFor="let row of skillsTable$ | async; trackBy: trackByIndex">
    <img [nwImage]="row.icon" class="w-16 h-16" />
    <div class="flex-1 flex flex-col justify-center pl-2">
      <span [nwText]="row.name" class="font-bold"></span>
      <span>+{{ row.xp | number }}</span>
    </div>
    <nwb-tradeskill-progress
      class="m-2"
      [skillName]="row.id"
      [skillLevel]="'auto'"
      [skillPoints]="row.xp"
    ></nwb-tradeskill-progress>
  </div>
</div>
