<ng-container *ngIf="recipe">
  <ion-header>
    <div class="flex flex-row items-center">
      <div class="form-control">
        <label class="input-group flex-w">
          <span class="font-bold">Craft amount</span>
          <input type="number" min="0" [(ngModel)]="quantity" class="input input-bordered input-sm pr-0 w-20" />
        </label>
      </div>
      <div class="flex-1"></div>
      <ul class="menu menu-horizontal">
        <li
          [tooltip]="'Edit Bonus Chance'"
          (click)="isToolOpen = !isToolOpen"
        >
          <a>
            <nwb-icon [icon]="iconOptions" class="w-4 h-4"></nwb-icon>
          </a>
        </li>
        <li [tooltip]="'Toggle bonus mode'">
          <a [class.text-primary]="optimize" (click)="toggleOptimize()">
            <nwb-icon [icon]="iconMode" class="w-4 h-4"></nwb-icon>
          </a>
        </li>
        <li [tooltip]="'Open price importer'">
          <nwb-price-importer-button></nwb-price-importer-button>
        </li>
      </ul>
    </div>
  </ion-header>
  <div class="p-4 pt-0">
    <div class="block my-4" *ngIf="isToolOpen">
      <nwb-crafting-chance-menu (stateChange)="forceRefresh()"></nwb-crafting-chance-menu>
    </div>
    <nwb-crafting-step
      [step]="step"
      [quantity]="quantity"
      [optimize]="optimize"
      [showPrice]="true"
      #rootStep
      (stateChange)="reportChange()"
    ></nwb-crafting-step>
    <a [nwGamingToolsLink]="recipe" class="link block text-center opacity-50 hover:opacity-100 transition-opacity">
      Open recipe in gaming.tools
    </a>
    <nwb-crafting-summary [root]="rootStep" class="mt-2" *ngIf="enableSummary"></nwb-crafting-summary>
  </div>

</ng-container>
