<div class="flex flex-row items-center">
  <nwb-crafting-step-toggle
    class="w-8 h-8"
    [disabled]="!collapsible || !steps?.length"
    [open]="expand"
    (click)="toggle()"
  ></nwb-crafting-step-toggle>

  <ng-container *ngIf="item">
    <picture
      [nwIcon]="item.IconPath"
      class="w-7 h-7 nw-icon flex-none bg-rarity-{{ itemRarity(item) }}"
      [class.cursor-pointer]="!!category"
      (click)="toggleOptions()"
    ></picture>

    <div class="flex flex-row items-center overflow-hidden" *ngIf="item" (click)="toggle()">
      <span class="ml-2" [class.italic]="quantity !== requiredQuantity">
        {{ requiredQuantity }}
      </span>
      <span
        class="ml-2 text-xs tooltip tooltip-success tooltip-right"
        *ngIf="bonusPercent"
        attr.data-tip="+{{ bonusQuantity }} items"
      >
        (+{{ bonusPercent }}%)
      </span>
      <span class="ml-2"> &times; </span>
      <span class="ml-2 overflow-ellipsis overflow-hidden whitespace-nowrap" [nwText]="item.Name"></span>
    </div>
  </ng-container>
  <span class="flex-1"></span>

  <span class="flex flex-col items-end" *ngIf="itemId">
    <nwb-item-tracker
      [itemId]="itemId"
      [mode]="'price'"
      [editTip]="'Edit item price'"
      class="whitespace-nowrap opacity-75"
      #itemTracker
    ></nwb-item-tracker>
    <div class="text-xs italic opacity-50" *ngIf="showPrice">
      <span> {{ outputQuantity * itemTracker.dataValue | number: '1.2-2' }} </span>
    </div>
  </span>
</div>
<ul class="menu menu-compact w-full py-2" *ngIf="category && showOptions">
  <li *ngFor="let item of categoryOptions">
    <a (click)="selectItem(item.ItemID)" class="p-1">
      <picture [nwIcon]="item.IconPath" class="w-7 h-7 nw-icon flex-none bg-rarity-{{ itemRarity(item) }}"></picture>
      <span [nwText]="item.Name"></span>
    </a>
  </li>
</ul>
<div *ngIf="expand && steps?.length" class="steps-container">
  <nwb-crafting-step
    *ngFor="let step of steps; let isLast = last; trackBy: trackStepBy"
    [class.is-last]="isLast"
    [class.is-nested]="true"
    [type]="step.type"
    [ingredient]="step.ingredient"
    [quantity]="step.quantity * requiredQuantity"
    [optimize]="optimize"
    [collapsible]="!isDowngrade"
    (updated)="makrBonusUpdate()"
  ></nwb-crafting-step>
</div>
