<table class="table table-compact w-full" *ngIf="table?.length">
  <thead>
    <tr>
      <th class="w-6"></th>
      <th>Name</th>
      <th>Qty</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of table; trackBy: trackByIndex">
      <th>
        <picture [nwIcon]="row.item.IconPath" class="w-6 h-6"></picture>
      </th>
      <td [nwText]="row.item.Name"></td>
      <td>{{ row.quantity }}</td>
    </tr>
  </tbody>
</table>

<table class="table table-compact w-full mt-2" *ngIf="xpTable?.length">
  <thead>
    <tr>
      <th>Skill</th>
      <th>XP</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of xpTable; trackBy: trackByIndex">
      <td [nwText]="row.skill"></td>
      <td>{{ row.xp }}</td>
    </tr>
  </tbody>
</table>
