:host {
  display: block;
  position: relative;

  nwb-crafting-step-toggle {
    display: none;
  }

  picture.cursor-pointer {
    &::after {
      position: absolute;
      display: block;
      content: '…';
      bottom: -3px;
      font-weight: bold;
      z-index: 3;
    }
  }
  &.is-nested {
    nwb-crafting-step-toggle {
      display: inline-flex;
    }

    .steps-container, .menu {
      border-left: 2px solid currentColor;
      margin-left: 15px;
      nwb-crafting-step {
        margin-left: 15px;
      }
    }
    .menu {
      border-left: 2px solid currentColor;
      margin-left: 15px;
      padding-left: 12px;
    }
  }
  &.is-last  {
    .steps-container, .menu {
      border-left-color: transparent !important;
    }

    nwb-crafting-step-toggle::after {
      display: none !important;
    }
  }

}
