<button class="btn btn-square btn-ghost" [class.text-error]="mode === 'opponent'" (click)="handleBackClicked()">
  @if (mode === 'opponent') {
    <nwb-icon [icon]="iconClose" class="w-4 h-4" />
  } @else {
    <nwb-icon [icon]="iconBack" class="w-4 h-4" />
  }
</button>
@if (gearset() && !isOwned()) {
  <div class="leading-tight w-full">
    <h3 class="font-bold">Gearset</h3>
    <span>
      {{ gearset().name }}
    </span>
  </div>
}
@if (gearset() && isOwned()) {
  <label class="input input-bordered input-sm w-full flex items-center gap-1">
    <input
      type="text"
      class="grow"
      maxlength="100"
      [ngModel]="gearset()?.name"
      (ngModelChange)="updateName($event)"
      [ngModelOptions]="{ updateOn: 'blur' }"
      [disabled]="!isEditable()"
    />
    @if (isSignedIn() && isEditable()) {
      <nwb-sync-badge
        class="opacity-0"
        [class.opacity-100]="isPublic() || isSyncPending() || isSyncConflict()"
        [published]="isPublic()"
        [pending]="isSyncPending()"
        [conflict]="isSyncConflict()"
        [loading]="isSyncPending()"
      />
    }
  </label>
}
@if (!gearset()) {
  <div class="w-full"></div>
}

<div class="join">
  @if (isEditable()) {
    <button class="join-item btn btn-ghost btn-square" [cdkMenuTriggerFor]="tplTagPicker" [tooltip]="'Edit Tags'">
      <nwb-icon [icon]="iconTags" class="w-4 h-4" />
    </button>
    <ng-template #tplTagPicker>
      <div class="p-2 bg-base-200 border border-base-100 rounded-md shadow-lg" cdkMenu>
        <nwb-chips-input-pane
          [maxLength]="25"
          [tags]="presetTags()"
          [placeholder]="'custom tags'"
          [ngModel]="gearset()?.tags"
          (ngModelChange)="updateTags(gearset(), $event)"
        />
      </div>
    </ng-template>
  }

  <button
    [nwbScreenshotBtn]
    [screenshotMenu]="menuLayoutEdit"
    class="join-item btn btn-ghost btn-square"
    [tooltip]="'Screenshot'"
    [disabled]="!gearset()"
  ></button>

  @if (isEditable()) {
    <button class="join-item btn btn-ghost btn-square" [cdkMenuTriggerFor]="menu">
      <nwb-icon [icon]="iconMenu" class="w-4 h-4" />
    </button>
  }
</div>

<ng-template #menu>
  <ul class="my-1 menu menu-compact bg-base-200 border border-base-100 rounded-md shadow-lg p-0" cdkMenu>
    @if (!isSignedIn()) {
      <li class="text-shadow-sm shadow-black">
        <a cdkMenuItem (click)="onShareClicked()" class="rounded-none">
          <nwb-icon [icon]="iconShare" class="w-4 h-4 mr-2" />
          <div class="flex flex-col leading-none">
            <span>Share</span>
            <span class="text-xs opacity-75">Upload online and create a share URL</span>
          </div>
        </a>
      </li>
    } @else if (isPublic()) {
      <li class="text-shadow-sm shadow-black">
        <button cdkMenuItem (click)="onUnpublishClicked()" class="rounded-none">
          <nwb-icon [icon]="iconGlobe" class="w-4 h-4 mr-2 text-success" />
          <div class="flex flex-col leading-none">
            <span>Unpublish</span>
            <span class="text-xs opacity-75">Removes this gearset from public listing</span>
          </div>
        </button>
      </li>
      <li class="text-shadow-sm shadow-black">
        <button cdkMenuItem (click)="onEmbedClicked()" class="rounded-none">
          <nwb-icon [icon]="iconFrame" class="w-4 h-4 mr-2" />
          <div class="flex flex-col leading-none">
            <span>Embed</span>
            <span class="text-xs opacity-75">Generate iframe code to embed in your site</span>
          </div>
        </button>
      </li>
    } @else {
      <li class="text-shadow-sm shadow-black">
        <button cdkMenuItem (click)="onPublishClicked()" class="rounded-none" [disabled]="hasLinkedItems()">
          <nwb-icon [icon]="iconGlobe" class="w-4 h-4 mr-2" />
          <div class="flex flex-col leading-none">
            <span>Publish</span>
            @if (hasLinkedItems()) {
              <span class="text-xs text-error">Gearsets with <b>linked</b> items can not be published</span>
            } @else {
              <span class="text-xs opacity-75">Publish this gearsets for other users to see</span>
            }
          </div>
        </button>
      </li>
    }

    <li class="text-shadow-sm shadow-black">
      <a (click)="onCloneClicked()" cdkMenuItem class="rounded-none">
        <nwb-icon [icon]="iconCopy" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>Clone</span>
          <span class="text-xs opacity-75">Create a copy of this set</span>
        </div>
      </a>
    </li>

    <li class="text-shadow-sm shadow-black">
      <button cdkMenuItem [cdkMenuTriggerFor]="menuBatchEdit">
        <nwb-icon [icon]="iconBatch" class="w-4 h-4 mr-2" />
        <div>Batch Edit</div>
      </button>
    </li>

    <li class="menu-title">
      <span>Damage Calculator</span>
    </li>
    <li class="text-shadow-sm shadow-black">
      <a (click)="handleOpponentSelection()" cdkMenuItem class="rounded-none">
        <nwb-icon [icon]="iconSwords" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>Pick Opponent Set</span>
          <span class="text-xs opacity-75">Pick another gearset for PvP calculation</span>
        </div>
      </a>
    </li>

    <li class="text-shadow-sm shadow-black">
      <a (click)="onToggleCalculatorClicked()" cdkMenuItem class="rounded-none">
        <nwb-icon [icon]="iconCalculator" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>Toggle calculator</span>
          <span class="text-xs opacity-75">Toggle damage calculator sidebar</span>
        </div>
      </a>
    </li>

    <li class="divider my-1 h-[2px]"></li>

    <li class="text-shadow-sm shadow-black">
      <a (click)="onDeleteClicked()" cdkMenuItem class="rounded-none">
        <nwb-icon [icon]="iconDelete" class="w-4 h-4 text-error mr-2" />
        <div class="flex flex-col leading-none">
          <span>Delete</span>
          <span class="text-xs opacity-75">Delete this set</span>
        </div>
      </a>
    </li>
  </ul>
</ng-template>

<ng-template #menuBatchEdit>
  <ul class="my-1 menu menu-compact bg-base-200 border border-base-100 rounded-md shadow-lg p-0" cdkMenu>
    <li class="text-shadow-sm shadow-black">
      <a (click)="onBatchGearScoreClicked()" cdkMenuItem class="rounded-none">
        <img [nwImage]="'assets/icons/item/icon_gearscore.png'" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>Gear Score</span>
          <span class="text-xs opacity-75">Change gear score for multiple items</span>
        </div>
      </a>
    </li>
    <li class="text-shadow-sm shadow-black">
      <a (click)="onBatchGemClicked()" cdkMenuItem class="rounded-none">
        <img [nwImage]="'assets/icons/menu/gems.png'" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>Gems</span>
          <span class="text-xs opacity-75">Pick a gem and apply to multiple items</span>
        </div>
      </a>
    </li>
    <li class="text-shadow-sm shadow-black">
      <a (click)="onBatchAttributeClicked()" cdkMenuItem class="rounded-none">
        <img [nwImage]="'assets/icons/icon_attribute_arrow.png'" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>Attributes</span>
          <span class="text-xs opacity-75">Pick an attribute and apply to multiple items</span>
        </div>
      </a>
    </li>

    <li class="text-shadow-sm shadow-black">
      <a (click)="onBatchResetClicked()" cdkMenuItem class="rounded-none">
        <nwb-icon [icon]="iconReset" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>Reset Perks</span>
          <span class="text-xs opacity-75">Reset perks on multiple items</span>
        </div>
      </a>
    </li>
  </ul>
</ng-template>

<ng-template #menuLayoutEdit>
  <li class="menu-title">Sections</li>
  <li class="text-shadow-sm shadow-black">
    <label (click)="toggleSection('panel1'); (false)" class="rounded-none">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('panel1')"
      />
      <div class="flex flex-col leading-none">
        <span>Avatar</span>
      </div>
    </label>
  </li>
  <li class="text-shadow-sm shadow-black">
    <label (click)="toggleSection('panel2'); (false)" class="rounded-none">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('panel2')"
      />
      <div class="flex flex-col leading-none">
        <span>Stats</span>
      </div>
    </label>
  </li>
  <li class="text-shadow-sm shadow-black">
    <label (click)="toggleSection('skills'); (false)" class="rounded-none">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('skills')"
      />
      <div class="flex flex-col leading-none">
        <span>Skills</span>
      </div>
    </label>
  </li>
  <li class="text-shadow-sm shadow-black">
    <label (click)="toggleSection('armor'); (false)" class="rounded-none">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('armor')"
      />
      <div class="flex flex-col leading-none">
        <span>Armor slots</span>
      </div>
    </label>
  </li>
  <li class="text-shadow-sm shadow-black">
    <label (click)="toggleSection('jewelry'); (false)" class="rounded-none">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('jewelry')"
      />
      <div class="flex flex-col leading-none">
        <span>Jewelry slots</span>
      </div>
    </label>
  </li>
  <li class="text-shadow-sm shadow-black">
    <label (click)="toggleSection('weapons'); (false)" class="rounded-none">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="sections().includes('weapons')"
      />
      <div class="flex flex-col leading-none">
        <span>Weapon slots</span>
      </div>
    </label>
  </li>
  <li class="menu-title">Details</li>
  <li class="text-shadow-sm shadow-black">
    <label (click)="onToggleItemInfoClicked(); (false)" class="rounded-none">
      <input
        class="toggle toggle-sm pointer-events-none checked:toggle-success"
        type="checkbox"
        [ngModel]="store.showItemInfo()"
      />
      <div class="flex flex-col leading-none">
        <span>Item info</span>
      </div>
    </label>
  </li>
  <li class="menu-title">Screenshot frames</li>
</ng-template>
