<nwb-detail-drawer class="flex-1 hidden lg:block" [breakOn]="'xl'" [breakpoints]="[0.15, 0.25, 0.5, 1.0]">
  <div *nwbDetailDraweContent class="layout-col relative bg-base-300">
    <ng-container *ngIf="item$ | async; let item">
      <div class="relative flex-none p-1 bg-base-300 bg-opacity-100">
        <div class="form-control">
          <div class="input-group">
            <a class="btn btn-ghost btn-square inline-flex" [routerLink]="'..'">
              <nwb-icon [icon]="iconBack" class="w-4 h-4"></nwb-icon>
            </a>
            <input
              type="text"
              placeholder=""
              class="input input-bordered w-full"
              [ngModel]="item.record.name"
              (ngModelChange)="updateName(item.record, $event)"
              [ngModelOptions]="{ updateOn: 'blur' }"
            />
            <button class="btn btn-ghost btn-square" [cdkMenuTriggerFor]="menu">
              <nwb-icon [icon]="iconMenu" class="w-4 h-4"></nwb-icon>
            </button>
            <button nwbScreenshotBtn class="btn btn-ghost btn-square" [tooltip]="'Screenshot'" [color]="'info'"></button>
          </div>
        </div>
      </div>
      <div class="layout-content relative">
        <div [nwbScreenshotFrame]="item.record.name" class="bg-base-300">
          <nwb-skill-builder
            [ngModel]="item.record"
            (ngModelChange)="updateModel(item.record, $event)"

            #builder
          ></nwb-skill-builder>

          <div *ngIf="item.record.attrs" class="layout-pad">
            <nwb-attributes-editor [freeMode]="true" [assigned]="item.record.attrs" (assignedChanged)="updateAttributes(item.record, $event)"></nwb-attributes-editor>
          </div>
        </div>
      </div>

      <ng-template #menu>
        <ul class="menu menu-compact bg-base-100 rounded-md shadow" cdkMenu>
          <li>
            <button (click)="builder.switchWeapon()">
              <nwb-icon [icon]="iconReset" class="w-4 h-4"></nwb-icon> Change Weapon
            </button>
          </li>
          <li *ngIf="attrs$ | async">
            <button (click)="removeAttributes(item.record)" cdkMenuItem>
              <nwb-icon [icon]="iconAttrs" class="w-4 h-4"></nwb-icon>
              Remove Attributes
            </button>
          </li>
          <li *ngIf="!(attrs$ | async)">
            <button (click)="addAttributes(item.record)" cdkMenuItem>
              <nwb-icon [icon]="iconAttrs" class="w-4 h-4"></nwb-icon>
              Add Attributes
            </button>
          </li>
          <li>
            <button (click)="shareItem(item.record)" cdkMenuItem>
              <nwb-icon [icon]="iconShare" class="w-4 h-4"></nwb-icon>
              Create share lnk
            </button>
          </li>
        </ul>
      </ng-template>
    </ng-container>
  </div>
</nwb-detail-drawer>
