<nwb-item-card
  [entityId]="item.itemId"
  [enableTracker]="true"
  [disableInfo]="true"
  [enableLink]="true"
  [enableInfoLink]="true"
  [nwbItemMarker]="item.itemId"
  #itemMarker="itemMarker"
  [class.is-collected]="!!(itemMarker.value$ | async)"
  class="w-full h-full"
>
  <nwb-item-divider class="mx-4"></nwb-item-divider>
  <div class="flex flex-col gap-1 p-4">
    <div
      *ngFor="let ingr of item.ingredients; trackBy: trackByIndex"
      class="flex flex-row gap-1 justify-start items-center"
    >
      <picture [nwIcon]="ingr.item" class="w-8 h-8 nw-icon flex-none"></picture>
      <span>{{ ingr.quantity }}</span>
      <span>&times;</span>
      <span [nwText]="ingr.item.Name"></span>
    </div>
  </div>
</nwb-item-card>
