@reference '../../../style.css';

.grid-cell {
  position: relative;

  &::before,
  &::after {
    z-index: 1;
    position: absolute;
    content: '';
    @apply bg-white opacity-10;
  }

  &.edge-t::before {
    height: 100%;
    top: -50%;
    left: calc(50% - 1px);
    width: 2px;
  }
  &.edge-l::before {
    height: 2px;
    top: calc(50% - 1px);
    left: -50%;
    width: 100%;
  }
  &.edge-r::before {
    height: 2px;
    top: calc(50% - 1px);
    left: 50%;
    width: 100%;
  }
  &.edge-tl::before,
  &.edge-tr::before {
    height: 50%;
    top: 0%;
    left: calc(50% - 1px);
    width: 2px;
  }
  &.edge-tl::after {
    height: 2px;
    top: -1px;
    left: -50%;
    width: 100%;
  }
  &.edge-tr::after {
    height: 2px;
    top: -1px;
    left: 50%;
    width: 100%;
  }


  picture {
    width: 80%;
    z-index: 2;
    pointer-events: none;
    user-select: none;
    @apply outline-[#70D2E4] transition-colors bg-base-300;
    img {
      @apply transition-opacity;
      opacity: 0.1;
      pointer-events: none;
      user-select: none;
    }
  }

}

.is-disabled {
  picture {
    @apply outline-neutral;
  }
  &::before,
  &::after {
    opacity: 0.1;
  }
}

.is-unlocked {
  cursor: pointer;
  &::before,
  &::after {
    opacity: 1;
  }
}

.is-checked {
  picture {
    @apply outline-white;
    img {
      opacity: 1;
    }
  }
  &::before,
  &::after {
    opacity: 1;
  }
}

.is-invalid {
  picture {
    @apply outline-error;
    img {
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    }
  }
  &::before,
  &::after {
    @apply bg-error;
    opacity: 0.5;
  }
}

.is-small {
  picture {
    transform: scale(0.66);
  }
}
