<div class="flex-1 layout-content layout-pad">
  <div class="alert alert-warning mb-4">
    <div>
      <div>Gearscore may not match the GS in game since real weighting values are not known.</div>
    </div>
  </div>
  <nwb-umbral-calculator class="pb-28"></nwb-umbral-calculator>
</div>
<nwb-detail-drawer class="hidden 3xl:block 3xl:flex-1 3xl:flex-col layout-pad-y layout-pad-r" [breakOn]="'3xl'" [breakpoints]="[0.15, 0.25, 0.5, 1.0]">
  <div *nwbDetailDraweContent class="layout-col">
    <div class="flex-none tabs tabs-boxed">
      <a class="tab" [class.tab-active]="tab == 0" (click)="tab = 0">Upgrade path</a>
      <a class="tab" [class.tab-active]="tab == 1" (click)="tab = 1">Table 590-600</a>
      <a class="tab" [class.tab-active]="tab == 2" (click)="tab = 2">Table 600-625</a>
    </div>
    <div class="layout-content h-full bg-base-100">
      <ng-container *ngIf="tab == 0">
        <div class="p-4">
          <nwb-umbral-calculator-steps></nwb-umbral-calculator-steps>
        </div>
      </ng-container>
      <ng-container *ngIf="tab == 1">
        <nwb-umbral-table [gsMax]="599"></nwb-umbral-table>
      </ng-container>
      <ng-container *ngIf="tab == 2">
        <nwb-umbral-table [gsMin]="600"></nwb-umbral-table>
      </ng-container>
    </div>
  </div>
</nwb-detail-drawer>
