<ng-container
  #mapLayer="mapLayer"
  [nwbMapLayer]="'vitals'"
  [disabled]="false"
  [heatmap]="mapStore.showHeatmap()"
  [filter]="store.layerFilter()"
  [data]="layerData()"
  (featureClick)="handleMouseClick($event)"
  (featureMouseEnter)="handleMouseEnter($event)"
  (featureMouseLeave)="handleMouseLeave($event)"
  (featureMouseMove)="handleMouseMove($event)"
/>
@if (hoverItems()?.length) {
  <ng-template [nwbGameMapMouseTip]>
    @for (item of hoverItems(); track $index; let index = $index) {
      <nwb-vital-detail [vitalId]="item.id" [level]="item.level" class="w-80 bg-base-300/75 mb-1">
      </nwb-vital-detail>
    }
  </ng-template>
}

<ng-template #clickModal>
  <div class="flex flex-col items-center gap-1 bg-base-300 max-h-[800px] overflow-auto rounded-sm">
    @for (item of clickItems(); track $index) {
      <nwb-vital-detail [vitalId]="item.id" [level]="item.level" class="w-full bg-base-200/75 mb-1">
        <nwb-vital-detail-stats class="p-2 text-sm" />
      </nwb-vital-detail>
    }
  </div>
</ng-template>

<div class="flex flex-col gap-1 p-4">
  <div class="form-control">
    <div class="label">
      <span> Encounter</span>
      <div class="join">
        <button class="btn btn-sm" (click)="store.toggleAllEncounter()">Toggle</button>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-1">
      @for (row of store.encounterTypes(); track $index) {
        <button class="btn btn-sm btn-primary" [class.grayscale]="!row.enabled" (click)="store.toggleEncounter(row.id)">
          {{ row.id || 'no encounter' | nwHumanize }}
        </button>
      }
    </div>
  </div>
  <div class="form-control">
    <div class="label">Level</div>
    <div class="join w-full">
      <span class="join-item btn btn-sm btn-ghost pointer-events-none">min</span>
      <input
        class="join-item input input-sm min-w-0 flex-1"
        type="number"
        [ngModel]="store.levelMin()"
        (ngModelChange)="store.setMinLevel($event)"
      />
      <span class="join-item btn btn-sm btn-ghost pointer-events-none">max</span>
      <input
        class="join-item input input-sm min-w-0 flex-1"
        type="number"
        [ngModel]="store.levelMax()"
        (ngModelChange)="store.setMaxLevel($event)"
      />
    </div>
  </div>
  <div class="form-control">
     <div class="label">Tags</div>
    @let idExpression = store.idExpression();
    <nwb-expresssion-branch-input
      #idExpressionInput
      [class.hidden]="!idExpression.rows.length"
      [defaultLeftValue]="store.idKey()"
      [outerOperators]="store.outerOperators()"
      [innerOperators]="store.idOperators()"
      [ngModel]="idExpression"
      (ngModelChange)="store.setIdExpression($event)"
    >
      <span *nwbExpressionKey class="join-item btn btn-sm btn-ghost w-20"> ID </span>
      <button
        *nwbExpressionValue="let value; let index = index"
        class="join-item flex-1 btn btn-sm btn-ghost justify-start text-left truncate"
        (click)="pickVitalId(idExpressionInput, index, value)"
      >
        <span [nwbVitalDetail]="value" #detail="vitalDetail">
          {{ detail.store.displayName() | nwText }}
        </span>
      </button>
    </nwb-expresssion-branch-input>
    @if (!idExpression.rows.length) {
      <button class="btn btn-sm btn-block btn-primary" (click)="idExpressionInput.addRow()">Add ID Filter</button>
    }
  </div>

  <div>
    @let typeExpression = store.typeExpression();
    <nwb-expresssion-branch-input
      #typeExpressionInput
      [class.hidden]="!typeExpression.rows.length"
      [defaultLeftValue]="store.typeKey()"
      [outerOperators]="store.outerOperators()"
      [innerOperators]="store.typeOperators()"
      [ngModel]="typeExpression"
      (ngModelChange)="store.setTypeExpression($event)"
    >
      <span *nwbExpressionKey class="join-item btn btn-sm btn-ghost w-20"> Type </span>
      <button
        *nwbExpressionValue="let value; let index = index"
        class="join-item flex-1 btn btn-sm btn-ghost justify-start text-left truncate"
        (click)="pickVitalType(typeExpressionInput, index, value)"
      >
        {{ value }}
      </button>
    </nwb-expresssion-branch-input>
    @if (!typeExpression.rows.length) {
      <button class="btn btn-sm btn-block btn-primary" (click)="typeExpressionInput.addRow()">Add Type Filter</button>
    }
  </div>

  <div>
    @let categoriesExpression = store.categoriesExpression();
    <nwb-expresssion-branch-input
      #categoriesExpressionInput
      [class.hidden]="!categoriesExpression.rows.length"
      [defaultLeftValue]="store.categoriesKey()"
      [outerOperators]="store.outerOperators()"
      [innerOperators]="store.categoriesOperators()"
      [ngModel]="categoriesExpression"
      (ngModelChange)="store.setCategoriesExpression($event)"
    >
      <span *nwbExpressionKey class="join-item btn btn-sm w-20"> Categories </span>
      <button
        *nwbExpressionValue="let value; let index = index"
        class="join-item flex-1 btn btn-sm btn-ghost justify-start text-left truncate"
        (click)="pickVitalCategory(categoriesExpressionInput, index, value)"
      >
        {{ value }}
      </button>
    </nwb-expresssion-branch-input>
    @if (!categoriesExpression.rows.length) {
      <button class="btn btn-sm btn-block btn-primary" (click)="categoriesExpressionInput.addRow()">
        Add Category Filter
      </button>
    }
  </div>

  <div>
    @let lootTagsExpression = store.lootTagsExpression();
    <nwb-expresssion-branch-input
      #lootTagsExpressionInput
      [class.hidden]="!lootTagsExpression.rows.length"
      [defaultLeftValue]="store.lootTagsKey()"
      [outerOperators]="store.outerOperators()"
      [innerOperators]="store.lootTagsOperators()"
      [ngModel]="lootTagsExpression"
      (ngModelChange)="store.setLootTagsExpression($event)"
    >
      <span *nwbExpressionKey class="join-item btn btn-sm w-20"> Loot Tags </span>
      <button
        *nwbExpressionValue="let value; let index = index"
        class="join-item flex-1 btn btn-sm btn-ghost justify-start text-left truncate"
        (click)="pickVitalLootTag(lootTagsExpressionInput, index, value)"
      >
        {{ value }}
      </button>
    </nwb-expresssion-branch-input>
    @if (!lootTagsExpression.rows.length) {
      <button class="btn btn-sm btn-block btn-primary" (click)="lootTagsExpressionInput.addRow()">
        Add Loot Tag Filter
      </button>
    }
  </div>

  <div>
    @let poiTagsExpression = store.poiTagsExpression();
    <nwb-expresssion-branch-input
      #poiTagsExpressionInput
      [class.hidden]="!poiTagsExpression.rows.length"
      [defaultLeftValue]="store.poiTagsKey()"
      [outerOperators]="store.outerOperators()"
      [innerOperators]="store.poiTagsOperators()"
      [ngModel]="poiTagsExpression"
      (ngModelChange)="store.setPoiTagsExpression($event)"
    >
      <span *nwbExpressionKey class="join-item btn btn-sm w-20"> POI Tags </span>
      <button
        *nwbExpressionValue="let value; let index = index"
        class="join-item flex-1 btn btn-sm btn-ghost justify-start text-left truncate"
        (click)="pickVitalPoiTag(poiTagsExpressionInput, index, value)"
      >
        {{ value }}
      </button>
    </nwb-expresssion-branch-input>
    @if (!poiTagsExpression.rows.length) {
      <button class="btn btn-sm btn-block btn-primary" (click)="poiTagsExpressionInput.addRow()">
        Add POI Tag Filter
      </button>
    }
  </div>
</div>

<ul class="flex-1 overflow-auto flex-nowrap menu">
  @for (preset of store.presets(); track $index) {
    <li>
      <a (click)="store.applyPreset(preset.data)">
        <div>
          <div>
            <b>{{ preset.name | nwText: preset.context }}</b>
          </div>
          @if (preset.description) {
            <div class="text-nw-description">
              {{ preset.description | nwText: preset.context }}
            </div>
          }
        </div>
      </a>
    </li>
  }
</ul>
