@for (layer of items(); track layer.id) {
  @let data = layer.data[mapId()];
  <ng-container
    #mapLayer="mapLayer"
    [nwbMapLayer]="layer.id"
    [labels]="!!layer.labels"
    [color]="layer.properties.color"
    [icons]="!!layer.properties.icon"
    [disabled]="true"
    [heatmap]="showHeatmap()"
    [filter]="filter()"
    [data]="data?.geometry"
    (featureMouseEnter)="handleMouseEnter($event)"
    (featureMouseLeave)="handleMouseLeave($event)"
    (featureMouseMove)="handleMouseMove($event)"
    (featureClick)="handleMouseClick($event)"
  />
}

@if (hoverItems()?.length) {
  <ul *nwbGameMapMouseTip class="men menu-sm rounded-sm bg-base-200 pb-1 mb-1">
    @for (item of hoverItems(); track $index) {
      <li>
        <div class="grid grid-cols-dl gap-x-2">
          <span class="badge badge-xs mt-[5px]" [style.background-color]="item.color"></span>
          <div class="flex flex-col">
            @if (item.title; as text) {
              <span class="leading-normal"> {{ text | nwText }} </span>
            }
            @if (item.subtitle; as text) {
              <span class="leading-normal text-xs"> {{ text | nwText }} </span>
            }
            @if (!item.title && !item.subtitle) {
              <span class="leading-normal italic"> unnamed </span>
            }

            <div class="grid grid-cols-dl gap-x-2 text-xs leading-none">
              @if (item.lootTableID !== 'Empty' && item.lootTableID; as text) {
                <span>Loot Table</span>
                <code class="font-mono"> {{ text }}</code>
              }
              @if (item.gatherableID; as text) {
                <span>Gatherable</span>
                <code class="font-mono"> {{ text }}</code>
              }
              @if (item.variationID; as text) {
                <span>Variation</span>
                <code class="font-mono"> {{ text }}</code>
              }
              @if (item.vitalID; as text) {
                <span>Vital</span>
                <code class="font-mono"> {{ text }}</code>
              }
              @if (item.loreID; as text) {
                <span>Lore</span>
                <code class="font-mono"> {{ text }}</code>
              }
              @if (item.gatherableID) {
                <ng-container [nwbGatherableDetail]="item.gatherableID" #detail="gatherableDetail">
                  @if (detail.store.minRespawnRate(); as time) {
                    <span>Respawn Rate</span>
                    <span class="font-mono">
                      <code> {{ time }}</code>
                      @if (detail.store.maxRespawnRate(); as time) {
                        - <code> {{ time }}</code>
                      }
                    </span>
                  }
                </ng-container>
              }
            </div>
          </div>
        </div>
      </li>
    }
  </ul>
}

<div class="flex flex-row items-center group">
  @if (hasChevron()) {
    <button
      class="btn btn-xs btn-square btn-ghost mx-1 hover:bg-transparent hover:text-primary"
      (click)="isOpen.set(!isOpen())"
    >
      <nwb-icon
        [icon]="iconArrowLeft"
        class="w-3 transition-transform"
        [class.-rotate-180]="!isOpen()"
        [class.-rotate-90]="isOpen()"
      />
    </button>
  }
  <button
    class="join-item flex-1 btn btn-sm btn-ghost hover:bg-transparent justify-start items-center gap-2 text-left pl-0"
    (click)="toggleAll()"
    [class.text-primary]="isAnyEnabled()"
  >
    <span class="flex-1 transition-transform group-hover:translate-x-1" [class.pl-8]="!hasChevron()">
      {{ label() | nwText }}
      @if (affix()) {
        ({{ affix() | nwText }})
      }
    </span>
  </button>

  @if (variants().length) {
    <div class="join">
      @for (variant of variants(); track $index) {
        @let isActive = isVariantActive(variant.id);
        <button
          class="join-item flex-none btn btn-sm btn-square font-mono text-shadow-sm shadow-black"
          [class.btn-ghost]="!isActive"
          [style.--btn-color]="isActive ? (variant.properties.color | toLCH) : null"
          (click)="toggleVariant(variant.id)"
        >
          @if (variant.icon; as icon) {
            <img [nwImage]="icon" class="w-6 scale-150" />
          } @else {
            {{ variant.label }}
          }
        </button>
      }
    </div>
  }

  <button
    class="join-item flex-none btn btn-sm btn-square btn-ghost ml-1"
    [class.btn-ghost]="!isAnyEnabled()"
    [class.btn-disabled]="!hasInfo()"
    [style.--btn-color]="isAnyEnabled() && items().length === 1 && !variants().length ? (color() | toLCH) : null"
    [popover]="tplTip"
  >
    @if (icon(); as icon) {
      <img [nwImage]="icon" class="w-6 scale-150 flex-none" />
    } @else if (hasInfo()) {
      <nwb-icon [icon]="iconInfo" class="w-4 h-4 lg:opacity-0 group-hover:opacity-100" />
    }
  </button>
  <ng-template #tplTip>
    <div class="bg-base-300 w-96">
      <nwb-map-filter-popover [data]="items()" />
    </div>
  </ng-template>
</div>

@if (isOpen()) {
  <div class="grid grid-cols-2 gap-1 pl-5 mt-1 pb-4">
    @for (item of items(); track $index) {
      @let isActive = isLayerActive(item.id);
      <div class="join group" [class.text-primary]="isActive">
        <button
          class="flex-1 btn btn-sm btn-ghost hover:bg-transparent justify-start text-left"
          (click)="toggleLayer(item.id)"
        >
          <span class="flex flex-col leading-none">
            <span>
              @if (item.subcategoryLabel) {
                {{ item.subcategoryLabel | nwText }}
              } @else if (item.subcategory) {
                {{ item.subcategory }}
              } @else {
                {{ item.properties.lootTableID | nwHumanize }}
              }
            </span>
            @if (item.subcategoryAffix) {
              <span class="text-xs">{{ item.subcategoryAffix | nwText }}</span>
            }
          </span>
        </button>
        <button
          class="flex-none btn btn-sm btn-square"
          [class.btn-ghost]="!isActive"
          [style.--btn-color]="isActive ? (item.properties.color | toLCH) : null"
          [popover]="tplTip"
        >
          <nwb-icon [icon]="iconInfo" class="w-4 h-4 lg:opacity-0 group-hover:opacity-100" />
        </button>
        <ng-template #tplTip>
          <div class="bg-base-300 w-96">
            <nwb-map-filter-popover [data]="[item]" />
          </div>
        </ng-template>
      </div>
    }
  </div>
}
