<ion-split-pane [when]="pinMenu()" contentId="zone-map-content" style="--side-max-width: 500px">
  <div class="ion-page" id="zone-map-content">
    <ion-header>
      <ion-toolbar class="bg-base-300">
        <div slot="start">
          <ion-buttons slot="start">
            @if (!pinMenu()) {
              <ng-container [ngTemplateOutlet]="tplMenuStart" />
              <button class="btn btn-square btn-ghost" (click)="menu.toggle()">
                <nwb-icon [icon]="filterIcon" class="w-5 h-5" />
              </button>
            }
          </ion-buttons>
        </div>
        <div slot="end">
          <div class="join">
            <button
            class="join-item btn btn-square btn-ghost"
            [class.text-primary]="store.showLabels()"
            (click)="store.setLabels(!store.showLabels())"
            [tooltip]="'Toggle labels'"
          >
            <nwb-icon [icon]="fontIcon" class="w-5 h-5" />
          </button>
            <button
              class="join-item btn btn-square btn-ghost"
              [class.text-primary]="store.showHeatmap()"
              (click)="store.setHeatmap(!store.showHeatmap())"
              [tooltip]="'Toggle heatmap'"
            >
              <nwb-icon [icon]="fireIcon" class="w-5 h-5" />
            </button>
            <button
              class="join-item btn btn-square btn-ghost"
              [class.text-primary]="store.showEncounter()"
              (click)="store.setEncounter(!store.showEncounter())"
              [tooltip]="'Show or hide random encounter'"
            >
              <nwb-icon [icon]="diceIcon" class="w-5 h-5" />
            </button>
          </div>
          <select
            [ngModel]="store.mapId()"
            (ngModelChange)="store.setMap($event)"
            class="select select-sm select-ghost"
          >
            @for (option of mapsOptions(); track option.value) {
              <option [value]="option.value">{{ option.label }}</option>
            }
          </select>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <nwb-map
        class="ion-page"
        [mapId]="store.mapId()"
        [territories]="store.territories()"
        [areas]="store.areas()"
        [pois]="store.showPOI() ? store.pois() : null"
        [labels]="store.showLabels()"
        (zoneClick)="zoneClicked.emit($event)"
      >
        <div class="absolute top-2 right-2 flex flex-col gap-1">
          @for (item of hoverVitals(); track $index) {
            <nwb-vital-detail [vitalId]="item.id" [level]="item.level" class="w-80 bg-base-300 bg-opacity-75 text-sm">
              <nwb-vital-detail-stats class="p-2" />
            </nwb-vital-detail>
          }
          @for (item of hoverFilters(); track $index) {
            @if (item.lootTable) {
              <nwb-loot-graph [tableId]="item.lootTable" [showLocked]="true" />
            }
          }
        </div>
      </nwb-map>
    </ion-content>
  </div>
  <ion-menu
    contentId="zone-map-content"
    [menuId]="'zone-map-filter'"
    #menu
    style="--width: calc(max(100vw, 400px)); --max-width: 500px"
  >
    <ion-header>
      <ion-toolbar class="bg-base-300">
        <ion-buttons slot="start">
          @if (!pinMenu()) {
            <button (click)="menu.toggle()" class="btn btn-square btn-ghost">
              <nwb-icon [icon]="filterIcon" class="w-5 h-5" />
            </button>
          } @else {
            <ng-container [ngTemplateOutlet]="tplMenuStart" />
          }
        </ion-buttons>
        <ion-segment>
          @for (segment of segments(); track $index) {
            <ion-segment-button (click)="selectSegment(segment.id)">{{ segment.label }}</ion-segment-button>
          }
        </ion-segment>
      </ion-toolbar>
    </ion-header>
    <ion-content class="bg-base-200 bg-opacity-80">
      @if (activeSegment(); as segment) {
        @if (segment.source) {
          <nwb-map-filter-segment [source]="segment.source" (featureHover)="hoverFilters.set($event)" />
        }
        @if (segment.vitals) {
          <nwb-map-filter-vitals [data]="segment.vitals" (featureHover)="hoverVitals.set($event)" />
        }
      }
    </ion-content>
  </ion-menu>
</ion-split-pane>

<ng-template #tplMenuStart>
  <ng-content [selector]="'[menu-start]'" />
</ng-template>
