<ion-split-pane [when]="pinMenu()" contentId="zone-map-content" style="--side-max-width: 500px">
  <div class="ion-page" id="zone-map-content">
    <ion-header>
      <ion-toolbar class="bg-base-300">
        <div slot="start">
          <ion-buttons slot="start">
            @if (!pinMenu()) {
              <ng-container [ngTemplateOutlet]="tplMenuStart" />
              <button (click)="menu.toggle()" class="btn btn-square btn-ghost">
                <nwb-icon [icon]="filterIcon" class="w-5 h-5" />
              </button>
            }
          </ion-buttons>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <nwb-map
        class="ion-page"
        [territories]="store.territories()"
        [areas]="store.areas()"
        [pois]="store.showPOI() ? store.pois() : null"
        (zoneClick)="zoneClicked.emit($event)"
      />
    </ion-content>
  </div>
  <ion-menu contentId="zone-map-content" [menuId]="'zone-map-filter'" #menu style="--width: calc(max(100vw, 400px)); --max-width: 500px">
    <ion-header>
      <ion-toolbar class="bg-base-300">
        <ion-buttons slot="start">
          @if (!pinMenu()) {
            <button (click)="menu.toggle()" class="btn btn-square btn-ghost">
              <nwb-icon [icon]="filterIcon" class="w-5 h-5" />
            </button>
          } @else {
            <ng-container [ngTemplateOutlet]="tplMenuStart" />
          }
        </ion-buttons>
        <div class="join" slot="end">
          <!-- <button
            (click)="store.setEncounter(!store.showEncounter())"
            class="join-item btn btn-square btn-ghost"
            [class.text-secondary]="store.showEncounter()"
            tooltip="Toggle random encounter nodes"
          >
            RE
          </button>
          <button
            (click)="store.setHeatmap(!store.showHeatmap())"
            class="join-item btn btn-square btn-ghost"
            [class.text-secondary]="store.showHeatmap()"
            tooltip="Toggle heatmaps"
          >
            HM
          </button>
          <button
            (click)="store.setPOI(!store.showPOI())"
            class="join-item btn btn-square btn-ghost"
            [class.text-secondary]="store.showPOI()"
            tooltip="Toggle POI layer"
          >
            POI
          </button> -->
          <!-- <button
            (click)="store.setLabels(!store.showLabels())"
            class="join-item btn btn-ghost"
            [class.text-secondary]="store.showLabels()"
            tooltip="Toggle name labels"
          >
            Labels
          </button> -->
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="bg-base-200 bg-opacity-80">
      @for (section of sections(); track section) {
        <nwb-map-filter-section [section]="section" />
      }
    </ion-content>
  </ion-menu>
</ion-split-pane>

<ng-template #tplMenuStart>
  <ng-content [selector]="'[menu-start]'" />
</ng-template>
