<div
  class="w-4 h-4 cursor-pointer mask mask-star-2 bg-orange-400 transition-all scale-100 hover:scale-125"
  [class.opacity-25]="!checked(0)"
  (click)="toggle(0)"
></div>
<div
  class="w-4 h-4 cursor-pointer mask mask-star-2 bg-yellow-400 transition-all scale-100 hover:scale-125"
  [class.opacity-25]="!checked(1)"
  (click)="toggle(1)"
></div>
<div
  class="w-4 h-4 cursor-pointer mask mask-star-2 bg-green-400 transition-all scale-100 hover:scale-125"
  [class.opacity-25]="!checked(2)"
  (click)="toggle(2)"
></div>
