<div class="flex flex-col gap-2 pr-[10px] font-nimbus overflow-clip">
  <div class="flex flex-row items-center gap-1">
    <span class="font-bold">Points</span>
    <span class="font-bold text-center">{{ pointsAvailable() }}</span>
    <span class="flex-1"></span>
    @if (!freeMode()) {
      <label class="select select-sm w-40 my-1">
        <span class="label">Magnify</span>
        <select
          [ngModel]="magnifyPlacement()"
          (ngModelChange)="handleMagnifyUpdate($event)"
        >
          <option [ngValue]="null">Auto</option>
          @for (option of magnifyOptions; track $index) {
            <option [ngValue]="option.value">
              {{ option.label | nwText }}
            </option>
          }
        </select>
      </label>
    }
  </div>
  @for (stat of stats(); track $index) {
    <div class="flex flex-col">
      <div class="flex flex-row gap-4">
        <label class="inline-block w-16 font-serif text-nw-description uppercase text-center">
          {{ stat.name | nwText }}
        </label>
        <div class="font-nimbus font-bold">
          <span class="inline-block text-right"> {{ stat.total }} </span>
          @if (stat.assigned || stat.buffs || stat.magnify) {
            <span> ( </span>
            <span
              class="inline-block text-right text-attr-base cursor-help"
              [tooltip]="'Equipment'"
              [tooltipClass]="'text-attr-base'"
            >
              {{ stat.base }}
            </span>
            @if (stat.assigned) {
              <span> + </span>
              <span
                class="text-attr-assign cursor-help"
                [tooltip]="'Assigned'"
                [tooltipClass]="'text-attr-assign'"
              >
                {{ stat.assigned }}
              </span>
            }
            @if (stat.buffs) {
              <span> + </span>
              <span
                class="text-attr-buff cursor-help"
                [tooltip]="'Item Buffs'"
                [tooltipClass]="'text-attr-buff'"
              >
                {{ stat.buffs }}
              </span>
            }
            @if (stat.magnify) {
              <span> + </span>
              <span
                class="text-attr-magnify cursor-help"
                [tooltip]="'Magnify'"
                [tooltipClass]="'text-attr-magnify'"
              >
                {{ stat.magnify }}
              </span>
            }
            <span> ) </span>
          }
        </div>
      </div>
      <div class="flex flex-row gap-4">
        <input
          type="number"
          class="flex-none input input-bordered input-sm w-16 text-right text-attr-assign"
          [min]="stat.inputMin"
          [max]="stat.inputMax"
          [ngModel]="stat.assigned"
          (ngModelChange)="handleAttributeUpdate(stat, $event)"
          (focus)="handleAttributeFocus($event)"
          (blur)="handleAttributeBlur(stat, $event)"
          (wheel)="handleAttributeWheel(stat, $event)"
        />
        <div class="flex-1 flex flex-row justify-between items-center relative">
          <div class="tracker absolute left-0 w-full flex flex-row overflow-hidden">
            @if (stat.base) {
              <span
                class="flex-none bg-attr-base rounded-l-md"
                [style.width.%]="(stat.base / stat.sliderEnd) * 100"
              ></span>
            }
            @if (stat.buffs) {
              <span
                class="flex-none bg-attr-buff"
                [class.rounded-r-md]="!stat.assigned && !stat.magnify"
                [style.width.%]="(stat.buffs / stat.sliderEnd) * 100"
              ></span>
            }
            @if (stat.assigned) {
              <span
                [class.rounded-r-md]="!stat.magnify"
                class="flex-none bg-attr-assign"
                [style.width.%]="(stat.assigned / stat.sliderEnd) * 100"
              ></span>
            }
            @if (stat.magnify) {
              <span
                class="flex-none bg-attr-magnify rounded-r-md"
                [style.width.%]="(stat.magnify / stat.sliderEnd) * 100"
              ></span>
            }
          </div>

          <div class="flex-1 flex flex-row justify-between items-center relative mr-[-10px]">
            @for (step of steps(); track $index) {
              <div
                class="segment relative h-5 cursor-pointer"
                [style.flex]="step.weight"
                (click)="handleAttributeToggle(stat, step.value)"
              >
                @if (getBulletColor(stat, step.value); as col) {
                  <span
                    class="badge absolute right-0 rounded-full"
                    [class.bg-zinc-800]="col === 'zink'"
                    [class.bg-attr-base]="col === 'base'"
                    [class.bg-attr-buff]="col === 'buff'"
                    [class.bg-attr-assign]="col === 'assign'"
                    [class.bg-attr-magnify]="col === 'magnify'"
                    [tooltip]="tip"
                  >
                  </span>
                }
                <ng-template #tip>
                  <nwb-checkpoint-tip [total]="stat.total" [points]="step.value" [ref]="stat.ref" />
                </ng-template>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
