<div class="grid gap-1 pr-[10px]">
  <span class="font-bold">Points</span>
  <span class="font-bold text-center">{{ pointsAvailable$ | async }}</span>
  <span></span>
  <ng-container *ngFor="let stat of stats$ | async; trackBy: trackById" class="flex flex-row">
    <label class="inline-flex items-center justify-center font-bold uppercase">{{ stat.name | nwText }}</label>
    <div class="flex flex-row gap-1 indicator">
      <span
        class="indicator-item indicator-top indicator-end text-xs whitespace-nowrap overflow-visible w-0"
        *ngIf="stat.assigned || stat.buffs || stat.magnify"
      >
        <span class="text-attr-base text-opacity-75">{{ stat.base }}</span>
        <ng-container *ngIf="stat.buffs">
          + <span class="text-attr-buff text-opacity-75">{{ stat.buffs }}</span>
        </ng-container>
        <ng-container *ngIf="stat.assigned">
          + <span class="text-attr-assign text-opacity-75">{{ stat.assigned }}</span>
        </ng-container>
        <ng-container *ngIf="stat.magnify">
          + <span class="text-attr-magnify text-opacity-75">{{ stat.magnify }}</span>
        </ng-container>
      </span>
      <input
        type="number"
        class="input input-bordered input-sm w-16 px-1 text-right"
        [min]="stat.inputMin"
        [max]="stat.inputMax"
        [ngModel]="stat.total"
        (ngModelChange)="attributeInput(stat, $event)"
        (focus)="attributeFocus($event)"
        (blur)="attributeBlur(stat, $event)"
        (wheel)="($event)"
      />
    </div>
    <div class="flex flex-row justify-between items-center relative">
      <div class="tracker absolute left-0 w-full flex flex-row overflow-hidden">
        <span
          *ngIf="stat.base"
          class="flex-none bg-attr-base rounded-l-md"
          [style.width.%]="(stat.base / stat.sliderEnd) * 100"
        ></span>
        <span
          *ngIf="stat.buffs"
          class="flex-none bg-attr-buff"
          [class.rounded-r-md]="!stat.assigned && !stat.magnify"
          [style.width.%]="(stat.buffs / stat.sliderEnd) * 100"
        ></span>
        <span
          *ngIf="stat.assigned"
          [class.rounded-r-md]="!stat.magnify"
          class="flex-none bg-attr-assign"
          [style.width.%]="(stat.assigned / stat.sliderEnd) * 100"
        ></span>
        <span
          *ngIf="stat.magnify"
          class="flex-none bg-attr-magnify rounded-r-md"
          [style.width.%]="(stat.magnify / stat.sliderEnd) * 100"
        ></span>
      </div>
      <div class="flex-1 flex flex-row justify-between items-center relative mr-[-10px]">
        <ng-container *ngFor="let step of steps$ | async; trackBy: trackById">
          <div
            class="segment relative h-5 cursor-pointer"
            [style.flex]="step.weight"
            (click)="attributeToggle(stat, step.value)"
          >
            <span
              *ngIf="getBulletColor(stat, step.value); let col"
              class="badge absolute right-0"
              [class.bg-zinc-800]="col === 'zink'"
              [class.bg-attr-base]="col === 'base'"
              [class.bg-attr-buff]="col === 'buff'"
              [class.bg-attr-assign]="col === 'assign'"
              [class.bg-attr-magnify]="col === 'magnify'"
              [tooltip]="tip"
              [tooltipClass]="'p-0'"
            >
            </span>
            <ng-template #tip>
              <div *ngIf="getAbilities(stat, step.value) | async; let list" class="py-2 px-3">
                <div *ngFor="let item of list" [class.text-success]="stat.total >= step.value">
                  <span [nwHtml]="item.Description | nwText | nwTextBreak"></span>
                </div>
              </div>
            </ng-template>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
