<div class="flex flex-col gap-4 p-4">
  <ng-content *ngTemplateOutlet="tplOffender" />
  <ng-content *ngTemplateOutlet="tplDefender" />
</div>
<div class="p-4 pt-0 sticky -bottom-4">
  <ng-content *ngTemplateOutlet="tplResults" />
</div>

<ng-template #tplOffender>
  <div>
    <h3
      class="text-lg uppercase relative text-center font-serif text-nw-description nw-bg-title bg-bottom h-12 flex justify-center items-end"
    >
      Attacker
      @if (!isOffenderBound()) {
        <button
          class="btn btn-ghost btn-square absolute top-0 right-0"
          (click)="resetOffender()"
          [tooltip]="'Reset Attacker'"
        >
          <nwb-icon [icon]="iconReset" class="w-5 h-5" />
        </button>
      }
    </h3>
    <div class="flex flex-col gap-4 mt-4">
      <div class="grid gap-4 grid-auto-fit-80">
        <nwb-offender-stats-control />
        <nwb-offender-weapon-control />
        <nwb-offender-attack-control />
        <nwb-offender-conversion-control />
        <nwb-offender-dot-control />
      </div>
      <nwb-offender-mods-control />
    </div>
  </div>
</ng-template>

<ng-template #tplDefender>
  <div>
    <h3
      class="text-lg uppercase relative text-center font-serif text-nw-description nw-bg-title bg-bottom h-12 flex justify-center items-end"
    >
      Defender
      @if (!isDefenderBound()) {
        <button
          class="btn btn-ghost btn-square absolute top-0 right-0"
          (click)="resetDefender()"
          [tooltip]="'Reset Defender'"
        >
          <nwb-icon [icon]="iconReset" class="w-5 h-5" />
        </button>
      }
    </h3>
    <div class="flex flex-col gap-4 mt-4">
      <div class="grid gap-x-4 gap-y-1 grid-auto-fit-80">
        <nwb-defender-stats-control />
        <nwb-defender-physical-armor-control />
        <nwb-defender-elemental-armor-control />
      </div>
      <nwb-defender-mods-control />
    </div>
  </div>
</ng-template>

<ng-template #tplFormula>
  <div>
    <h3
      class="text-lg uppercase relative text-center font-serif text-nw-description nw-bg-title bg-bottom h-12 flex justify-center items-end"
    >
      Formula
    </h3>

    <nwb-damage-output />
  </div>
</ng-template>

<ng-template #tplResults>
  <nwb-damage-results />
</ng-template>
