<nwb-item-header class="gap-2">
  <a [nwbItemIcon]="store.icon()" class="w-[48px] h-[48px]"> </a>
  <nwb-item-header-content class="z-10" [title]="store.name() | nwText | nwTextBreak: ' - '" [text1]="'Promotion'" />
</nwb-item-header>
<div class="p-3 flex flex-col gap-2">
  @if (store.effects()?.length) {
    @for (item of store.effects(); track $index) {
      <div class="flex flex-row gap-1">
        <picture class="flex-none">
          <img [nwImage]="item.icon" class="w-6 h-6" />
        </picture>
        <div class="text-sky-600">
          <b>{{ item.label | nwText }}: </b>
          {{ item.text | nwText }}
        </div>
      </div>
    }
  }
  <ng-content />
</div>
