<nwb-item-header class="gap-2">
  <a [nwbItemIcon]="icon()" [nwLink]="recordId()" [nwLinkResource]="'gatherable'" class="w-[76px] h-[76px]">
  </a>
  <nwb-item-header-content
    class="z-10"
    [title]="name() | nwText | nwTextBreak : ' - '"
    [text1]="'Gatherable'"
    [text2]="size()"
    [text3]="tradeSkill()"
  ></nwb-item-header-content>
</nwb-item-header>
<div class="p-3 flex flex-col gap-2">
  <ng-container *ngIf="props(); let props">
    <div class="flex flex-row gap-1" *ngFor="let prop of props">
      <span>{{prop.label}}: </span>
      <span>{{prop.value}}</span>
    </div>
  </ng-container>

  <nwb-gatherable-detail-map/>
  <ng-content></ng-content>
</div>
