<ion-header class="bg-base-300">
  <div class="flex flex-col-reverse md:flex-row">
    <ul class="flex flex-row flex-nowrap flex-1 w-full overflow-x-auto scrollbar-hide gap-1">
      <li>
        <button
          [nwbDataCateogryMenu]
          [category]="category()"
          [showCounter]="true"
          [defaultRoute]="defaultRoute"
          [defaultTitle]="title"
          [routePrefix]="'..'"
          class="btn btn-ghost normal-case text-left"
        ></button>
      </li>
      <span class="flex-1"></span>
      <li *ngIf="service.canToggleMode()">
        <button class="btn btn-square btn-ghost" [nwbDataViewToggle]></button>
      </li>
      <li>
        <button
          class="btn btn-square btn-ghost"
          [nwbDataViewOptionsMenu]
          [persistKey]="persistKey"
          [disabled]="!service.isTableActive()"
        ></button>
      </li>
    </ul>
    <div class="flex-none p-2 w-full md:max-w-[256px]">
      <nwb-quicksearch-input [autofocus]="true" [placeholder]="'Quickfilter'" />
    </div>
  </div>
</ion-header>
<ion-content [scrollY]="false">
  <ion-split-pane [when]="showSidebar()" contentId="main" style="--side-min-width: 320px; --side-max-width: 420px">
    <div class="ion-page order-2 flex flex-row" id="main">
      @if (service.isGridActive()) {
        <nwb-virtual-grid
          [enableQuickfilter]="true"
          [data]="service.categoryItems$ | async"
          [options]="service.virtualOptions"
          [identifyBy]="service.entityIdGetter"
          [selectionRouteParam]="selectionParam"
        />
      } @else if (service.isTableActive()) {
        <nwb-table-grid
          (ready$)="service.onTableReady($event)"
          [enableQuickfilter]="true"
          [data]="service.categoryItems$ | async"
          [options]="service.tableGridOptions"
          [identifyBy]="service.entityIdGetter"
          [persistKey]="persistKey"
          [filterQueryParam]="filterParam"
          [selectionRouteParam]="selectionParam"
        />
      }
      <nwb-zone-detail-map
        class="hidden 3xl:flex flex-1"
        [nwbZoneDetail]="zoneIdParam()"
        [markVital]="vitalIdParam()"
        (zoneClicked)="onZoneClicked($event)"
        (vitalClicked)="onVitalClicked($event)"
      />
    </div>
    <ion-menu contentId="main" class="order-2">
      @if (showSidebar()) {
        <ion-content class="ion-p-4">
          <router-outlet />
        </ion-content>
      }
    </ion-menu>
  </ion-split-pane>
  <ion-modal
    [isOpen]="showModal()"
    [initialBreakpoint]="100 | px2vh"
    [breakpoints]="[12 | px2vh, 100 | px2vh, 0.45, 1]"
    [backdropBreakpoint]="0.5"
    [backdropDismiss]="false"
  >
    @if (showModal()) {
      <ion-content class="ion-p-2 bg-base-300">
        <router-outlet #outlet="outlet" />
      </ion-content>
    }
  </ion-modal>
</ion-content>
