<nwb-detail-drawer class="hidden lg:flex flex-col flex-1 lg:w-[450px]">
  <div *nwbDetailDrawerContent class="flex-1 flex flex-col gap-4 bg-base-200 layout-pad">
    <nwb-zone-detail
      class="flex-none bg-black"
      [zoneId]="itemId()"
      #detail
    />
    <nwb-table-grid
      #table
      class="flex-1"
      [identifyBy]="vitalIdFn"
      [data]="detail.store.vitals$ | async"
      [options]="gridOptions"
      [selection]="[vitalId()]"
      (selectedRow$)="onVitalClicked($event)"
      [enableQuickfilter]="true"
    />
    <!-- <nwb-virtual-grid
      class="flex-1"
      [identifyBy]="vitalIdFn"
      [data]="detail.store.vitals$ | async"
      [options]="virtualGridOptions"
      [selection]="[vitalId()]"
      (selection$)="onVitalClicked($event?.[0])"
    /> -->
  </div>
</nwb-detail-drawer>
