@if(familyIcon(); as icon) {
  <a
    [tooltip]="familyTip()"
    class="absolute left-1"
    [nwLink]="id()"
    [nwLinkResource]="'vitals'"
    target="_blank"
  >
    <img [nwImage]="icon" class="w-12 h-12" />
  </a>
}
<a
  class="flex flex-row uppercase text-sm font-serif items-center gap-1 hover:underline leading-none"
  [routerLink]="['/vitals/table', id()]"
>
  <span>{{ name() | nwText }}</span>
</a>
<div
  class="w-52 flex flex-row items-center justify-center leading-none border border-error-content rounded-sm bg-gradient-to-r from-red-600 via-red-950 to-red-600 font-nimbus font-bold text-center text-xs shadow-black text-shadow-sm"
>
  {{ health() | number: '1.0-0' }}
</div>
<div class="relative flex items-center justify-center -mt-4 pointer-events-none">
  <img [nwImage]="typeMarker()" class="h-10 w-36 object-cover" />
  <span class="absolute top-2 mx-auto text-shadow-sm shadow-black">
    {{ level() }}
  </span>
</div>
