<table class="table table-compact w-full">
  <thead class="sticky top-0">
    <tr >
      <th>Level</th>
      <td class="text-right">to next</td>
      <td class="text-right">to {{limit$ | async}}</td>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let row of data$ | async; let i = index" >
      <th>{{ row.Level }}</th>
      <td class="text-right">{{ row.RequiredItemQuantity | number:'0.0-0' }}</td>
      <td class="text-right">{{ row['total'] | number:'0.0-0' }}</td>
    </tr>
  </tbody>
</table>
