<table class="table table-compact w-full" (mouseleave)="setMarker(null)" *ngIf="vm$ | async; let vm">
  <thead class="sticky top-0 z-20">
    <tr>
      <th>Upgrade</th>
      <th>Target GS</th>
      <th>
        <div class="flex flex-row items-center">
          <img [nwImage]="vm.shardIcon" class="inline-block w-5 h-5" /> Costs
        </div>

      </th>
      <th></th>
    </tr>
  </thead>
  <tbody >
    <tr
      *ngFor="let row of vm.steps; let i = index; trackBy: trackByIndex"
      tabindex="1"
      (mouseenter)="setMarker(row)"
      (click)="setMarker(row)"
      [class.opacity-25]="vm.marker && vm.marker.shardsTotal < row.shardsTotal"
    >
      <th>
        <span [nwText]="row.item.name"></span> to <span>{{ row.item.score }}</span>
      </th>
      <td>{{ row.score | number : '1.2-2' }}</td>
      <td>{{ row.shardsTotal }}</td>
      <td><button class="btn btn-xs btn-success" (click)="upgrade(row)">Upgrade</button></td>
    </tr>
  </tbody>
</table>
