<button
  class="btn btn-sm btn-square"
  [tooltip]="'Primary'"
  [style.background-color]="debug() ? '#FF0000' : dyeR()?.Color"
  [disabled]="!!dyeRDisabled()"
  (click)="pickR()"
></button>
<button
  class="btn btn-sm btn-square"
  [tooltip]="'Secondary'"
  [style.background-color]="debug() ? '#00FF00' : dyeG()?.Color"
  [disabled]="!!dyeGDisabled()"
  (click)="pickG()"
></button>
<button
  class="btn btn-sm btn-square"
  [tooltip]="'Accent'"
  [style.background-color]="debug() ? '#0000FF' : dyeB()?.Color"
  [disabled]="!!dyeBDisabled()"
  (click)="pickB()"
></button>
<button
  class="btn btn-sm btn-square"
  [tooltip]="'Tint'"
  [style.background-color]="debug() ? '#FF00FF' : dyeA()?.Color"
  [disabled]="!!dyeADisabled()"
  (click)="pickA()"
></button>
<button
  [tooltip]="debug() ? 'Hide Mask Layers' : 'Show Mask Layers'"
  class="btn btn-sm btn-square"
  [class.btn-outline]="!debug()"
  [class.btn-primary]="debug()"
  (click)="toggleDebug()"
></button>
