<div class="absolute top-0 left-0 right-0 bottom-0 flex flex-col z-50 pointer-events-none">
  <div class="p-3" *ngIf="!isSuported$()">
    <div class="alert shadow-lg my-2 bg-base-100">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="stroke-error flex-shrink-0 w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
        <div>
          <h3 class="font-bold">Error</h3>
          <div class="text-xs">WebGL is not supported by this browser</div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3" *ngIf="hasError$()">
    <div class="alert shadow-lg my-2 bg-base-100">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="stroke-error flex-shrink-0 w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
        <div>
          <h3 class="font-bold">Error</h3>
          <div class="text-xs">Failed to load model</div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3" *ngIf="isEmpty$()">
    <div class="alert shadow-lg my-2 bg-base-100">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="stroke-error flex-shrink-0 w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
        <div>
          <h3 class="font-bold">Error</h3>
          <div class="text-xs">No models found</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="bg-gradient-to-b from-base-300 to-black absolute top-0 left-0 right-0 bottom-0 flex flex-col items-center justify-center z-50 pointer-events-none"
  *ngIf="isLoading$()"
  @fade
>
  <picture class="block aspect-square w-40 h-40 relative">
    <img
      class="absolute object-contain top-0 left-0 right-0 bottom-0 w-full h-full animate-spin-cw"
      [nwImage]="'assets/loaders/crafting_rune_clockwise.png'"
    />
    <img
      class="absolute object-contain top-0 left-0 right-0 bottom-0 w-full h-full animate-spin-ccw"
      [nwImage]="'assets/loaders/crafting_rune_counter_clockwise.png'"
    />
  </picture>
</div>

<div class="flex flex-col items-end gap-1 absolute top-2 right-2 z-40" *ngIf="isSuported$() && !isEmpty$()">
  <div class="flex flex-row gap-1">
    <ng-container *ngIf="!isLoading$() && !hasError$()">
      <button class="btn btn-square btn-ghost btn-sm drop-shadow-md" (click)="capturePhoto()">
        <nwb-icon [icon]="iconCamera" class="w-4 h-4"></nwb-icon>
      </button>
      <button class="btn btn-square btn-ghost btn-sm drop-shadow-md" (click)="toggleFullscreen()">
        <nwb-icon [icon]="iconFullscreen" class="w-4 h-4"></nwb-icon>
      </button>
    </ng-container>
    <button class="btn btn-square btn-ghost btn-sm drop-shadow-md" (click)="closeDialog()" *ngIf="canClose$()">
      <nwb-icon [icon]="iconClose" class="w-4 h-4"></nwb-icon>
    </button>
  </div>
</div>

<div class="flex flex-col gap-1 absolute bottom-2 right-2 z-40" *ngIf="hasLoaded$() && !isEmpty$()">
  <button
    *ngFor="let item of buttons$()"
    class="btn btn-ghost btn-sm"
    [class.text-primary]="item.active"
    style="text-shadow: 1px 1px 2px black"
    (click)="show(item.index)"
  >
    {{ item.label }}
  </button>
</div>

<div *ngIf="store.canDye$()" class="absolute bottom-2 right-2 left-2 flex items-center justify-center z-10">
  <nwb-dye-panel
    [dyeColors]="store.dyeColors$()"
    [dyeR]="store.dyeR$()"
    [dyeG]="store.dyeG$()"
    [dyeB]="store.dyeB$()"
    [dyeA]="store.dyeA$()"
    [debug]="store.dyeDebug$()"
    (dyeRChange)="store.patchState({ dyeR: $event })"
    (dyeGChange)="store.patchState({ dyeG: $event })"
    (dyeBChange)="store.patchState({ dyeB: $event })"
    (dyeAChange)="store.patchState({ dyeA: $event })"
    (debugChange)="store.patchState({ dyeDebug: $event })"
    [dyeRDisabled]="store.dyeRDisabled$()"
    [dyeGDisabled]="store.dyeGDisabled$()"
    [dyeBDisabled]="store.dyeBDisabled$()"
    [dyeADisabled]="store.dyeADisabled$()"
  ></nwb-dye-panel>
</div>
<div #viewerHost class="w-full h-full z-0"></div>
