<div class="absolute top-0 left-0 right-0 bottom-0 flex flex-col z-50 pointer-events-none">
  @if (isEmpty()) {
    <div
      class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-center justify-center z-50 pointer-events-none"
    >
      <nwb-icon [icon]="iconEmpty" class="flex-shrink-0 w-20 h-20 opacity-10" />
    </div>
  }
  @if (!isSuported()) {
    <div class="p-3">
      <div class="alert shadow-lg my-2 bg-base-100">
        <nwb-icon [icon]="errorIcon" class="text-error flex-shrink-0 w-6 h-6 self-start" />
        <div>
          <h3 class="font-bold">Error</h3>
          <div class="text-xs">WebGL is not supported by this browser</div>
        </div>
      </div>
    </div>
  }
  @if (hasError()) {
    <div class="p-3">
      <div class="alert shadow-lg my-2 bg-base-100">
        <nwb-icon [icon]="errorIcon" class="text-error flex-shrink-0 w-6 h-6 self-start" />
        <div>
          <h3 class="font-bold">Error</h3>
          <div class="text-xs">Failed to load model</div>
        </div>
      </div>
    </div>
  }
</div>

@if (isLoading()) {
  <div
    class="bg-gradient-to-b from-base-300 to-black absolute top-0 left-0 right-0 bottom-0 flex flex-col items-center justify-center z-50 pointer-events-none fade"
    animate.enter="fade-in"
    animate.leave="fade-out"
  >
    <picture class="block aspect-square w-40 h-40 relative">
      <img
        class="absolute object-contain top-0 left-0 right-0 bottom-0 w-full h-full animate-spin-cw"
        [nwImage]="'assets/loaders/basicscreenrune1.png'"
      />
      <img
        class="absolute object-contain top-0 left-0 right-0 bottom-0 w-full h-full animate-spin-ccw"
        [nwImage]="'assets/loaders/basicscreenrune3.png'"
      />
      <img
        class="absolute object-contain top-0 left-0 right-0 bottom-0 w-full h-full animate-spin-ccw"
        [nwImage]="'assets/loaders/basicscreenrune2.png'"
      />
      <img
        class="absolute object-contain top-0 left-0 right-0 bottom-0 w-full h-full animate-pulse"
        [nwImage]="'assets/loaders/nwlogo.png'"
      />
    </picture>
    <div class="absolute left-0 right-0 bottom-0 text-center pb-4 font-bold">{{ progress() }}</div>
  </div>
}

@if (isSuported() && hasLoaded() && !isEmpty()) {
  <div
    class="flex flex-col items-end gap-1 absolute top-2 right-2 z-40 group-hover:opacity-100 transition-opacity duration-100"
  >
    <div class="flex flex-row gap-1">
      @if (!isLoading() && !hasError()) {
        <div class="join">
          @if (store.animations()?.length) {
            <button
              class="join-item btn btn-square btn-sm drop-shadow"
              [class.btn-ghost]="!isLight()"
              (click)="toggleAnimation()"
            >
              <span class="swap swap-rotate" [class.swap-active]="isAnimating()">
                <nwb-icon [icon]="iconPause" class="w-4 h-4 swap-on" />
                <nwb-icon [icon]="iconPlay" class="w-4 h-4 swap-off" />
              </span>
            </button>
            <button
              class="join-item btn btn-square btn-sm drop-shadow"
              [class.btn-ghost]="!isLight()"
              [cdkMenuTriggerFor]="tplMenuAnim"
            >
              <nwb-icon [icon]="iconFilms" class="w-4 h-4" />
            </button>
            <ng-template #tplMenuAnim>
              <ul
                cdkMenu
                class="dropdown-content menu menu-compact flex-nowrap bg-base-300 border border-base-200 min-w-64 rounded-md max-h-96 shadow-md overflow-y-auto"
              >
                @for (name of store.animations(); track $index; let i = $index) {
                  <li cdkMenuItem>
                    <a [class.text-primary]="name === store.animation()" (click)="store.setAnimation(name)">
                      {{ name }}
                    </a>
                  </li>
                }
              </ul>
            </ng-template>
          }
          @if (buttons()?.length) {
            <button
              class="join-item btn btn-square btn-sm drop-shadow"
              [class.btn-ghost]="!isLight()"
              [cdkMenuTriggerFor]="tplModels"
            >
              <nwb-icon [icon]="iconMore" class="w-4 h-4" />
            </button>
            <ng-template #tplModels>
              <ul
                cdkMenu
                class="dropdown-content menu menu-compact flex-nowrap bg-base-300 border border-base-200 min-w-64 rounded-md max-h-96 shadow-md overflow-y-auto"
              >
                @for (item of buttons(); track $index) {
                  <li>
                    <a [class.text-primary]="item.active" (click)="show(item.index)">
                      {{ item.label }}
                    </a>
                  </li>
                }
              </ul>
            </ng-template>
          }
        </div>

        <div class="join">
          <button
            class="join-item btn btn-square btn-sm drop-shadow"
            [class.btn-ghost]="!isLight()"
            (click)="toggleMode()"
          >
            <span class="swap swap-rotate" [class.swap-active]="mode() === 'light'">
              <nwb-icon [icon]="iconSun" class="w-4 h-4 swap-on" />
              <nwb-icon [icon]="iconMoon" class="w-4 h-4 swap-off" />
            </span>
          </button>
          <button
            class="join-item btn btn-square btn-sm drop-shadow"
            [class.btn-ghost]="!isLight()"
            [cdkMenuTriggerFor]="tplMenuEnv"
          >
            <nwb-icon [icon]="iconEnv" class="w-4 h-4" />
          </button>
          <ng-template #tplMenuEnv>
            <ul
              cdkMenu
              class="dropdown-content menu menu-compact flex-nowrap bg-base-300 border border-base-200 min-w-40 rounded-md max-h-96 shadow-md overflow-y-auto"
            >
              @for (name of store.environments(); track $index; let i = $index) {
                <li cdkMenuItem>
                  <a [class.text-primary]="i === store.environmentIndex()" (click)="store.setEnvironment(name)">
                    env {{ i + 1 }}
                  </a>
                </li>
              }
            </ul>
          </ng-template>
        </div>

        <div class="join">
          <button
            class="join-item btn btn-square btn-sm drop-shadow"
            [class.btn-ghost]="!isLight()"
            (click)="capturePhoto()"
          >
            <nwb-icon [icon]="iconCamera" class="w-4 h-4" />
          </button>
          <button
            class="join-item btn btn-square btn-sm drop-shadow"
            [class.btn-ghost]="!isLight()"
            (click)="toggleFullscreen()"
          >
            <nwb-icon [icon]="iconFullscreen" class="w-4 h-4" />
          </button>
        </div>
      }
      @if (canClose()) {
        <button class="btn btn-square btn-sm drop-shadow" [class.btn-ghost]="!isLight()" (click)="closeDialog()">
          <nwb-icon [icon]="iconClose" class="w-4 h-4" />
        </button>
      }
    </div>
  </div>
}

@if (store.canDye()) {
  <div
    class="absolute bottom-2 right-2 left-2 flex items-center justify-center z-10 opacity-0 group-hover:opacity-100 transition-opacity duration-100"
  >
    <nwb-dye-panel
      [dyeColors]="store.dyeColors()"
      [dyeR]="store.dyeR()"
      [dyeG]="store.dyeG()"
      [dyeB]="store.dyeB()"
      [dyeA]="store.dyeA()"
      [debug]="store.dyeDebug()"
      (dyeRChange)="store.setDyeR($event)"
      (dyeGChange)="store.setDyeG($event)"
      (dyeBChange)="store.setDyeB($event)"
      (dyeAChange)="store.setDyeA($event)"
      (debugChange)="store.setDebug($event)"
      [dyeRDisabled]="store.dyeRDisabled()"
      [dyeGDisabled]="store.dyeGDisabled()"
      [dyeBDisabled]="store.dyeBDisabled()"
      [dyeADisabled]="store.dyeADisabled()"
    />
  </div>
}
<canvas #canvas class="w-full h-full z-0" [class.opacity-0]="isEmpty()"></canvas>
