@font-face {
  font-family: 'New-World';
  src: url('../../fonts/IMFellDWPica-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'New-World';
  src: url('../../fonts/IMFellDWPica-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Caslon-Antique';
  src: url('../../fonts/caslon/CaslonAntique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Caslon-Antique';
  src: url('../../fonts/caslon/CaslonAntique-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Caslon-Antique';
  src: url('../../fonts/caslon/CaslonAntique-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Caslon-Antique';
  src: url('../../fonts/caslon/CaslonAntique-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nimbus';
  src: url('../../fonts/nimbus/NimbusSanL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nimbus';
  src: url('../../fonts/nimbus/NimbusSanL-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Nimbus';
  src: url('../../fonts/nimbus/NimbusSanL-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Nimbus';
  src: url('../../fonts/nimbus/NimbusSanL-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

