@font-face {
  font-family: 'New World';
  src: url('^assets/fonts/IMFellDWPica-Regular.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'New World';
  src: url('^assets/fonts/IMFellDWPica-Italic.ttf') format('ttf');
  font-style: italic;
}
