<ion-header class="bg-base-300">
  <ul class="menu menu-horizontal overflow-x-auto flex-nowrap">
    <li [routerLinkActive]="'bordered'">
      <a [routerLink]="'xp'"> Level </a>
    </li>
    <li [routerLinkActive]="'bordered'">
      <a [routerLink]="'tradeskills'"> Trade Skills </a>
    </li>
    <li [routerLinkActive]="'bordered'">
      <a [routerLink]="'weapons'"> Weapon Mastery </a>
    </li>
  </ul>
</ion-header>
<ion-content [scrollY]="false">
  <div class="h-full layout-content">
    <router-outlet></router-outlet>
  </div>
</ion-content>
