<div class="max-w-[1600px] mx-auto flex flex-col layout-gap">
  <div class="alert mb-3 bg-base-300">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info flex-shrink-0 w-6 h-6">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
    <div>
      <div>Track your character level here.</div>
      <div>The value is used to adjust perks throughout the application.</div>
    </div>
  </div>

  <div class="flex flex-row layout-gap mb-1">
    <nwb-level-input
      [ngModel]="level$ | async"
      (ngModelChange)="updateLevel($event)"
      class="flex-none self-center w-28"
    ></nwb-level-input>
    <nwb-xp-level-info></nwb-xp-level-info>
  </div>
  <nwb-xp-chart></nwb-xp-chart>

  <nwb-xp-table class="2xl:col-span-5"></nwb-xp-table>
</div>
