<div class="alert mb-3">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
    <div>
      <div>Track your character level here.</div>
      <div>The value is used to adjust perks throughout the application.</div>
    </div>
  </div>
</div>

<div class="flex-1  overflow-auto">
  <div class="grid grid-cols-1 2xl:grid-cols-12 layout-gap">
    <div class="2xl:col-span-7">
      <div class="flex flex-row layout-gap mb-1">
        <nwb-level-input [(ngModel)]="level" class="flex-none self-center"></nwb-level-input>
        <nwb-xp-level-info></nwb-xp-level-info>
      </div>
      <nwb-xp-chart ></nwb-xp-chart>
    </div>
    <nwb-xp-table class="2xl:col-span-5"></nwb-xp-table>
  </div>
</div>
