<ion-content class="ion-p-4">
  <div class="flex flex-col layout-gap mx-auto max-w-[1600px]">
    <div class="grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-4 layout-gap">
      <div *ngFor="let item of categories$ | async; trackBy: trackBy" class="flex flex-col layout-gap">
        <h3 class="text-xl font-bold uppercase nw-bg-title font-caslon text-center bg-bottom">{{ item.name | nwText }}</h3>
        <div *ngFor="let weapon of item.weapons; trackBy: trackBy">
          <nwb-weapon-level-input
            [icon]="weapon.IconPath"
            [label]="weapon.UIName | nwText"
            [ngModel]="getValue(weapon)"
            (ngModelChange)="updateWeapon(weapon, $event)"
          />
        </div>
      </div>
    </div>
    <nwb-weapon-chart class="w-full 2xl:max-w-[50%] mx-auto bg-base-100 rounded-md"/>
  </div>
</ion-content>
