<picture class="grid-image aspect-[7/4] relative select-none opacity-50 w-40 mx-auto">
  <img [nwImage]="icon" class="absolute top-0 left-0 right-0 bottom-0 object-contain"/>
</picture>
<label class="grid-label p-2 text-center font-bold text-lg whitespace-nowrap overflow-hidden text-ellipsis">
  {{ label | nwText }}
</label>

<div class="grid-input flex flex-row">
  <input
    #input
    min="0"
    type="number"
    [attr.max]="maxLevel"
    class="w-full px-4 pb-4 input text-center font-bold text-2xl border-0 focus:outline-none appearance-none cursor-pointer"
    placeholder="0"
    [(ngModel)]="modelValue"
    (focus)="isSliderOpen = true"
  />
</div>
<!--
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="cdkOrigin"
  [cdkConnectedOverlayOpen]="isSliderOpen"
  [cdkConnectedOverlayHasBackdrop]="false"
  [cdkConnectedOverlayPositions]="[
    { originX: 'start', originY: 'bottom', overlayX: 'start', overlayY: 'top', offsetY: 2 },
    { originX: 'center', originY: 'bottom', overlayX: 'center', overlayY: 'top', offsetY: 2 },
    { originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top', offsetY: 2 }
  ]"
  [cdkConnectedOverlayPanelClass]="['bg-base-100/75', 'rounded-md', 'shadow-md', 'p-2']"
  (overlayOutsideClick)="onOutsideClick()"
  (backdropClick)="isSliderOpen = false"
  (detach)="isSliderOpen = false"
>
  <nwb-input-slider
    [(ngModel)]="modelValue"
    [min]="minLevelValue"
    [max]="maxLevelValue"
    [bars]="true"
    [barsStep]="1"
    [values]="true"
    class="block w-96"
  />
</ng-template>
 -->
