<picture
  class="block absolute top-0 h-full aspect-square transition-all opacity-0 group-hover:opacity-30 scale-[300%] group-hover:scale-200"
>
  <img
    class="h-full aspect-square absolute animate-spin-cw"
    loading="lazy"
    src="/assets/loaders/crafting_rune_clockwise.png"
  />
</picture>
<picture
  class="block absolute top-0 left-0 w-full h-full opacity-25 group-hover:opacity-35 group-focus-within:opacity-35"
>
  <img [nwImage]="icon" class="w-full h-full object-contain select-none" />
</picture>

<label
  class="relative w-full h-full flex flex-col items-center justify-center font-serif uppercase text-nw-description"
>
  <span class="whitespace-nowrap overflow-hidden text-ellipsis text-xl">
    {{ label | nwText }}
  </span>
  <input
    #input
    min="0"
    type="number"
    [attr.max]="maxLevel"
    class="w-full bg-transparent text-center text-2xl border-0 outline-0 focus:outline-0 leading-1 font-caslon"
    placeholder="0"
    [(ngModel)]="modelValue"
    (focus)="isSliderOpen = true"
  />
</label>
