<ng-content select="header"></ng-content>
<!-- @defer fixes layout issue -->
@defer (on timer(0.2s)) {
  <cdk-virtual-scroll-viewport
    [itemSize]="itemSize()"
    [minBufferPx]="itemSize() * 2"
    [maxBufferPx]="itemSize() * 3"
    class="overflow-hidden mx-auto"
    [style.width.px]="store.gridSize()"
  >
    <div
      class="grid"
      [ngClass]="gridClass"
      [style.--nwb-vg-cols]="colCount()"
      [style.--nwb-vg-rows]="rowCount()"
      [style.--nwb-vg-height.px]="itemSize()"
    >
      <ng-container *cdkVirtualFor="let row of rows(); trackBy: trackRowBy;" >
        <ng-container [ngTemplateOutlet]="customRow?.template || tplRow" [ngTemplateOutletContext]="row"/>
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
}
<ng-content select="footer" />

<ng-template [nwbVirtualGridRow] let-row #tplRow>
  @if (row.type === 'section' && row.section; as section) {
    <div class="grid-section">
      @if (sectionComponent) {
        <ng-container
          [ngComponentOutlet]="sectionComponent"
          [ngComponentOutletInputs]="{ section: section.$implicit }"
        />
      }
      @if (customSection?.template) {
        <ng-container [ngTemplateOutlet]="customSection.template" [ngTemplateOutletContext]="section" />
      }
    </div>
  }
  @if (row.type === 'items') {
    @for (cell of row.items; track trackCellBy(cell.index, cell.$implicit)) {
      <ng-container [ngTemplateOutlet]="customCell?.template || tplCell" [ngTemplateOutletContext]="cell" />
    }
  }
</ng-template>

<ng-template [nwbVirtualGridCell] let-data #tplCell>
  @if (!data && componentEmpty) {
    <ng-container [ngComponentOutlet]="componentEmpty"></ng-container>
  }
  @if (data || !componentEmpty) {
    <ng-container
      [ngComponentOutlet]="component"
      [ngComponentOutletInputs]="{ data: data, selected: isSelected(data) | async }"
    />
  }
</ng-template>
