<ion-content class="ion-p-4">
  <div class="grid grid-cols-fill-sm gap-4 w-auto max-w-4xl mx-auto">
    <div class="bg-base-300 rounded-md p-4 prose prose-sm row-span-2">
      @if (backend.isEnabled()) {
        <h3 class="uppercase">Account</h3>
        @if (signedIn()) {
          <p>
            You are signed in as <b class="uppercase text-success"> {{ session().name }} </b>
          </p>
          @if (!backend.isOnline()) {
            <div class="alert alert-error mb-4">
              The session could net be verified, the server is probably offline or not reachable. You can still use the
              app. The data will be stored locally and synced once the server is back online.
            </div>
          }
        } @else {
          <p>You are not signed, running in <b class="text-primary">offline</b> mode</p>
        }

        @if (signedIn()) {
          <div class="form-control w-full">
            <button class="btn w-full" (click)="backend.signOut()">Sign out</button>
          </div>
        } @else {
          <div class="form-control w-full">
            <button class="btn w-full" (click)="backend.signIn()">Sign in</button>
          </div>
        }
      }
      <h3 class="uppercase">Local database</h3>
      @if (signedIn()) {
        <p>
          In <b class="text-success">online</b> mode, your data is stored in a remote database. For quick access, it is
          also synced to a local database inside the browser.
        </p>
      } @else {
        <p>
          In <b class="text-warning">offline</b> mode, your data is stored in a local database inside the browser. This
          can be wiped on cache clear, so it is recommended to export your data regularly.
        </p>
      }
      <table class="table table-zebra table-xs">
        <tbody>
          <tr>
            <td></td>
            <td><i class="text-primary text-nowrap">offline</i> mode data</td>
            @if (signedIn()) {
              <td>
                Owned by <i class="text-success">{{ session().name }}</i>
              </td>
            }
          </tr>
          <tr>
            <td>Characters</td>
            <td>{{ countLocal.value().characters }}</td>
            @if (signedIn()) {
              <td>{{ countUser.value().characters }}</td>
            }
          </tr>
          <tr>
            <td>Skill trees</td>
            <td>{{ countLocal.value().skillTrees }}</td>
            @if (signedIn()) {
              <td>{{ countUser.value().skillTrees }}</td>
            }
          </tr>
          <tr>
            <td>Gearsets</td>
            <td>{{ countLocal.value().gearsets }}</td>
            @if (signedIn()) {
              <td>{{ countUser.value().gearsets }}</td>
            }
          </tr>
          <tr>
            <td>Inventory Items</td>
            <td>{{ countLocal.value().items }}</td>
            @if (signedIn()) {
              <td>{{ countUser.value().items }}</td>
            }
          </tr>
          <tr>
            <td>Bookmarks</td>
            <td>{{ countLocal.value().bookmarks }}</td>
            @if (signedIn()) {
              <td>{{ countUser.value().bookmarks }}</td>
            }
          </tr>
          <tr>
            <td>Table settings</td>
            <td>{{ countLocal.value().presets }}</td>
            @if (signedIn()) {
              <td>{{ countUser.value().presets }}</td>
            }
          </tr>
        </tbody>
      </table>
      @if (signedIn()) {
        <div class="form-control w-full">
          <button class="btn w-full mt-4" (click)="dropTables()">Sync</button>
          <label class="label">
            <span class="label-text-alt">Clears the local database and restores from remote</span>
          </label>
        </div>
      } @else {
        <div class="form-control w-full">
          <input type="text" class="input input-bordered" [(ngModel)]="projectName" />
          <label class="label">
            <span class="label-text-alt"> File name </span>
          </label>
        </div>

        <div class="form-control w-full">
          <button class="btn w-full mt-4" (click)="exportPreferences()">Export</button>
          <label class="label">
            <span class="label-text-alt">Exports user data e.g. gearsets, skill trees etc.</span>
          </label>
        </div>

        <div class="form-control w-full">
          <button class="btn w-full mt-4" (click)="importPreferences()">Import</button>
          <label class="label">
            <span class="label-text-alt">Imports previously exported user data</span>
          </label>
        </div>

        <div class="form-control w-full">
          <button class="btn w-full mt-4" (click)="dropTables()">Clear</button>
          <label class="label">
            <span class="label-text-alt">Clears the local database</span>
          </label>
        </div>
      }
    </div>

    <div class="bg-base-300 rounded-md p-4 prose prose-sm">
      <h3 class="uppercase">Market prices</h3>
      <p>Previously imported market prices can be cleared here or re-imported here.</p>
      <div class="form-control w-full">
        <nwb-price-importer-button class="btn w-full" [icon]="false"> Import </nwb-price-importer-button>
        <label class="label">
          <span class="label-text-alt">Import prices from file or a website</span>
        </label>
      </div>
      <div class="form-control w-full mt-4">
        <button class="btn w-full" (click)="clearPrices()">Clear</button>
        <label class="label">
          <span class="label-text-alt">Clears all item prices</span>
        </label>
      </div>
    </div>

    <div class="bg-base-300 rounded-md p-4 prose prose-sm">
      <h3 class="uppercase">Datasheets History</h3>
      <p>To access the history of datasheets, you need to provide a git access token and select a repository.</p>
      <div class="form-control w-full">
        <input
          type="text"
          class="input input-bordered"
          [ngModel]="pref.gitAccessToken.observe() | async"
          (ngModelChange)="pref.gitAccessToken.set($event)"
          [placeholder]="'Git token'"
        />
        <label class="label">
          <span class="label-text-alt">
            Your git access token that will be used to fetch diff data from github API. Create your token
            <a href="https://github.com/settings/tokens" target="_blank" class="link link-primary">here</a>.
          </span>
        </label>
      </div>
      @let hasToken = !!(pref.gitAccessToken.observe() | async);
      @let hasPreset = !!(pref.nwDataRepoPreset.observe() | async);
      @if (hasToken) {
        <div class="form-control w-full">
          <select
            class="input input-bordered"
            [ngModel]="pref.nwDataRepoPreset.observe() | async"
            (ngModelChange)="onHistoryPresetChange($event)"
          >
            <option value="nw-buddy-data-live">NW Buddy Data: Live</option>
            <option value="nw-buddy-data-ptr">NW Buddy Data: PTR</option>
            <option value="new-world-tools-live">New World Tools: Live</option>
            <option value="">Custom</option>
          </select>
          <label class="cursor-pointer label">
            <span class="label-text">History repository</span>
          </label>
        </div>

        @if (!hasPreset) {
          <div class="form-control w-full">
            <input
              type="text"
              class="input input-bordered"
              [ngModel]="pref.nwDataRepo.observe() | async"
              (ngModelChange)="pref.nwDataRepo.set($event || undefined)"
            />
            <label class="label">
              <span class="label-text-alt"> Git repository url with branch name and path to datasheets folder </span>
            </label>
          </div>
          <div class="form-control w-full">
            <select
              class="input input-bordered"
              [ngModel]="pref.nwDataRepoFormat.observe() | async"
              (ngModelChange)="pref.nwDataRepoFormat.set($event)"
            >
              <option value="json">JSON</option>
              <option value="yaml">YAML</option>
            </select>
            <label class="cursor-pointer label">
              <span class="label-text">Data format</span>
            </label>
          </div>
        }
        <div class="form-control w-full">
          <input
            type="number"
            class="input input-bordered"
            [ngModel]="pref.nwDataRepoUseLimit.observe() | async"
            (ngModelChange)="pref.nwDataRepoUseLimit.set($event)"
          />
          <label class="label">
            <span class="label-text-alt"> Number of history commits to evaluate. </span>
          </label>
        </div>
        @if (!hasPreset) {
          <div class="form-control w-full">
            <label class="cursor-pointer label">
              <span class="label-text">Use only tagged commits</span>
              <input
                type="checkbox"
                class="toggle toggle-primary"
                [ngModel]="pref.nwDataRepoUseTags.observe() | async"
                (ngModelChange)="pref.nwDataRepoUseTags.set($event)"
              />
            </label>
          </div>
          <div class="form-control w-full">
            <label class="cursor-pointer label">
              <span class="label-text">Datasheets use original file name (not table type)</span>
              <input
                type="checkbox"
                class="toggle toggle-primary"
                [ngModel]="pref.nwDataRepoUseFiles.observe() | async"
                (ngModelChange)="pref.nwDataRepoUseFiles.set($event)"
              />
            </label>
          </div>
        }
      }
    </div>
    <div class="bg-base-300 rounded-md p-4 prose prose-sm">
      <h3 class="uppercase">IPFS</h3>
      <p>The IPFS system is used in offline mode for sharing build links with other users.</p>
      <div class="form-control w-full mt-4">
        <input type="text" class="input input-bordered" [(ngModel)]="ipfsGateway" [placeholder]="'Gateway'" />
        <label class="label">
          <span class="label-text-alt">
            The preferred IPFS hostname to use when downloading shared content. Check public gateways
            <a href="https://ipfs.github.io/public-gateway-checker/" target="_blank" class="link link-primary">here</a>.
          </span>
        </label>
      </div>
    </div>
    <div class="bg-base-300 rounded-md p-4 prose prose-sm">
      <h3 class="uppercase">App Configuration</h3>

      <table class="table table-zebra table-xs">
        <tbody>
          <tr>
            <td>Sync backend</td>
            <td>
              @if (backend.isEnabled()) {
                <span class="text-success">Enabled</span>
              } @else {
                <span class="text-error">Disabled</span>
              }
            </td>
          </tr>
          <tr>
            <td>Environment name</td>
            <td>
              {{ envName }}
            </td>
          </tr>
          <tr>
            <td>Branch</td>
            <td>
              {{ branch }}
            </td>
          </tr>
          <tr>
            <td>Version</td>
            <td>
              {{ version }}
            </td>
          </tr>
          <tr>
            <td>CDN</td>
            <td>
              {{ cdnUrl }}
            </td>
          </tr>
          <tr>
            <td>Models</td>
            <td>
              {{ modelsUrl }}
            </td>
          </tr>
          <tr>
            <td>Tiles</td>
            <td>
              {{ tilesUrl }}
            </td>
          </tr>
        </tbody>
      </table>

      <div class="form-control w-full">
        <label class="cursor-pointer label">
          <span class="label-text">Collapse sidebar permanently</span>
          <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="collapseMenu" />
        </label>
      </div>
    </div>
  </div>
</ion-content>
