<ion-content class="ion-p-4">
  <div class="grid grid-cols-fill-sm gap-4 w-auto max-w-4xl mx-auto">
    <div class="bg-base-300 rounded-md p-4 prose prose-sm">
      <h3 class="uppercase">Account</h3>
      @if (signedIn()) {
        <p>
          You are signed in as <b> {{ session().name }} </b>. Your data is automatically synced with the server.
        </p>
      } @else {
        <p>You are currently not signed in and using the <b class="text-primary">offline</b> mode</p>
      }
      <table class="table table-zebra table-xs">
        <tbody>
          <tr>
            <td></td>

            @if (signedIn()) {
              <td>Owned by <i class="text-success">{{ session().name }}</i></td>
            }
            <td>Owned by <i class="text-primary text-nowrap">no-one</i> </td>
          </tr>
          <tr>
            <td>Characters</td>
            @if (signedIn()) {
              <td>{{ countUser.value().characters }}</td>
            }
            <td>{{ countLocal.value().characters }}</td>
          </tr>
          <tr>
            <td>Skill trees</td>
            @if (signedIn()) {
              <td>{{ countUser.value().trees }}</td>
            }
            <td>{{ countLocal.value().trees }}</td>
          </tr>
          <tr>
            <td>Gearsets</td>
            @if (signedIn()) {
              <td>{{ countUser.value().gears }}</td>
            }
            <td>{{ countLocal.value().gears }}</td>
          </tr>
          <tr>
            <td>Inventory Items</td>
            @if (signedIn()) {
              <td>{{ countUser.value().items }}</td>
            }
            <td>{{ countLocal.value().items }}</td>
          </tr>
          <tr>
            <td>Table settings</td>
            @if (signedIn()) {
              <td>{{ countUser.value().grids }}</td>
            }
            <td>{{ countLocal.value().grids }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="bg-base-300 rounded-md p-4 prose prose-sm">
      <h3 class="uppercase">App Configuration</h3>

      <table class="table table-zebra table-xs">
        <tbody>
          <tr>
            <td>Sync backend</td>
            <td>
              @if (backend.isEnabled()) {
                <span class="text-success">Enabled</span>
              } @else {
                <span class="text-error">Disabled</span>
              }
            </td>
          </tr>
          <tr>
            <td>Environment name</td>
            <td>
              {{ envName }}
            </td>
          </tr>
          <tr>
            <td>Branch</td>
            <td>
              {{ branch }}
            </td>
          </tr>
          <tr>
            <td>Version</td>
            <td>
              {{ version }}
            </td>
          </tr>
          <tr>
            <td>CDN</td>
            <td>
              {{ cdnUrl }}
            </td>
          </tr>
          <tr>
            <td>Models</td>
            <td>
              {{ modelsUrl }}
            </td>
          </tr>
          <tr>
            <td>Tiles</td>
            <td>
              {{ tilesUrl }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="bg-base-300 rounded-md p-4 prose prose-sm">
      <h3 class="uppercase">Local database</h3>
      <p>
        Whether you're signed in or using the offline mode, your data is always stored locally on your device. You can
        export it to a file and import it later.
      </p>
      <div class="form-control w-full">
        <input type="text" class="input input-bordered" [(ngModel)]="projectName" />
        <label class="label">
          <span class="label-text-alt"> File name </span>
        </label>
      </div>

      <div class="form-control w-full">
        <button class="btn w-full mt-4" (click)="exportPreferences()">Export</button>
        <label class="label">
          <span class="label-text-alt">Exports user data e.g. favourites, item prices etc.</span>
        </label>
      </div>

      <div class="form-control w-full">
        <button class="btn w-full mt-4" (click)="importPreferences()">Import</button>
        <label class="label">
          <span class="label-text-alt">Imports previously exported user data</span>
        </label>
      </div>

      <div class="form-control w-full">
        <button class="btn w-full mt-4" (click)="dropTables()">Clear</button>
        <label class="label">
          <span class="label-text-alt">Clears the local database</span>
        </label>
      </div>
    </div>

    <div class="bg-base-300 rounded-md p-4 prose prose-sm">
      <h3 class="uppercase">Market prices</h3>
      <p>Previously imported market prices can be cleared here or re-imported here.</p>
      <div class="form-control w-full">
        <button class="btn w-full" (click)="clearPrices()">Clear</button>
        <label class="label">
          <span class="label-text-alt">Clears all item prices</span>
        </label>
      </div>

      <div class="form-control w-full">
        <nwb-price-importer-button class="btn w-full mt-4" [icon]="false"> Import </nwb-price-importer-button>
        <label class="label">
          <span class="label-text-alt">Import prices from file or a website</span>
        </label>
      </div>
    </div>

    <div class="bg-base-300 rounded-md p-4 prose prose-sm">
      <h3 class="uppercase">IPFS</h3>
      <p>The IPFS system is used in offline mode for sharing build links with other users.</p>
      <div class="form-control w-full mt-4">
        <input type="text" class="input input-bordered" [(ngModel)]="ipfsGateway" [placeholder]="'Gateway'" />
        <label class="label">
          <span class="label-text-alt">
            The preferred IPFS hostname to use when downloading shared content. Check public gateways
            <a href="https://ipfs.github.io/public-gateway-checker/" target="_blank" class="link link-primary">here</a>.
          </span>
        </label>
      </div>
    </div>

    <div class="bg-base-300 rounded-md p-4 prose prose-sm">
      <h3 class="uppercase">Datasheets History</h3>
      <p>To access the history of datasheets, you need to provide a git access token and select a repository.</p>
      <div class="form-control w-full">
        <input
          type="text"
          class="input input-bordered"
          [ngModel]="pref.gitAccessToken.observe() | async"
          (ngModelChange)="pref.gitAccessToken.set($event)"
          [placeholder]="'Git token'"
        />
        <label class="label">
          <span class="label-text-alt">
            Your git access token that will be used to fetch diff data from github API. Create your token
            <a href="https://github.com/settings/tokens" target="_blank" class="link link-primary">here</a>.
          </span>
        </label>
      </div>
      @let hasToken = !!(pref.gitAccessToken.observe() | async);
      @let hasPreset = !!(pref.nwDataRepoPreset.observe() | async);
      @if (hasToken) {
        <div class="form-control w-full">
          <select
            class="input input-bordered"
            [ngModel]="pref.nwDataRepoPreset.observe() | async"
            (ngModelChange)="onHistoryPresetChange($event)"
          >
            <option value="nw-buddy-data-live">NW Buddy Data: Live</option>
            <option value="nw-buddy-data-ptr">NW Buddy Data: PTR</option>
            <option value="new-world-tools-live">New World Tools: Live</option>
            <option value="">Custom</option>
          </select>
          <label class="cursor-pointer label">
            <span class="label-text">History repository</span>
          </label>
        </div>

        @if (!hasPreset) {
          <div class="form-control w-full">
            <input
              type="text"
              class="input input-bordered"
              [ngModel]="pref.nwDataRepo.observe() | async"
              (ngModelChange)="pref.nwDataRepo.set($event || undefined)"
            />
            <label class="label">
              <span class="label-text-alt"> Git repository url with branch name and path to datasheets folder </span>
            </label>
          </div>
          <div class="form-control w-full">
            <select
              class="input input-bordered"
              [ngModel]="pref.nwDataRepoFormat.observe() | async"
              (ngModelChange)="pref.nwDataRepoFormat.set($event)"
            >
              <option value="json">JSON</option>
              <option value="yaml">YAML</option>
            </select>
            <label class="cursor-pointer label">
              <span class="label-text">Data format</span>
            </label>
          </div>
        }
        <div class="form-control w-full">
          <input
            type="number"
            class="input input-bordered"
            [ngModel]="pref.nwDataRepoUseLimit.observe() | async"
            (ngModelChange)="pref.nwDataRepoUseLimit.set($event)"
          />
          <label class="label">
            <span class="label-text-alt"> Number of history commits to evaluate. </span>
          </label>
        </div>
        @if (!hasPreset) {
          <div class="form-control w-full">
            <label class="cursor-pointer label">
              <span class="label-text">Use only tagged commits</span>
              <input
                type="checkbox"
                class="toggle toggle-primary"
                [ngModel]="pref.nwDataRepoUseTags.observe() | async"
                (ngModelChange)="pref.nwDataRepoUseTags.set($event)"
              />
            </label>
          </div>
          <div class="form-control w-full">
            <label class="cursor-pointer label">
              <span class="label-text">Datasheets use original file name (not table type)</span>
              <input
                type="checkbox"
                class="toggle toggle-primary"
                [ngModel]="pref.nwDataRepoUseFiles.observe() | async"
                (ngModelChange)="pref.nwDataRepoUseFiles.set($event)"
              />
            </label>
          </div>
        }
      }
    </div>
    <div class="bg-base-300 rounded-md p-4 prose prose-sm">
      <div class="form-control w-full">
        <label class="cursor-pointer label">
          <span class="label-text">Collapse sidebar permanently</span>
          <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="collapseMenu" />
        </label>
      </div>
      <ng-container *ngIf="isDevCount > 10">
        <div class="divider"></div>
        <div class="form-control w-full">
          <a class="btn w-full mt-4" [routerLink]="['/dev/platform']">Open Dev Panel</a>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>
