<div class="flex-none tabs tabs-lifted flex-nowrap overflow-x-auto">
  <ng-container *ngFor="let category of categories | async; let i = index">
    <a class="tab" [class.tab-active]="isActive(category, i)" (click)="selected = category">{{ category }}</a>
  </ng-container>
</div>
<div class="flex-1 bg-base-100 rounded-md rounded-tl-none overflow-auto">
  <ng-container *ngFor="let category of categories | async; let i = index">
    <div class="grid items-start grid-cols-1 2xl:grid-cols-12 min-w-[600px]" *ngIf="isActive(category, i)">
      <div class="xl:col-span-4 grid grid-cols-3 md:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-3 gap-2 p-2">
        <nwb-tradeskill-input *ngFor="let skill of skillsByCategory(category) | async" [tradeskill]="skill.ID"></nwb-tradeskill-input>
      </div>
      <div class="xl:col-span-8 overflow-hidden ">
        <nwb-tradeskill-chart [category]="category"></nwb-tradeskill-chart>
      </div>
    </div>
  </ng-container>
</div>
