<div class="rounded-md overflow-clip">
  <nwb-npc-detail [npcId]="itemId()" class="w-full" #detail>
    @if (detail.store.siblings()?.length > 1) {
      <div class="flex flex-col p-2">
        <h3 class="font-bold mb-1">NPC Variants</h3>
        @for (item of detail.store.siblings(); track $index) {
          <a [routerLink]="['npc', item.id] | nwLink" [routerLinkActive]="'link-primary'" class="link link-hover">
            <span class="font-mono">
              {{ item.id }}
            </span>
          </a>
        }
      </div>
    }
  </nwb-npc-detail>
</div>
