<button
  class="btn btn-square btn-sm drop-shadow tooltip"
  [class.btn-ghost]="!envMapBackground()"
  (click)="toggleDebugView()"
  data-tip="Toggle debug inspector"
>
  <nwb-icon [icon]="iconCubes" class="w-4 h-4" />
</button>

@if (loadedEntity()) {
  <button
    class="btn btn-square btn-sm drop-shadow tooltip"
    [class.btn-ghost]="!envMapBackground()"
    (click)="reframeCamera()"
    data-tip="Reframe camera"
  >
    <nwb-icon [icon]="iconReframe" class="w-4 h-4" />
  </button>
}

@if (service.adbActions()?.length) {
  <div class="join">
    <button
      class="btn btn-square btn-sm drop-shadow tooltip"
      data-tip="Open action browser"
      [class.btn-ghost]="!envMapBackground()"
      (click)="service.showTagBrowser.set(!service.showTagBrowser())"
    >
      <nwb-icon [icon]="iconFilms" class="w-4 h-4 swap-on" />
    </button>
  </div>
}

@if (envMapConnected()) {
  <div class="join">
    <button
      class="join-item btn btn-square btn-sm drop-shadow tooltip"
      data-tip="Toggle skybox"
      [class.btn-ghost]="!envMapBackground()"
      (click)="bridge().setEnvMappedBackground(!envMapBackground())"
    >
      <span class="swap swap-rotate" [class.swap-active]="envMapBackground()">
        <nwb-icon [icon]="iconSun" class="w-4 h-4 swap-on" />
        <nwb-icon [icon]="iconMoon" class="w-4 h-4 swap-off" />
      </span>
    </button>
    <button
      class="join-item btn btn-square btn-sm drop-shadow tooltip"
      data-tip="Change environment lighting"
      [class.btn-ghost]="!envMapBackground()"
      [cdkMenuTriggerFor]="tplMenuEnv"
    >
      <nwb-icon [icon]="iconEnv" class="w-4 h-4" />
    </button>
    <ng-template #tplMenuEnv>
      <ul
        cdkMenu
        class="dropdown-content menu menu-compact flex-nowrap bg-base-300 border border-base-200 min-w-40 rounded-md max-h-96 shadow-md overflow-y-auto relative top-1"
      >
        @for (option of envOptions(); track $index; let i = $index) {
          <li cdkMenuItem>
            <a [class.text-primary]="option.value === envMapUrl()" (click)="bridge().setEnvMapUrl(option.value)">
              {{ option.label }}
            </a>
          </li>
        }
      </ul>
    </ng-template>
  </div>
}

<div class="join">
  <!-- <button
    class="join-item btn btn-square btn-sm drop-shadow tooltip tooltip-left"
    data-tip="Capture screenshot"
    [class.btn-ghost]="!envMapBackground()"
    (click)="capturePhoto()"
  >
    <nwb-icon [icon]="iconCamera" class="w-4 h-4" />
  </button> -->
  <button
    class="join-item btn btn-square btn-sm drop-shadow tooltip tooltip-left"
    data-tip="Toggle fullscreen"
    [class.btn-ghost]="!envMapBackground()"
    (click)="toggleFullscreen()"
  >
    <nwb-icon [icon]="iconFullscreen" class="w-4 h-4" />
  </button>
</div>
