<div class="main-frame mt-4">
  <div class="main-content flex flex-col ">
    <div class="w-80">

      <div class="form-control">
        <label class="label">
          <span class="label-text">Preferred language</span>
        </label>
        <select class="select select-bordered" [ngModel]="app.language.get()" (ngModelChange)="app.language.set($event)">
          <option disabled selected>Pick one</option>
          <option value="de-de">DE</option>
          <option value="en-us">EN</option>
        </select>
        <label class="label">
          <span class="label-text-alt">Affects game item names only</span>
        </label>
      </div>

      <div class="form-control">
        <button class="btn w-full mt-4" (click)="exportPreferences()">Export Preferences</button>
        <label class="label">
          <span class="label-text-alt">Exports user data e.g. favourites, item prices etc.</span>
        </label>
      </div>

      <div class="form-control">
        <button class="btn w-full mt-4" (click)="importPreferences()">Import Preferences</button>
        <label class="label">
          <span class="label-text-alt">Imports previously exported user data</span>
        </label>
      </div>

    </div>
  </div>
</div>


