<nwb-screen-drawer class="screen-gap flex-1 h-full">
  <nwb-screen-drawer-side >
    <div class="flex-1 bg-base-300 rounded-md overflow-hidden" [nwbScreenDrawerToggle]="'close'">
      <ul class="menu">
        <li *ngFor="let item of dungeon$ | async"  [routerLinkActive]="'bordered'" >
          <a [routerLink]="item.GameModeId">
            <span [nwText]="item.DisplayName"></span>
          </a>
        </li>
      </ul>
    </div>
  </nwb-screen-drawer-side>
  <nwb-screen-drawer-content class="flex-1 layout-row">
    <router-outlet></router-outlet>
  </nwb-screen-drawer-content>
</nwb-screen-drawer>
