<div [nwbAbilityDetail]="itemId | async" (nwbAbilityChange)="onEntity($event)" #detail="abilityDetail">
  <div class="flex flex-col gap-2 bg-base-200" [nwbScreenshotFrame]="itemId | async">
    <nwb-ability-detail [abilityId]="itemId | async" class="bg-black" />

    @for (effectId of detail.refEffects$ | async; track i; let i = $index; let isFirst = $first) {
      @if (isFirst) {
        <h3 class="prose">Referenced Status Effects:</h3>
      }
      <nwb-status-effect-detail [effectId]="effectId" class="bg-black" />
    }

    @for (abilityId of detail.refAbilities$ | async; track i; let i = $index; let isFirst = $first) {
      @if (isFirst) {
        <h3 class="prose">Referenced Abilities:</h3>
      }
      <nwb-ability-detail [abilityId]="abilityId" class="bg-black" />
    }

    @for (spellId of detail.refSpells$ | async; track i; let i = $index; let isFirst = $first) {
      @if (isFirst) {
        <h3 class="prose">Referenced Spells:</h3>
      }
      <nwb-spell-detail [spellId]="spellId" class="bg-black" />
    }

    @for (perkId of perkIds$ | async; track i; let i = $index; let isFirst = $first) {
      @if (isFirst) {
        <h3 class="prose">Referenced by Perks:</h3>
      }
      <nwb-perk-detail [perkId]="perkId" class="bg-black" />
    }
  </div>
</div>
