<div class="flex flex-col gap-2" [nwbScreenshotFrame]="itemId()">
  <nwb-ability-detail
    [abilityId]="itemId()"
    (abilityChange)="onEntity($event)"
    class="bg-black"
    #detail="abilityDetail"
  />

  @for (effectId of detail.store.refEffects(); track i; let i = $index; let isFirst = $first) {
    @if (isFirst) {
      <h3 class="prose mt-2">Referenced Status Effects:</h3>
    }
    <nwb-status-effect-detail [effectId]="effectId" class="bg-black" />
  }

  @for (abilityId of detail.store.refAbilities(); track $index; let i = $index; let isFirst = $first) {
    @if (isFirst) {
      <h3 class="prose mt-2">Referenced Abilities:</h3>
    }
    <nwb-ability-detail [abilityId]="abilityId" class="bg-black" />
  }

  @for (spellId of detail.store.refSpells(); track i; let i = $index; let isFirst = $first) {
    @if (isFirst) {
      <h3 class="prose mt-2">Referenced Spells:</h3>
    }
    <nwb-spell-detail [spellId]="spellId" class="bg-black" />
  }

  @for (abilityId of detail.store.foreignAbilities(); track $index; let i = $index; let isFirst = $first) {
    @if (isFirst) {
      <h3 class="prose mt-2">Referenced by Abilities:</h3>
    }
    <nwb-ability-detail [abilityId]="abilityId" class="bg-black" />
  }

  @for (spellId of spellIds(); track i; let i = $index; let isFirst = $first) {
    @if (isFirst) {
      <h3 class="prose mt-2">Referenced by Spells:</h3>
    }
    <nwb-spell-detail [spellId]="spellId" class="bg-black" />
  }

  @for (perkId of perkIds(); track i; let i = $index; let isFirst = $first) {
    @if (isFirst) {
      <h3 class="prose mt-2">Referenced by Perks:</h3>
    }
    <nwb-perk-detail [perkId]="perkId" class="bg-black" />
  }
</div>
