:host {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  @media (min-width: 575px) {
    max-width: initial;
  }
}

.outer-grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;
  @media (min-width: 575px) {
    grid-template-columns: 6fr 2fr;
  }
}
