<div class="outer-grid gap-x-3 gap-y-2">
  @if (!disableHead()) {
    <h3
      class="h-11 text-lg uppercase font-serif col-span-2 text-center text-nw-description nw-bg-title bg-bottom z-10 relative text-ellipsis overflow-clip leading-tight flex flex-row items-end justify-center line-clamp-2"
      [title]="gearset()?.name"
    >
      @if (!isLoaded()) {
        Loading...
      } @else if (gearset()) {
        {{ gearset().name }}
      } @else {
        New Gearset
      }
      @if (isOwned() && isSyncable()) {
        <nwb-sync-badge
          class="absolute bottom-2 right-2 opacity-0"
          [class.opacity-100]="isPublished() || isSyncPending() || isSyncConflict()"
          [published]="isPublished()"
          [pending]="isSyncPending()"
          [conflict]="isSyncConflict()"
          [loading]="isSyncPending()"
        />
      }
    </h3>
    <div class="h-8 flex flex-row gap-1 items-center overflow-clip">
      @if (isLoaded() && gearset()) {
        <img [nwImage]="'assets/icons/item/icon_gearscore.png'" class="w-8 h-8" />
        <span class="font-caslon text-3xl leading-none font-bold">{{ gearScore() | number: '0.0-0' }}</span>
        <div class="flex flex-row items-center justify-center gap-1 flex-wrap max-h-8 overflow-clip w-full">
          @for (tag of gearset().tags; track $index) {
            <span class="badge badge-xs badge-secondary bg-secondary/50">{{ tag }}</span>
          }
        </div>
      }

    </div>
    <div class="h-8">
      <ng-container [ngTemplateOutlet]="buttonTemplate()" />
    </div>
  }
  <div class="grid grid-cols-4 sm:grid-cols-6 grid-rows-4 sm:grid-rows-3 gap-1">
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'head'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'chest'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'hands'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'legs'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'feet'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'weapon3'"
      class="hidden sm:block"
    />

    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'amulet'"
      class="sm:col-start-1"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'ring'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'earring'"
    />

    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'quickslot1'"
      class="sm:col-start-1"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'quickslot2'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'quickslot3'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'quickslot4'"
    />
  </div>

  <div class="grid grid-cols-2 grid-rows-4 sm:grid-rows-3 gap-1">
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'weapon1'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'weapon2'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'arrow'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'cartridge'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'weapon3'"
      class="sm:hidden"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'heartgem'"
      class="col-start-2"
    />
  </div>
</div>
