<div class="outer-grid gap-x-3 gap-y-2">
  @if (!disableHead()) {
    <h3
      class="text-lg uppercase font-serif col-span-2 text-center text-nw-description nw-bg-title bg-bottom z-10 pt-4 relative whitespace-nowrap text-ellipsis overflow-hidden"
    >
      @if (!isLoaded()) {
        Loading...
      } @else if (gearset()) {
        {{ gearset().name }}
      } @else {
        New Gearset
      }
      @if (isOwned()) {
        <div class="absolute bottom-0 right-0 flex flex-row items-center gap-2 p-2">
          @if (isSyncable() && !isSyncComplete()) {
            <span
              class="badge badge-xs"
              [class.badge-success]="isSyncComplete()"
              [class.badge-warning]="isSyncPending()"
              [class.badge-error]="isSyncConflict()"
              [class.animate-ping]="isSyncPending()"
            ></span>
          }
          @if (isPublished()) {
            <nwb-icon
              [icon]="iconGlobe"
              class="w-4 h-4 text-success cursor-help tooltip tooltip-left"
              [attr.data-tip]="'Published'"
            />
          }
        </div>
      }
    </h3>
    <div class="h-8 flex flex-row gap-1 items-center">
      @if (isLoaded() && gearset()) {
        <img [nwImage]="'assets/icons/item/icon_gearscore.png'" class="w-8 h-8" />
        <span class="font-caslon text-3xl leading-none font-bold">{{ gearScore() | number: '0.0-0' }}</span>
      }
    </div>
    <div class="h-8">
      <ng-container [ngTemplateOutlet]="buttonTemplate()" />
    </div>
  }
  <div class="grid grid-cols-4 sm:grid-cols-6 grid-rows-4 sm:grid-rows-3 gap-1">
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'head'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'chest'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'hands'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'legs'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'feet'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'weapon3'"
      class="hidden sm:block"
    />

    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'amulet'"
      class="sm:col-start-1"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'ring'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'earring'"
    />

    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'quickslot1'"
      class="sm:col-start-1"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'quickslot2'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'quickslot3'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'quickslot4'"
    />
  </div>

  <div class="grid grid-cols-2 grid-rows-4 sm:grid-rows-3 gap-1">
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'weapon1'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'weapon2'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'arrow'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'cartridge'"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'weapon3'"
      class="sm:hidden"
    />
    <nwb-gearset-loadout-slot
      [disabled]="true"
      [gearset]="gearset()"
      [menuTemplate]="slotMenuTemplate()"
      [slotId]="'heartgem'"
      class="col-start-2"
    />
  </div>
</div>
