<span class="indicator">
  <nwb-icon [icon]="icon" class="w-4 h-4" />
  @if (showIndicator$ | async) {
    <span class="indicator-item badge badge-xs badge-primary -top-1 scale-75"></span>
  }
</span>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="cdkOrigin"
  [cdkConnectedOverlayOpen]="isPanelOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOffsetY]="5"
  (overlayOutsideClick)="isPanelOpen = false"
  (backdropClick)="isPanelOpen = false"
  (detach)="isPanelOpen = false"
>
  <div class="w-full max-w-96 max-h-[80vh] overflow-auto bg-base-200 border border-base-100 rounded-md shadow-lg">
    <ng-container [ngTemplateOutlet]="nwbDataViewOptionsMenu" />
    @if (service.isTableActive()) {
      <nwb-table-grid-panel
        [persistKey]="persistKey"
        [grid]="service.agGrid$ | async"
        (close)="isPanelOpen = false"
        [actions]="nwbDataViewActions"
      />
    }
    <ng-content />
  </div>
</ng-template>
