<nwb-icon [icon]="icon$()" class="w-4 h-4"/>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="cdkOrigin"
  [cdkConnectedOverlayOpen]="isPanelOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOffsetY]="5"
  (overlayOutsideClick)="isPanelOpen = false"
  (backdropClick)="isPanelOpen = false"
  (detach)="isPanelOpen = false"
>
  <div class="w-48 bg-base-200 border border-base-100 rounded-md shadow-lg">
    <ul class="menu menu-compact">
      <li [class.bordered]="this.service.isTableActive()">
        <a (click)="activateTable()">
          <nwb-icon [icon]="iconTable" class="w-4 h-4"/>
          Table View
        </a>
      </li>
      <li [class.bordered]="this.service.isGridActive()">
        <a (click)="activateGrid()">
          <nwb-icon [icon]="iconGrid" class="w-4 h-4"/>
          Grid View
        </a>
      </li>
    </ul>
  </div>
</ng-template>
