<nwb-icon
  [icon]="iconChevron"
  class="w-4 h-4 transition-transform opacity-75"
  [class.-rotate-90]="!isPanelOpen"
  [class.rotate-90]="isPanelOpen"
></nwb-icon>
<div class="flex flex-col flex-nowrap gap-1 items-start justify-center">
  <span class="text-lg leading-none" *ngIf="defaultCategory$ | async; let cat">
    <picture [nwIcon]="cat.icon" class="w-8 h-w-8" *ngIf="cat.icon"></picture>
    {{ cat.label }}
    <ng-container *ngIf="activeCateogry$ | async; let cat"> • {{ cat.label | nwText }} </ng-container>
  </span>
  <span *ngIf="counter$ | async; let counter" class="text-xs opacity-50 italic leading-none">
    Rows:
    <ng-container *ngIf="counter.displayed !== counter.total && counter.displayed != null">
      {{ counter.displayed }} /
    </ng-container>
    {{ counter.total }}
  </span>
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="cdkOrigin"
  [cdkConnectedOverlayOpen]="isPanelOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOffsetY]="5"
  [cdkConnectedOverlayOffsetX]="-2"
  (overlayOutsideClick)="isPanelOpen = false"
  (backdropClick)="isPanelOpen = false"
  (detach)="isPanelOpen = false"
>
  <div class="w-80 max-h-[80vh] overflow-auto bg-base-200 border border-base-100 rounded-md shadow-lg">
    <ul class="menu menu-compact">
      <li *ngIf="defaultCategory$ | async; let cat">
        <a class="flex flex-row" [routerLink]="cat.route" [queryParams]="cat.query" [queryParamsHandling]="'merge'" (click)="isPanelOpen = false">
          <picture [nwIcon]="cat.icon" class="w-8 h-w-8" *ngIf="cat.icon"></picture>
          <div class="flex-1 normal-case">
            <h3 class="font-bold">{{ cat.label | nwText }}</h3>
          </div>
        </a>
      </li>
      <li *ngFor="let cat of categories$ | async">
        <a class="flex flex-row" [routerLink]="cat.route" [queryParams]="cat.query" [queryParamsHandling]="'merge'" (click)="isPanelOpen = false">
          <picture [nwIcon]="cat.icon" class="w-8 h-w-8" *ngIf="cat.icon"></picture>
          <div class="flex-1 normal-case">
            <h3 class="font-bold">{{ cat.label | nwText }}</h3>
          </div>
        </a>
      </li>
    </ul>
  </div>
</ng-template>
