<div class="flex-none bg-black flex flex-row gap-1 flex-wrap items-center p-1">
  <button class="btn btn-square btn-ghost" (click)="close()">
    <nwb-icon [icon]="iconBack" class="w-4 h-4"></nwb-icon>
  </button>
  <h3 class="font-bold text-lg">
    {{ title }}
  </h3>
  <span class="flex-1"></span>
  <ng-container *ngIf="service.canToggleMode$()">
    <button class="btn btn-square btn-ghost" [nwbDataViewToggle]></button>
  </ng-container>
  <ng-container *ngIf="service.isTableSupported$()">
    <button class="btn btn-square btn-ghost" [nwbDataViewOptionsMenu] [disabled]="!service.isTableActive$()"></button>
  </ng-container>
  <nwb-quicksearch-input [autofocus]="true" class="w-full md:w-60"></nwb-quicksearch-input>
</div>

<ng-container *ngIf="service.isGridActive$()">
  <nwb-virtual-grid
    [enableQuickfilter]="true"
    [selection]="selection"
    [data]="service.categoryItems$ | async"
    [options]="service.virtualOptions"
    [identifyBy]="service.entityIdGetter"
    (selection$)="onSelectionChange($event)"
    (cellDoubleClicked)="commit()"
  ></nwb-virtual-grid>
</ng-container>
<ng-container *ngIf="service.isTableActive$()">
  <nwb-table-grid
    (ready$)="service.onTableReady($event)"
    [enableQuickfilter]="true"
    [selection]="selection"
    [data]="service.categoryItems$ | async"
    [options]="service.tableGridOptions"
    [identifyBy]="service.entityIdGetter"
    [persistKey]="persistKey"
    (selectionChanged$)="onSelectionChange($event.ids)"
    (rowDoubleClicked$)="commit()"
  ></nwb-table-grid>
</ng-container>

<div class="flex-none modal-action flex-row justify-end layout-pad mt-0 bg-base-200">
  <div class="btn-group">
    <button type="button" class="btn" (click)="close()">Cancel</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn" (click)="clear()">Clear selection</button>
    <button type="button" class="btn btn-primary" (click)="commit()">OK</button>
  </div>
</div>
