@if (gearset()) {
  <nwb-gearset-loadout [gearset]="gearset()" [buttonTemplate]="tplButton">
    <ng-template #tplButton>
      <div class="join w-full justify-end">
        <a
          class="join-item btn btn-sm btn-ghost btn-square"
          [routerLink]="['/gearsets', gearset().userId, gearset().id]"
          [tooltip]="'Open full editor'"
          [tooltipClass]="'bg-info'"
        >
          <nwb-icon [icon]="iconNav" class="w-4 h-4" />
        </a>
        <button class="flex-none join-item btn btn-sm btn-ghost btn-square" [cdkMenuTriggerFor]="menu">
          <nwb-icon [icon]="iconMenu" class="w-4 h-4" />
        </button>
      </div>
    </ng-template>
  </nwb-gearset-loadout>
} @else {
  <div class="max-w-md mx-auto layout-col layout-gap layout-pad-y h-full items-center justify-center">
    <button class="btn btn-primary w-full" (click)="handleLoadGearset()">
      <nwb-icon [icon]="iconOpen" class="w-4 h-4 mr-2" />
      Open existing set
    </button>
    <button class="btn btn-primary w-full" (click)="handleCreateSet()">
      <nwb-icon [icon]="iconCreate" class="w-4 h-4 mr-2" />
      Create new set
    </button>
  </div>
}

<ng-template #menu>
  <ul
    class="my-1 p-0 menu menu-compact bg-base-200 border border-base-100 rounded-md shadow-lg text-shadow-sm shadow-black"
    cdkMenu
  >
    <li>
      <button (click)="handleCreateSet()" cdkMenuItem>
        <nwb-icon [icon]="iconCreate" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>Create New</span>
          <span class="text-xs opacity-75">Create a new set and start editing</span>
        </div>
      </button>
    </li>
    <li>
      <button (click)="handleLoadGearset()" cdkMenuItem>
        <nwb-icon [icon]="iconOpen" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>Open</span>
          <span class="text-xs opacity-75">Open another set to edit</span>
        </div>
      </button>
    </li>

    @if (isSignedIn()) {
      <li>
        @if (isPublished()) {
          <button (click)="handleUnpublish()" cdkMenuItem>
            <nwb-icon [icon]="iconOpen" class="w-4 h-4 mr-2" />
            <div class="flex flex-col leading-none">
              <span>Unpublish</span>
              <span class="text-xs opacity-75">Removes this gearset from public listing</span>
            </div>
          </button>
        } @else {
          <button (click)="handlePublish()" cdkMenuItem [disabled]="hasLinkedItems()">
            <nwb-icon [icon]="iconOpen" class="w-4 h-4 mr-2" />
            <div class="flex flex-col leading-none">
              <span>Publish</span>
              @if (hasLinkedItems()) {
                <span class="text-xs text-error">Gearsets with <b>linked</b> items can not be published</span>
              } @else {
                <span class="text-xs opacity-75">Publish this gearsets for other users to see</span>
              }
            </div>
          </button>
        }
      </li>
    }

    <li class="menu-title">
      <span>Equip Item Mode</span>
    </li>
    <li [class.bordered]="isLinkMode()" cdkMenuItem>
      <button (click)="handleUpdateMode('link')" cdkMenuItem [disabled]="isPublished()">
        <nwb-icon [icon]="iconLink" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>
            Link
            @if (isLinkMode()) {
              <span class="badge badge-success badge-xs"></span>
            }
          </span>
          @if (isPublished()) {
            <span class="text-xs text-error"> Link mode is not available for published items </span>
          } @else {
            <span class="text-xs opacity-75"> Items are <span class="text-primary">linked</span> when equipped </span>
          }
        </div>
      </button>
    </li>
    <li [class.bordered]="isCopyMode()" cdkMenuItem>
      <button (click)="handleUpdateMode('copy')" cdkMenuItem>
        <nwb-icon [icon]="iconCopy" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>
            Copy
            @if (!isLinkMode()) {
              <span class="badge badge-success badge-xs"></span>
            }
          </span>
          <span class="text-xs opacity-75"> Items are <span class="text-primary">copied</span> when equipped </span>
        </div>
      </button>
    </li>

    <span class="divider my-0 py-0"></span>
    <li class="text-shadow-sm shadow-black">
      <button (click)="handleUnloadSet()" cdkMenuItem>
        <nwb-icon [icon]="iconClose" class="w-4 h-4 mr-2" />
        <div class="flex flex-col leading-none">
          <span>Close</span>
          <span class="text-xs opacity-75">Close this set and exit editor</span>
        </div>
      </button>
    </li>
  </ul>
</ng-template>
