<ng-container *ngIf="vm$ | async; let vm">
  <ng-container *ngIf="vm.item; then tplItem; else tplEmpty"></ng-container>
</ng-container>

<ng-template #tplItem>
  <nwb-item-header
    class="w-full h-full gap-2 p-[2px] 4xl:p-1 cursor-pointer rounded-md overflow-clip"
    *ngIf="vm$ | async; let vm"
    [rarity]="vm.rarity"
    [named]="vm.isNamed"
    [routerLink]="getLink()"
    [cdkContextMenuTriggerFor]="menu"
  >
    <picture
      class="nw-item-icon-frame nw-item-icon-bg 4xl:nw-item-icon-mask aspect-square relative flex z-10 4xl:w-20 4xl:h-20"
    >
      <span class="nw-item-icon-border"></span>

      <img [nwImage]="vm.item"/>
      <span class="z-10 absolute top-0 left-1 italic">{{ vm.tierLabel }}</span>
      <span *ngIf="vm.canBreak" class="z-10 absolute top-[2px] right-[2px] p-1 bg-black bg-opacity-75 rounded-bl-xl">
        <nwb-icon [icon]="iconLink" class="w-4 h-4"></nwb-icon>
      </span>
    </picture>

    <nwb-item-header-content
      class="z-10 h-full hidden 4xl:flex"
      [name]="vm.name | nwText"
      [rarity]="vm.rarity"
      [rarityName]="vm.rarityName | nwText"
      [typeName]="vm.typeName | nwText"
      [sourceName]="vm.sourceLabel"
    >
      <span class="header flex gap-1">
        <img [nwImage]="'assets/icons/item/icon_gearscore.png'" class="w-4 h-4" /> {{ vm.gearScore }}</span>
    </nwb-item-header-content>
  </nwb-item-header>

</ng-template>

<ng-template #tplEmpty>
  <div class="detail-header bg-base-200 4xl:p-1 rounded-md overflow-clip" *ngIf="vm$ | async; let vm">
    <a class="relative flex z-10 4xl:w-20 4xl:h-20">
      <picture [nwIcon]="slot.icon" [nwRarity]="0" class="w-full h-full"></picture>
    </a>
    <nwb-item-header-content class="z-10 h-full hidden 4xl:flex" [rarity]="0" [typeName]="slot.itemType | nwText">
      <span class="title" [nwText]="slot.name"></span>
    </nwb-item-header-content>
  </div>
</ng-template>

<ng-template #menu>
  <ul class="menu menu-compact bg-base-100 rounded-md w-40" cdkMenu *ngIf="vm$ | async; let vm">
    <li *ngIf="vm.canBreak">
      <button (click)="breakLink()" cdkMenuItem>
        <nwb-icon [icon]="iconLinkBreak" class="w-4 h-4"></nwb-icon>
        Break link
      </button>
    </li>
    <li *ngIf="vm.canRemove">
      <button (click)="remove()" cdkMenuItem>
        <nwb-icon [icon]="iconRemove" class="w-4 h-4"></nwb-icon>
        Remove item
      </button>
    </li>
  </ul>
</ng-template>
