<ng-container *ngIf="vm$ | async; let vm">
  <nwb-gearset-loadout *ngIf="vm.gearset" [geasrsetId]="gearsetId$ | async" [buttonTemplate]="tplButton">
    <ng-template #tplButton>
      <div class="btn-group btn-group-horizontal w-full">
        <button class="flex-1 btn btn-sm btn-ghost btn-square" [cdkMenuTriggerFor]="menu">
          <nwb-icon [icon]="iconMenu" class="w-4 h-4"></nwb-icon>
        </button>
        <a
          class="flex-1 btn btn-sm btn-ghost btn-square inline-flex"
          [routerLink]="['/gearsets', vm.gearset.id]"
          [tooltip]="'Open full editor'"
          [tooltipClass]="'bg-info'"
        >
          <nwb-icon [icon]="iconNav" class="w-4 h-4"></nwb-icon>
        </a>
      </div>
    </ng-template>

    <ng-template> </ng-template>
  </nwb-gearset-loadout>
  <!-- <div *ngIf="vm.gearset; let gearset" class="layout-content layout-gap">
    <div class="flex-none p-1 mb-2">
      <div class="form-control">
        <div class="input-group">
          <button class="btn btn-ghost btn-square inline-flex" (click)="unloadSet()">
            <nwb-icon [icon]="iconBack" class="w-4 h-4"></nwb-icon>
          </button>
          <input
            type="text"
            placeholder=""
            class="input input-bordered w-full"
            [ngModel]="gearset.name"
            (ngModelChange)="updateName($event)"
            [ngModelOptions]="{ updateOn: 'blur' }"
          />
          <button class="btn btn-ghost btn-square" [cdkMenuTriggerFor]="menu" [tooltip]="'Change mode'" [tooltipClass]="'bg-info'">
            <nwb-icon [icon]="vm.isLinkMode ? iconLink : iconCopy" class="w-4 h-4"></nwb-icon>
          </button>
          <a class="btn btn-ghost btn-square inline-flex" [routerLink]="['/gearsets', vm.gearset.id]"  [tooltip]="'Open in big editor'"  [tooltipClass]="'bg-info'" >
            <label>
              <nwb-icon [icon]="iconNav" class="w-4 h-4"></nwb-icon>
            </label>
          </a>
        </div>
      </div>
    </div>
    <div class="flex-none grid gap-1 layout-pad-x layout-pad-b">
      <ng-container *ngFor="let slot of slots">
        <nwb-gearset-form-cell
          [slot]="slot"
          [gearset]="gearset"
          (itemDropped)="onItemDropped(slot, $event)"
          (itemRemove)="onItemRemove(slot)"
          (itemUnlink)="onItemUnlink(slot, $event)"
        ></nwb-gearset-form-cell>
      </ng-container>
    </div>
  </div> -->

  <div
    *ngIf="!vm.gearset && !vm.isLoading"
    class="max-w-md mx-auto layout-col layout-gap layout-pad-y h-full items-center justify-center"
  >
    <button class="btn btn-primary w-full" (click)="loadSet()">
      <nwb-icon [icon]="iconOpen" class="w-4 h-4 mr-2"></nwb-icon>
      Open existing set
    </button>
    <button class="btn btn-primary w-full" (click)="createSet()">
      <nwb-icon [icon]="iconCreate" class="w-4 h-4 mr-2"></nwb-icon>
      Create new set
    </button>
  </div>

  <ng-template #menu>
    <ul class="menu menu-compact bg-base-100 rounded-md w-80" cdkMenu>
      <li class="text-shadow-sm shadow-black">
        <a (click)="createSet()" cdkMenuItem>
          <nwb-icon [icon]="iconCreate" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Create New</span>
            <span class="text-xs opacity-75">Create a new set and start editing</span>
          </div>
        </a>
      </li>
      <li class="text-shadow-sm shadow-black">
        <a (click)="loadSet()" cdkMenuItem>
          <nwb-icon [icon]="iconOpen" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Open</span>
            <span class="text-xs opacity-75">Open another set to edit</span>
          </div>
        </a>
      </li>
      <!-- <li class="text-shadow-sm shadow-black">
        <a cdkMenuItem>
          <nwb-icon [icon]="iconCopy" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Clone</span>
            <span class="text-xs opacity-75">Make a copy of this set and start editing</span>
          </div>
        </a>
      </li> -->

      <li class="menu-title">
        <span>Item Mode</span>
      </li>
      <li [class.bordered]="vm.isLinkMode" cdkMenuItem>
        <a (click)="updateMode('link')" cdkMenuItem>
          <nwb-icon [icon]="iconLink" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Link Mode</span>
            <span class="text-xs opacity-75">
              Inventory items are <span class="text-primary">linked</span> when slotted
            </span>
          </div>
        </a>
      </li>
      <li [class.bordered]="vm.isCopyMode" cdkMenuItem>
        <a (click)="updateMode('copy')" cdkMenuItem>
          <nwb-icon [icon]="iconCopy" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Copy Mode</span>
            <span class="text-xs opacity-75">
              Inventory items are <span class="text-primary">copied</span> when slotted
            </span>
          </div>
        </a>
      </li>

      <li class="divider"></li>
      <li class="text-shadow-sm shadow-black">
        <a (click)="unloadSet()" cdkMenuItem>
          <nwb-icon [icon]="iconClose" class="w-4 h-4"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Close</span>
            <span class="text-xs opacity-75">Close this set and exit editor</span>
          </div>
        </a>
      </li>
      <li class="text-shadow-sm shadow-black">
        <a (click)="unloadSet()" cdkMenuItem>
          <nwb-icon [icon]="iconDelete" class="w-4 h-4 text-error"></nwb-icon>
          <div class="flex flex-col leading-none">
            <span>Delete</span>
            <span class="text-xs opacity-75">Delete this set</span>
          </div>
        </a>
      </li>
    </ul>
  </ng-template>
</ng-container>
