<ng-container *ngIf="vm$ | async; let vm">
  <ion-header>
    <ion-toolbar class="ion-color ion-color-black rounded-t-md">
      <ion-title>Gear Importer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="h-full p-4 flex flex-col items-center relative overflow-auto">
      @if (vm.item) {
        <nwb-item-card
          class="max-w-xs"
          [entity]="vm.item.instance.itemId"
          [perkOverride]="vm.item.instance.perks"
          [disableInfo]="true"
        />
      } @else {
        <div class="text-center">
          Open the windows snipping tool <kbd class="kbd">shift</kbd> + <kbd class="kbd">win</kbd> +
          <kbd class="kbd">s</kbd> and capture the tooltip section as shown below. Then paste or drop the screenshot
          into this window.
        </div>
        <img [nwImage]="'assets/gear-crop.jpg'" class="rounded mx-8 max-w-md pointer-events-none" />
      }
    </div>

    @if (vm.resultCount > 1) {
      <div class="absolute bottom-2 left-2 right-2 flex items-center justify-center">
        <div class="join bg-base-300 rounded-md">
          <button class="join-item btn btn-square" (click)="prevItem()" [disabled]="!vm.index">
            <nwb-icon [icon]="iconLeft" class="w-5 h-5" />
          </button>
          <input
            type="text"
            placeholder="filter"
            class="join-item input input-bordered"
            [ngModel]="vm.filter"
            (ngModelChange)="updateFilter($event)"
          />
          <button class="join-item btn btn-square" (click)="nextItem()" [disabled]="vm.index === vm.itemCount - 1">
            <nwb-icon [icon]="iconLeft" class="w-5 h-5 rotate-180" />
          </button>
        </div>
      </div>
    }
    @if (vm.working) {
      <div class="absolute inset-0 flex items-center justify-center">
        <button slot="end" class="btn btn-ghost loading"></button>
      </div>
    }
  </ion-content>

  <ion-footer class="rounded-b-md">
    <ion-toolbar class="ion-color ion-color-base-300">
      <div slot="end" class="join w-full sm:w-auto">
        <button class="join-item flex-1 btn btn-ghost min-w-28" (click)="close()">Cancel</button>
        <button
          class="join-item flex-1 btn btn-ghost text-primary min-w-28"
          (click)="submit(vm.item.instance)"
          [disabled]="!vm.item"
        >
          OK
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>
