:host {
  display: grid;
  grid-template-areas:
    "table"
    "detail";
  grid-template-columns: 1fr;
  grid-template-rows: minmax(300px, 50vh) 1fr;
  .gearset {
    display: none;
  }

  @media (min-width: 1280px) {
    grid-template-areas:
      "table gearset"
      "table detail";
    grid-template-columns: 1fr minmax(320px, 400px);
    grid-template-rows: min-content 1fr;
    .gearset {
      display: flex;
    }
  }

  @media (min-width: 2000px) {
    grid-template-areas:
      "table detail gearset";
    grid-template-columns: 1fr minmax(320px, 400px) minmax(320px, 400px);
    grid-template-rows: 1fr;
  }
  @media (min-width: 2400px) {
    grid-template-areas:
      "table detail gearset";
    grid-template-columns: 1300px minmax(320px, 400px) 1fr;
    grid-template-rows: 1fr;
  }

  nwb-data-table {
    grid-area: table;
  }
  .gearset {
    grid-area: gearset;
    overflow-y: auto;
  }
  .detail {
    grid-area: detail;
    overflow-y: auto;
  }
}
